[2018-02-14 17:07] JoelProminic commented on #147
I was able to reproduce some distortion behavior with these steps:
# Open multiple projects
# Rename the "obj" directory to "obj2" for one of the projects
# Check the tree behavior.  The tree still works properly
# Rename the "obj2" directory back to "obj".
# Check the tree behavior.  I saw overlaps, nesting of projects, and other wierd results.

When checking the tree behavior, make sure to open

[2018-02-14 22:32] JoelProminic commented on #170
"Enclosing Projects" is not a good name to describe this.  I discussed some options with @devsena today:
- "Include dependencies" - this is a bit vague, but it is more high-level
- "Include external sources"
- "Include additional source paths" or "Include external source paths" - Since this feature will only include the directories configured in the "Class paths" section (which corresponds to the

[2018-02-15 07:24] rat-moonshine commented on #147
- Tree folder now updates its children path if renamed
- Any opened editor respective to any children also updates accordingly

I have tried to reproduce the distortion problem @JoelProminic mentioned, but so far I haven't noticed any. Please, give some test, and let me know if you're still able to see those distortion, or any bug.

[2018-02-15 07:31] rat-moonshine commented on #170
I agree that "Include external source paths" is more clear to its purpose.

[2018-02-15 08:32] rat-moonshine commented on #172
Recently opened file list now updates upon a project deletion, as well.

[2018-02-15 08:32] #172 closed

[2018-02-15 09:10] rat-moonshine commented on #184
![image](https://user-images.githubusercontent.com/24370870/36248635-33a22172-125e-11e8-8c5a-c5802d4f6ac8.png)

[2018-02-15 10:18] piotrzarzycki21 commented on #175
@rat-moonshine do you mean File -> Settings or project Settings ?

[2018-02-15 10:21] piotrzarzycki21 opened #187 "Preserve order of reopened files/tabs"

[2018-02-15 14:25] rat-moonshine commented on #175
I meant about project's Settings/Run.

[2018-02-15 16:01] JoelProminic commented on #147
I was not able to reproduce the distortion error after today's update.

I renamed a directory, and tried the following with a nested file
- Right-Click > Copy Path - UPDATED
- Right-Click > Open in Finder - UPDATED
- Updates in an open editor - UPDATED
- Opening the file from the RECENT list on the Home tab - ERROR

[2018-02-15 16:02] JoelProminic commented on #172
I tested the Recent File logic with multiple files, positioned in the middle of the RECENT list.  All of the files were removed.

I also checked the remaining recent file links, and they worked properly.

[2018-02-15 16:08] #186 closed

[2018-02-15 16:40] piotrzarzycki21 commented on #185
Hi @joshtynjala ,

I did check that issue in VSCode also and I cannot jump to the file either there. I'm attaching small example configured with VSCode with latest extension 0.9.1 and Moonshine.

[CompilerConstantsTest.zip](https://github.com/prominic/Moonshine-IDE/files/1728511/CompilerConstantsTest.zip)

[2018-02-15 17:18] JoelProminic commented on #159
I think this page describes the problem we are seeing:
https://support.apple.com/kb/PH25443?locale=en_US&viewlocale=en_US

So, the certificate authority's root certificate (GeoTrust RSA CA 2018) is not currently trusted by your Mac.  @rat-moonshine, please try to verify this in KeyChain before you follow the instructions in the above link.

I find it very strange that this root certificate is not

[2018-02-15 19:57] joshtynjala commented on #185
Is CONFIG::MOONSHINE set to false?

[2018-02-15 20:01] piotrzarzycki21 commented on #185
Yes it was set to false, but in VSCode I did have it to true.

[2018-02-15 20:02] joshtynjala commented on #185
Just to be sure that I understand you, Ctrl+Click does not work when CONFIG::MOONSHINE is true?

[2018-02-15 20:03] piotrzarzycki21 commented on #185
Exactly!

[2018-02-15 20:07] joshtynjala commented on #185
That's interesting. It definitely won't work when CONFIG::MOONSHINE is false because the compiler completely ignores that code. However, it should work when CONFIG::MOONSHINE is true.

Does completion work when CONFIG::MOONSHINE is true?

[2018-02-15 20:13] piotrzarzycki21 commented on #185
I would say no. It shows completion list, but I don't see there items associated to the object.

Having this code:
[code]
When I type `cls.` I'm seeing hundreds of items, instead of couple of methods including one from the class.

If I do the same outside tag it's working great.

[2018-02-15 20:16] joshtynjala commented on #185
Alright, I'll take a look!

[2018-02-15 20:49] nihavend opened #188 "Trying to use some latin5(turkish) characters in project name but keyboard does not type"
Trying to use some latin5 characters in project name but keyboard does not type.
e.g. : İŞĞÇÖ ıçşöğ

[2018-02-15 22:25] piotrzarzycki21 commented on #188
I did quick look into that and it looks like the problem is with paste and typing. In general TextInput is able to display all of that characters - I did check that.
Need to investigate why it is not working specifically in our IDE.

[2018-02-16 04:44] rat-moonshine commented on #159
I'm  not sure either why I had this error in a sudden day and now there it is no more. I'm not having this error anymore while running Moonshine.

@JoelProminic , while I looked into mac keychain, I found this (seems all valid)!
![screenshot](https://user-images.githubusercontent.com/24370870/36293813-24ca6584-1302-11e8-9254-7be0f381a6a8.png)

[2018-02-16 04:57] rat-moonshine commented on #147
[BUG] Opening the file from the RECENT list on the Home tab - Fixed.

[2018-02-16 04:58] #147 closed

[2018-02-16 05:01] rat-moonshine commented on #170
@piotrzarzycki21 , please confirm on above thoughts from @JoelProminic so we can take a decision and can close this issue.

[2018-02-16 07:09] piotrzarzycki21 commented on #170
@rat-moonshine sorry about that - I did miss it. Let's save the last setting - that seems to me logical.

[2018-02-16 08:39] rat-moonshine commented on #170
The current behaviour follows the consistency (that found to other fields) to project dropdown list as well, when reopening the search dialog. @JoelProminic let me know if you want this to be change to the one you suggested - to select dropdown everytime based on sidebar selection only, I shall remove its auto-population code.

I'm closing this issue as resolved for now, please reopen it if found

[2018-02-16 08:39] #170 closed

[2018-02-16 08:42] rat-moonshine opened #189 "Source folder icon disappears after root refreshed"
- Open a project to Moonshine sidebar
- While expanding the project root, project tree properly marking its source folder by adding a rounded 's' icon
- Right-click on the project root and choose Refresh from the opening context-menu
- Source folder making icon disappears

[2018-02-16 08:49] piotrzarzycki21 commented on #188
@rat-moonshine @JoelProminic I know where the problem is and I partially know how to fix it. We are adding restriction to that text input `a-zA-Z0-9._`. I see two solutions:
1) Remove restriction and leave it to the user what he is typing there
2) Add some range to the characters, but it is hard to have such things. When I added for example range for lating `\u0020-\u007F \u0100-\u017F \u0180-\u02

[2018-02-16 08:56] piotrzarzycki21 commented on #188
There is also second thought that I can implement TextInput which allows restrict using RegExp which may be the solution for that. I'm not in a favor of such resolution.

[2018-02-16 09:00] piotrzarzycki21 commented on #188
Btw. [TextInput and field restrict](https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/text/TextField.html#restrict) do not allow usage of RegExp. Documentation do not mention that and I did check internal implementation. :)

[2018-02-16 09:02] rat-moonshine commented on #188
We can't remove all restrictions from the project name. Many project files created by the name of the project, and OSs has several restrictions against a valid file naming by used characters.

[2018-02-16 09:07] piotrzarzycki21 commented on #188
Windows also have such restriction, should we bother about that ?

[2018-02-16 09:08] piotrzarzycki21 commented on #188
I can implement TextInput with RegExp support restriction. Add regexp which do not allow some specific characters which cannot be used for folder names and file names.

[2018-02-16 09:12] rat-moonshine commented on #188
All OS has restrictions to file naming, so we surely need to careful about that.

[2018-02-16 11:05] piotrzarzycki21 commented on #188
I have found better solution. Instead restricting to some range of characters, better do not allow for some specific one which cannot be used for folder/filename.

[2018-02-16 13:05] piotrzarzycki21 commented on #188
Wait a moment, but this is very different than bug raised. Please open another one that we have problem with names of the file in Chinese or Lating and we have problem when we are using Chinese and Latin in Editor.

[2018-02-16 14:15] piotrzarzycki21 commented on #175
I think it should better fit to **Build options** than **Run**. You are doing this as part of the build, not Run.

[2018-02-16 14:50] piotrzarzycki21 opened #190 ""Define it now" doesn't work in project Settings - Custom SDK"
**Scenario:**
1. Define "Default SDK" by **File** -> **Settings** -> **Default SDK**
1.  Setup the same SDK in project settings and **Save**
1. Go to the **File** -> **Settings** -> Default SDK
1.  Click **Change** and remove from the list used SDK and **Save** settings
1.  Go to the project **Settings**, you should see:
![image](https://user-images.githubusercontent.com/24554795/36313075-c650760e

[2018-02-16 15:18] rat-moonshine commented on #188
This is related to your recent fix, @piotrzarzycki21 . Since as an alternative solution you proposed and removed the existing character restriction, now one can input anything to the name field which causing errors like above. This is directly related to the fix you applied, and this fix is not right at this moment. Thus, you may need to do further work on the solution you've applied and make it f

[2018-02-16 15:19] rat-moonshine commented on #175
Yes, that would be good as well, @piotrzarzycki21 .

[2018-02-16 16:09] piotrzarzycki21 commented on #188
To me previous resolution was wrong. Since we are doing an restriction to the field called Project Name which is also the name of the folder, we should be ready to the repercussions of having different characters than English. I will investigate whether this is the results of my changes.

[2018-02-16 16:23] JoelProminic commented on #188
To reproduce @rat-moonshine's error, create a new ActionScript project with one or more periods in the name.  This is valid for the file name, but invalid for the generated main class:

![image](https://user-images.githubusercontent.com/24532731/36317682-641299cc-1303-11e8-802a-2803821b8703.png)

My thought is to use the "^" option for the restrict field, and then define a set of unallowed charact

[2018-02-16 16:29] piotrzarzycki21 commented on #188
I will add to the restriction some special characters.

[2018-02-16 16:34] rat-moonshine commented on #188
I noticed the same all-character-acceptable behavior in FlashDevelop. When I tried to enter many special characters and create a project, it turned to fatal error as well. IDE like Eclipse also permits to enter only a few special characters to project name. Perhaps, we want to restrict things in same way.

[2018-02-16 16:35] JoelProminic commented on #170
I'm fine with keeping the last value for now.  If you find that you feel differently after using this feature for a while (or we start getting complaints from other users), we can revisit this.

[2018-02-16 16:41] piotrzarzycki21 commented on #188
I have pushed changes where I'm restricting all special characters from keyboard. Intellij has the same. I'm allowing only for `_`. We do not allow for new line, maybe by paste it is possible, but let's see what users has to say.  Take a look and let me know.

I see issue with building Royale projects with Turkish name. I'm looking into that.

[2018-02-16 17:18] piotrzarzycki21 commented on #188
@nihavend  I did more investigation and I would be careful with creating some project with Turkish names in the files.
I did test scenario where project names along with main file was "TestFlexıçşöğ" and the results wasn't good.

1) Apache Flex 4.16.1/Adobe Air Desktop project was able to build but application wasn't able to start. I got exactly the same results not only in Moonshine but also in I

[2018-02-17 10:42] piotrzarzycki21 commented on #188
@JoelProminic , @rat-moonshine having above problems with major SDK which we are supporting I think I will revert my changes and get back to the restriction which we had. Let me know if you have other thoughts.

[2018-02-19 11:59] rat-moonshine commented on #184
Updates:
- [BUG] While option selected for search through additional class paths projects/directories (_Include external source paths_), search was failing if any invalid path mentioned in the project's _Class Paths_ section; Search was silently failing and search progress bar not removed - Fixed
- @JoelProminic had shown some UI disorientation while expanding/collapsing folder/file entries the ot

[2018-02-19 16:41] rat-moonshine commented on #184
@JoelProminic suggested a few things to recent updates:
- Scroll to the line (after double-clicking a line information row) would have been best if the targeted line always scrolled to the vertically middle of the editor. At present targeted line either shows at top of the editor or somewhere at bottom
- At this moment the cursor is only blinks at the beginning of the targeted line, which is not p

[2018-02-19 20:56] JoelProminic commented on #184
I tested the behavior with missing and existing class path entries, and they both worked as expected.

I was not able to reproduce the tree issues I reported on Friday.

Double clicking the files opens the file and puts the cursor at the top of the file.  Double-clicking the line entries will put the cursor on that line and shift the scrollable area so that it is visible.  The basic functionality

[2018-02-20 10:27] piotrzarzycki21 commented on #166
I think it is enough what I got from you. I'm closing that one.

[2018-02-20 10:27] #166 closed

[2018-02-20 16:39] JoelProminic commented on #184
I see that there is whitespace added between the line number and the line text to allow for space for more digits.  I did a quick test to confirm how the interface would handle a large number of digits:
![image](https://user-images.githubusercontent.com/24532731/36436487-fe8f0f20-1629-11e8-9213-ca1fc2298033.png)

The interface supports up to 5 digits.  There is overlap with the 6th digit.

The onl

[2018-02-20 18:17] #54 closed

[2018-02-21 08:44] rat-moonshine commented on #184
Updates:
- MouseWheel problem now resolved to the editor
- Double-clicking line-information row select/highlights the searched word in editor

[2018-02-21 09:25] rat-moonshine commented on #184
I think there are some restrictions to the current text editor which already discussed somewhere. @piotrzarzycki21 you have any memory on this (restriction)?

[2018-02-21 09:31] piotrzarzycki21 commented on #184
I don't remember any restriction. Maybe in that case we have some silent fail, which is not reported in the release version. You will have to open similar file having Moonshine run in debugging mode.

[2018-02-21 09:39] rat-moonshine commented on #184
Okay, thank you for confirming that @piotrzarzycki21 .

@JoelProminic , when I tested in debug mode, I noticed the given text file does opened/rendered to the editor, however since its large number of lines to render, this took a few seconds to completely rendered to the editor. In my tests generally it took 4 seconds.

![screenshot](https://user-images.githubusercontent.com/24370870/36472897-1991

[2018-02-21 11:40] rat-moonshine commented on #184
I think I've added the same _styleName_ (`verticalScrollBarStyleName="black"`) to the tree component used in this section as was in TreeView component, but the scrollbar is coming white - @piotrzarzycki21 do you have any suggestion on this?

[2018-02-21 11:46] piotrzarzycki21 commented on #184
Try to set this style using AS code in creationComplete event setStyle("verticalScrollBarStyleName", "black"); - Let me know if it helped.

[2018-02-21 11:53] #189 closed

[2018-02-21 11:58] rat-moonshine commented on #184
I added the style to the tree component's `creationComplete` event, but that didn't worked either, unfortunately.

[2018-02-21 14:58] piotrzarzycki21 commented on #184
@rat-moonshine I just pushed fix for your issue. It looks like for some reason "black" style wasn't visible in that view. I just declared inside that view style and it's working.

[2018-02-21 15:55] piotrzarzycki21 opened #191 "Remove scrollbars and better manage spaces in property editor of Visual Editor"
Currently property editor in his default size showing horizontal scrollbars. Some text inputs and other elements taking to much spaces.

![image](https://user-images.githubusercontent.com/24554795/36490198-09753078-1728-11e8-850c-6dcf172e7465.png)

[2018-02-21 16:10] JoelProminic commented on #189
I can't reproduce the original bug on the latest build.  I tried some other variations on the procedure as well, but the bug did not trigger.

[2018-02-21 16:40] piotrzarzycki21 opened #192 "Not able to create Flex library project from sources where there is no Main application file"
I was trying to create library project using existing sources, where there is no Main application file. Unfortunately **Main application file** is always required.

In scenario where there is selected **Project with existing source**  - we should require only **Main source folder**.

[2018-02-21 16:40] piotrzarzycki21 commented on #192
@rat-moonshine I discovered that in attempt of creating library project using Visual Editor sources.

[2018-02-21 17:54] joshtynjala commented on #10
@rat-moonshine It appears that you are incorrectly parsing the output of the `adt -devices` command. Based on your comment (copied below) and the surrounding code, it looks like you have assumed that macOS and Windows will receive different output:

[code]

However, the different output is actually based on whether you pass `-platform android` or `-platform iOS` to the adt command. I am on macOS,

[2018-02-21 18:00] joshtynjala commented on #10
I committed the changes I needed to make Android installation work on macOS. I have not tested iOS yet.

[2018-02-21 20:38] JoelProminic commented on #184
I noticed some cases when the line opening logic did not work, but they did not reproduce consistently.  The problem generally triggered in a situation like this:
# Run a search that will produce multiple matches in a file (I was using TestManyLines.txt)
# Double-click that file.  The editor opens
# Close the editor
# Double-click the line entries.  BUG:  the editor does not open, bug there are no

[2018-02-21 20:43] JoelProminic commented on #184
With the updated highlighting logic, the search screen will be selected on the target line in the editor when you double-click the search result for a line.

This will allow you to immediately replace the string by typing in the editor.  However, if you didn't want to replace the string, you need to use the mouse or error keys to cancel the selection.

If this behavior is inconvenient for normal u

[2018-02-22 06:32] rat-moonshine commented on #192
In general, in library project creation (as new), no main application file creates. I probably overlooked the Project with existing source part where this still asking for the main application file (which shouldn't be a restriction in library project case). I shall look into this, @piotrzarzycki21 . Thank you for reporting.

[2018-02-22 06:41] rat-moonshine commented on #10
@joshtynjala thank you for pointing the problem. Its true, myself I wasn't able to test Android device on macOS but Windows, and iOS on macOS, so I probably missed out the problem area that you've described.

I hope you've uncommented the _213_ line number from https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineSharedCore/src/actionScripts/plugin/run/view/RunMobileSettingRenderer.m

[2018-02-22 09:05] rat-moonshine commented on #190
@piotrzarzycki21 you can give a test to the fix now.

[2018-02-22 09:45] piotrzarzycki21 commented on #190
@rat-moonshine it's working, you can close the issue.

[2018-02-22 10:51] #190 closed

[2018-02-22 12:07] rat-moonshine opened #193 "[CRITICAL] Project creates in wrong directory with 'project with existing source' option"
I'm not sure when this issue introduced but probably because of recent-past changes.

- Make sure you have a directory on /Desktop/NewFlexDesktopProject - along with its source application file
- Open new project creation dialog (i.e. Flex desktop project)
- If you choose Desktop in the "Parent Directory" section, you shall get an error notification saying that /Desktop/NewFlexDesktopProject folde

[2018-02-22 12:09] rat-moonshine commented on #192
This is also related to #193 . The said issue needs to be resolve to fix this issue.

[2018-02-22 14:42] joshtynjala commented on #10
Yes, that's what I'm doing until I finish the implementation.

[2018-02-23 07:27] rat-moonshine commented on #193
@JoelProminic reported following problem based on latest updates to this:

1. Create a new project in Desktop
2. Close the project in Moonshine
3. Delete the .as3proj file
4. Create a new project
5. Select Desktop as the base project directory
6. Enter the same project name. At this point, there should be an error for a duplicate project name
7. Select "Existing Project". The error clears
8. Selec

[2018-02-23 12:42] rat-moonshine commented on #193
I have pushed some fixes. In the updated process, when user selects '**Project with existing source**' option, message in project path section changes to:

The above changes should more clearly tell user where the project is going to create (or the project root is). However, in smaller-monitor/application-window, while changing selection to '**Project with existing source**' option, this message m

[2018-02-23 14:26] rat-moonshine commented on #165
I maybe a little worry about using _TileLayout_ as the base component (i.e. Div etc.)

Per HTML UI rule, adding Div/Container, Table, tab-view etc. we do need to be them as a new row, and they should acquire 100% width to that row - Unless user choose to change its `display=inline` (_display=inline_ should render the component to available column).

I'd suggest, @piotrzarzycki21 , before going fur

[2018-02-23 15:06] piotrzarzycki21 commented on #165
There is possibility that both options is something which we will have achieve in a custom TileLayout.

Whatever container you are going to create Grid, Table etc. It will be separate class which may extend our Container (TileLayout). Then it depends if TileLayout is capable mimic what you are saying (We will see and check) we will setup appropriate properties and make skin.

If not probably we wi

[2018-02-23 20:56] rat-moonshine commented on #165
Yes, that was the idea for having a base class or container type, which shall be use for every component which may represent a holder/div in HTML (basically where one can drag/drop other components).

Certainly we can't get the behavior I said from the base API of TileLayout - by looking into I meant about finding a way extending the used component only (TileLayout).

Personally, I'm not a big fan

[2018-02-23 21:47] rat-moonshine commented on #165
By the way, while looking into the TileLayout API, it seems it distributes its row/columns in equally sized cells (https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/spark/layouts/TileLayout.html):

In our case the cells shall be variable, based on individual components' width. While looking into the APIs (TileLayout, TileGroup etc.), I came through this article - http://evtimmy.c

[2018-02-26 06:52] rat-moonshine commented on #193
A temporary scroll-to-top now added to make the project path section visible (along with its final path message) every time 'Project with existing source' selection changes.

So far, all looks good, I'm closing this, please reopen on bug found.

[2018-02-26 06:52] #193 closed

[2018-02-26 06:54] rat-moonshine commented on #192
As #193 marked as resolved, and application source file requirement removed in case of library project creation, @piotrzarzycki21 please give a try with the latest source.

[2018-02-26 12:03] rat-moonshine commented on #89
Update:
- Project source downloaded, installation finalized and it's running good
- New library project created to use in Moonshine, removed initial compiler errors, waiting for next process

[2018-02-26 12:11] piotrzarzycki21 opened #194 "Cannot create new MXML file in Flex library project"
I have found that I'm not able to create MXML file in Flex library project.

**Scenario:**
1) I have created library project with following options:
![image](https://user-images.githubusercontent.com/24554795/36669687-0c1107cc-1af6-11e8-9e23-327540bd487c.png)

2) I would like to create new MXML file, but it's disabled
![image](https://user-images.githubusercontent.com/24554795/36669708-1cd0d5e2-1a

[2018-02-26 12:14] piotrzarzycki21 commented on #192
It's working.

[2018-02-26 12:14] #192 closed

[2018-02-26 12:15] alinakazi opened #195 "Library Project Support Required for Royale swc creation in Moonshine"

[2018-02-26 12:33] piotrzarzycki21 opened #196 "Unable to build Flex library with MXML file"
**Scenario:**
1) I created Flex library project with following options:
![image](https://user-images.githubusercontent.com/24554795/36670562-0a577f26-1af9-11e8-98a3-0e74bf090970.png)

2) I wanted to create MXML file, but due to #194 I did it manually. Next I run "Build Project"

**Result:**
I'm getting following error
[code]

Sample project:
[TestFlexLibraryProject.zip](https://github.com/prominic

[2018-02-26 12:34] piotrzarzycki21 commented on #196
My suggestion is first create exactly the same library project in Flash Build. Try to build it there.

[2018-02-27 12:30] rat-moonshine commented on #89
So far, after an amount of wrestle I able to run the Away Builder application as a library project, to a demo desktop application. (We already have a running Away Builder setup running as standalone application project and that works good)

The library project conversion still had some menu issues (while running inside another application project), but that is fine, we can look into that latter.

[2018-02-27 15:18] piotrzarzycki21 commented on #165
All the steps are ready. I'm moving forward to fix UI Property Editor.

[2018-02-27 15:18] #165 closed

[2018-02-27 19:47] piotrzarzycki21 commented on #191
I have fixed UI issues mentioned in the description for both Flex and PrimeFaces type of editors.

[2018-02-27 19:47] #191 closed

[2018-02-28 04:51] rat-moonshine commented on #184
I'm closing this for next release. Please reopen, if bug found.

[2018-02-28 04:51] #184 closed

[2018-02-28 06:37] rat-moonshine commented on #194
Non pure-AS project now able to create MXML file as well.

[2018-02-28 06:37] #194 closed

[2018-02-28 06:52] rat-moonshine commented on #196
Since the updates to #194, this should work as well.

[2018-02-28 06:52] #196 closed

[2018-02-28 10:35] rat-moonshine commented on #89
After quite a hurdle, and an amount of hours, I able to make Away Builder running properly as a library project to my demo desktop application.

The builder is now renders all its 3D stage well, imports/open sample Away3D file and do other requisite things.

I have committed the current library source to Git (https://github.com/prominic/Moonshine-IDE/tree/master/library/AwayBuilderLib), we can fur

[2018-02-28 13:38] piotrzarzycki21 commented on #188
@joshtynjala do you have some thought about that ? Does Feathers project will have problems with building in case of let's say Turkish?

I see that other IDEs doesn't have restriction as we had. Once I remove some of them I had problems as I described above. Intellij reported exactly the same errors in case of Flex.

I'm a bit torn between staying on guard with the restriction and give user more o

[2018-02-28 14:20] rat-moonshine commented on #89
Yes, indeed it's big size as its a complete (separate) application. I don't have any plan to integrate any Moonshine level of changes towards this, in upcoming release (if we want to plan a release soon). I shall plan for a separate branch if I'll start the integration sooner.

[2018-02-28 15:20] joshtynjala commented on #188
@piotrzarzycki21 The Feathers SDK is forked from the Apache Flex SDK, and it shouldn't add any additional restrictions to allowed characters. As far as I know, it should be able to handle the Turkish if Flex can.

[2018-02-28 15:34] nihavend commented on #188
When i was asking the question, i was really trying to learn the limits of the IDE.
In my opinion, it sholud at least be dependent to the language of the operating system. Should not care what the other ide's do or not.
I mean, if the OS is english, than it is expected to not support. But if it is turkish than it should.

[2018-02-28 15:40] joshtynjala commented on #188
Checking what Flash Builder does is absolutely the right thing to do, in my opinion. Adobe knows their own platform best, and if they restrict certain characters (I don't personally know if they do or not), then it's for good reason. If Flash Builder restricts characters, but Moonshine does not, then we risk passing invalid data to the compiler that may cause unexpected problems.

[2018-02-28 16:11] nihavend commented on #188
![image](https://user-images.githubusercontent.com/5983818/36798240-2497ccec-1cbb-11e8-908c-a13153437f52.png)
This is the view of Fb on windows  turkish

[2018-02-28 16:23] rat-moonshine commented on #89
We probably want to exclude the Away Builder lib source from upcoming build/source release as well. I shall plan to have this source creating a new branch, and exclude from current 'master'.

[2018-02-28 16:29] piotrzarzycki21 commented on #188
@nihavend as I understand it's building. Are you able to build that app with Apache Flex ?

[2018-02-28 16:37] piotrzarzycki21 commented on #89
Just one question. Are we planning to change sources of Away Builder ? Why they are landed as part of our repository ?

[2018-02-28 17:23] rat-moonshine commented on #89
The source shall have changes to use in Moonshine. I'm not fond to use the application through SWFLoader as unloading has bugs. Therefore, to use the source we shall have changes -

- Having the gateway codes in a separate base class (non-WindowedApplication)
- Eliminate native menu usage to simpler Flex menu so this can fit within Moonshine environment
- Possible File API handling changes to work

[2018-02-28 17:40] piotrzarzycki21 commented on #89
As I write in the email in my opinion these sources should not be part of the Moonshine project.
1) They should be FORK-ed as part of Prominic GitHub as it was done with Visual Editor
2) You should made changes there and provide swc to Moonshine

I can give you really interesting comparison. What you will do if some day you will have to Modify Apache Flex SDK - You won't be allowed to commit those

[2018-02-28 17:56] rat-moonshine commented on #89
I can put the source off-Moonshine repository or forked, and do my changes there. Keeping the modified sources inside Moonshine repository's separate folder was only reason - to keep the modified library available as part of Moonshine source only, since they are directly related to Moonshine usage ways.

The changes I made so far to Apache SDK Installer library, I never had plan to commit them to

[2018-02-28 18:05] piotrzarzycki21 commented on #89
Above comment is just comparison to your situation. Since you are working on stuff which is related to Moonshine inside AwayBuilder it should be FORK-ed as part of Prominic account. If it will be your private idea you should forked it on your own. I believe it doesn't matter whether you are going later make pull request to the official repository of AwayBuilder.

If I would be part of the project

[2018-02-28 18:36] rat-moonshine commented on #89
We can do this Fork'ed as well, anyway EOD we need this running within Moonshine along with our requirements. I shall plan for a fork, Piotr.

[2018-02-28 18:40] joshtynjala commented on #158
Closed in 81f2edd0cd3aa4f46fd52acc73e7a20c8e19b950

[2018-02-28 18:40] #158 closed

[2018-02-28 20:47] nihavend commented on #188
Yes builds and runs. I may try it with Apache Flex, if you guide.

[2018-03-01 04:06] doug777 opened #197 "Some Beads not being resolved by IDE"
In 0.9.2 Nightly Builds some of the Basic.html.beads are not available. For example <beads:SolidBackgroundBead ... /> generates the error 'This tag could not be resolved to an ActionScript class. It will be ignored.'

This worked before 0.9.2 and these beads are all correctly in all the latest nightly SDKs. Some beads new to 0.9.2 are okay, but several old beads can no longer be resolved by Moonsh

[2018-03-01 05:17] rat-moonshine opened #198 "Preparing Moonshine for more proper update versioning check"
(This needs to be done before 1.9.0+ release)

[2018-03-01 06:44] rat-moonshine commented on #198
New version comparison check based on Away Builder's update check, now in Moonshine replacing the older (comparison) logic. This shall be bundled with 1.9.0+ Moonshine versions. The newer version check also uses different URL to check from - https://moonshine-ide.com/wp-content/uploads/MoonshineUpdater.as.

However, older builds having old version check URL shall continue to check from the older U

[2018-03-01 06:49] rat-moonshine commented on #198
@JoelProminic please check, if this new comparison looks sense to you (https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/extResources/riaspace/nativeApplicationUpdater/NativeApplicationUpdater.as#L245) and meets our comparison needs.

[2018-03-01 10:13] piotrzarzycki21 commented on #197
Hi @doug777 ,

It depends what version of SDK are you using. Some beads are available only for SWF version and they won't be available probably in the JSonly.
SolidBackgroundBead is one of such bead, it's available only in SWF.
What version of SDK are you using ? JS only or SWF,JS ?

[2018-03-01 11:59] piotrzarzycki21 commented on #181
@rat-moonshine did we finish with that issue ?

[2018-03-01 12:29] piotrzarzycki21 commented on #54
@joshtynjala just wanted to confirm that shortcut for organizing imports are:
Windows: CTRL + SHIFT + O
Mac: CTRL + SHIFT + O

What actually we are getting by this feature - Once I executed command - it will remove unused imports ?
Should it work in the MXML <fx:Script> section ?

[2018-03-01 12:55] rat-moonshine commented on #181
Some measure have taken, so let's push this to the next release (as mentioned), and then see how users test the cases, @piotrzarzycki21 .

[2018-03-01 12:55] #181 closed

[2018-03-01 13:09] doug777 commented on #197
Hi Piotr,

Since I downloaded the js only sdk, I assumed this would contain only
the items available to js.

So is it Moonshine that selects the js only classes from the sdk?

Doug

On 01/03/2018 18:13, Piotr Zarzycki wrote:

[2018-03-01 13:18] piotrzarzycki21 commented on #197
It looks like this is how it is working, which actually is good thing. In the end you did choose JS only SDK, so you shouldn't expect to see in code completion some classes which are SWF only.

[2018-03-01 14:00] joshtynjala commented on #54
Yes, that's the correct keyboard shortcut.

It will reorganize imports into alphabetical order, remove unused imports, and try to add missing imports (if there aren't multiple classes with the same name).

I think it should work in MXML scripts.

[2018-03-01 14:07] piotrzarzycki21 commented on #54
I have created following class in Flex Desktop application:

[code]

MouseEvent has not been used. When I user CTRL+SHIFT+O - There is no action.

In MXML code I have similar situation and there is no action either:

[code]

[2018-03-01 14:20] piotrzarzycki21 opened #199 "Add PrimeFaces components to Visual Editor pt. 1"
In the first version of Visual Editor with PrimeFaces we should add following components:

## Input
- [x] [InputText](https://www.primefaces.org/showcase/ui/input/inputText.xhtml) (@rat-moonshine)
- [x] [InputNumber](https://www.primefaces.org/showcase/ui/input/inputNumber.xhtml)
- [x] [InputMask](https://www.primefaces.org/showcase/ui/input/inputMask.xhtml)
- [x] [InputTextarea](https://www.prime

[2018-03-01 15:50] joshtynjala commented on #54
It looks like you found a bug. Apparently, if all imports are to be removed, then it won't remove them.

It works correctly with this code, though:

[code]

[2018-03-01 15:57] joshtynjala commented on #54
It also appears that removing imports is not working in MXML. However, they are correctly reorganized.

[2018-03-05 05:59] rat-moonshine commented on #198
Moonshine is continue using the older update URL (https://moonshine-ide.com/wp-content/uploads/updater.xml) instead any new.

@JoelProminic , when I tried this following logic, it failed when (1.9.0 > 1.10.0):
[code]

I updated the check little differently, and [that](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/extResources/riaspace/nativeApp

[2018-03-05 07:05] piotrzarzycki21 commented on #198
It looks like we are good here.

[2018-03-05 16:13] #198 closed

[2018-03-05 17:22] piotrzarzycki21 opened #200 "Code completion list doesn't display style attributes in Flex components"
In components from Apache Flex SDK code completion doesn't display styles like fontFamily, borderVisible etc.

[2018-03-05 17:36] piotrzarzycki21 commented on #200
@joshtynjala I checked that issue and language server doesn't return those properties, but it's not reproducible with v. 0.10.0 in VSCode. I hope once you provide next update to Moonshine we will be able resolve that one.

[2018-03-05 17:38] joshtynjala commented on #200
@piotrzarzycki21 Okay, thanks for the info. I've assigned this to myself so that I remember to check that it's still working after I update vscode-nextgenas in Moonshine to v0.10.0.

[2018-03-07 14:40] piotrzarzycki21 commented on #197
@doug777 ,

Nope Moonshine doesn't select those classes, they are provided with swc as far as I know.

I'm closing this one.

[2018-03-07 14:40] #197 closed

[2018-03-07 14:42] piotrzarzycki21 commented on #183
@apintex did you try play with it again ?

[2018-03-07 14:43] piotrzarzycki21 commented on #159
@rat-moonshine can we close it if it's no longer occurs ?

[2018-03-07 14:45] piotrzarzycki21 commented on #145
@JoelProminic could you try again with updated language server ?

[2018-03-07 15:07] #100 closed

[2018-03-07 16:07] rat-moonshine commented on #159
I haven't seen anymore problem related to this for a long time; so this can be closed unless we face issue related to this again.

[2018-03-07 16:07] #159 closed

[2018-03-07 22:32] apintex commented on #183
Hello Piotr,

Sorry, I'm working on another project right now, but I've tested your solution right now and it's working.
I also tested with the compiled lib "greensock.swc" and it works.

Thanks for your help

Regards,

António Pinto
apintex@gmail.com

[2018-03-07 22:51] JoelProminic commented on #145
Here are my steps to reproduce (I tested with a Mac OS build):
1. Create a new Flex Desktop Project with File > New > Flex Desktop Project
2. Build & Run the project
3. Add a method called abcd() in the <fx:Script> block
4. Put your cursor at the end of the <s:WindowedApplication> tag (after minHeight, same line as xmlns:mx)
5. Type ' creationComplete="abc'
6. Press Ctrl+Space.  BUG:  Nothing happ

[2018-03-08 07:43] piotrzarzycki21 commented on #183
Thank you for reporting back! :)

Piotr

[2018-03-08 07:43] #183 closed

[2018-03-09 21:53] JoelProminic commented on #100
In my testing, this works fine for both the combobox height and the container position

[2018-03-09 21:57] JoelProminic commented on #186
I confirmed that the appearance is fixed, and that I can rename a custom template file.    I also confirmed that project templates do not have the originally reported issue.

[2018-03-09 22:01] JoelProminic commented on #179
I confirmed this for both new folders and files.   I can't think of any interfaces that would still need to use the "Change" label.

[2018-03-09 22:13] JoelProminic commented on #147
The RECENT list seems fine as well now, and I re-tested and confirmed the other cases from my last comment.

[2018-03-09 22:39] JoelProminic commented on #193
If I follow the same procedure again (with a different workspace), then I end up creating the project in the workspace:
![image](https://user-images.githubusercontent.com/24532731/37233218-f1609404-23b7-11e8-8b52-94bfa7366ac6.png)
![image](https://user-images.githubusercontent.com/24532731/37233242-0b65fa06-23b8-11e8-84bc-63a37339aee1.png)

However, it looks like your new design is meant to show t

[2018-03-09 22:45] JoelProminic commented on #194
I confirmed I can now create both MXML and AS files within a Flex Library Project or a Mobile Library Project.    I can't create MXML files in an ActionScript library project, as expected.

[2018-03-09 22:53] JoelProminic commented on #158
I confirmed that the completion works now with exact case match, all lowercase, and all uppercase.

[2018-03-09 22:57] JoelProminic commented on #196
I did not see any errors when I tested a new project today with multiple MXML files.

[2018-03-09 23:13] JoelProminic commented on #198
I don't see any problems with this logic.   Did you test this with updater.xml?  If you haven't done a full test yet, we should verify this before the official release.

[2018-03-09 23:19] JoelProminic commented on #190
Oddly, I get this prompt even when I select the same SDK directory:
![image](https://user-images.githubusercontent.com/24532731/37234529-ed9acb90-23bd-11e8-858e-3da1e030734a.png)

I can still define the SDK, though.  I don't think this would seem unusual in a real use case.

[2018-03-09 23:37] JoelProminic commented on #192
I confirmed that this works.   I did notice that if I did not set the source directory, I still got a prompt to set both the source directory and application file:  "Please provide the source folder and application file location to proceed."

[2018-03-12 04:55] rat-moonshine commented on #198
@JoelProminic , test scenarios used a copy of the existing updater.xml file (to test by different version values), and there has no structural changes. So we can be assure that the new logic will work indifferently to the existing updater.xml, as well.

[2018-03-12 04:58] rat-moonshine commented on #190
Previously, the project used to save different values against custom SDK since the bug. After the new changes, its possible that Moonshine sees the values are different with the previously saved value, thus prompt the above alert. However, I shall give a 2nd look on the scenario later.

[2018-03-12 05:11] rat-moonshine commented on #192
I have updated the alert message.

[2018-03-12 06:04] rat-moonshine commented on #199
@piotrzarzycki21 , what is the relevance of having the following part when it does not affect anything code-wise?
![image](https://user-images.githubusercontent.com/24370870/37267952-5c866a0a-25e9-11e8-992f-f573bd024f90.png)

[2018-03-12 09:28] rat-moonshine commented on #199
@piotrzarzycki21 , some of the components' checkbox change do not notify change to the editor (star mark to the editor tab). You may need to dispatch some event followed by the _set_ methods (as I did in InputTextarea.as).

[2018-03-12 15:33] JoelProminic commented on #192
I confirmed that the message is updated for the Library import, and is not changed for the original application import.

[2018-03-14 07:49] piotrzarzycki21 opened #201 "Renaming file end up with displaying in the console warning "Could not find source..""
When I rename file in the project I'm getting in the console several warnings:

[code]

**Scenario:**
1. Create new project
1. Create MXML file
1. Open created MXML file
1. Rename it

**Workaround:**
Close and reopen project.

[2018-03-14 09:23] piotrzarzycki21 opened #202 "Jump to the next line by enter produce unwanted characters in code editor"
When I'm working in MXML and jump to the next line by enter code editor produce for me unwanted characters.

![unwanted_characters_in_code_editor](https://user-images.githubusercontent.com/24554795/37393548-aa344fc2-2771-11e8-9b3c-c0c570d17599.gif)

[2018-03-14 10:25] piotrzarzycki21 opened #203 "Language server ClassCastException in custom Flex skin component"
I have created custom skin based on spark ScrollerSkin. I just copied all content from original skin to new one. When I open my class and roll over on `<fx:Component` or even scroll to that I'm getting `ClassCastException`.

In VSCode with extension 0.10.0 I'm getting a bit different exception. It is enough to open that file and click on `id` of `<fx:Component`

I have prepared some gifs :)

![cas

[2018-03-15 05:34] rat-moonshine commented on #202
This open and auto-closing of double-quote character designed back in days targeting scenarios in fx:Script editor (where double-quote and next line breaks are very regular things). Although a double-quote and line break is not valid in case of MXML, but this can be done in this manner:

`<s:ItemRenderer id="` and line break

Such circumstances probably need to be handled.

[2018-03-15 05:45] rat-moonshine commented on #201
We worked on the file/folder renaming issue some time back - https://github.com/prominic/Moonshine-IDE/issues/147.

I tried to follow your steps but couldn't able to reproduce the error, @piotrzarzycki21 . Following were my test steps.

- Created a new Flex Desktop project
- Created a new MXML file in the same source directory - Hello.mxml
- Added a reference of the newly created file in the main

[2018-03-15 05:50] rat-moonshine opened #204 "Language server do not prompt with newly created file"
(This problem can be found with recent 1.10.0 version as well)

- Create a new Flex desktop project
- Inside the **src** folder try creating a new MXML file - **TestMXML**
- Try to get it called inside the main application file's `fx:Script` area OR in the MXML tags area by code-completion
- Code-completion do not prompt for the newly created file
- Restart Moonshine, code-completion prompts with

[2018-03-15 08:57] piotrzarzycki21 commented on #204
Ahh yes I tempt to forgetting raise that issue. Thanks @rat-moonshine . Btw. It is enough if you close and reopen project - file will be visible, no need to restart Moonshine.

[2018-03-15 09:11] piotrzarzycki21 commented on #201
I just found that I miss one step. I updated description. Open file before renaming.

[2018-03-15 09:38] rat-moonshine commented on #201
I followed the updated steps but still not seeing any problem. Following were my test procedures:

- Created a new Flex Desktop project
- Created a new MXML file in the same source directory - Hello.mxml
- Added a reference of the newly created file in the main application file
- Build & Run worked good
- **Open Hello.mxml to the editor**
- Renamed Hello.mxml to Hello2.mxml
- (previously) Hello.mx

[2018-03-15 09:42] piotrzarzycki21 commented on #201
Are you doing it from FlashBuilder or installed version ? Are doing it on Mac ?

[2018-03-15 09:45] rat-moonshine commented on #201
I tested by installed Windows version, compiled with latest 'master' copy.

[2018-03-15 10:06] piotrzarzycki21 commented on #201
Try this project. Open `ScrollerTesdsfsfdtSki` file and rename it.
[ClassCastExceptionTest.zip](https://github.com/prominic/Moonshine-IDE/files/1814855/ClassCastExceptionTest.zip)

[2018-03-15 10:24] rat-moonshine commented on #201
I able to reproduce the issue with given test project, @piotrzarzycki21 .

With my initial search I couldn't found any reference of the string display 'Could not find source' in main Moonshine source. I'm wondering if its something triggers from the language-server code (?) I noticed that this problem is not happening to a newly created file - but to the existing files after project being opened.

[2018-03-15 10:44] piotrzarzycki21 commented on #201
Cool that you reproduced it. I cannot reproduce it in VSCode with extension 0.10.0

[2018-03-15 15:26] joshtynjala commented on #201
This and #204 are actually the same issue. The language server expects its client, such as Visual
Studio Code or Moonshine, to listen for changes to the file system in the project folder and send a notification if anything is created, deleted, or changed. I don't think Moonshine is currently notifying the language server when something is created or deleted (which would affect renaming too).

I do

[2018-03-15 15:39] joshtynjala commented on #204
See my comment in #201 for details.

[2018-03-15 17:11] piotrzarzycki21 commented on #201
What actually I have to do in order to notify Language Server ? Operation like Create, Remove or Delete seems to be users choose, so I can send something to the server once it happens.

[2018-03-15 17:26] joshtynjala commented on #201
I don't think that you can make AIR watch for file changes and dispatch an event. You'd probably need to create a Timer and loop through the project folder to check for changes at an interval of a certain number of milliseconds.

As I was saying, though, I don't think that's a good idea. Java's file system watchers are probably more optimized and battle hardened, so I'd prefer to handle this in th

[2018-03-15 17:27] piotrzarzycki21 commented on #200
@joshtynjala Today I have noticed also that some classes are also not visible in code completion. In that case it is apply both Moonshine and VSCode. Try to for example `ScrollerLayout`.

[2018-03-15 17:33] joshtynjala commented on #200
`ScrollerLayout` has `[ExcludeClass]` metadata, so it's supposed to be hidden, as I understand it:

https://github.com/apache/flex-sdk/blob/ba414443032b49c45ff11b61db452c8a8f428bd8/frameworks/projects/spark/src/spark/components/supportClasses/ScrollerLayout.as#L37

[2018-03-15 17:35] piotrzarzycki21 opened #205 "Ability to CTRL+Click on Flex SDK items parent classes"
I'm not sure whether it is feature request or, a bug. It doesn't work in VSCode either. If I declare `<s:Group>` in my code I can go and see what is inside that class using CTRL + Click. However it completely doesn't work inside that class, I cannot easy navigate through the available variables/methods and cannot go to the parent classes.

@joshtynjala that maybe something on the client sight with

[2018-03-15 17:36] rat-moonshine commented on #201
All the file/folder addition/deletion/renaming done through different Moonshine classes. We can dispatch event to language server notifying the changes. I'm not sure why you think the above check can be done through Timer loop (?)

[2018-03-15 17:43] joshtynjala commented on #205
I consider it a feature request, not a bug. I'd like to support this feature, but I haven't yet figured out how to do it. It's something that I don't intend to investigate until after vscode-nextgenas 1.0.

[2018-03-15 17:45] joshtynjala commented on #201
@rat-moonshine That won't work if a file is created/deleted/modified outside of Moonshine.

[2018-03-15 17:52] rat-moonshine commented on #201
Ok, understood, @joshtynjala.

On a worst case scenario, after file changes outside of Moonshine, user needs to refresh the project tree (to get those changes displayed in sidebar). At that time if language server could somehow notified with any file changes.

[2018-03-16 10:35] rat-moonshine commented on #89
Away Builder now set as a non-close-able (until we found a way to re-initiate all its 3D stage during a reload) tab, like Home. User can able to do all the available functionalities to this tab, i.e. load, reload, save etc.

[2018-03-16 12:08] radubirsan opened #206 "Fonts inside editor look fuzzy when using windows Scaling for HighDPI screens"
For now I can disable the scaling by right-clicking the application icon and selecting "disable scalling on high DPI settings" the problem is that the font are to small in the IDE.

Adding <requestedDisplayResolution>high</requestedDisplayResolution> to the build parameters of AIR should fix the issue so that the fonts look crisp even  with windows scaling enabled.

[2018-03-18 09:58] nihavend opened #207 "Flex Browser Project build error"
Using moonshine 1.10.0
With the wizard created project (SWF).

(Artifacts of royale-asjs #505 ) sdk:Apache Royale 0.9.3 FP 11.7 AIR 14.0 (JS, SWF)
path : D:\dev\Apache Royale\apache-royale-0.9.3-bin-js-swf\royale-asjs

when building project :

: Compiling NewFlexBrowserProject
: Sending to mxmlc: mxmlc -load-config+=obj/NewFlexBrowserProjectConfig.xml -optimize=false -debug=true -o bin-debug/NewFl

[2018-03-18 11:31] piotrzarzycki21 commented on #207
Hi @nihavend ,

Why are you trying to build Flex project using Royale ?

[2018-03-18 20:25] nihavend commented on #207
I should have misunderstand things. Is not royale capable of generating swf file ? What does swf at the and  apache-royale-0.9.3-bin-js-swf stands for ?

[2018-03-18 20:41] piotrzarzycki21 commented on #207
Apache Royale is capable generating SWF, but not using code base written in Flex. You need to have code in Royale. Look into old resources [How it Works](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=34013930) section  - it still true for Royale.
Flow:
1. You are writing code using all resources which Royale provides, using AS 3 and MXML
1. Code can compile to SWF and JS

Note o

[2018-03-18 20:41] #207 closed

[2018-03-19 17:14] piotrzarzycki21 commented on #206
I did push fix for that. Let's see it it helps for the next release.

[2018-03-19 17:14] #206 closed

[2018-03-19 17:26] piotrzarzycki21 commented on #202
I'm not sure whether I wanted to improve the behavior or remove it completely. I will look into that soon and if it will very difficult fix- I probably remove it to simplify things.

It's time to realize that we may not achieve some things in current state of editor, so better make step back and leave things as simple as is. I prefer have Notepad without such issue as you see above, than have bugg

[2018-03-19 17:30] piotrzarzycki21 commented on #188
I didn't revert changes for 1.10.0 release, can you try build your project with Apache Flex ? You can download it using [installer](https://flex.apache.org/installer.html).

[2018-03-19 17:50] piotrzarzycki21 commented on #188
If you will have any kind of problems with Installer, download SDK manually.
1. SDK [binaries](http://www.apache.org/dyn/closer.lua/flex/4.16.1/binaries/apache-flex-sdk-4.16.1-bin.zip)
1. Unpack it and run ant command `ant -f installer.xml -Dair.sdk.version=29.0 -Dflash.sdk.version=29.0`

[2018-03-19 18:09] piotrzarzycki21 opened #209 "Horizontal scrollbar in Editor doesn't respond when text is selected"
In following scenario scrollbar do not respond:

![scrollbar_editor](https://user-images.githubusercontent.com/24554795/37613653-dd433906-2ba8-11e8-9eb6-c04187307939.gif)

[2018-03-19 19:11] nihavend commented on #188
First i tried to compile and failed with error :

D:\dev\eclipse_workspaces\flash_builder\sdk_4.6.0\Şaşırtıcığ\src\Main.mxml(5): Error: Could not resolve <fx:Declarations> to a component implementation.

        <fx:Declarations>

Then I added the line -Duser.language=en -Duser.location=us to mxmlc.bat. Compilation is succesfully completed.

Command :

D:\dev\Apache Royale\FlexEncodingTest>"D:\dev

[2018-03-19 20:27] piotrzarzycki21 commented on #188
Can you try through Moonshine or is this stack trace from Moonshine ?

[2018-03-20 04:50] rat-moonshine commented on #89
@JoelProminic pointed two problems while his testing:
- After opening an .awd from sidebar project, 'Save As' offering location different than the project opened from
- While in Away Builder initializing time, if another .awd file double-clicked from the sidebar it returns injector error

[2018-03-20 13:14] rat-moonshine commented on #89
Update:
- After opening an .awd from sidebar project, 'Save As' offering location different than the project opened from - Fixed

[2018-03-21 12:33] rat-moonshine commented on #89
Updates:
- After opening an .awd from sidebar project, 'Save As' offering location different than the project opened from - Fixed
- Open File dialog cause current file change (if any) dialog. Doing save or cancel save in the dialog was not starting 2nd process, i.e. opening file dialog - fixed

[2018-03-21 16:51] JoelProminic commented on #89
I saw this behavior for the file chooser.  This looks good:
1. Open a .awd file
2. File > Save As - the file chooser defaults to the same directory as the .awd file
3. Save the file to a different directory in the same project
4. Refresh the project to confirm the file is present
5. Open the original .awd file again
6. File > Save As - the file chooser defaults to the same directory as the origina

[2018-03-21 21:31] nihavend commented on #188
This is the stacktrace of commandline compiler mxmlc in royale.
Here is the output of moonshine 1.10.0, Build 8

![image](https://user-images.githubusercontent.com/5983818/37738519-54db7df0-2d68-11e8-89c4-5dc21adef015.png)

[2018-03-22 03:55] doug777 opened #210 "Problem passing querystring vars to app"
I need to modify the index.html file (js only) in order to pass querystring variables into my app, but when I Build & Run as JavaScript, Moonshine overwrites the entire html file. Somehow I need it to leave the body section unchanged from before or insert body from a named external text file if it exists.

Or is there already some workaround for this?

Doug

[2018-03-22 07:14] rat-moonshine commented on #210
At this moment Moonshine build complete project everytime you choose the project to build. There is no existing way to modify particular asset in compiled file system.

However, in case of SWF compilation and if user choose to use their modified version of the wrapper HTML file, they can do it by editing `$Wrapper.html` as shown below:
![image](https://user-images.githubusercontent.com/24370870/37

[2018-03-22 07:19] rat-moonshine opened #211 "Misguided naming suggestion against FlexJS/Royale project"
While opening project creation dialog by named option "Flex Browser Project (FlexJS, Royale)", Moonshine pre-suggests project name as "NewRoyaleBrowserProject". However, changing template type do not updates the name suggestion:

![image](https://user-images.githubusercontent.com/24370870/37756366-3ce9cb54-2dcf-11e8-99b5-08cdaf74c01d.png)

Suggested options are:
- Update name suggestion based on t

[2018-03-22 09:02] doug777 commented on #210
Then for now I will build in Moonshine, modify the html file and run it from the browser.

Please consider this for a future upgrade.

Thanks,
Doug

[2018-03-22 12:01] piotrzarzycki21 commented on #210
@doug777 ,

Yes you can do that and it's part of Royale SDK feature. Here is the way:
- You can create your template html. Example of such template -> [mdl-js-index-template](https://github.com/piotrzarzycki21/TranspiledActionScript/blob/examples/Examples/MDLExample/src/main/resources/mdl-js-index-template.html)
- Next you are pointing in Moonshine that template file using following command in **A

[2018-03-22 16:43] piotrzarzycki21 commented on #199
I just finished basic TabView. It looks like I need to review now Main Container again, because I see it's not working as I expected.
What area right now are you touching @rat-moonshine ? - I'm asking about code.

[2018-03-23 03:03] doug777 commented on #210
Thanks Piotr, that works fine.

[2018-03-23 04:41] rat-moonshine commented on #199
I've started to Include. Let me know which class files you may wants for Main Container changes, I shall try not to touch them until you done, @piotrzarzycki21 .

[2018-03-23 05:36] #210 closed

[2018-03-26 12:21] piotrzarzycki21 opened #212 "Experiment with FileSystemTree component as a potential replacement for current project Tree"
I have found [FileSystemTree](https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/mx/controls/FileSystemTree.html) control and thought that we could experiment whether it is better than current project Tree.

[2018-03-26 12:46] piotrzarzycki21 commented on #199
@rat-moonshine I just pulled your latest changes and I'm getting fail during Visual Editor build:

[code]

[2018-03-26 12:48] rat-moonshine commented on #199
Can you give a build to the .swc with your local latest, @piotrzarzycki21 ?

[2018-03-26 12:50] rat-moonshine commented on #199
I found I missed out the interface file to add (to Git). It's now added to committed. Please, check.

[2018-03-27 11:43] rat-moonshine commented on #212
So far by my test this component seems promising. However, since this meant only for AIR framework, I need to talk to @JoelProminic whether we want to manage two different components for desktop and web Moonshine (although we visit the web version less nowadays).

[2018-03-27 16:35] JoelProminic opened #213 "Tour De Flex Broken after AwayBuilder Integration"
I noticed this behavior today:
1. Open Moonshine
2. Help > Tour De Flex
3. Open an entry from the Tour De Flex sidebar.  BUG:  This opens with a blank grey screen, and the tab does not have focus.
![image](https://user-images.githubusercontent.com/24532731/37981256-c729a83e-31b2-11e8-9c3f-7fbbad917303.png)

4. Open an AWD file in the Away Builder editor
5. Open an entry from Tour De Flex.  BUG:  A

[2018-03-28 05:48] rat-moonshine commented on #212
@JoelProminic wants to keep this in low priority as he thinks the current system is stable and also provides its purpose to web platform. Since the purpose of replacing current Tree component with FileSystemTree is to remove all the messy codes we use to update the Tree component time to time, to keep alive the web platform's component system - we anyway needs to keep those codes at somewhere.  It

[2018-03-28 07:24] rat-moonshine commented on #213
Fixed.

[2018-03-28 08:51] piotrzarzycki21 commented on #212
Definitely create another branch to work on that. Let's see it in actions and check how it's simplify and how much messy code we will remove thanks to that.

[2018-03-28 08:57] rat-moonshine commented on #211
I've set a common name for the above project creation dialog to "NewJavaScriptBrowserProject". Feel free to change if one have better naming idea.

[2018-03-28 08:57] #211 closed

[2018-03-28 11:11] piotrzarzycki21 commented on #211
It doesn't feel right, because Royale is able to create also Flash applications. In the future there may be other outputs like WASM, TypeScript etc. We don't have to bother to much about that, FlexJS name I hipe won't live with us too long I think.

[2018-03-28 11:27] rat-moonshine commented on #211
I was thought about too that both type of projects can produce swf as well; but giving the preference of its broad purpose I choose to set the naming with 'JavaScript' word. I agree, I am not happy with this naming either but this plan seems more economical than changing more in component level. This maybe true that FlexJS won't be there for long, but until then this fix.

[2018-03-28 16:07] JoelProminic commented on #213
I was not able to reproduce any of the issues I reported above.  The new tabs were created properly, with proper focus.

Since this bug is based on another new feature from this release (#89), it does not need to be included in the changelog.

[2018-03-28 16:07] #213 closed

[2018-03-28 16:08] piotrzarzycki21 opened #214 "Debugger view reorganization and improvement"
Currently it is really hard effectively using debugger as part of Project Tree.

My proposition:
- Move debugger to the console area
- Make console area Tab oriented - First Tab would be a Console, the second one Debugger
- Debugger Tab will be split to Stack trace area and Variables area

[2018-03-28 16:13] JoelProminic opened #215 "Error #1125 on Tab Close"
While testing #213, I got "Error #1125" while closing the Tour De Flex tabs.   When I got this error, it hung Moonshine, and I was forced to kill the application.

On further investigation, I found that this seems to be a bug related to the Away Builder tab (#89).
1. Open Moonshine
2. Open an AWD file
3. Open other editor tabs until the Away Builder tab disppears from the visible tab list.
4. Clos

[2018-03-29 10:13] rat-moonshine commented on #215
This is related to the same problem for which we decided to keep Away Builder as a non-closeable tab (like Home). While there are enough tabs opened to the editor Moonshine hamburger menu activates. The menu system remove and add-back tabs' children when they requires. In the process Away Builder view also once removes from the stage and then add-back.

While adding it back again somewhere in Away

[2018-03-29 10:15] rat-moonshine commented on #214
@piotrzarzycki21 , please add some description towards this issue, along with your plan (if you have any).

[2018-03-29 11:34] rat-moonshine commented on #212
Benefits:

- In-built feature request in form of #176
- Less amount of parsing to populate tree file/folders - as population is in-build

[2018-03-29 11:44] piotrzarzycki21 commented on #212
That's interesting in case of #176. What about Tree refreshing, if you add some file to the folder outside Moonshine - do you get event  ?

[2018-03-29 12:02] rat-moonshine commented on #212
This part is a bit confusing. Per the directoryChangeEvent description as mentioned the API doc, this never worked:

While running my demo application and make a particular directory open and visible, changing anything inside that directory (i.e. file/folder creation/deletion/renaming) never fires the event for me. Those changes also not reflect to the UI unless I collapse and expand the said dire

[2018-03-29 12:06] piotrzarzycki21 commented on #212
Your code is in the branch or are you talking about some example project ?

[2018-03-29 12:07] rat-moonshine commented on #212
I'm talking about separate test project.

[2018-03-29 12:08] piotrzarzycki21 commented on #212
Did you setup this property in the test project ? [directory](https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/mx/controls/FileSystemTree.html#directory)

[2018-03-29 12:28] rat-moonshine commented on #212
Fun point is, you can even pass multiple File objects to its {{dataProvider}}, which renders multiple nodes (other than single by its {{directory}} property). But both usage demonstrate same behavior.

[2018-03-29 12:32] piotrzarzycki21 commented on #212
The recommended way seems to be using directory. If assign to directory one path makes events fire, try to play with that.

[2018-03-29 12:41] piotrzarzycki21 commented on #212
I see also couple of others controls [here](https://help.adobe.com/en_US/flex/using/WSacd9bdd0c5c09f4a-690d4877120e8b878b0-7ffe.html) related to Files/Folders in general

[2018-03-29 13:56] Nisaba opened #216 "ANE folder setting lost"
Hello,

Everytime I change project or when I launch Mooshine (1.10.0), the _project/Settings/Paths/Native extensions folder_ setting is cleared.

Please fix, thanks a lot.

[2018-03-29 14:01] piotrzarzycki21 commented on #216
@rat-moonshine could you look into that. I'm off tomorrow. Would be great to fix that for the next release.

Thanks!

[2018-03-29 16:42] JoelProminic commented on #215
I couldn't trigger "Error #1125" in today's tests.  However I noticed this behavior:
1. Open an AWD file
2. Open other files until the Away Builder tab is removed from the visible list
3. Open another AWD file.  The Away Builder tab does not become visible.

[2018-03-29 16:44] JoelProminic opened #217 "Mouse Wheel Scrolls Both Sidebar and Away Builder Editor"
I encountered this issue related to #89 while testing #215.
1. Open an AWD file
2. Expand enough projects so that the scrollbar appears in the Projects sidebar
3. Scroll with the mouse wheel.  The sidebar scrolls and the image zooms as well.
4. Open a text editor tab
5. Scroll the mouse wheel in the Projects sidebar
6. Return to the Away Builder tab.  The zoom has changed

[2018-03-29 16:50] JoelProminic opened #218 "Double-Clicking Binary File Breaks Tabs"
I accidentally double-clicked a binary file in the Project sidebar while testing #215, and it caused Moonshine to stop working properly:
1. Open the MoonshineDESKTOPevolved project in Moonshine
2. Double-click build/ant-contrib-0.6.jar - nothing happens
3. Close another tab.  BUG:  Moonshine shows a grey screen
4. Try to open another tab.  BUG: Nothing happens

In another test, Moonshine would not

[2018-03-30 03:45] doug777 opened #219 "Interaction Between Global Search and Copy/Paste"
Follow these steps.
1. Global search ctrl-H for a phrase in an open project
2. Click on one of the files in which phrase has been found.
NOTE: This problem does not occur if you select the file from the Projects panel.
3. In the open file the phrase is highlighted. Select the phrase with the mouse and click ctrl-F.
4. Select something else in this file or another file and Copy.
5. Paste this into

[2018-03-30 09:32] piotrzarzycki21 commented on #199
I did spent quite a lot of time yesterday on Div container. It looks like we won't be able to prepare our containers to work perfectly as Div behave.

When you put to the Div several different PrimeFaces components (in my test I put all of which we did implement) and export it - Everything is messed up.

1. **Visual Editor view**

![image](https://user-images.githubusercontent.com/24554795/3813289

[2018-03-30 11:06] piotrzarzycki21 commented on #199
You understand me perfectly and I did look into your previous work - it helped me a lot. I was trying to thing how to achieve default behavior in Flex, but it is really no worth to pursue that. Dealing for some components with width/height in an infinite custom cases is not the right direction - if we have nice solution. IMO with FlexBox we should have width/height exactly as you set up in Visual

[2018-03-30 13:28] rat-moonshine commented on #199
You are right. We may also needs to give functionality to change this behavior in Div, though. Think in a situation where user may not wants flow layout but simple vertical or generic Div behavior.

In that case we may want to give a feature to change Div's style property (be it a dropdown or something). On a long run, you may want to provide style property against individual components as well, i

[2018-03-30 19:18] joshtynjala commented on #200
I updated vscode-nextgenas to v0.10 this week, so this should be working correctly now! Closing.

[2018-03-30 19:18] #200 closed

[2018-03-30 19:22] piotrzarzycki21 commented on #200
Just tested it and it's working. Just quick question Josh. Do we have in the API some function which allows me to display language version ? I would like to have such information in the console.

[2018-03-30 19:29] joshtynjala commented on #200
@piotrzarzycki21 Do you mean the version of the language server?

[2018-03-30 19:33] piotrzarzycki21 commented on #200
Yes the version of language server.

[2018-03-30 19:45] joshtynjala commented on #200
I don't think that's possible right now. I can think of some ways that we might expose the version string, but they're not ideal.

[2018-03-30 20:12] joshtynjala commented on #185
@piotrzarzycki21 The VSCode test project was not working correctly because you accidentally added `define` outside of the `compilerOptions` section in *asconfig.json*. When I move `define` to the correct location, I can successfully Ctrl+click on the method.

In Moonshine, a limited subset of compiler options are passed to the language server. I think the idea was to pass only the ones that actual

[2018-03-30 20:39] #185 closed

[2018-03-31 10:07] piotrzarzycki21 commented on #199
@rat-moonshine You didn't understand me in one point. I would say the major one. I'm not going to give user any of that option `display: block, inline, inline-block` - Because it's hard to mimic properly such behavior in Flex. It is no worth to spent time on such messy behavior, where some children display width: 100% although they have set 150px. Even if I would somehow figure out how to achieve

[2018-04-02 05:07] rat-moonshine commented on #219
Hello @doug777 , thank you for reporting.

With my quick tests, I couldn't able to re-produce this issue in Windows. Step 5-6 always performed for me expectedly. Can you confirm if this problem is producible to you every time, or at a certain time?

Thanks!

[2018-04-02 05:52] rat-moonshine commented on #217
I couldn't able to reproduce the problem#3 where mouse-wheel at sidebar area affects both the scroll to the sidebar and the opened Away Builder editor (zoom). I have tested in both the platforms. I also noticed that Away Builder's zoom level only changed by mouse-wheel when the mouse cursor is over the 3D editor area. I'm not sure if any other activities could reason the behavior in your case, @Jo

[2018-04-02 06:09] doug777 commented on #219
You're right. I can't reproduce it today. When it occurred I tried with different phrases and it consistently produced the effect reported, but today it works perfectly. If it happens again, Ill try to find out what is triggering the problem.

Doug

[2018-04-02 06:26] rat-moonshine commented on #218
On the context, I also able to notice the kind of grey tab open behavior when double-clicked a file with .scpt extension.

[2018-04-02 06:29] rat-moonshine commented on #217
I able to reproduce the scroll behavior when I returned to the opened Moonshine editor after some work in other applications, and I noticed scrolling sidebar also changes Away Builder's zoom level. However, I'm having problem triggering the behavior again after a restart.

[2018-04-02 06:33] rat-moonshine commented on #219
Thank you for confirming this @doug777 . Please, do report if any other problem you would found, or reopen this issue. Thanks!

[2018-04-02 06:33] #219 closed

[2018-04-02 06:45] rat-moonshine commented on #217
Okay, I able to reproduce the scroll behavior constantly by following steps:

- Make sure you have scroll to the sidebar
- Double-click any awd file to open
- **IMPORTANT** - do not move your cursor to the Away Builder's editor area, keep the cursor over sidebar until the file opened to the editor
- When file opened to the editor, drag the sidebar scroll or mouse-wheel over the sidebar only - this

[2018-04-02 06:47] rat-moonshine commented on #218
On .scpt file problem, I noticed that opening the file to any other text editor results non-readable or machine language:
![image](https://user-images.githubusercontent.com/24370870/38186272-bb88b0e4-366f-11e8-806f-b79ed2de9017.png)

Perhaps, this is the reason why it's failed somewhere in the Moonshine editor.

[2018-04-02 07:19] rat-moonshine commented on #217
- Measure taken against unexpected mouse-wheel zoom level change based on above observation
- Not forced to open/replace 3D editor with file if the same same file already opened to the editor and not modified

Please, check.

[2018-04-02 08:53] rat-moonshine commented on #218
While looked into the binary file handling during file open command, I noticed that existing source was trying to open the content with an AIR HTML window. I'm not sure why this behavior was. Current behavior will alert user about the problem opening to Moonshine editor, and also give choice to open the file with its default application.

[2018-04-02 09:47] rat-moonshine commented on #216
Fixed. To be release in next version.

[2018-04-02 09:47] #216 closed

[2018-04-02 16:39] JoelProminic commented on #215
I confirmed that the Away Builder tab is made visible when opening another AWD file now.  This works when the tab is in the visible tab list, and also when it is hidden.

[2018-04-02 16:57] JoelProminic commented on #216
This worked fine in my tests.

[2018-04-02 17:08] #217 closed

[2018-04-02 17:08] #218 closed

[2018-04-03 16:55] JoelProminic commented on #119
@rat-moonshine and I revisited this today.  I see that neither the wiki nor the installer page were updated.

I have initialized the wiki here.  I am not really satisfied with the format, but I don't see how to create child pages:  https://github.com/prominic/Moonshine-IDE/wiki/Known-Issues

[2018-04-04 11:43] rat-moonshine commented on #119
I've a long troubled day today, with my Windows system and with my ISP. I'm trying to re-write following details again - thanks to above two factors.

After updating Bamboo build version of Moonshine App Store Helper (MASH) to latest Apache Flex 4.16.1 with AIR 28.0, I come up by different problems at different levels. I'm trying to document them all here.

I tried to download following SDKs (deve

[2018-04-04 12:28] piotrzarzycki21 commented on #199
After chat with Andrii I have removed PanelGrid from the list and start looking how to implement [Grid](https://www.primefaces.org/showcase/ui/panel/grid.xhtml). I will raise separate issue for that part.

[2018-04-04 12:33] piotrzarzycki21 opened #220 "Add PrimeFaces Grid to Visual Editor"
As part of that task we need to mimic behavior of PrimeFaces [Grid](https://www.primefaces.org/showcase/ui/panel/grid.xhtml) component. In Flex it looks like w may achieve all of that behavior using MX [Grid](https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/mx/containers/Grid.html).
Additional resources in the article [MX Grid layout container](https://help.adobe.com/en_US/flex/

[2018-04-04 19:24] JoelProminic commented on #119
I ran tests with the latest Bamboo build on both Mac OS Yosemite and macOS High Sierra.  Both completed without errors.

An earlier test I ran on High Sierra got a IO Error (#2032).  However, my computer locked in the middle of the build, which could have triggered the problem instead.   My later test ran without errors.

For http://flex.apache.org/single-mirror-url--xml.cgi, I think we originally

[2018-04-05 04:40] rat-moonshine commented on #119
The error to http://flex.apache.org/single-mirror-url--xml.cgi do not triggers in following scenarios:
- Used by AIR SDK < 27.0
- Changing domain protocol from 'http' to 'https' when AIR SDK > 26

I'm not sure if the configuration file has any alternate option to this mirror URL (so we can give option to the users). In code, there was only one tag reference to the configuration file which supplies

[2018-04-05 05:34] rat-moonshine commented on #130
I revisited this issue again today, and gave some tests to verify if this issue is still valid, or we can close it keeping this as low priority.

While I've found Atin's last test report is still valid on macOS (although, I'm not worried about the cursor blinks on editor) but it would have been better if we could remove the blink cursor from console while clicking on the application menu.

Further

[2018-04-05 09:13] rat-moonshine commented on #130
After spending some time, most possible event listener I felt is [SandboxMouseEvent](https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/mx/events/SandboxMouseEvent.html). However, opposite to its expected behaviour (as mentioned in the Adobe Doc), only `MOUSE_UP_SOMEWHERE` fired in my tests, and that is also not by Mouse-up/down but when mouse-out from the application frame/window

[2018-04-05 09:13] #130 closed

[2018-04-05 09:35] rat-moonshine commented on #212
`FileSystemTree` didn't come up fully in my tests. Following is a basic list of what works and what not:
- File/Folder auto-generation upon given `directory` or `dataProvider` object - works
- File/Folder ordering mimics feature requested in #176 - works
- File/Folder creation/deletion/renaming outside of the application auto-updates the tree component - not works
- File/Folder creation/deletion/r

[2018-04-05 09:35] #212 closed

[2018-04-05 09:53] piotrzarzycki21 commented on #130
I think I come up to the same results as you. I'm glad that you did look into that with fresh eye. :)

[2018-04-05 09:59] piotrzarzycki21 commented on #199
@rat-moonshine Unfortunately FlowLayout which we are trying to use do not align children to bottom. I will try to spend some time on fixing that or use something else.

[2018-04-05 10:42] piotrzarzycki21 opened #221 "Failed to get compile settings for +configname=flex - in attempt of building library"
I'm getting from language server error `Failed to get compile settings for +configname=flex` when I'm trying to build library or open one of the class.

**Scenario:**
1. Open attached Flex library project in Moonshine
1. Open MyClass file - if error do not occur after a while
1. Try build project

![image](https://user-images.githubusercontent.com/24554795/38361770-c8ee85ea-38ce-11e8-824c-06ed781e

[2018-04-05 15:26] joshtynjala commented on #221
This is probably the first time that someone has tried using code intelligence with a library project in Moonshine. 😄

It was only working with app projects until now.

[2018-04-05 15:33] piotrzarzycki21 commented on #221
Hah! :) Daily usage of IDE that's the best tests ever. :) Thanks for fixing! :)

[2018-04-05 15:46] piotrzarzycki21 commented on #221
Working :)

[2018-04-05 16:00] JoelProminic opened #222 "Cursor Flashing and Focus Behavior for Editor"
While reviewing #130, I noticed similar cursor issues for the Editor window.

1. Click in the Editor.  The cursor flashes
2. Click on the Console.  BUG:  The cursor flashes on both the console and the Editor
3. Type a command.  The text appears on the console only
4. Switch focus to another window.  The cursor stops flashing on the console.  BUG:  the cursor is still flashing in the editor
5. Clic

[2018-04-05 16:02] JoelProminic commented on #130
I can still see the cursor flashing in multiple locations while the focus is on the console.   I created a separate issue for the Editor logic:  #222

[2018-04-05 16:16] #204 closed

[2018-04-06 04:34] rat-moonshine commented on #222
Per my past observation, Moonshine editor manages cursor by its own cursor manager classes. Generally, in an application against multiple regular text input/area components, changing text input focus manages only one cursor at a time. Since the editor has its own manager class responsible to show cursor by its own logic, the regular behavior of cursor do not fits in.

While we can investigate to m

[2018-04-06 10:32] piotrzarzycki21 commented on #177
I think that's ok!

[2018-04-06 16:55] JoelProminic commented on #222
I confirmed that the cursor disappears from the editor window in these cases:
- Cursor moved to console
- Click on Projects sidebar
- Open a popup like Edit > Find Resources

The cursor reappears when focus is returned to the Editor tab.  You can click on the tab to gain focus without changing the cursor position.

The cursor still does not disappear when switching to a different application.   I

[2018-04-06 17:02] JoelProminic commented on #177
The selected text behaves the way I expect with the latest update:
- Typing text overwrites the selected string
- Delete or Backspace work to clear the string
- The arrow keys can be used to clear the selection.

I did notice an unexpected behavior with the arrow keys:
1. Enter a search string
2. Press the down arrow.  The selected result row changes
3. Press the right arrow.  The search string te

[2018-04-06 17:07] JoelProminic commented on #162
I think there should be actions defined for Hide and Hide Others in XCode, but I don't know if it will be available.

If we have to implement these actions ourselves and convince Apple to allow us to run actions like this, then this feature will take a lot more time...

[2018-04-06 18:36] mikewach-jamcity opened #223 "Doesn't work with AIR SDKs or macOS High Sierra"
Doesn't recognize any of the AIR SDKs and cannot compile with older SDKs on macOS High Sierra due to lack of 32-bit JVM support

[2018-04-06 19:58] ehbarrioss opened #224 "OSMF download failed"
OSMF download failed
Instalación cancelada: http://flex.apache.org/track-installer.html?failure=true&label=Apache Flex SDK 4.16.1&version=4.16.1&os=windows&installerversion=1.10.0&info=&info=OSMF%20download%20failed

[2018-04-08 11:42] piotrzarzycki21 commented on #224
Hi @ehbarrioss ,

This is the issue in the installer of Apache Flex itself. I will probably get hands on that and try to fix it. In the meantime you got and download Apache Flex using ANT. I described instruction [here](http://apache-flex-users.2333346.n4.nabble.com/Flex-Installer-Air-29-OSMF-Fail-Windows-tp16774p16775.html).

[2018-04-08 11:44] piotrzarzycki21 commented on #223
Hi @mikewach-jamcity ,

Can you specify a bit more details on that ? Did you download pure [Adobe Air SDK](https://www.adobe.com/devnet/air/air-sdk-download.html) or are you talking about something else ?

[2018-04-08 12:15] piotrzarzycki21 commented on #199
I have changed in case of FlowLayout to allow manipulate items only for left/right and center. I would like to move forward with the stuff. If there will be strong requirement I will get back to implement bottom align.

[2018-04-08 12:15] #199 closed

[2018-04-09 05:09] rat-moonshine commented on #222
Application state focus now handled, as well.

[2018-04-09 10:40] rat-moonshine commented on #162
We can not use XCode object to build our native menu; the objects will be different and their command stamp (they shall different during type conversion in ActionScript).

I took another path, to get and extract from the default macOS menu that generates before we generates our custom menu. Following 3 menu options now extracted from the default application menu and updated to Moonshine custom men

[2018-04-09 10:40] #162 closed

[2018-04-09 12:09] piotrzarzycki21 commented on #177
@JoelProminic In case of steps 1-2 when you press down arrow and selected row changes - Yes that part I did implement intentionally.

I'm using that window very often and ninety percent of usage is by keyboard not mouse clicking. Since I need find something very fast following scenario was annoying to me a lot.
1. I'm opening Find Resources by shortcut
2. Enter a search string and Got for example

[2018-04-09 12:37] piotrzarzycki21 commented on #177
@JoelProminic I have pushed fix. It is note ideal but I think it mainly resolves problems in steps 3 and 6.

[2018-04-09 15:33] JoelProminic commented on #177
@piotrzarzycki21, I agree with your desire to reduce the dependencency on the mouse.  I like the current down-arrow functionality - it feels very natural.

The update feels pretty good to me.  The behavior seemed pretty intuitive and comfortable.

Something to consider:  Using the right-arrow to return to the search field is a bit unnecessary now, since pressing any key will automatically start ty

[2018-04-09 17:01] JoelProminic opened #225 "Update Shortcut for Project > Search"
The previous shortcut for Project > Search was CMD-H / CTRL-H.  However, the MacOS shortcut was overwritten by the default Moonshine > Hide Moonshine action (See #162).

I discussed this with @rat-moonshine, and we propose to change the Project > Search shortcut to CMD-Shift-F.

This shortcut was previously mapped to Edit > Find Previous, but we found that this action was obsolete.  Find Previous

[2018-04-09 17:07] JoelProminic opened #226 "Search Order for Edit > Find"
While I was experimenting with the shortcuts for #225, I noticed that the result order for Edit > Find was strange.

I tested using our default Application class for Flex AIR projects:
[code]

In my tests, I put the cursor at the top of the file to start, so I would expect the search entries to be highlighted in the order that they appeared in the file.

However, when I searched for "center", the

[2018-04-10 04:46] rat-moonshine opened #227 "Investigate on Away Builder instance re-initialization after tab closed in Moonshine"
Since the original integration of Away Builder to Moonshine (#89 ) we have found problem to complete re-initialization of Stage3D properties when Away Builder added to Moonshine once removed. We choose to keep the Away Builder tab once opened and stay during the application session.

It'd be great if we can able to re-initialize the Away Builder instance (or restart as a tab) again after being clo

[2018-04-10 04:47] rat-moonshine commented on #89
Since the main integration part has done now, I'm closing this issue. I have created a separate issue to investigate on restarting Away Builder as a tab after being closed (inside Moonshine) - #227 .

[2018-04-10 04:47] #89 closed

[2018-04-10 06:28] piotrzarzycki21 opened #228 "Add ability to add/remove columns in DataTable along with edits "value""

[2018-04-10 06:31] piotrzarzycki21 commented on #228
@rat-moonshine feel free to add more description or change the title

[2018-04-10 06:52] rat-moonshine commented on #225
As discussed:
- "Search Previous" removed for now
- New shortcut keys associated to project search (Ctrl/CMD+Shift+F)

[2018-04-10 06:52] #225 closed

[2018-04-10 07:04] rat-moonshine commented on #177
I have a slight different test case in my tests. Perhaps, we want to restrict to move the cursor at the end of the entered text by left and right arrow only. Here is why I think this:

- Open a project having large amount of files to test this (i.e. MoonshineDESKTOPevolved)
- Open project search window
- Type "con" - this shall filter the result list
- Press down arrow to activate key navigation i

[2018-04-10 12:56] piotrzarzycki21 commented on #225
I'm sorry for the late response. I like shortcuts. It's the same as in Intellij :)

[2018-04-10 17:02] JoelProminic commented on #177
I confirmed the behavior that @rat-moonshine reported above.   This behavior did not trigger for me in my earlier tests because the character I typed did not match the first character of either of the results.

So, we have two different strategies for handling characters entered while the focus is on the result list:
1. Update the filter with the entered character
2. Go to the next result that sta

[2018-04-11 03:30] rat-moonshine commented on #177
My suggestion is to keep goodness of both the worlds by restricting keys:

- While using arrow keys, restrict left and right arrow key to return the cursor back to the input field (right hand), this should satisfy @piotrzarzycki21 's preference of working
- Using any keys other than the arrow keys should continue follow the List component's regular behavior, i.e. selecting next result that start b

[2018-04-11 03:39] rat-moonshine opened #229 "Create Checklist Items to Check Before Each Release"
I'm not sure what should be correct place to keep the kind of check-list items; We can create a new issue having check-marks associated to the items those we want to check before a release - but there is a chance to get the issue lost among others in time.

[2018-04-11 04:28] rat-moonshine commented on #229
I've created a new table in Projects - https://github.com/prominic/Moonshine-IDE/projects/3, this can be use to ensure items those we want to check before a release, and by dropping the items from "Items" to "Checked" table, to ensure. The "Checked" table can be re-set every time after a release been done.

@piotrzarzycki21 , @JoelProminic you're requested to update the items which you found neces

[2018-04-11 11:41] piotrzarzycki21 commented on #199
@rat-moonshine I will check this one without your code, but I doubt that I experienced any problem. One thing - Why you don't have any styling in that screenshot ? Maybe this is your problem.

[2018-04-11 11:52] piotrzarzycki21 commented on #199
I have added comments into your latest commit to VisualEditor repository

[2018-04-11 12:02] piotrzarzycki21 commented on #224
@rat-moonshine Generally yesterday I did push fix for that issue to the installer. However I see something more where downloading playerglobal.swc is failing and I'm not sure why. If I eliminate this one you can than take the code from develop branch of the installer and apply to our codebase.
I will start release process in Apache Flex project, but it may take much more time.

I will let you know

[2018-04-11 17:02] mikewach-jamcity commented on #223
Thanks for your response, @piotrzarzycki21 !

I am currently running macOS High Sierra 10.13.3 (however plan to update to 10.13.4 tonight). I have tried all of the following SDKs:

AIR19
AIR 22
AIR 25
AIR 26
AIR 27
AIR 28
AIR 29
Feathers SDK 3.3.0 FP26.0 AIR26.0 en_US
Flex 3.6A (Bundled with Flash Builder)
Flex 4.60 (Bundled with Flash Builder)

Out of all of the above, only the last three SDKS ar

[2018-04-12 07:35] piotrzarzycki21 commented on #224
@rat-moonshine I have finished tests. Installer for Windows has been fixed. I will start release process, but you can simply checkout latest changes from [develop](https://github.com/apache/flex-utilities/tree/develop) branch and apply in Moonshine.

[2018-04-12 08:18] piotrzarzycki21 commented on #223
Hi @mikewach-jamcity ,

It looks on the Moonshine sight everything is ok. First of all swfinvestigator is an Adobe Air Windowed application written in Flex framework. Moonshine do not recognize pure Adobe Air SDK.
You need to download [Apache Flex SDK](https://flex.apache.org/) and setup project in Moonshine.

[Apache Flex have installer](https://flex.apache.org/installer.html) which should help y

[2018-04-12 11:00] piotrzarzycki21 opened #230 "Code Completion doesn't work with newly created project"
I have discovered that with all latest changes related to language server for newly created project code completion doesn't work.

Scenario:
1. Create new Flex/Royale project
2. Try to launch code completion in MXML

It doesn't work because of following error:
`unable to open 'D:\Work\projects\Prominic.NET\MoonshineTests\TestRoyaleProject\obj\TestRoyaleProjectConfig.xml'.`

However that file is be

[2018-04-12 11:00] piotrzarzycki21 commented on #230
@rat-moonshine I have assigned this one to you, because you know the logic around creation of config file, so maybe you will have some insight.

[2018-04-12 11:25] rat-moonshine commented on #228
- Fixed.

I noticed that the property editor's list component (which was copied from another property editor file) already has some item drag enabled codes. However, there was no handler codes against the drag/drop feature. Discussing this with @piotrzarzycki21 , I came to a feeling that Josh added the drag enabling codes to one of the the original property editor class but probably it left unfini

[2018-04-12 11:31] piotrzarzycki21 commented on #228
@rat-moonshine after your changes to DataGrid - do you still need to use GenericUtils.listScrollToBottom ?

[2018-04-12 11:38] rat-moonshine commented on #228
No. `GenericUtils.listScrollToBottom` is now only using to the TabForm. Please, check my email reply on this. We shall decide on this in coming time.

[2018-04-12 12:26] rat-moonshine commented on #230
Where did you able to get this error @piotrzarzycki21 , I didn't seen this error during my debug tests.

However, I noticed server shutdown after opening a Royale/MXML file and when tried to write something:

[2018-04-12 12:28] piotrzarzycki21 commented on #230
@rat-moonshine it's in the Problems View!

[2018-04-12 12:34] rat-moonshine commented on #230
Ah, I did not noticed this. I'm wondering why its trying to look for the <project>Config.xml file when its not written. Perhaps we can add some condition to somehow prevent the language-server from check this. I need to look into this.

[2018-04-12 12:35] piotrzarzycki21 commented on #230
Let's wait also for a Josh insight, because maybe it's require right now for some reason.

[2018-04-12 15:16] joshtynjala commented on #230
That config file is how the compiler options are passed to the compiler for a build, right? The language server needs to know the same options so it loads them from the same file.

I could check if the file exists or not, but I suspect that will cause some complier options to be missing.

[2018-04-12 15:28] rat-moonshine commented on #230
@joshtynjala , generally this config file creates during project compilation. Do you think if we generates the config during project creation, and before language-server initiate against the project, that would fix the issue and also cover other necessities to code-completion?

[2018-04-12 16:13] joshtynjala commented on #230
If there's another API for me to get a list of all of the same compiler options that are passed to the compiler, I can certainly use that instead.

Otherwise, this config file needs to be created or updated whenever changes to the project settings result in changes to the compiler options.

[2018-04-12 16:36] rat-moonshine commented on #230
That is a good idea that if Moonshine can pass you the properties those you need, internally. This will eliminate the need of config file presence to run the code-completion menu.

`actionScripts.plugin.actionscript.as3project.vo.MXMLCConfigVO` file is responsible to generate the config file. Can you please take a look if you can use the fields mentioned in `writeApplicationConfig()` to satisfy th

[2018-04-12 18:12] mikewach-jamcity commented on #223
Wow, thank you so much for all of this information @piotrzarzycki21 !! So it seems I should try to migrate the SWFInspector project to a newer Apache Flex SDK, and this is indeed not an issue specific to Moonshine. I will give the above steps a try soon and report back my findings! Thanks again!!!

[2018-04-12 21:20] joshtynjala commented on #230
@rat-moonshine I worry that any changes to MXMLCConfigVO.writeApplicationConfig() in the future would not get reflected in both locations. I see that MXMLCConfigVO.writeLibraryConfig() appears to be used for library projects too. I would need to duplicate the subset of compiler options used by both of these methods in LanguageServerForProject. That seems like a pretty serious code smell to me. I h

[2018-04-13 05:02] rat-moonshine commented on #230
@joshtynjala , thank you for explaining this in length.

If you have the AS3ProjectVO object, you can use its own declared MXMLConfigVO object as well. You probably want to check if the config file exists, and then you can call the `write` method this way:

[code]

[2018-04-13 05:37] piotrzarzycki21 opened #231 "Full integration with language server build system"
Starting from Language Server [0.11.0](https://github.com/BowlerHatLLC/vscode-nextgenas/blob/v0.11.0/distribution/src/assembly/CHANGELOG.md#0110) @joshtynjala added new feature allows faster build all supported SDK.

I would like to fully integrate with that API in order to completely remove classes responsible for current process of building ([MXMLCJavaScriptPlugin](https://github.com/prominic/Mo

[2018-04-13 08:11] piotrzarzycki21 commented on #230
I also noticed that debugging is not working properly in Flex. I don't get any values when I have break point in place. Maybe language server do not get enough information to launch debug mode.

[2018-04-13 08:26] #228 closed

[2018-04-13 09:37] piotrzarzycki21 commented on #220
After some time on that I think I know how Flex Grid is working. It looks like I will have to write some logic which handle resizing in Grid based on percentage values. (Rows/Columns will use percentage values) We will see next week if I not end up in some blind corner.

[2018-04-13 11:57] rat-moonshine commented on #224
Both Moonshine App Store Helper and in-build Apache SDK Installer (Windows Moonshine) applied by the patch fix on OSMF download. However, I couldn't able to run a proper test today as I'm having continuous download failing problem against AIR SDK.

I have tried to download 28/29 AIR SDK multiple times across macOS and Windows system, but everytime it failed at following stage:

It's possible that

[2018-04-13 12:03] rat-moonshine commented on #231
@piotrzarzycki21 can you provide some more documentation and the plan of yours, before actually going to modify on this area?

[2018-04-13 13:02] rat-moonshine commented on #226
Fixed. Please, check.

[2018-04-13 13:02] #226 closed

[2018-04-13 13:16] piotrzarzycki21 commented on #231
@rat-moonshine In case of implementation I don't have any plan. I asked Josh on Patreon in one of his post about that whether we can use it in Moonshine. He said that API is available and we can. I will explore it and give here more details.

Definitely I will do everything on the separate branch!

[2018-04-13 13:45] piotrzarzycki21 commented on #224
@rat-moonshine I just updated hash on the website and tested your installer update and it's working nicely! :)

Fix was concerns only Windows in fact. I'm closing this one. If you will have any problem reopen.

[2018-04-13 13:45] #224 closed

[2018-04-13 13:55] piotrzarzycki21 commented on #177
@rat-moonshine have you done those changes with restriction ? Is this issue finished ?

[2018-04-13 14:15] joshtynjala commented on #231
Since my earlier reply, I've determined that the language server will need some additional modifications before Moonshine can use its new "quick build" command.

I need to do the following:

* Make the configuration more modular. Currently, it requires the presence of an *asconfig.json* file.
* Add support for release builds. Currently, it can only create debug builds.

[2018-04-13 14:18] joshtynjala commented on #230
@piotrzarzycki21 The language server is not used for debugging. The debugger is separate. I don't think I've modified the debugger in any way that would cause this behavior, though...

[2018-04-13 15:09] JoelProminic commented on #226
I ran some tests on the macOS build, and the search order seems fine now.  I tested with:
- Cursor at the top of the page
- Cursor in middle at page - the next match after the cursor was selected first
- Searching for one string, and then switching to a different string - Moonshine showed the first match of the new string after the current match of the old string.

[2018-04-13 15:32] rat-moonshine commented on #223
If this issue has been addressed can we close this now @piotrzarzycki21 ?

[2018-04-13 16:30] JoelProminic commented on #177
I confirmed that pressing characters in the result panel behaves as @rat-moonshine described above - the selection shifts to the next result that starts with that character.

This makes it possible to browse to a result without moving your hands from home row:
1. Type search string
2. Hit Tab
3. Type the first letter of the desired class until it is selected
4. Hit Enter

However, the Tab key curr

[2018-04-13 18:53] piotrzarzycki21 commented on #223
@rat-moonshine I think yes. @mikewach-jamcity please reopen if you have any problems and you will think it's related to Moonshine.

[2018-04-13 18:53] #223 closed

[2018-04-13 19:41] #230 closed

[2018-04-16 05:59] rat-moonshine opened #232 "Add new AppleTV project creation option with sample source"
[Details discussed in the email]

[2018-04-16 06:34] rat-moonshine commented on #177
Tab and Shift+Tab handlers now added to the interface. Following are the test results:

1. Type search string
2. Press Tab
3. Result list focused with having the pointer to its last selected item
4. Type any letter key to jump to the desired item starts by the letter
5. Type Shift+Tab, this will return the cursor to the search input field (similar by pressing Left/Right arrow)

[2018-04-16 06:34] #177 closed

[2018-04-16 10:11] rat-moonshine commented on #228
Archiving mockup for future referencing.

![xcode referencing](https://user-images.githubusercontent.com/24370870/38803371-9e668914-418c-11e8-9ad8-3086720df93f.png)
![moonshine proposed steps](https://user-images.githubusercontent.com/24370870/38803375-a2d1f4c0-418c-11e8-931e-b944431d1ac1.png)

[2018-04-16 12:09] piotrzarzycki21 opened #233 "Away Builder tab remains open once project has been closed"
**Scenario:**

1. Create Away Builder project
2. Open *.awd file from assets
3. Right click on the project and close

**Results:**
- Away Builder tab remains opened

**Expected Results:**
- Away Builder tab should close along with the project

![away_builder_project_issue](https://user-images.githubusercontent.com/24554795/38808696-5b0aa9ee-4181-11e8-8a98-1518cac34a31.gif)

[2018-04-16 12:47] rat-moonshine commented on #233
Thank you for pointing to this side, @piotrzarzycki21 . This should be valid against project deletion, too. Initialising the editor (Away Builder) with a blank document in that case would be more acceptable, you think Piotr?

[2018-04-16 12:51] piotrzarzycki21 commented on #233
I actually like that some object is showing there initially, but I'm leaving to you decision. Don't have strong opinion on that.

[2018-04-16 12:53] rat-moonshine commented on #233
Showing any initial object means that loads by any file, or an unsaved project that requires to save somewhere. When a project is closed or deleted, both the cases may create confusion. I think re-initialize the editor as a blank document would fit more in this case. I also talk on this with @JoelProminic when I'll have time.

[2018-04-16 13:47] piotrzarzycki21 opened #234 "Add "for" attribute to OutputLabel"
Attribute "for" should be added to OutputLabel in property editor. It allow simplify creation of form.

In the results code should look:
`<h:outputLabel for="name" value="Standard Label:" />`

[2018-04-16 13:52] piotrzarzycki21 opened #235 "Add "id" attribute to some components in Visual Editor"
In some components "id" attribute help bind them together. Example:

[code]

In that case we should be able to add it whenever it's required.

[2018-04-16 16:09] JoelProminic commented on #177
Tab and Shift-Tab seem to work like I expect now.

[2018-04-16 22:06] piotrzarzycki21 commented on #211
@JoelProminic I will make changes as part of that task #182

[2018-04-17 07:34] rat-moonshine commented on #233
Away Builder project close/deletion now updated with following changes:

- If the Away Builder editor has any modification, during project close Moonshine will prompt to save in a regular manner like it does for other modified editors. Based on the choice Moonshine will either save the Away Builder editor or just populate the editor with a new blank document
- During project deletion Moonshine wil

[2018-04-17 07:41] #232 closed

[2018-04-17 07:51] rat-moonshine commented on #232
This issue is now moved to Jira.

[2018-04-17 08:05] piotrzarzycki21 commented on #233
Unfortunately it is still doesn't work for me. The behavior is a bit different look to the gif.

![away_builder_project_issue](https://user-images.githubusercontent.com/24554795/38856456-ce2740e0-4226-11e8-87bd-bc9dcc38d6df.gif)

[2018-04-17 08:27] rat-moonshine commented on #233
I'm unclear with the difference you tried to mention. Can you please clarify?

[2018-04-17 08:32] piotrzarzycki21 commented on #233
Compare gif in the main description with new one. Once I choose "Close" from context menu in the original one object in Away Builder is staying. In new GIF object disappear.

[2018-04-17 08:37] rat-moonshine commented on #233
I'm not sure what are you are expecting. If the project will close (that belongs to the file that you have opened to the Away Builder editor), the editing file also is closing. The Away Builder just populating with a blank document in this case since the tab is non-closeable at this moment.

[2018-04-17 08:43] piotrzarzycki21 commented on #233
@rat-moonshine I just thought that when project is working Away Builder Tab is not being closed, but if user close/delete project we will close Tab no matter what.

[2018-04-17 08:49] rat-moonshine commented on #233
If you tried to mean to close and re-open the Away Builder tab, that investigation is created as a separate [issue](https://github.com/prominic/Moonshine-IDE/issues/227). For this issue fix, we were discussing on populating the editor with a new document for now. Please confirm if that is working for you or not.

[2018-04-17 08:50] piotrzarzycki21 commented on #233
That part is working! Thanks! I'm sorry for the confusion.

[2018-04-17 08:50] #233 closed

[2018-04-17 08:51] rat-moonshine commented on #233
I'm glad that the plan for this issue is now clear, @piotrzarzycki21 .

[2018-04-17 08:53] rat-moonshine opened #236 "Add ability to add/remove tavs in TabView along with edits "value""
Similar to DataTable, TabView also needs to supply with "var" and "value" chain.

[2018-04-17 08:55] piotrzarzycki21 commented on #234
Attribute for has been added to OutputLabel

[2018-04-17 08:55] #234 closed

[2018-04-17 08:56] rat-moonshine opened #237 "Add fields to provide "value" section to Tree"

[2018-04-17 09:52] rat-moonshine commented on #236
While working on this I come up by some design decision that needs to take to manage the UI flow efficiently. Until that happen after some discussion, I'm work pending to this requirement.

[2018-04-17 12:29] piotrzarzycki21 commented on #235
I have introduced interface [IIdAttribute](https://github.com/prominic/MockupVisualEditor/blob/features/visual_editor_prime_faces/src/view/interfaces/IIdAttribute.as) which marks component where we can add id. Implementing that interface automatically add "Id" field in property editor for that component.

[2018-04-17 12:29] #235 closed

[2018-04-17 12:59] rat-moonshine commented on #148
Updates:
- Delete list updated with most of the managed files/folders those we can allow to delete
- Alert updated
- Project deletion now deletes only the file/folders supplied during the course

Issues:
- Project reference yet to remove from the sidebar
- Needs to update some process part for template project deletion (silent)

[2018-04-17 16:01] JoelProminic commented on #233
The behavior seems to work fine for both closing and deleting a project.

[2018-04-18 05:31] #229 closed

[2018-04-18 05:35] rat-moonshine commented on #211
But why we are having a separate 'Royal Browser Project' entry in File > New, when we have the entry to choose between FlexJS/Royale by File > New > Flex Browser Project (FlexJS, Royale). This seems like a bug, and should be rectified.

[2018-04-18 06:15] rat-moonshine commented on #211
"File > New" now showing same number of project templates comparing splash screen.

[2018-04-18 06:19] rat-moonshine opened #238 "Renaming a newly created project template is not working"
I have seen this during my recent tests to menu generation section. However, I don't think we need hold the 1.11.0 release for this. We can move this issue to the 'known issue' section for now.

[2018-04-18 07:05] piotrzarzycki21 commented on #211
@rat-moonshine , @JoelProminic Again I have it on my list. The changing UI is not the only thing which should be done. It is planned on the next release not that one.

[2018-04-18 07:06] piotrzarzycki21 commented on #238
@rat-moonshine Please update then CHANGELOG with your finding. For 1.11.0 there is section for that.

[2018-04-18 07:08] piotrzarzycki21 commented on #238
Cool you did it! :) Sorry about that!

[2018-04-18 07:49] piotrzarzycki21 opened #239 "Creating PrimeFaces project should not create folder "obj" with config file"
When new PrimeFaces project is created we are create along with it folder "obj" with config file.
Creation of that folder should be omitted in case of PrimeFaces.

[2018-04-18 08:59] rat-moonshine commented on #148
I'm more or less done with this requirement. Once 1.11.0 released, we'll move to merge.

[2018-04-18 09:48] piotrzarzycki21 opened #240 "Make property panel in Visual Editor toggleable"
Property panel and list of components in Visual Editor is not always needed. This issue will be used for handle feature which allows close it - similar to the Console View in Moonshine.

[2018-04-18 23:04] JoelProminic commented on #218
I revisited this issue for the 1.11.0 release.  The current behavior looks good to me on macOS.

[2018-04-18 23:06] JoelProminic commented on #211
I confirmed that the Royale Browser Project template was removed from the menu.    I'm fine with waiting for further Royale updates until the next release.

[2018-04-20 07:00] piotrzarzycki21 commented on #182
Just for the note to myself. FlexJS references was removed App Store description.
I will remove the rest one before 1.12.0.

[2018-04-20 08:55] rat-moonshine commented on #148
Codes merged to 'master'. Having language-server issue when project deletes:

[2018-04-20 09:23] rat-moonshine opened #241 "Add 'go to line' functionality to the editor"
Can be an option somewhere inside the 'Edit' menu.

[2018-04-20 09:26] atingupta2005 commented on #199
I tested the basic form and found that the arrangement of the elements is distorted in exported project.

Please refer to below screenshots:

**The Output on Browser:**
![screen shot 2018-04-20 at 2 51 50 pm](https://user-images.githubusercontent.com/3568735/39043386-e75f733a-44aa-11e8-8871-ee0c0bb75d2d.png)

**The UI in Moonshine Designer:**
![screen shot 2018-04-20 at 2 54 47 pm](https://user-im

[2018-04-20 09:34] piotrzarzycki21 commented on #199
@rat-moonshine what container is inside Fieldset ?

[2018-04-20 09:37] rat-moonshine commented on #148
The above language-server error now handled. Feature is ready for test.

[2018-04-20 09:37] piotrzarzycki21 commented on #199
If there is no container, please raise issue that when you are using Fieldset without any container inside after export items are distorted.

In the meantime you can put inside Fieldset "Div" and add as many "Div" as you won't in order to create above UI.

[2018-04-20 09:59] rat-moonshine commented on #119
AIR SDK download issue is seems to be fixed now and patch also applied to the Windows Moonshine in-build SDK Installer (1.11.0). We can follow-up a release of MASH project with these fixes, separately.

[2018-04-20 09:59] #119 closed

[2018-04-20 11:08] rat-moonshine commented on #241
Added Ctrl+L or CMD+L to open Go To Line window. Open for test now.

[2018-04-20 11:35] piotrzarzycki21 commented on #241
@rat-moonshine The only change which I would make here is replace `prompt="#"` with something more meaningful. Maybe some text. Enter number...
Apart of that it is very useful feature! :)

[2018-04-20 12:32] rat-moonshine commented on #241
We already have input label and window title saying this. So again in prompt could be redundant message;  thus I choose to mark the prompt as some digit/number.

[2018-04-20 15:58] JoelProminic commented on #241
This looks fine.  I checked:
- This works quickly for a very large file (100,000+ lines)
- It is not possible to enter a negative number
- "0" will go to line 1
- If you enter a value outside of the line range, the prompt will not do anything.  The next valid line number will be fine
- The line numbers are consistent with the numbers returned by stacktraces, so this will be useful for debugging.

[2018-04-20 21:46] JoelProminic commented on #148
When a project is deleted, the base project directory is not deleted, which leaves unnecessary clutter on the fileystem.

In my original notes, I recommended that the new interface show the collapsed project tree initially.  The current implementation expands to show the first level of files/subdirectories in the project directory.  I think I like this behavior better - it provides some informatio

[2018-04-23 07:29] rat-moonshine commented on #148
Since this was a project deletion, I wanted the user to be absolute sure by prompting them with a 2nd alert against what they're going to do. The alert is removed now.

A new cancel button added. I have intentionally moved the 'Delete' button to left - so I want user needs to be sure what they're doing and reach to the button by moving their cursor/hand to left (and not clicking the delete button

[2018-04-23 07:31] piotrzarzycki21 commented on #148
Additionally I think added CANCEL button should be default. If user do Enter it should make CANCEL.

[2018-04-23 07:39] rat-moonshine commented on #148
We can do that. But what is the essence of Enter button in this form practically (?) Generally, when cancelling a popup we use the Esc key.

[2018-04-23 07:50] piotrzarzycki21 commented on #148
I think it is mainly if user accidentally hit enter having that window popped out. It happens to me from time to time.

On the other hand I see that in the IDE like Intellij "Delete" button is default. Wondering how it looks like in FB ?

[2018-04-23 08:17] rat-moonshine commented on #148
In Flash Builder, 'Delete' button is also default focused. However, with current dark button theme button focus in not very prominent in Moonshine.

[2018-04-23 08:27] rat-moonshine commented on #148
But again we arise to the same question - why would an user would want to Enter, when there is no input field, or even the focus visibility is not clear against buttons.

If focus visibility is not clear with current theme, then perhaps hitting enter and cancelling the form may create some confusion to the user on what happened. Or, maybe we someway we need to clearly mark any of the button so use

[2018-04-23 08:32] piotrzarzycki21 commented on #148
My concerns were only for the accidental hit of enter. If you want you can leave it as is.

[2018-04-23 11:36] piotrzarzycki21 commented on #148
@rat-moonshine Yes the issue which you are experienced is a Bug, but in SDK -> [FLEX-26797](https://issues.apache.org/jira/browse/FLEX-26797). - It wasn't fixed.

In order to workaround it you shouldn't use FocusManager. You are using TitleWindow, so setup for title window default button - same as [here](https://github.com/prominic/Moonshine-IDE/blob/85109022abcc3e7f7afdb84aa5d22fd41a7f2129/ide/Mo

[2018-04-23 11:46] rat-moonshine commented on #148
Thanks for the info link @piotrzarzycki21 .

The alternate solution you've mentioned, I see this is another way (along with using the `defaultButton` property to the TitleWindow). But in both the cases we need to update the button's skin and rendering again.

I'm curious, why we shouldn't use FocusManager in this case?

[2018-04-23 11:52] piotrzarzycki21 commented on #148
I'm sorry probably I should be more clear here. I didn't mean that you shouldn't use at all FocusManager - I mean that in this solution you shouldn't use it because there is a way where you can pass whole responsibility to the Flex internal mechanism.  - defaultButton, but since there is problem in Flex itself you will have to manually set skin for button. - It is not so bad after all, you are set

[2018-04-23 12:17] rat-moonshine commented on #148
Yes, that explains the view, @piotrzarzycki21 .

[2018-04-24 04:42] rat-moonshine commented on #148
The design mainly proposed here keeping in mind the problem that Atin has faced in past. We did introduced other measure like updated path prompt in project creation dialog, but we really can't be 100% sure if an user choose to do strange things.

In that case, I think this new designed project deletion, might help (to an extend).

I don't like an empty left directory on my system either. In that

[2018-04-24 05:58] piotrzarzycki21 commented on #148
I was always surprised that Moonshine is deleting whole project. I'm using IDE (Intellij) which absolutely do no delete source files. Imagine that you have really important old project, not stored anywhere and you do Delete.
If current solution remove only Moonshine project related files - I'm fine with that.
I had only strong comments to the code which seems to be not applied and I do have more.

[2018-04-24 06:07] piotrzarzycki21 commented on #148
I can say even more in Intellij even project files are not deleted. Each project is a "Module" in that IDE. Once you make Delete - IDE is asking you whether Module should be removed from the list. After delete you are seeing only such files:

![image](https://user-images.githubusercontent.com/24554795/39169013-56ba86be-4796-11e8-98a6-9ca802d16ef4.png)

Of course all the source code is still on the

[2018-04-24 06:16] piotrzarzycki21 commented on #199
@atingupta2005 any update on that ? Can you please raise the issue and address my question.

[2018-04-24 06:49] rat-moonshine commented on #148
I do agree there are other IDEs which provide options between 'move to trash' or just remove the reference from their workspace. Like in Flash Builder it ask if we want to delete the files/folders or just remove the reference from its sidebar, or in XCode it asks if we want to remove the file to trash or just reference from the project (against a file).

The delete project design however we starte

[2018-04-24 07:22] #238 closed, assigned to rat-moonshine

[2018-04-24 07:31] atingupta2005 commented on #199
Hi,

While testing I found that all the UI components are reposition to the Left Top position if I Close and Open the Project again. Attached are the screenshots:

![screen shot 2018-04-24 at 12 35 59 pm](https://user-images.githubusercontent.com/3568735/39172478-8453f8f2-47bf-11e8-9f72-69d550468bcf.png)
![screen shot 2018-04-24 at 12 41 47 pm](https://user-images.githubusercontent.com/3568735/391

[2018-04-24 07:56] atingupta2005 commented on #199
I am further testing the other things on it and I also just put some more
issue in the thread.

On Tue, Apr 24, 2018 at 11:46 AM, Piotr Zarzycki <notifications@github.com>
wrote:

[2018-04-24 08:03] piotrzarzycki21 commented on #199
@atingupta2005 I see on your screenshot that you are opening exported project in Moonshine. You should not do that. Exported project is not a Moonshine project but PrimeFaces.

[2018-04-24 08:08] piotrzarzycki21 commented on #199
I think I should propose exporting project not inside Visual Editor project directory, but in the parent. That's why you probably did that.

[2018-04-24 08:25] rat-moonshine commented on #199
@atingupta2005 , I would suggest to create separate issues to each of your finding, so it'll be easy to keep track of thing.

[2018-04-24 10:59] rat-moonshine commented on #18
I would like to revisit this issue.

My suggestion is to use HTML component to display a file saved somewhere to the Moonshine website, or GitHub. This will also support the suggestion from @piotrzarzycki21 to not to parse content separately (at Flex side) but display as things come.

However, this solution may not render CHANGELOG.md file's markup precisely; I think this should be in a considerat

[2018-04-24 14:57] piotrzarzycki21 commented on #182
@JoelProminic could you please remove FlexJS from the GitHub description along with the tag #flexjs.
Can we have also there following tags: #moonshineide #actionscript #apacheflex #apacheroyale #feathers #adobeair #cloud-support #ide

[2018-04-24 22:42] JoelProminic commented on #182
I updated the GitHub descriptions and tags.  I did not remove the shorter versions of the tags that you listed above (i.e. #air, #flex, etc.

As for backwards compatibility, I don't want us to spend a lot of effort with this, but if there is something easy that we can support to offer some backwards compatibility, that would be nice.

For example, we might want to allow the user to open an old Fle

[2018-04-25 05:25] rat-moonshine opened #242 "Provide 'duplicate' option against files in the sidebar"
Provide a file 'Duplicate' option through context-menu in sidebar. This suppose to receive two parameters:
- New name
- Target path (default is the same path)

[2018-04-25 07:04] atingupta2005 opened #243 "All the UI components are reposition to the Left Top position"
Hi,

While testing I found that all the UI components are reposition to the Left Top position if I Close and Open the Project again. Attached are the screenshots:

**The screenshot before closing:**

![screen shot 2018-04-25 at 12 23 43 pm](https://user-images.githubusercontent.com/3568735/39230518-60463482-4884-11e8-9459-bfce0482aae4.png)

**The screenshot after closing and then opening again:**

[2018-04-25 07:06] atingupta2005 opened #244 "Dragging the controls for repositioning does not work sometimes"
While I am dragging the UI controls on the design pane, it seems to be difficult as the dragging functionality doesn't work all the times. I need to try multiple times for dragging before it works.

[2018-04-25 07:06] atingupta2005 opened #245 "Label and InputText should be together"
The controls in control palate - Label and InputText should be together as the user mostly uses these 2 controls frequently together. Currently the user has to scroll up and down to pick each control one by one from the palate.

[2018-04-25 07:28] atingupta2005 opened #246 "Some features to enhance Visual Editor"
- It would be very convenient to CTRL C and CTRL V to copy and paste the UI Controls. We can also provide CTRL D to duplicate the selected UI control.

- The UI control property to specify the validations like - Required, Range etc would be very helpful.

- The labels of the UI controls should be space separated. Refer to below screenshot:

![screen shot 2018-04-25 at 12 51 33 pm](https://user-ima

[2018-04-25 07:50] rat-moonshine commented on #242
After creating new/duplicated file I'm not opening it to the editor, but I'm open for suggestion.

Known bug:
- Duplicate a MXML file to a folder outside of the project's source folder (i.e. inside bin-debug, or build directory)
- Try to open the newly created file after being created
- Language server reported problem in console:
`: Could not create compilation unit for file (final fallback): C:\

[2018-04-25 07:56] rat-moonshine commented on #244
Can you report this with some basic screen recording, @atingupta2005 ? You can use ScreenToGif tool to record the problem.

Also, please confirm if is this re-producible every time?

[2018-04-25 08:47] rat-moonshine commented on #18
Having WebView support through ANE in an Adobe AIR project is expensive. Previously, Distriqt tried to do this but their target pledge failed at Kickstarter.

There are some developers still building features on this using MKWebView on macOS desktop (and other relative platform), one probable destination is this: https://github.com/tuarua/WebViewANE.

However, when I asked that whether we can buil

[2018-04-25 09:00] piotrzarzycki21 commented on #245
I'm not sure if we should do that. In most Visual Editors those components are separate. Even in PrimeFaces.

[2018-04-25 09:07] piotrzarzycki21 commented on #246
I believe name of the components should stay as it is, because they are the same as in PrimeFaces. The rest of the points are definitely valid.

[2018-04-25 10:26] piotrzarzycki21 commented on #243
It happened because we are not care on the Flex sight x and y properties. It is because in HTML there is not such things. I'm going to put to the Fieldset Div component as default and give user ability to manipulate children as it we have currently in Div.

I may break current project which you have created, but it should not be an issue since we were not released yet PrimeFaces stuff.

[2018-04-25 10:55] rat-moonshine opened #247 "Introducing Undo/Redo in Visual Editor"
[This is a sub-issue from features requested in #246 ]

From @atingupta2005,

## Optional:
The undo/redo feature is already available to Moonshine text editor, however, the options are not in the application's `Edit` menu in a fashioned manner. I personally don't use this feature from menu options, but we can consider the features to be available in the menu section.

## Required:
Visual editor on

[2018-04-25 12:53] piotrzarzycki21 commented on #243
@atingupta2005 I just pushed fix for that issue. From now on Fieldset will have predefined behavior which we were able to mimic from HTML world. Let me know if it is satisfactory.

[2018-04-25 13:11] piotrzarzycki21 commented on #182
Thanks! I think I'm done with changes in IDE. User still will be able to open FlexJS projects, but not create new one.
The only thing which is still to do is changing screenshot on the website, but I think I will do that once we will be closer to the next release.

[2018-04-25 13:23] piotrzarzycki21 opened #248 "Introducing Copy/Paste of components in Visual Editor"
Extracted from #246, raised by @atingupta2005

[2018-04-25 13:31] joshtynjala commented on #242
You are duplicating the file into a folder that isn't one of the project's source folders, so the language server is behaving as designed.

I guess I could make the wire more clear. Instead of saying that it's simply a fatal error, I could modify it to say something like "MyFile.mxml is not located in the project's source path. Error checking disabled, except for simple syntax problems."

[2018-04-25 16:06] joshtynjala commented on #242
Actually, I just reviewed my code in the language server and my explanation wasn't entirely accurate. The language server will actually try to provide code intelligence for files that are either in external source paths or *anywhere* in the project folder. That includes non-source folders in the project directory. Since this file is not in a source folder, the compiler that powers code intelligenc

[2018-04-25 16:40] rat-moonshine commented on #242
I agree with the decision, @joshtynjala .

[2018-04-25 17:00] rat-moonshine commented on #242
@joshtynjala , we're exploring options to update a duplicated ActionScript file name and its package details inside the file.

Is there any way already exists to the language server which can update a class file accordingly, other than replacing any syntax that match the old file name?

[2018-04-25 17:03] joshtynjala commented on #242
No, the language server doesn't have that capability.

[2018-04-26 07:36] atingupta2005 commented on #244
Attached below is the recorded GIF.

![vedragging](https://user-images.githubusercontent.com/3568735/39292051-982f8672-4952-11e8-8b86-407f6fcc1d4f.gif)

[2018-04-26 07:42] atingupta2005 opened #249 "Issue while moving the UI Controls using Keyboard Arrow Keys"
Hi,

While I select a UI control and use keyboard arrow keys to reposition it, the entire design pane is moving right or left. Also the focus is shown wrongly if I use mouse and scroll the screen.

I have recorded the video in GIF to show:

![vedraggingkb](https://user-images.githubusercontent.com/3568735/39292315-709d1b3c-4953-11e8-9f50-b6fd8d1f61aa.gif)

[2018-04-26 10:32] piotrzarzycki21 commented on #243
Reopen if it won't be enough.

[2018-04-26 10:32] #243 closed

[2018-04-26 10:47] #239 closed

[2018-04-26 10:48] piotrzarzycki21 commented on #239
I'm preventing from creating configuration file for Visual Editor projects.

[2018-04-26 11:09] rat-moonshine opened #250 "Misc bugs in new file popups"
- **New ActionScript File** popup showing multiple warnings against user input:
![image](https://user-images.githubusercontent.com/24370870/39302476-5ac51266-4970-11e8-9b6c-90b98db73817.png)
- **New File** popup do not showing duplicate file warning

[2018-04-26 11:27] rat-moonshine commented on #242
Duplicating an ActionScript file now updates its class name and package path in following basic areas and conditions:

- If file duplicates to off-source folder, no action taken
- Checks and updates first occurrence of "package" reference
- Checks and updates first occurrence of "class [name]"
- Checks and updates first occurrence of the constructor function

However, when the above updates may no

[2018-04-26 11:57] rat-moonshine opened #251 "ActionScript file popup do not import class statement automatically"
While having the "Superclass" and "Interfaces" field is handy to new ActionScript file popup, supplying the information not auto-import class paths to the file, which breaks the file (during compilation). User needs to manually import the class statement later which reduce the usability of supplying the fields to the new file creation popup.

![image](https://user-images.githubusercontent.com/2437

[2018-04-26 15:28] piotrzarzycki21 commented on #251
That enhancement makes me realize that we may have everything what is needed for that issue. Makes autocomplete available here should also allows use import mechanism. Are you going to work on that ?

[2018-04-26 15:31] rat-moonshine commented on #251
I can plan to start on this after #247 . However, if you have some plan you can jump into before me, and raise whichever portion you can complete by the time.

[2018-04-26 15:34] piotrzarzycki21 commented on #251
I've been looking into the language server a bit, so I may have some idea how to achieve that. I will take it.

[2018-04-26 17:13] piotrzarzycki21 commented on #244
@atingupta2005 I think you won't have anymore problems with Fieldset - because positioning is from now on like in Div component.

[2018-04-26 17:13] #244 closed

[2018-04-27 09:04] rat-moonshine commented on #250
As @JoelProminic reported that we probably want to ignore case sensitive check against duplicate file check (in a case-sensitive system), I adjust something to overcome this problem in a case-sensitive machine. However, I don't have any system that is case-sensitive so I leave this issue for a test.

[2018-04-27 09:38] piotrzarzycki21 commented on #220
I think I have finished basic functionality for that. It would be great if someone could play with IT a bit.

[2018-04-27 09:38] #220 closed

[2018-04-27 10:39] piotrzarzycki21 commented on #249
It should be fixed with changes in #243 and #244 - You basically won't be able to move components inside containers.

[2018-04-27 10:45] piotrzarzycki21 commented on #249
Actually I have also check with Flex Visual Editor and there is no issue here. In Flex you will still be able to move components by arrows. As you can see on the GIF surface area for main window is smaller, so there are horizontal/vertical scrollbars. When I'm doing movements scrollbars react for the arrows - which is perfectly fine.

![move_controls_flex](https://user-images.githubusercontent.com

[2018-04-27 10:45] #249 closed

[2018-04-27 11:01] piotrzarzycki21 commented on #188
@nihavend I just noticed that second character is a question mark on your screenshot. Can you paste here name of the file. I would like to try it out in Moonshine 1.11.0.

[2018-04-27 12:31] piotrzarzycki21 commented on #251
@joshtynjala I did look into that a bit and I have a question related to language server. The goal here is to have completion list when I'm typing during file creation. In the results it would looks similar as in intellij:

![completion_in_window](https://user-images.githubusercontent.com/24554795/39362358-735ba356-4a26-11e8-9b43-38b79faeb382.gif)

However in order to invoke code completion list y

[2018-04-27 15:34] joshtynjala commented on #251
@piotrzarzycki21 The language server has a workspace symbol command that seems appropriate here. It wouldn't require an editor or a new instance of the language server. We have a dialog for search workspace symbols already, but it should be possible to also expose the command with an event or something to simply return the array of raw data.

You'd get many extra symbols that you don't need, but y

[2018-04-28 17:56] Nisaba opened #252 "Build and Run Command doesn't work"
Hi,
For some reason, the Control + Enter command doesn't work anymore on my project; although it worked well before...

The project builds well but it doesn't run anymore...

[2018-04-28 19:37] piotrzarzycki21 commented on #252
Try following steps:
- Close all projects
- Reset all settings - you should find option for that in general settings.
- Setup everything and open project again

[2018-04-28 19:49] Nisaba commented on #252
done,
but the project doesn't run...

[2018-04-29 03:07] piotrzarzycki21 commented on #252
What do you see in the console when you choose from menu Build & Run?

[2018-04-29 11:25] piotrzarzycki21 commented on #252
I think I see that one with one of my Apache Royale project. I thought it something wrong with my project, but it looks like not. It's hard to reproduce, but I will try to take a look into that tomorrow!

Thanks for trying Moonshine!

[2018-04-30 04:53] rat-moonshine commented on #250
We're using standard API library to adjust between cases, along with the 'exists' method to determine if the 'adjusted case' file is exists.

[2018-04-30 15:59] piotrzarzycki21 commented on #252
I couldn't find root cause of that issue, but I have added console logs when application is launching and started. Once next version will be release I will ask you for some retest.

[2018-04-30 16:29] piotrzarzycki21 commented on #251
Thanks @joshtynjala I see now how to do that.

[2018-04-30 18:44] Nisaba commented on #252
ok, no problem !

[2018-05-01 16:03] rat-moonshine commented on #247
While testing these @JoelProminic reported following issues:

1. Add a Div
2. Change the Width to 240 - hit Enter to apply the change
3. CTRL-Z - the Width value changes to "2", but the window size does not change
4. CTRL-Z - the Div is removed
5. Click in the editor window.  If I don't do this, then CTRL-Y does nothing in step 6
6. CTRL-Y - the Div is restored at the modified size

Along with the

[2018-05-02 05:39] rat-moonshine commented on #247
Fixed.

[2018-05-02 05:45] rat-moonshine commented on #247
Measure taken to preserve focus to the stage after an item deletes in order to keep listening key press events.

[2018-05-02 08:18] piotrzarzycki21 commented on #247
I decided to write more thoughts about implementation here.
**PropertyChangeReferenceVO class:**
This class is definitely do not looks like VO or Model. It get's view and make changes on the view. In my opinion following changes should be done:
1. This class should be moved to [view/supportClasses](https://github.com/prominic/MockupVisualEditor/tree/visual_editor_undo_redo_ref_247/src/view/suportC

[2018-05-02 08:39] rat-moonshine commented on #247
Thank you for placing your detailed opinion, @piotrzarzycki21 . Following are my thoughts in-line. Please, check.

Sounds Okay to me.

Although, this does created value object in mind, but it also has methods to affect view. I don't have any strong opinion to not to change the name, this will hardly affect the design.

I do need to access `EditingSurface` component's `deleteItem(..)` method. Do yo

[2018-05-02 09:04] piotrzarzycki21 commented on #247
It does create VO in mind, but it does not a VO. Value object or models are holding data and moving them to the other places. They are not doing anything with the data. This class is more like a controller or manager.

You have and ISurfaceComponent in that manager. Since you do have it it means that you do have also the parent container to which that component has been added. You are not always a

[2018-05-02 09:13] rat-moonshine commented on #247
You did not get me entirely. I do have its parent in an `ISurfaceComponent` class. But that need not to be EditingSurface (as you also pointed out) and I don't want to get in a logical check to understand which class' parent could be EditingSurface and in which case it's not. To call the deleteItem(..) method resides in EditingSurface, I need an easy access to the EditingSurface - my point is not

[2018-05-02 09:55] #250 closed

[2018-05-02 10:00] rat-moonshine commented on #148
If we are good with the current functionality, then we probably want to release this in next version. Please, re-open if any changes we need.

[2018-05-02 10:00] #148 closed

[2018-05-02 11:11] rat-moonshine opened #253 "Grid particular cell accepts component"
- Create a Grid component
- Create 2nd Row - R2
- Create 2nd Column in 'R2' - C2
- Drag any component to the R1/C1 cell - it accepts and add the component
- Drag any component to R2/C1 or R2/C2 - cell do not accepts dragged component
- Dropped components added outside of Grid component

[2018-05-02 11:28] piotrzarzycki21 commented on #247
I got you what do you mean by using EditingSurface. In that case please use inside methods events for that purpose. Once you need to call deleteItem use:

`yourcomponent.dispatchEvent(new SurfaceComponentEvent(SurfaceComponentEvent.ComponentAdded, [mycomponent]))`

In case of remove item use `SurfaceComponentEvent.ComponentAdded` - You should be able to remove parameters thanks to that events from

[2018-05-02 11:29] rat-moonshine commented on #253
![ccproblem3](https://user-images.githubusercontent.com/24370870/39520965-2cd982e2-4e2a-11e8-8b9c-457b92c3f701.gif)

[2018-05-02 11:37] piotrzarzycki21 commented on #253
@rat-moonshine I have pushed updated version of Visual Editor. Please try now. I have made changes in that area.

[2018-05-02 11:43] rat-moonshine commented on #247
I need to think about this your suggestion:

yourcomponent.dispatchEvent(new SurfaceComponentEvent(SurfaceComponentEvent.ComponentRemoved, [mycomponent]))

This will make the EditingSurface add a listener against the ISurfaceComponent. While in undo/redo a chain of process can be broken with newer chains. In that case its possible the EditingSurface left with non-garbage listeners. There could be

[2018-05-02 11:49] piotrzarzycki21 commented on #247
[EditingSurface is registering for that events](https://github.com/prominic/MockupVisualEditor/blob/51a0313202512c60b20588381dabf80d18dfffe1/src/view/EditingSurface.mxml#L229). They were created in case when you have some internal components which should be part of the Drag/Drop mechanism.
I would think about cleaning up them, for now I'm interested if that type of communication can work for you.

[2018-05-02 11:49] rat-moonshine commented on #253
Latest push seems fix this problem. I'm closing this issue.

[2018-05-02 11:49] #253 closed

[2018-05-02 11:50] piotrzarzycki21 commented on #253
Thanks for looking into that.

[2018-05-02 11:50] rat-moonshine opened #254 "Grid property editing affects only cell"
![ccproblem34](https://user-images.githubusercontent.com/24370870/39521670-213a4414-4e2d-11e8-9857-4b788f6b0bcb.gif)

[2018-05-02 11:51] rat-moonshine commented on #253
I've created another related issue, please check at #254 .

[2018-05-02 11:55] piotrzarzycki21 commented on #254
I see that between drop and edit you have deselected Grid which go back to R1/C1 selection. That's why changes to the cell affects only R1/C1 instead R2/C2.

Do you want me somehow remember last selected Row/Cell ?

[2018-05-02 11:56] rat-moonshine commented on #247
I'm still a bit uncomfortable with the amount of events that needs to run Moonshine many features. I generally oppose of having too many event listeners but this is the case at this moment.

I will think about this @piotrzarzycki21 . Thank you for suggesting.

[2018-05-02 12:02] piotrzarzycki21 commented on #247
I believe some framework like Parsley or Switz could help us with communication between layers. Since we do not have it - events are the cleanest way, they just keep things loosely coupled.

Maybe some day once we will be enough big we will start rewrite things from scratch - then we use some framework.

[2018-05-02 12:17] piotrzarzycki21 commented on #247
1. What was the scenario for that - did you just removed Grid from the editing surface ?

[2018-05-02 12:18] rat-moonshine commented on #247
I basically likes protocol driven coding more than than events driven. Which is also now most practiced ways in newer language like react, swift, angular etc.

[2018-05-02 12:26] rat-moonshine commented on #254
I think while setting properties against a particular selected cell (i.e. R2/C2), that remains available even after deselecting Grid. Practically you probably wants to have individual property editing value for every cell created, so you can preserve those options even after Grid deselects, and re-populate the editing UI based on cell selection.

[2018-05-02 17:18] JoelProminic opened #255 "Unexpected Drag Behavior with Layout in Visual Editor"
I noticed some examples with the moving elements in the current layout logic.  For example, starting from this layout:

![image](https://user-images.githubusercontent.com/24532731/39538535-bf35ee78-4e02-11e8-9aaa-1453c27035e7.png)

If I grab the one/two/three Div and move it slightly to the right, then it snaps to the far right.

![image](https://user-images.githubusercontent.com/24532731/39538567

[2018-05-03 10:39] piotrzarzycki21 commented on #254
Selected row/column from now on is remembered. You should not experience that issue anymore.

[2018-05-03 11:07] rat-moonshine commented on #254
I gave some tests. I confirm cells now remembers individual property assignment values.

I also noticed change of property assignment is not possible unless deselect the Grid component, and re-select the component with target cell selection. Following were my test procedures:

1. Create two rows - R1, R2
2. Create three columns in R2 - C1, C2, C3
3. While having the selection on R2/C1, select "Wra

[2018-05-03 11:10] rat-moonshine commented on #254
I also noticed something which may not be very critical, but this may lead some visual confusion between current selected and non-selected cells. In following image I able to multiple red border colored cell. If the color is suppose to point the current selected cell, then this maybe not working unexpectedly. However, if this would take long time to fix, we can choose to stop this color selection

[2018-05-03 11:14] piotrzarzycki21 commented on #254
@rat-moonshine Those colors are only pointing to express better visibility of rows/cells. It's not points which row/cell is selected.

[2018-05-03 12:34] piotrzarzycki21 commented on #254
@rat-moonshine I just pushed fixes for those issues. Please check.

[2018-05-03 15:33] rat-moonshine commented on #254
I'm not sure if I'm missing something, but I pull latest codes and swc multiple time with 'master', but I don't see any difference from my earlier result/report. I also see the presence of red borders to random cells.

[2018-05-03 16:41] rat-moonshine opened #256 "Remove 'PrimeFaces Project' option from the File > New"
"File > New" dialog should display same amount of project creation options as provides through the splash screen. At present the menu option also provides `PrimeFaces Project` which seems to be broken (opening wrong project creation dialog). We need to remove it.

![image](https://user-images.githubusercontent.com/24370870/39590102-8df40cf2-4f1d-11e8-97c0-6f1d03f87484.png)

[2018-05-04 06:14] rat-moonshine commented on #246
Do we want to have a separate issue on this, @piotrzarzycki21 ?

Most of the suggestions has raised as separate issues, perhaps its good to close this one.

[2018-05-04 06:54] atingupta2005 opened #257 "Unable to create New Project in the Bamboo Moonshine Build"
Hi,

I am getting an strange issue while testing the Bamboo Build of Moonshine. Below are the findings:

1. When I run Moonshine (Bamboo Build) and create a New Project, the Project creation window opens as expected but when I click on the Create button after filling the required details, the Project window closes without any project creation.

Below are few required details:

MAC Version: MACOS S

[2018-05-04 07:27] piotrzarzycki21 commented on #246
@rat-moonshine I think we should raise separate issue. What do you mean by validations ? In property editor ?

[2018-05-04 07:34] piotrzarzycki21 commented on #254
@rat-moonshine I didn't remove red borders yet. I will look at it again.

[2018-05-04 07:35] piotrzarzycki21 commented on #257
@rat-moonshine it seems to me that this has been fixed in #256 ?

[2018-05-04 07:48] rat-moonshine commented on #254
In my tests I didn't find any differences that I reported as step 1- 7, though.

[2018-05-04 10:27] rat-moonshine commented on #257
@atingupta2005 , I see this is the sandbox issue you're facing with macOS. I tried the following things and did able to reproduce your situation:

- Opened existing Moonshine
- Opened "Edit > Access Manager"
- In opening window, I choose "Revoke All Access" - this removed all my existing bookmarked/accessible sandbox paths from Moonshine
- I did a restart (just as a safe measure)
- Tried to create

[2018-05-04 10:56] piotrzarzycki21 commented on #254
Please try again and let me know if something changed.

[2018-05-04 15:33] rat-moonshine commented on #254
I have re-tested with newer SWC and I confirm:
- Selecting a particular cell in property editor repopulates its existing property values
- Deleting any cell reset the selection to first item in the panel and shows the selected cells existing property values
- Adding any cell auto-selects the newly created cell and shows its default property editing values

This looks good in my tests. The random r

[2018-05-04 19:58] JoelProminic commented on #257
@rat-moonshine updated Moonshine to clear the Project Directory list when the user ran "Revoke All Access" from the Access Manager.

However, I am not convinced that this was the start of the problem.  @AtinProminic, do you remember using this interface in your testing?

In order to report similar problems in the future, I requested that we give an alert to the user if the target Project Directory

[2018-05-07 08:17] piotrzarzycki21 commented on #254
@rat-moonshine I have changed color to #7096ab

[2018-05-07 08:17] #254 closed

[2018-05-07 08:42] rat-moonshine commented on #238
I mistakenly thought that this issue is yet to be resolve, thus moved the issue to 'Feature' from 'Next Release' sprint. As I see it's already fixed, restored back to 'Next Release'.

[2018-05-07 09:32] rat-moonshine commented on #257
The alerts which I had added before the said test, was suppose to work slight differently:

1. User may already has access to ~/Desktop
2. File > Access Manager - Revoke All Access
3. File > New > Flex Desktop Project
4. User tries to create a project at ~/Desktop where s/he do not have access anymore
5. Project creation dialog close and an alert fires saying the reason of project creation termina

[2018-05-07 10:35] rat-moonshine commented on #246
As one suggestion goes by @atingupta2005 ,

Do PrimeFaces components does have any such in-build validation methods, i.e. setting max characters etc. (although I'm not very sure about request either).

[2018-05-07 14:51] piotrzarzycki21 commented on #246
I haven't seen any validation mechanism in such components. In flex if you put errorString it will show red border around component. In PrimeFaces it seems that we need to use for example InputMask to achieve something.

[2018-05-07 15:29] rat-moonshine commented on #246
If we're unsure about such thing, then let's close this issue. Other important issues already raised as separate issues and will follow separately.

[2018-05-07 15:33] piotrzarzycki21 commented on #246
Issues has been handled separately respectively #247, #248

[2018-05-07 15:33] #246 closed

[2018-05-07 16:28] joshtynjala commented on #251
@piotrzarzycki21 I will try to update the workspace symbols command to return framework classes in a future version of the language server.

[2018-05-07 16:30] piotrzarzycki21 commented on #251
Many thanks. I will finish than implementation on my sight to be ready for that.

[2018-05-08 05:14] rat-moonshine commented on #245
As we don't have any plan to introduce new component 'set' (multiple components in a group) I'm closing this issue. User can still group components and copy/paste them to reuse when #248 is over.

[2018-05-08 05:14] #245 closed

[2018-05-08 05:33] rat-moonshine commented on #18
Here is the response from the developer on asking a compiled source:

We can start investigation from this point.

[2018-05-08 09:45] rat-moonshine commented on #18
I able to run the supplied example with provided .ane files through Moonshine.

I able to get a view like this which seems to be a running native web view in macOS, but no website were loading:
![screenshot](https://user-images.githubusercontent.com/24370870/39750348-9e766454-52d2-11e8-9106-f1ff6ec1c569.png)

I reported the issue asking help to the Git https://github.com/tuarua/WebViewANE/issues/1

[2018-05-08 10:26] piotrzarzycki21 commented on #203
I have tested it with your update and it's fixed.

[2018-05-08 10:26] #203 closed

[2018-05-08 10:36] piotrzarzycki21 commented on #145
@JoelProminic can you try to retest that with 1.12.0. I tested it today and everything seems to be working with your scenario.

[2018-05-08 10:47] rat-moonshine commented on #145
I tested with latest pull from Git on macOS. While in my test the 2nd bug report of @JoelProminic seems fixed, the former one remains.

[2018-05-08 16:09] rat-moonshine commented on #145
As I've mentioned my test reports (above) in Windows, macOS tests also result similar. However, I encountered an index range error while doing this test:

11. Select "abcd()" and hit Enter
12. BUG: The inserted string was 'abcd="' instead. So, the whole line was: 'creationComplete="abcd="">'

Although, the functionality completes after the debugger error - user may not encounter this error in a pa

[2018-05-08 16:19] piotrzarzycki21 commented on #145
Did you build version from Flash Builder or is it version from Bamboo ?

[2018-05-08 16:25] joshtynjala commented on #145
In my previous attempts to reproduce, I missed that Joel added the extra step of typing *abc* before you press Ctrl+Space. I can reproduce now.

[2018-05-08 20:07] JoelProminic commented on #242
I tested a variety of cases for duplicating a file or class:
- .mxml
- .xml
- .as to same directory
- .as to different package
- .mxml to non-source directory
- .as to non-source directory

I did testing on both Flex Desktop and Royale projects.  The duplication and class update logic seems to be working well.

However, I noticed that if I entered the same name for the duplicate file, I got an err

[2018-05-08 20:12] JoelProminic commented on #250
I ran a test on a case-sensitive workstation, and I can create files and directories that differ only by case (TestClass.as vs testclass.as, src vs SRC).  This looks fine to me.

[2018-05-08 20:26] JoelProminic commented on #256
I confirmed that the "PrimeFaces Project" entry is removed from both the menu and the home screen.

[2018-05-08 20:29] JoelProminic commented on #238
I confirmed that I can rename a template.  The template name is updated immediately under File > New.

I noticed that the custom templates do not appear on the Home screen.  Is this intentional?

[2018-05-08 21:07] JoelProminic commented on #241
Retesting this feature on MacOS today, I noticed some problems that I didn't see during my previous tests:
1. Open a file
2. CMD-L  (at one point in my tests, CMD-L did not work but CTRL-L did.  I was not able to reproduce this)
3. Enter a valid line number and submit
4. BUG: the updated editor tab does not have focus
5. Click on the tab header.  The cursor was placed at the correct line.

I did n

[2018-05-09 04:43] rat-moonshine commented on #145
As a correction to @JoelProminic 's comment, I did not able to reproduce the error on 12. 6 is still failing for me, too.

[2018-05-09 05:05] rat-moonshine commented on #242
Message rectified.

[2018-05-09 05:05] #242 closed

[2018-05-09 05:08] rat-moonshine commented on #238
Yes, it is intentional.

[2018-05-09 05:14] rat-moonshine commented on #241
When I tested this on Windows, I able to reproduce this in Windows too, in certain steps:

1. Make sure you have a class file opened to editor
2. Restart Moonshine
3. Moonshine restarted and auto-opened the last opened files in editor
4. I can see the cursor is blinking at 0th index of first line in opened editor
5. **I received a version update alert of Moonshine as popup**
6. Closed the alert by

[2018-05-09 07:42] atinprominic commented on #257
Hi,

I have tested it again using the latest Bamboo built and found that the issue is now resolved

Thanks

[2018-05-09 07:49] atinprominic commented on #243
But now the position of the UI controls can't be changed and all the elements are being positioned one after the other.

Please check the attached screen recording.
![vereposition090518](https://user-images.githubusercontent.com/34882311/39802397-89f6c852-538b-11e8-8658-f59ffea2891b.gif)

[2018-05-09 07:54] atinprominic commented on #257
I have found an issue that if I create the project without manually re-selecting the path to Parent Directory, it behaves wrong as reported. Once I re-select the same directory using "Change" option, it behaves as expected. Attached is the screen recording.
![vereposition090518](https://user-images.githubusercontent.com/34882311/39802701-5819c928-538c-11e8-8642-85763aea087e.gif)

[2018-05-09 08:10] piotrzarzycki21 commented on #243
@atingupta2005 your Div is cut - I don't see any control in eat which you are dropping. Please record whole moonshine area.

As for your concerns - Yes as default your controls will be laying out horizontally - you can change laying out them vertically in property editor etc. We are mimic partially Div behavior in browser.

[2018-05-09 08:11] atinprominic commented on #253
I have tested it. Its working as expected now.

[2018-05-09 08:12] piotrzarzycki21 commented on #257
@atingupta2005 please record again that GIF with whole area of Moonshine. I really don't see what you are doing.

[2018-05-09 08:30] atinprominic commented on #257
Hi

 

I have tried multiple times but the issue is not occurring now. It seems that it occurs only a few times. I have restarted Moonshine as well but the issue reported is not occurring again.

 

I will record a video again if the issue appears again

 

Thanks
Atin

 

 

----- Original message -----
From: "Piotr Zarzycki" <notifications@github.com>
To: "prominic/Moonshine-IDE" <Moonshine-IDE@

[2018-05-09 08:47] rat-moonshine commented on #241
Measure taken, please, check.

[2018-05-09 08:47] #241 closed

[2018-05-09 08:56] rat-moonshine commented on #257
Please, try to do with a fresh installation or whatever you may have did before recording your earlier GIF to revoke your earlier file system access @atingupta2005 , and make sure your recorded GIF also has the console area in frame.

Do you remember if you have seen any error report to console during your following report:

[2018-05-09 10:07] rat-moonshine commented on #257
I see another scenario where we'll need to alert the user on lost file system access (as we did in case of new project creation):

- Create new projects and have them opened to the sidebar
- Make sure they run well
- File > Access Manager - Revoke All Access
- Try to 'Build & Run' any opened project
- Moonshine fails silently

I'm working on this now.

[2018-05-09 11:37] rat-moonshine commented on #257
I noticed that 'Build & Run' do has checks for un-accessible paths prior to the build. It was checking against the different file object access inside the project, but it wasn't checking the root project's path. Now, this check also added.

Along with this, 'Revoke All Access' now alerts the user with possible outcome before continue:
[code]

We can work on the message sentence, though.

[2018-05-09 13:16] piotrzarzycki21 commented on #251
I have finished part where we have code completion in above popup based on `TypeAheadEvent.EVENT_WORKSPACE_SYMBOLS` event. I will commit everything once we release 1.12.0. The next stage in that task is to have imports in place when user hit "Create" file. How actually approach to that task?

The EVENT_WORKSPACE_SYMBOLS event gives me only [name](https://github.com/prominic/Moonshine-IDE/blob/mast

[2018-05-09 14:11] piotrzarzycki21 opened #258 "Library added to "Libraries" are saved in "external-library-path" instead of "library-path""
I'm working on setup large Flex application in Moonshine. During setup one of the swc I have discovered that adding links do some libraries in "Libraries" section of settings are landed in "extenral-library-path" instead "library-path".

[2018-05-09 15:48] JoelProminic commented on #241
I confirmed that the focus issue is fixed.  Both CMD-L and CTRL-L work in the macOS build.

[2018-05-09 15:50] piotrzarzycki21 commented on #258
@rat-moonshine I did fix for that. You can take a look into the commit. If it's possible it will be great to have it in 1.12.0.

[2018-05-09 16:08] JoelProminic commented on #242
I confirmed that I get the new message.  @rat-moonshine reported that the message was completely replaced.

[2018-05-09 16:09] JoelProminic commented on #257
I see the new prompt on Revoke All Access, and it looks fine.   I also confirmed that I am prompted to fix the dependencies when I try to Build & Run an already open project.

[2018-05-09 16:37] rat-moonshine commented on #258
Looking into the code commits, this shouldn't break anything. I did a test to ensure that existing libraries path section is still working good, I tested by creating a Feathers project and adding its theme .swc file. Project worked good even after a close and reopen.

Let's move this to the release.

[2018-05-09 16:40] rat-moonshine commented on #257
I'm closing this issue to get it release with 1.12.0. Please, re-open if found specific problem related to this.

[2018-05-09 16:40] #257 closed

[2018-05-09 17:41] joshtynjala commented on #251
The language server populates a containerName field with the name of the package, but it looks like Moonshine does not currently include the containerName in the value object.

[2018-05-09 19:01] joshtynjala opened #259 "Language Server Protocol: Moonshine does not conform with official protocol"
Justin has requested that I work on adding some new languages to Moonshine. To move forward, Moonshine needs to be modified to conform with the Language Server Protocol specification. Currently, it speaks something only loosely based on the protocol.

Excerpt from my email to Justin explaining what is required:

Link to official language server protocol specification:

https://microsoft.github.io/

[2018-05-09 19:33] JoelProminic commented on #257
@atinprominic, the simplest explanation for the behavior you reported is that you ran "Revoke All Access" from the File > Access Manager interface at some point during your testing.
![image](https://user-images.githubusercontent.com/24532731/39835409-aeab68f6-5395-11e8-97de-696469bbeacc.png)

Do you remember doing this?

If not, then there may be another issue that causes the bookmarks to be remov

[2018-05-10 04:46] atinprominic commented on #257
Hi

 

I have never done "Revoke All Access"

 

I will try to list the steps to reproduce this issue and update

 

Thanks

 

 

----- Original message -----
From: "Joel Anderson" <notifications@github.com>
To: "prominic/Moonshine-IDE" <Moonshine-IDE@noreply.github.com>
Cc: "atinprominic" <atin@prominic.net>, "Mention" <mention@noreply.github.com>
Subject: Re: [prominic/Moonshine-IDE] Unable to

[2018-05-10 05:53] #258 closed

[2018-05-11 11:08] apintex commented on #252
Hello,

I have the same problem on macOS.
Is a project Actionscript Desktop and try to run in AIR 29
I sent you images of the problem
<img width="1026" alt="captura de ecra 2018-05-11 as 11 54 30" src="https://user-images.githubusercontent.com/6188954/39921758-ffb3654e-5513-11e8-9966-37e364f215f8.png">
<img width="1048" alt="captura de ecra 2018-05-11 as 11 55 13" src="https://user-images.githubus

[2018-05-11 11:10] piotrzarzycki21 commented on #252
@apintex can you show me what is in Test01-app.xml ? If this is an tests project can you attach it here ?

[2018-05-11 11:32] Nisaba commented on #252
Piotr,
My problem remains with the 1.12.0 version.

Here is the console log :

: bin-debug/GeoDomaine.swf (3982901 bytes)
: (fcsh)
: Copying resource: Geo-Domaine-Moonshine
: Project Build Successfully.

[2018-05-11 11:34] piotrzarzycki21 commented on #252
@Nisaba how big those resources are ? Is it couple of megabytes ?

[2018-05-11 11:38] Nisaba commented on #252
You speak about the swf ?
Its size is 1929 KB.

Geo-Domaine-Moonshine is the entire project directory and its size is 268 MB

[2018-05-11 11:40] piotrzarzycki21 commented on #252
Let me ask you in a different way - What do you have setup here ? In project Settings.
![resource_folders](https://user-images.githubusercontent.com/24554795/39922744-ce740e68-5520-11e8-937b-aa69c7a9e79b.png)

[2018-05-11 11:44] piotrzarzycki21 commented on #252
@Nisaba I would like to resolve that problem. If I prepare for you Moonshine version with some additional logs will have time to test and send me console results? If you want it can be in a private message by email.

[2018-05-11 12:15] Nisaba commented on #252
The src path size is only 790 KB
The lib path size is 290 KB
The ane path size 19 MB.
It contains the webviewane extension that is very big (also many dlls in the compiler path)

Ok for the version with additional log.

[2018-05-11 12:28] piotrzarzycki21 commented on #251
Thanks @joshtynjala it was very helpful. I think I have finished on my sight. If you expose more things through `TypeAheadEvent.EVENT_WORKSPACE_SYMBOLS` event it should work without modification on my sight.

[2018-05-11 12:40] piotrzarzycki21 commented on #252
@Nisaba Can you send me an email to piotrzarzycki21@gmail.com - I will respond you back with the build. Are you using Win or Mac ?

[2018-05-14 08:14] #202 closed

[2018-05-14 09:48] rat-moonshine opened #260 "InputNumber component problems"
I'm not sure how the `InputNumber` component is suppose to work. But if my following observation looks proper enough, then the component needs a lots of fix.

## 1
- Drag an 'InputNumber' component to the stage
- Dragged component has no text inside it
- Type something in the 'Value' editor field - you can input even String characters [Bug]

## 2
- Drag an 'InputNumber' component to the stage
- Dr

[2018-05-14 09:51] rat-moonshine commented on #260
Against 1, all the editor TextForm can be restricted with 0-9:
`<forms:TextForm label="Value" textProperty="text" restrict="0-9"/>`

[2018-05-14 10:11] piotrzarzycki21 commented on #260
Please number 1 raise as a separate issue.

[2018-05-14 10:14] piotrzarzycki21 commented on #260
In case of **2** - Yes comma are expected - Look into the PrimeFaces [inputNumber](https://www.primefaces.org/showcase/ui/input/inputNumber.xhtml) - Try to type long number in input **Custom decimal places**

[2018-05-14 10:16] piotrzarzycki21 commented on #260
I can take a look and see what can I do with that control.

[2018-05-14 10:28] rat-moonshine commented on #260
Number 1 can be handled easily I don't think this needs to raise separately. I have pushed with 'restrict' changes to the edit fields.

[2018-05-14 11:50] piotrzarzycki21 commented on #182
I just finished updating sceenshot on website. I'm done here. If I missed anything please let me know.

[2018-05-14 11:50] #182 closed

[2018-05-14 14:27] piotrzarzycki21 opened #261 "ClassCastException when adding experimental component in MXML"
Moonshine is throwing ClassCastException when I'm trying to use component from Flex experimental package.

[code]

![class_cast_exception](https://user-images.githubusercontent.com/24554795/40003233-16d98808-5793-11e8-8d88-031a4ac7f4c1.gif)

VSCode doesn't show in code completion the same component at all.

![no_component_in_cc](https://user-images.githubusercontent.com/24554795/40003436-9f88a4ae-

[2018-05-14 15:44] joshtynjala commented on #261
Confirmed. It looks like some other things broke too. Automatic imports is another big one.

I don't think your project in VSCode is configured correctly.

[2018-05-14 15:52] piotrzarzycki21 commented on #261
Lately I have configured quite a big project in VSCode which has several swcs as and dependency. Maybe there is something which I'm missing there. I will try to check in a clean project.

However if my configuration is wrong, why I'm seeing other classes like HGroup, Group etc.

[2018-05-14 15:58] joshtynjala commented on #261
HGroup and other symbols are not showing with the correct icons in your GIF. VSCode appears to be using its fallback completion that just adds random strings from the current file instead of using full code intelligence.

[2018-05-14 16:02] piotrzarzycki21 commented on #261
Good to know. It looks like I need to work more on that setup. I'm using workspace in general where I'm gathering all those project. For example this is configuration for project where I have recorded above gif.
![conf_vscode](https://user-images.githubusercontent.com/24554795/40008933-e11fafc2-57a0-11e8-8b29-0995ebfb59d8.png)

[2018-05-14 16:09] joshtynjala commented on #261
The ActionScript & MXML extension does not yet support workspaces with multiple root folders. Only the first root folder in a workspace will have code intelligence.

[2018-05-14 17:04] #261 closed

[2018-05-15 09:42] piotrzarzycki21 commented on #251
@joshtynjala I did apply change related to differences between SymbolInformation and CompletionItem.
I have noticed one thing with usage of `TypeAheadEvent.EVENT_WORKSPACE_SYMBOLS`. If I don't have any files opened it's not working. If I open at least one file from the project it's working fine - language server respond to any request related to that event. Is it expected behavior ?

[2018-05-15 14:43] apintex commented on #252
Of course yes. I'm waiting

António Pinto
apintex@gmail.com

[2018-05-15 18:18] joshtynjala opened #262 "Cannot close Home tab"
The close button on the Home tab appears to be incorrectly disabled.

I don't want it to add clutter to my tab bar.

[2018-05-16 05:25] rat-moonshine commented on #262
The Home tab intentionally designed to remain open all the time, so user can return to the splash screen and choose from the given options. Thus, the close button also shows as disabled.

[2018-05-16 10:06] piotrzarzycki21 commented on #252
@rat-moonshine After several emails with @Nisaba I was able to locate what was wrong. He simply import project from Flash Builder and in project "Settings" -> "Paths" -> "Resource folders" were added path: "/" - which means copy everything what you have in the project directory - which is not correct. That's why copying simply failing. Do you have any idea how could we avoid that

I do think that

[2018-05-16 11:27] rat-moonshine commented on #252
I think in practical scenario we should force the user to map a valid path other than the default "/" entry which is adding when "Click to Add" button pressed:
![image](https://user-images.githubusercontent.com/24370870/40114084-30f7104c-5929-11e8-93ff-817239754d1a.png)

Irrespective of the fact that "/" is a valid path, this may not be an intentional input by design. So my thought is to prevent s

[2018-05-16 11:31] rat-moonshine commented on #252
I confirm the problem raised by @apintex .

[2018-05-16 11:32] piotrzarzycki21 commented on #252
Agree with you on that part!

As for the building and my changes I'm simply trying to achieve following order:

![image](https://user-images.githubusercontent.com/24554795/40114502-7800901a-590d-11e8-842f-a154586f8d5a.png)

As you can see I'm notifying user that project is successfully build once resources are copied, not before as it is working now. Those changes are not yet committed - I'm testi

[2018-05-16 11:33] piotrzarzycki21 commented on #252
Ohh! Great! Are you going to fix that? If not send me some details I will do that.

[2018-05-16 11:42] rat-moonshine commented on #252
I can take a look into this.

[2018-05-16 11:43] piotrzarzycki21 commented on #252
Thank you!

[2018-05-16 12:30] rat-moonshine commented on #252
Initially I had a broken downloaded Flex SDK with AIR 29.0 (missing swf launcher file in the SDK) which results me the same scenario as @apintex reported. Once I re-downloaded a fresh copy of the SDK, I couldn't able to reproduce the problem anymore with 1.12.0.

The error message in @apintex 's first image - invalid application descriptor - unknown namespace.. - generally this is not supposed to

[2018-05-16 13:58] piotrzarzycki21 commented on #252
I'm done with the changes here. I improved copying resources. We have left in that issue with path problem "/" and @apintex issue. I'm leaving to you the rest @rat-moonshine . I will assist with @apintex issue if needed.

[2018-05-16 16:44] joshtynjala opened #263 "Support displaying read-only decompiled classes from SWCs with goto definition"
The language server supports this feature already. The results returned by the language server have URIs that start with `"swc://"` and the URI contains an encoded string that represents the document. Currently, Moonshine skips `"swc://"` results because it doesn't know how to handle them yet.

If Moonshine doesn't currently have the ability to open a read-only editor, that will need to be added.

[2018-05-16 17:02] joshtynjala opened #264 "Code Actions / Quick Fixes"
The language server supports this feature already. Some examples of supported code actions include adding missing imports, generating methods, variables, and getters/setters.

Moonshine needs to request code actions when the selection or cursor position changes.

Moonshine needs to display some kind of UI when code actions are available. Generally, in other editors, this is a widget with a lightni

[2018-05-16 19:44] JoelProminic commented on #262
There are a couple features that are only available on the Home page for now.
- RECENTS - this could be added in the menu
- FEEDBACK - From #12.  This was originally added to the Home page so that it would be something that is regularly visible to the users.
However, the user can bring back the Home tab with View > Home, so they would still be able to get to these features.

I'm fine with making t

[2018-05-17 04:54] rat-moonshine opened #265 "Avail Home tab's Recent section in Moonshine menu"
[This is a sub-issue of what discussed in #262 ]

Avail recent opened projects section to Moonshine menu bar, so the feature can easily accessible when Home tab closed.

Suggested area for recent projects are:
`Moonshine > File > Open Recent -> ...`

@JoelProminic , do you also wants separate group/menu-section for recent files, too?

[2018-05-17 07:00] atingupta2005 opened #266 "Primefaces Grid Enhancements"
I have tested the Grid component specifically and found it very useful to arrange the UI components on the screen.

- [x] There should an option to the user to select the individual cell just by clicking on the cell in the design pane. Currently user need to click on the respective rows/columns in the properties section to change the direction and alignment properties.

- [x] The user should be ab

[2018-05-17 07:38] rat-moonshine commented on #262
- Home tab is now close-able
- Close All menu option adjusted with all other existing logic sets
- Home tab can bring back through View > Home

[2018-05-17 07:41] #262 closed

[2018-05-17 10:28] apintex commented on #252
Hi,

The project demo is a simple Actionscript project desktop standard, create with the template of Moonshine, without any modifications.

António Pinto
apintex@gmail.com

[2018-05-17 10:53] piotrzarzycki21 commented on #240
Here is the result of changes:
![closeable_panels_ve](https://user-images.githubusercontent.com/24554795/40173170-3b31ab0a-59d1-11e8-8076-f66653338c51.gif)

[2018-05-17 10:53] #240 closed

[2018-05-17 13:09] joshtynjala commented on #262
Thanks!

[2018-05-17 13:26] rat-moonshine commented on #252
@piotrzarzycki21 can you give a try on Windows with Flex/AIR 29.0 and see if you can reproduce the problem @apintex reported with Moonshine 1.12.0 (?)

[2018-05-17 13:27] piotrzarzycki21 commented on #252
Antonio contacted with me and I tried on Mac and Windows. Everything working perfectly with Moonshine 1.12.0.

[2018-05-17 13:27] piotrzarzycki21 commented on #252
If you could fix problem with path witch experience @Nisaba that would be good

[2018-05-17 13:28] piotrzarzycki21 commented on #252
One more think I propose to him send my SDK to see whether he experience same issue. I would like to exclude scenario which you have run into where SDK was broken.

[2018-05-17 16:11] JoelProminic commented on #265
I would suggest separating the Recent Projects from the Recent Files in the menu.
- There will be more space available for other recent files/projects in the list
- The user will not need to move the mouse halfway down the list to reach the files section.   This is fine on the home screen, but it would be annoying in the menu.

I suggest these menu paths.
- File > Recent Projects
- File > Recent F

[2018-05-17 19:50] JoelProminic opened #267 "Projects Do Not Open On Startup"
In my recent testing in Moonshine, I noticed that #106 is not longer working for me.   I am using hte latest Bamboo builds on MacOS Yosemite.
1. Start with a project open in Moonshine.  I noticed this with both a Visual Editor project and a Flex Library project.
2. Restart Moonshine
3. No projects are opened on startup

However, @rat-moonshine could not reproduce this problem.

I checked my settin

[2018-05-18 09:25] piotrzarzycki21 commented on #252
@rat-moonshine I got from @apintex following screenshot where he tried build pure AS3 Desktop application and it didn't run:

![img_project](https://user-images.githubusercontent.com/24554795/40226804-fa1e200a-5a8c-11e8-9996-10ff89b47abf.png)

His Mac build is yesterdays one which you have sent me. In the console log we can see that application is trying launch, so we are [here](https://github.com

[2018-05-18 09:41] rat-moonshine opened #268 "Global error notification system"
By this time, we've seen many cases were an exception/uncaught-error fall silently because a package application do not throw the way we used to see in a development/debug version. The exception therefore sometime creates a chain of event which break things here and there, which became difficult to point out.

We need a global error notification system for such uncaught errors to popup and notify

[2018-05-18 09:44] rat-moonshine commented on #252
In my earlier test case (where my build failed because a broken SDK), That was also fall flat at the time of launching the SWF. Unfortunately, I don't have any immediate idea to support against this issue, until we have a clear way to reproduce the problem.

I've added new feature plan which might help us in future in likewise cases #268 , though.

[2018-05-18 09:52] piotrzarzycki21 commented on #268
In that case I definitely don't want to have any popup notification in face of the user. I would like to have see heavy usage of our console.

The other option is to implement global notifications in UI where we will have nicely showing Tooltip - where we use errorString.

[2018-05-18 09:56] rat-moonshine commented on #268
I don't have any immediate plan to show errorString to the UI when an exception may result in deep codes. Though, we can avoid popup. It's also sound valid to show the error in console.

I would also plan to have some place in menu which should open-up an window listing any probable errors and probably have some input areas to detail the scenario when the error fired and post to us. For posting to

[2018-05-18 10:51] piotrzarzycki21 opened #269 "Component AutoComplete should expose fields in property editor which allows fill up control by data"
AutoComplete component should be filled by the data once user export project from Visual Editor. In order to allow that add following properties in property editor.

(https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml) component:
* **value** -
* **completeMethod** - It's taking array do display in AutoComplete

In order to handle objects instead of text expose
* **var**
* **itemLabel*

[2018-05-18 10:56] piotrzarzycki21 opened #270 "Add commandButton component with actionListener"
We need to add [commandButton](https://www.primefaces.org/showcase/ui/button/commandButton.xhtml) with `actionListener` and `value `field in property editor.

[2018-05-18 10:57] piotrzarzycki21 opened #271 "Tab indexing is not always properly working in Visual Editor's property editor"
As part of that issue we need to review all tab index mechanism in property editor and make appropriate fixes if needed.

[2018-05-18 11:04] rat-moonshine commented on #269
Are you planning to generate AutoComplete/ThemeConvereter.java etc. files at the time of exporting project?

[2018-05-18 11:06] piotrzarzycki21 commented on #269
Absolutely not. It is only place which user can fill up to have it working with his already written converter.

[2018-05-18 11:29] piotrzarzycki21 commented on #252
I suggest send me development build for Mac once you will have some code ready for #268. I will send @apintex to see whether we have some exception. Btw. Can you build version with debug = "true" ? That may help to discover what actually is happening.

[2018-05-18 11:51] JustinProminic commented on #252
Some code already added against #268. That should print something to the console for now.

[2018-05-18 11:56] rat-moonshine commented on #252
Some code already added to #268 that should print something to console for now. A package installer do not print anything irrespective of debug=true. You can send him the .app as well for this test; That should work, too.

[2018-05-18 11:59] rat-moonshine commented on #265
We might want something like this than generic scroller to the menus - http://flexponential.com/2009/10/09/changing-the-position-of-the-scroll-bars-in-a-spark-list/.

[2018-05-18 12:15] piotrzarzycki21 commented on #252
We have had some problems with running .app, so avoid any disturbance if you could provide me installer. The other options is provide me an instruction how to prepare installer on Mac. It can be through email.

[2018-05-18 12:16] rat-moonshine opened #272 "Path mapping adjustment"
[This is a sub-issue from the discussion at #252 ]

![40114084-30f7104c-5929-11e8-93ff-817239754d1a](https://user-images.githubusercontent.com/24370870/40234136-4882542e-5ac3-11e8-9f65-d75948d4e462.png)

Following were my thought on this regard:

[2018-05-18 15:37] JoelProminic commented on #267
After @rat-moonshine implemented #268, I see this error on the console on startup:

    : Error: Error: Error #3001
    : 	at actionScripts.plugin.errors::UncaughtErrorsPlugin/uncaughtErrorHandler()
    : 	at flash.events::EventDispatcher/dispatchEvent()
    : 	at MethodInfo-14670()
    : 	at SetIntervalTimer/onTimer()
    : 	at flash.utils::Timer/tick()

Unfortunately, this error looks pretty gen

[2018-05-18 16:53] JoelProminic commented on #265
The scrolling menu looks pretty good on macOS already:
![image](https://user-images.githubusercontent.com/24532731/40247441-0098e1ea-5a92-11e8-9c7a-e4537c1a74d6.png)

On Windows, they have a scrollbar, which is not as good:
![image](https://user-images.githubusercontent.com/24532731/40247449-09fbe818-5a92-11e8-8111-e1da377e8cc0.png)

[2018-05-18 17:01] JoelProminic commented on #268
I like seeing the errors on the console - I think this should be useful for our debugging.

Users can already submit bug reports to GitHub from Moonshine using the "I'm having some problems" button on the Home tab.  This form will open a page on GitHub to allow the user to create a new issue.   We could further improve this interface by automatically appending the recent error log (and version and

[2018-05-20 11:16] t4e192 opened #273 "Moonshine trying to locate playerglobal.swc"
Trying to figure out how to import an Adobe Flex Project for Flash Builder 4.6 and get it running in Moonshine IDE.
Unable to find Adobe Flash Player 27.0 playerglobal.swc

[2018-05-20 13:58] piotrzarzycki21 commented on #273
Hi Jemmy,

So do you using Adobe Flex 4.6 SDK ? Is it desktop or browser application?

[2018-05-20 14:08] t4e192 commented on #273
Hi there

It is a browser application that is developed on FB 4.6
I was thinking about using moonshine to continue the latter developments.

Jemmy

取得 iOS 版 Outlook<https://aka.ms/o0ukef>
________________________________
From: Piotr Zarzycki <notifications@github.com>
Sent: Sunday, May 20, 2018 9:58:04 PM
To: prominic/Moonshine-IDE
Cc: Jemmy Lai; Author
Subject: Re: [prominic/Moonshine-IDE] Moones

[2018-05-20 15:12] piotrzarzycki21 commented on #273
Let me pickup tomorrow some old 4.6 SDK and try to create Moonshine project.

In the meantime - can you show me console log if it's possible.

Right click on project - Settings - show me Paths.

Do you have globally setup Flex SDK or in project settings?

[2018-05-21 06:12] rat-moonshine commented on #273
@t4e192 , make sure your results are not related anything to this - https://github.com/prominic/Moonshine-IDE/issues/36.

[2018-05-21 06:26] rat-moonshine commented on #265
@JoelProminic  also reported menu disabling bug when project selection moved between Visual Editor and non-visual-editor projects:

[2018-05-21 09:10] piotrzarzycki21 commented on #267
@JoelProminic I'm reading that error could means: Error 3001 is "File or directory access denied."

[2018-05-21 09:52] piotrzarzycki21 commented on #273
I discovered that w I have removed ability to create Flex Browser Project in Moonshine during work on #182. I just bring back it.

I did simple test and created Flex Browser project with [Adobe SDK 4.6](https://www.adobe.com/devnet/flex/flex-sdk-download.html) and everything seems to be working.

@t4e192 I need a bit more information and answers to my question.
Are you using Mac or Windows ?

[2018-05-21 15:42] JoelProminic commented on #265
The updated Windows menus look good:
![image](https://user-images.githubusercontent.com/24532731/40316350-abca40ba-5ce3-11e8-8335-b299c97a90ea.png)

I found another variation on the menu disable bug:
1. Select a VisualEditor project in the tree
2. File > Recent Files.  BUG:  all submenu items are disabled
3. Select a non-VisualEditor project
4. File > Recent files - this works

[2018-05-21 15:50] piotrzarzycki21 commented on #265
Wow! It looks super weird to me! I didn't follow that discussion to much. Can't we have nicely skinned scrollbar with max height for the menu ? In order to scroll that menu I need to click on those arrows ?

[2018-05-21 15:54] JoelProminic commented on #265
You just need to mouse over the arrows to scroll the menu.  This works similar to the MacOS menus above, but the Windows scroll buttons have a border which makes them look a bit strange.

The menu height is limited based on the height of the application window, so normally this menu is a lot taller.  I shrunk my window for ease of testing.

[2018-05-21 17:01] rat-moonshine commented on #265
How would you define regular macOS menus with arrows - super weird?

Windows scroll buttons have a border which makes them look a bit strange.

Arrow borders generally to make the area to more stand out, but the border color or alpha can be changed. So do the maximum height to the menu box.

[2018-05-21 19:05] JoelProminic commented on #222
In my tests today, I noticed that the cursor stayed flashing in the editor when I switched to other applications.  I'm not sure when this behavior started again, but it behaved this way even if I opened new files or restarted Moonshine.  I am testing on MacOS Yosemite.

[2018-05-22 05:33] t4e192 commented on #273
Hi there,

I’m using Windows 10 64-bits.

--Jemmy

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Piotr Zarzycki <notifications@github.com>
Sent: Monday, May 21, 2018 5:52:22 PM
To: prominic/Moonshine-IDE
Cc: Jemmy Lai; Mention
Subject: Re: [prominic/Moonshine-IDE] Moonshine trying to locate playerglobal.swc (#273)

I discovere

[2018-05-22 05:56] rat-moonshine opened #274 "Native menu enable/disable management based on project selection"
Menu enable/disable problem come up again when #265 tests; As reported scenario by @JoelProminic ,

This is possibly because the separate collection management maintains for visual editor menu enable/disable purpose.

At this moment to enable/disable menu between Visual Editor and non/Visual-Editor projects, it maintain manually separately managed collections like this:

[code]

I don't like this

[2018-05-22 06:20] rat-moonshine commented on #222
Measure taken, please have a look.

[2018-05-22 06:41] rat-moonshine opened #275 "Visual Editor settings window do not "Save"/close"
- Open any Visual Editor project to Moonshine
- Right-click on the project root in sidebar and `Settings`
- Click on 'Save' - nothing happens

[2018-05-22 08:05] atingupta2005 commented on #202
I have tested it and its working as expected

[2018-05-22 08:18] atingupta2005 commented on #240
Its working as expected

[2018-05-22 08:26] atingupta2005 commented on #262
I tested it and confirm that:

1. The Home tab can now be closed using "Close" and "Close All" button and also the Home tab can be closed using the "X" icon on the Home tab itself.
2. The Home tab then can be reopened using the "View\Home" button

[2018-05-22 08:55] rat-moonshine opened #276 "Visual Editor's free-transform tool do not updates its frame upon stage resize/move"
How can be produce-able:

- Select any visual component by mouse which should apply its free-transform frame
- Scroll the editor stage horizontally
- Maximize/restore Moonshine window

![ve35](https://user-images.githubusercontent.com/24370870/40352144-c05e155e-5dcb-11e8-9313-4423bd07c373.gif)

[2018-05-22 10:21] piotrzarzycki21 commented on #274
Agree with you! I don't like it either, but when you go deeper into all of that code you will understand that we have a bit of a mess there. That menu is created separately for Mac and Windows, which should not have place, even if it's looks different. In my opinion whole Menu plugin should be removed and written from scratch. We should use XML to describe menu instead above idea. It's definitely

[2018-05-22 10:55] rat-moonshine commented on #274
By OS structure, and the behavior (accompanied by the OS), I don't find any not-good thing using different types of menus based on the platform. Of course, you could also use same custom menu that used in Windows to macOS - but macOS native menu definitely feels more organic and native. But we can't use that macOS native menu in Windows.

On a second thought, the author could have used the Flex Me

[2018-05-22 11:05] piotrzarzycki21 commented on #252
@rat-moonshine I have sent Antonio latest build and he reported that it's working now. I'm not 100% sure what has happened. However we are good with that issue.

[2018-05-22 11:05] #252 closed

[2018-05-22 11:31] piotrzarzycki21 opened #277 "Long project name makes "Recent" invisible on Home Tab"
If we have very long project name and it appears in Recent section of Home tab it makes list not visible.

![long_project_name](https://user-images.githubusercontent.com/24554795/40359708-f6579fe8-5dc3-11e8-8af4-25d653301b80.png)

In order to test it open Royale project available in repository [BE0007_Selecting_options_from_a_group_of_jewel_checkbox_controls](https://github.com/apache/royale-asjs/

[2018-05-22 12:35] rat-moonshine commented on #277
I see a problem in this non-maximized view:

![image](https://user-images.githubusercontent.com/24370870/40362482-46d18a80-5dea-11e8-8cc8-aeb61fde3431.png)

In above image, when restored from maximized state, 'Recent Projects' section continue to maintain a gap before its scroll, but 'Recent Files' section failing to maintain this somehow. However, when maximized, 'Recent Files' section continue t

[2018-05-22 16:13] JoelProminic commented on #222
I was not able to reproduce the issue I reported after @rat-moonshine 's update.  I also retested and confirmed some of the other cases we discussed above:
- Moving cursor between console and editor
- Cursor hidden after opening Find Resource prompt

I noticed that the cursor stays flashing in this case:
1. Open an editor window
2. Click on the Project sidebar - the cursor stays flashing
3. Type t

[2018-05-23 04:35] atingupta2005 commented on #182
It seems that the modified description text as below is not updated on all 3 locations.

**Modified Text:**
Moonshine is a free and open source middleweight IDE built with ActionScript 3 for AS3, Apache Flex®, Apache FlexJS®, Apache Royale® and Feathers development with Cloud and Desktop support.

**Locations:**
**Location 1.**
On Website - http://moonshine-ide.com
Status: Modified. Refer to attac

[2018-05-23 04:37] atingupta2005 commented on #272
Can anyone please email(atin@prominic.net) me the exported project from Flash Builder? I will import it in Moonshine to test the reported scenario. I don't have Flash Builder installed on my MAC.

[2018-05-23 04:38] atingupta2005 commented on #252
Please provide a test case to reproduce the reported issue. There are a lot of comments in the issue and thus its not very much clear that what should be tested

[2018-05-23 05:04] rat-moonshine commented on #265
Arrow background color now replaced with solid color (as in macOS) to have more linear effect. I'm closing this please reopen if we have problem.

[2018-05-23 05:04] #265 closed

[2018-05-23 05:59] rat-moonshine commented on #222
The above said problem has rectified.

While testing, I have found another issue by following steps:

1. Let console command line has the focus - it should show its blinking cursor
2. Expand/collapse the project node in sidebar by clicking on the arrow icon - do not select the row
3. Console command editor lost its blinking cursor
4. Type something, console continue to prints them in the command l

[2018-05-23 06:11] piotrzarzycki21 commented on #182
@atingupta2005 on your screenshot I don't see any mention about FlexJS. Where are you seeing it ? The goal was to remove all FlexJS references.

[2018-05-23 06:13] piotrzarzycki21 commented on #252
@atingupta2005 actually if you do tests for #272 we will be good here as well.

[2018-05-23 06:15] piotrzarzycki21 commented on #222
Guys if there is any fix for console, please postpone it for now, because I'm working on reorganization #214 the bottom panel and there is already a lot of changes in that area. I would like to avoid huge conflicts.

[2018-05-23 06:18] JustinProminic commented on #272
Unfortunately, @atingupta2005 , the sandbox version of Moonshine macOS has many difficulties accessing file system we were following for a long time. You can read more details at #49 . You can still try to run the source through macOS Moonshine, that should run but you possibly hit by problem when try to access system files through a file browser window.

[2018-05-23 06:20] rat-moonshine commented on #272
Unfortunately, @atingupta2005 , the sandbox version of Moonshine macOS has many difficulties accessing file system we were following for a long time. You can read more details at #49 . You can still try to run the source through macOS Moonshine, that should run but you possibly hit by problem when try to access system files through a file browser window in new running instance of Moonshine.

[2018-05-23 09:10] #275 closed

[2018-05-24 08:49] atingupta2005 commented on #182
I wrongly understood the requirement. Now its clear to me and I found that its as expected. Please ignore my previous comment

[2018-05-24 09:06] atingupta2005 commented on #265
When I open a non existing file/project using "File\Recent Projects" or "File\Recent Files", it throws an error - "Can't import: The file does not exist anymore."

To reproduce the error remove the Project/File using OS file system and then open it in Moonshine.

If I am opening project then it should show the error - "Can't open: The project/file does not exist anymore."

Also it should confirm t

[2018-05-24 09:09] atingupta2005 opened #278 "Delete Project do not work for non existing projects"
When I use context menu to Delete the project listed in the Projects window, it does nothing for the non existing project. It should instead confirm the user to delete the entry from Projects window as the project directory is not physically available on the OS file system.

[2018-05-24 09:16] atingupta2005 commented on #275
I have tested it by taking latest release - https://bamboo.prominic.net/browse/MS-MSGMT-185

Its working as expected

[2018-05-24 09:32] rat-moonshine opened #279 "Visual Editor submitted value not recorded by the history manager"
@JoelProminic reported this following scenario (which applies for all components):

1. Open a PrimeFaces Visual Editor project with its empty stage
2. Add DataTable component to the editor stage
3. While DataTable having the current selection, input some value in its "Empty Message" property value in property editor panel
4. Do not press Enter or Tab - this is important
5. Mouse click on the edito

[2018-05-24 09:36] rat-moonshine commented on #278
If I understood your situation clearly,

1. You opened a project to Moonshine
2. You deleted the project folder off-Moonshine
3. When you tried to delete the loaded project instance from Moonshine sidebar, it did nothing

Please, confirm if the above perception is true, then we shall need to handle this.

[2018-05-24 09:48] rat-moonshine commented on #265
@atingupta2005 , I see two parts in your observation/suggestion:

1. Updating the error text
2. Removing the entry when above scenario happens

While the former is not difficult to change as it's a text. For the latter, you should want to open a new issue with given details.

[2018-05-24 12:44] piotrzarzycki21 commented on #214
This is where I end up:

![debug_view](https://user-images.githubusercontent.com/24554795/40486225-f611d67c-5f60-11e8-8498-ab3ddb668f4e.png)

[2018-05-24 12:47] piotrzarzycki21 commented on #214
@rat-moonshine , @JoelProminic Any thoughts on that ? I would like to merge it to the master.

It's currently on the branch `features/issue_214_debugger_view_reorganization`

[2018-05-24 12:49] piotrzarzycki21 opened #280 "Create documentation which describes XML produces by Visual Editor (PrimeFaces)"

[2018-05-24 12:57] #279 closed

[2018-05-24 12:58] rat-moonshine commented on #247
Please, provide more information with specific steps to produce against which component(s).

[2018-05-24 13:03] rat-moonshine commented on #214
This looks much standard per other IDEs. Can you show us a frame with debugger running (and possibly with all its scrollbars).

Also, can you show us a screen console view without 'debug' tab added (or, you plan to get the debug tab added from beginning)?

[2018-05-24 13:07] piotrzarzycki21 commented on #214
Without Debug:

![console_only_view](https://user-images.githubusercontent.com/24554795/40487322-1ad9064e-5f64-11e8-8cc6-797b276e4d06.png)

With Debugger running:

![with_debugger_running](https://user-images.githubusercontent.com/24554795/40487328-21bee6b8-5f64-11e8-8b7f-4d24414de5b7.png)

[2018-05-24 13:15] rat-moonshine commented on #214
How you plan to close the debugger view. Do you plan to add close button to the view?

[2018-05-24 13:18] piotrzarzycki21 commented on #214
Current open/close is being done by menu View -> Debug View. Do you think that I should add close button or is it enough ?

Does FB have some Tabs - Do you have there close button ?
In intellij there is no close button on Debug or Console tabs. You can close them only through the menu.

[2018-05-24 13:26] rat-moonshine commented on #214
In my opinion, having a close button to the tab would be handy, but probably not to the console tab. In FB it has close buttons to its tabs.

[2018-05-24 16:54] rat-moonshine opened #281 "Closing Visual Editor tab throws exception"
- Run a Visual Editor project in Moonshine
- Do some activity to the editor stage
- Click on the close button in the editor tab
- Thanks to #268 Moonshine now throws an exception which probably we missed previously