[2019-06-03 15:48] JoelProminic commented on #516
I downloaded the AIR SDK from here: https://www.adobe.com/devnet/air/air-sdk-download-mac.html
I used the first Download Now link for Mac OS X, which downloaded a DMG.

I noticed there was no installer in the DMG, so I just copied the files to a directory under ~/Downloads/MoonshineSDKs.  I also had to run this command to remove the quarantine attribute:

    xattr -r -d com.apple.quarantine .

Af

[2019-06-03 15:59] rat-moonshine commented on #516
We'll need not to do that if in future we'll decide to provide Adobe AIR download through Moonshine SDK Installer.

[2019-06-03 20:57] JoelProminic opened #573 ""No profile found" Error for Grails"
I saw an error like this while testing a Grails project with the macOS App Store build:
1. Open an App Store build of Moonshine
2. Create a new Grails project
3. Project -> Build & Run:  This works.  Kill the process.
4. Open the project in Terminal, and run "grails run-app".  This also works.  Kill the process
5. Return to Moonshine and try Project > Build & Run again.  This gives this error:

[2019-06-04 10:52] piotrzarzycki21 commented on #567
@JoelProminic @rat-moonshine I just added ability to create classes in above folders. My implementation is based on mechanism which we are currently have. In our project objects we have property for holding path to source folder ([sourceFolder](https://github.com/prominic/Moonshine-IDE/blob/d29be81a2f2663fe639e9916d3f432b91ae9ecb2/ide/MoonshineSharedCore/src/actionScripts/valueObjects/ProjectVO.as

[2019-06-04 11:09] rat-moonshine commented on #567
Seen your update on checking `classpaths` instead of only `sourceFolder`, that should work.

Generally all the classpaths are available for project compilation and updates. I don't think we should have any problem if we add multiple folders from same project to the classpaths - of course, you can give this a try and confirm.

This will create conflict of 'source folder' idea to other Moonshine pro

[2019-06-04 11:11] piotrzarzycki21 commented on #567
That's cool. Should I run any command for Grails project when someone go to the settings and add new folder to that list ?

[2019-06-04 11:22] piotrzarzycki21 commented on #567
Let's leave it for now, but I think above issue should be address in some way when we start refactoring.

[2019-06-04 11:23] piotrzarzycki21 commented on #567
I have tested changes with bigger Royale application where there are a lot of class paths and everything seems to working fine.

[2019-06-04 11:34] rat-moonshine commented on #567
On a second thought, path from different projects do not shows to the selected project's tree in Moonshine (as Eclipse does); So marking 'S' icon to every `classPaths` paths shouldn't make any different to the UI.

[2019-06-04 15:25] JoelProminic opened #574 "File > Open vs Project > Open"
Multiple Prominic developers have reported confusion with the File > Open prompt.  They tried to use it to open a project, but the file chooser wouldn't allow selection of a directory.  I would like to update this so that it is more clear.

Here are my proposed changes.  I am open to discussion if someone doesn't like these ideas.
- Add another menu item called File > Open/Import Project.  This wi

[2019-06-04 16:52] JoelProminic commented on #567
I confirmed I can create classes in directories @piotrzarzycki21 listed.

For the other directories, do we get errors if we add them to the classpath but they don't exist on the filesystem?  I would like to see these directories work automatically if the user adds them (and have the classpaths be added automatically for imported projects).

[2019-06-04 16:59] piotrzarzycki21 commented on #567
If I add non existing directory to classpaths when you go to project settings you will see red "x" near directory path. We don't get any errors. That's not the problem I can add them automatically - all those listed in the issue for import/open and creat project even if they doesn't exists.

[2019-06-04 20:11] JoelProminic opened #575 "Command to Comment/Uncomment"
One common IDE feature that is still missing is a command to comment/uncomment a line or selected block of code.  I have generally seen this bound to CMD-/ and CTRL-/.   This is not an urgent change, so it can be included in a release if someone is waiting for other tasks to be completed.

For Java, Groovy, and Actionscript, insert "//" at the very beginning (column 0) of the line.   I prefer this

[2019-06-04 21:47] JoelProminic opened #576 "Last Character Excluded in Text Selection"
I noticed some strange text selection behavior in Moonshine.  I tested with the macOS App Store build.
1. Clone https://github.com/prominic/git-meta.git
2. Open moonshine-dependencies.xml
3. Find the line "<label>Prominic.NET Projects on GitHub</label>"
4. Click between the 'b' and the '<' at the end of the label, and drag to the left to select the entire contents of the <label> element. BUG:  the

[2019-06-04 23:09] JoelProminic commented on #503
I'm using this feature to define references for Prominic projects, so I am finding some new issues that I missed before.  If these changes are non-trivial, we can move them to a new issue.

If moonshine-dependencies.xml is invalid in a project checked out from SVN, I get this error, and the checkout prompt hangs.  I'd like to handle the error a little more cleanly, but the dependency import is exp

[2019-06-05 05:04] rat-moonshine commented on #567
That means the building plugin class doesn't checking invalid file paths before building/compilation - which suppose to notify user for invalid paths (as [here](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/plugins/as3project/mxmlc/MXMLCPlugin.as#L500)). In my opinion, the procedures should be similar for all the project types.

[2019-06-05 05:24] rat-moonshine commented on #574
This should work as asked now.

[2019-06-05 05:48] piotrzarzycki21 commented on #567
I think this is not the case. I didn't check building with that classpaths - if it will fail I shouldn't add it - in correct case it should. Thanks for pointing it.

[2019-06-05 06:44] rat-moonshine commented on #576
Mouse caret position and selection should be in sync now.

[2019-06-05 08:18] piotrzarzycki21 commented on #567
I'm working on that farther today, but still something bothers me. What if I will add to `classpaths `in project **Settings** something - Should I notify language server about that changes ? I'm asking because when you create project you have information that classpath is being updated.

![classpath](https://user-images.githubusercontent.com/24554795/58941028-3c113a80-877b-11e9-9c69-b7a03e75e064.p

[2019-06-05 08:23] rat-moonshine commented on #567
That is a good question. Since language-server starts during project import, or when SDK updates to the project - any changes to the `classPaths` might not affect the current running language-server instance - which should actually. If a path removed, not-updating may not make much difference, but adding a new path from different project shall not take effect.

[2019-06-05 08:27] piotrzarzycki21 commented on #567
I'm not entirely sure what do you mean. If let's say is true that language server should know that classpaths has been change - I think it should happen regardless it's remove/update or add.

[2019-06-05 08:29] piotrzarzycki21 commented on #567
Additional question is if in one of my classpaths I have class which contains some syntax error - I miss coma somewhere or whatever. - When I remove folder with that class from classpaths - should I still see errors during compilation ?

[2019-06-05 08:41] rat-moonshine commented on #567
I see I have in misconception (as I never tested this before in particular way) that adding or removing paths doesn't affect to running-language server; It does. I tested this in following way for general project cases:

1. Create a new Flex desktop project
2. Make sure language-server is working to its opened editor
3. Add a new classpath from _different_ project
4. Return to the opened editor tr

[2019-06-05 08:44] piotrzarzycki21 commented on #567
Ok in Flex project, but it looks like to me that in Grails it does not happen. I'm still in a process of analyzing code. @joshtynjala could you shed some light how actually this is working for Grails projects ?

[2019-06-05 08:56] rat-moonshine commented on #503
[code]

[2019-06-05 08:57] piotrzarzycki21 commented on #567
My investigation towards me that what is in classpaths doesn't matter to language server, but let's wait for Josh's response, cause I may be totally wrong.

[2019-06-05 09:49] piotrzarzycki21 commented on #567
@JoelProminic your suggestion has been applied for new and imported project. Check new build.

[2019-06-05 11:07] piotrzarzycki21 commented on #520
I'm working on #465 I bump into an issue which probably was introduced by changes here.
When I create `new FileLocation("incorrectpath") ` with non existing path - default it creates for me new object with last opened location. Definitely it shouldn't happen - I should rather get object with non existing path.

[2019-06-05 11:16] rat-moonshine commented on #520
Do you want me to check this or you want to check if you have hurry?

[2019-06-05 11:41] piotrzarzycki21 commented on #520
Please check on your own. I would like to progress with #465 .

[2019-06-05 13:59] joshtynjala commented on #567
I guess that there's some kind of menu command to update Gradle class paths? It's for Java and Grails projects that use Gradle.

The Grails language server gets its class paths from the .classpath file that is updated when running this command. Moonshine also restarts the language server.

[2019-06-05 15:38] rat-moonshine commented on #567
Yes, it's `Project -> Refresh Gradle Classpaths`. So I'm wondering, adding new paths to the classpaths section also updates to the language-server after running this? (Or, adding any new path to the classpaths does make any sense for Gradle/Grails project (?))

[2019-06-05 16:02] joshtynjala commented on #567
The Groovy language server should restart when you refresh Gradle classpaths, just like the Java language server is restarted. However, I just took a peek at the code, and it looks like I forgot to set up a listener for GradleBuildEvent.REFRESH_GRADLE_CLASSPATH.

[2019-06-06 07:31] rat-moonshine commented on #570
This issue is now up for test.

[2019-06-06 13:03] piotrzarzycki21 commented on #516
@rat-moonshine Can we close that issue ?

[2019-06-06 13:07] piotrzarzycki21 opened #577 "Update Moonshine license to SSPL"
We need to update Moonshine license to [SSPL](https://www.mongodb.com/licensing/server-side-public-license)

Each file should contains following header:

As part of the issue we need to review each library which we are using and it is listed in the console during initial Moonshine launching.

[2019-06-06 13:16] piotrzarzycki21 commented on #567
Are you referring to code in language server ? Cause in Moonshine there is listener for that event and code for restarting language server.

[2019-06-06 13:28] piotrzarzycki21 commented on #520
@rat-moonshine Will you be able to look into that? It looks like I need fix for this in order to make proper changes to #465.

[2019-06-06 14:10] rat-moonshine commented on #520
Yes, give me tomorrow. I'll check this. Sorry, for hold you here.

[2019-06-06 14:45] rat-moonshine commented on #516
Yes, let's close this if no new issue come-up against this.

[2019-06-06 14:45] #516 closed

[2019-06-06 14:59] rat-moonshine commented on #465
@piotrzarzycki21 , the above commit of your ring a bell from past. I see how you provide functionality to choose the other/default Java class (to the project). Did you ever check this functionality exists in Moonshine (?)

![image](https://user-images.githubusercontent.com/24370870/59043243-825cbb80-8899-11e9-8f16-69d6941ee350.png)

This initially we did for Flex/ActionScript application where mul

[2019-06-06 15:06] piotrzarzycki21 commented on #465
This is implemented from 2.2.0 ;) I just added that option to project Settings as well, but there is still some small issues where I need you to fix problems with FileLocation.

[2019-06-06 15:10] rat-moonshine commented on #465
Okay, I just noticed the said commits now :) Do you think we can use this existing (non-working to Java) option for this purpose, too?

[2019-06-06 15:12] piotrzarzycki21 commented on #465
It's being used already. When you set default Main class in Java project it will be used when you make Build and Run.

[2019-06-06 15:19] rat-moonshine commented on #465
Is this already working for Gradle project (?) I created a second .java class to a Gradle project, add a separate `println` command, set the file as default from the context-menu, when I ran 'gradle clean run' I see the message from originally created .java file.

[2019-06-06 15:46] piotrzarzycki21 commented on #516
Hey @ajwfrost,
Moonshine is now recognizing Air SDK itself. If you don't won't to wait for official release you can try development build of Moonshine. I'm not sure which version are you using but here you have [Windows](https://moonshine-ide.com/downloads/releases/dev/windows/) and [Mac](https://moonshine-ide.com/downloads/releases/dev/macos/). Those builds are refreshed whenever we push anything

[2019-06-06 21:26] JoelProminic opened #578 "Report Syntax Errors in XML File"
@rat-moonshine mentioned here that the Flex APIs did some validation on XML files: https://github.com/prominic/Moonshine-IDE/issues/503#issuecomment-498998969

This make me think about whether we could update the XML editor to show syntax errors based on these exceptions.  We would need a line number for this to be really useful.

We may be better off using an XML language server instead.  From th

[2019-06-06 21:48] JoelProminic commented on #570
@rat-moonshine, your implementation used the same Project Settings > Build interface from the Maven and Gradle projects.  However, I find this interface cumbersome to use, especially for one-time commands like "gradle create-domain-class demo.Author":
1. Right-Click on Project > Settings
2. Open Build tab
3. Click Change
4. Edit the create-domain-class entry (sorry, I did not write this correctly

[2019-06-06 22:07] JoelProminic commented on #465
This comes back to the original problem of this issue - it is difficult to update build.gradle because it formatted as code rather than a configuration file (as in Maven).  We have considered some ideas for reading the Gradle configuration using the Gradle API, but writing is a more complicated problem for an arbitrary Gradle file.

[2019-06-06 22:20] JoelProminic commented on #576
This works well for me now.

On a related note, I am seeing some intermittent issues where I can't select to the end of a previous line without selecting the last character of this line.   We origininally fixed problem back when we were still using the Prominic JIRA to track issues (MOON-302).   If I can repeat the issue consistently, I'll get it added in an issue on GitHub.

[2019-06-06 23:03] JoelProminic commented on #574
I confirmed that the menu actions are updated for macOS and Windows

[2019-06-06 23:07] JoelProminic commented on #574
However, after a bit more testing, I see that File > Open gives an error when I try to open a file:

macOS (AppStore, but I have a bookmark to the parent directory):

    : Error #1009
    : TypeError: Error #1009
    : 	at actionScripts.controllers::OpenFileCommand/openTextFile()
    : 	at actionScripts.controllers::OpenFileCommand/openFile()
    : 	at actionScripts.impls::IFileBridgeImp/browseFo

[2019-06-07 05:20] rat-moonshine commented on #576
Okay. I'm closing this particular then. Please, reopen if any further problem found to this.

[2019-06-07 06:22] rat-moonshine commented on #520
@piotrzarzycki21 Can you give me some more context to your test procedure? As in my initial tests I found creating a `new FileLocation("incorrectPath")` does retain the incorrect path value without replacing with last browsed location.

(I tested on Windows)

[2019-06-07 07:04] rat-moonshine commented on #574
I noticed the existing `Open File` type list was not updated with recent times'. This has been updated now.

Error during opening through `Open File` command also fixed. Please, check.

[2019-06-07 09:34] piotrzarzycki21 commented on #465
Yes I remember that one and currently for Jave Maven projects I'm running application trough NativeProcess.
1. Building application trough Maven
2. Run application

I will do the same for Gradle without involvement saving anything to gradle build file. Unless this won't work similar to Java Maven project.

[2019-06-07 09:35] piotrzarzycki21 commented on #520
If you couldn't reproduced maybe I have some special scenario. I will look into that closer and maybe I will be able to fix it. I will get back to you.

[2019-06-07 10:45] piotrzarzycki21 commented on #465
@rat-moonshine , @JoelProminic I see that menu for Java Gradle project changed and have completely different naming - What was the reason to distinguish and removing for example Build & Run ?
I understand that we can run trough command application, but what if in build.gradle file there is no Main class pointed, cause we have just imported external app ?

What should I do with that now ? Do you wa

[2019-06-07 11:13] rat-moonshine commented on #465
Some thoughts behind Gradle project menu changes, you can find [here](https://github.com/prominic/Moonshine-IDE/issues/519#issuecomment-492854514).

[2019-06-07 22:15] JoelProminic commented on #465
Yeah, I had @rat-moonshine change this because the configured action did not necessarily match up with "Build".  I'm not sure I'm happy with how this turned out, and we may want to change this if we decide to use the interface from #570 with Gradle and Maven.

[2019-06-08 10:20] piotrzarzycki21 commented on #574
@rat-moonshine You have made File Shorcut CTRL + SHIFT + O - I think it was shortcut to organize imports - If I'm correct what is the shortcut for organize import now ?

[2019-06-10 04:33] rat-moonshine commented on #574
The shortcut keys alternated between Open File and Open/Import Projects:

[2019-06-10 05:27] rat-moonshine commented on #577
Please make sure if we need this line:

[2019-06-10 07:27] piotrzarzycki21 commented on #574
Ok. How to organize import by shortcut right now ?

[2019-06-10 07:30] piotrzarzycki21 commented on #577
We need someone from Legal sight in Prominic to answer that question. I don't have knowledge towards such things.

[2019-06-10 07:40] piotrzarzycki21 commented on #465
Ok so summarize everything. I should probably remove from the Settings possibility to choose main class fro Java Gradle build along with option to set main class from context menu. We are leaving to gradle build everything.

In pure Maven option I should leave as it is right now. Is this correct conclusion ?

[2019-06-10 19:00] JoelProminic commented on #576
Another Prominic developer noted that double-clicking on a word/symbol in the editor also selects the trailing whitespace, if any.   If this is a separate issue, we can move it to a different issue as appropriate.  If this was an intentional behavior, we can discuss whether it is still desirable.

[2019-06-10 20:24] piotrzarzycki21 commented on #574
Ok I just checked in the code and organize imports had exactly shortcuts as it is changed now CTRL+SHIFT+O, so to what shortcut we would like to change it now ?

[2019-06-10 22:55] JoelProminic opened #579 "BadLocationException for Java Gradle Projects"
@joshtynjala , I have been seeing errors like this from the language server when testing with Java Gradle projects.  Sometimes I am seeing these on project open - for examples:

    : org.eclipse.jface.text.BadLocationException
    : 	at org.eclipse.jface.text.ListLineTracker.getLineOffset(ListLineTracker.java:197)
    : 	at org.eclipse.jface.text.AbstractLineTracker.getLineOffset(AbstractLineTrac

[2019-06-10 23:03] JoelProminic opened #580 "Error on Edit > Go To Definition"
I see this behavior:
1. Create a new Java Gradle Project
2. Wait for the language server to start
3. Add a new static class variable to the main class, and update that variable in the main method.
4. CMD-Click the reference in main.   The cursor position correctly changes to the definition
5. Select the reference in main, and choose Edit > Go To Definition.  This fails with the error below

    :

[2019-06-11 04:50] rat-moonshine opened #581 "Breakpoint adds to a line even when clicked outside of the line-number area"
I noticed this sometime back (I didn't had a chance to report this issue), and this is very irritating.

I noticed even if I clicked outside of the line-number area in the editor (marked in red), the line receive a breakpoint:

![image](https://user-images.githubusercontent.com/24370870/59244563-9bb38e00-8c32-11e9-8c4b-1c3b2fb5d513.png)

[2019-06-11 04:56] rat-moonshine commented on #576
This behavior is a bug, we need to fix it.

[2019-06-11 04:57] rat-moonshine commented on #574
Can someone tell me how `Duplicate (CTRL+U)` works? I also think we need a line-deletion shortcut (something like CTRL+D to remove a line at once).

[2019-06-11 07:11] rat-moonshine commented on #570
Following bug report from @JoelProminic should be fix now:

[2019-06-11 11:11] rat-moonshine commented on #576
The trailing space should be handled now. Please. check.

[2019-06-11 11:11] #576 closed

[2019-06-11 11:14] rat-moonshine commented on #503
Following problem reported by @JoelProminic after the recent changes:

[2019-06-11 12:01] piotrzarzycki21 commented on #520
@rat-moonshine I would like to ask you look into that, cause I'm occupied by other tasks and this issue still prevent from correct work #465. Here is the scenario which should allows you to reproduce that and use debugger. Place breakpoint [here](https://github.com/prominic/Moonshine-IDE/blob/9b0d9e6c5b087bb343e3b430adb1d5acaa58786e/ide/MoonshineSharedCore/src/actionScripts/plugin/settings/rendere

[2019-06-11 12:14] piotrzarzycki21 commented on #465
I have restricted choosing main class to Maven Java class only. I will wait for @rat-moonshine and some investigation in #520.

[2019-06-11 15:18] rat-moonshine commented on #520
Okay. I'll see this.

[2019-06-11 15:54] rat-moonshine commented on #520
You'll probably need to maintain full relative path of the file in configuration file, to make it appear correct and valid.

If your path is incorrect then above behavior is correct.

While file-browsing from anywhere it requires to open by last browsed location; If your path is correct in Paths section, then the browser will definitely open by the path, else it'll need to open by last-known valid

[2019-06-11 16:53] piotrzarzycki21 commented on #520
Well I don't thin it is correct. Couple of questions.

What is happening when you creat new File not in our application but in some test one - Do you fallback to some default path?
How can I determine whether path exists when it is always fallback to default path?

IMO even if it should fallback in some last opened location - it should happen only in specific places - Not for all FileLocation clas

[2019-06-11 19:36] JoelProminic commented on #576
This seems to be working well.   One oddity I noticed that clicking on a space or at the very beginning of a word selects both the preceding and following word.  I'm not too worried about this for now, though, since the primary use case is clicking in the middle of the word:
![image](https://user-images.githubusercontent.com/24532731/59301052-54d78f80-8c56-11e9-8883-eb306fb896e5.png)

[2019-06-11 19:50] JoelProminic commented on #520
I confirmed the behavior @piotrzarzycki21 reported.  The "Main class" field seems to be a bit strange in that it is opened from a file path, but the actual saved  (and needed) value is just the class name.  The path could be reconstructed from the class name and class path, but only if there is only one class path:
![image](https://user-images.githubusercontent.com/24532731/59301857-31154900-8c58-

[2019-06-11 19:55] piotrzarzycki21 commented on #520
Joel it will work correctly once we agree on some solution in case of FileLocation class, cause I feel like it shouldn't change inself inside. Once you do that new FileLocation("path") - I should have my path regardless it's correct or incorrect.

[2019-06-11 20:45] JoelProminic opened #582 "Brainstorming: Configurable Menu Items for Java and Grails Projects."
We have been trying to figure out how to handle the menu actions for Java and Grails projects:
https://github.com/prominic/Moonshine-IDE/issues/465#issuecomment-499840602
https://github.com/prominic/Moonshine-IDE/issues/519#issuecomment-492854514
https://github.com/prominic/Moonshine-IDE/issues/570

I think the Grails/Gradle/Maven commands fall into two categories:
1. Commands that are part of the

[2019-06-12 04:41] rat-moonshine commented on #520
There were many test cases in Moonshine, which we required to cover by these changes. To answer your question whether it is correct to override any File with incorrect path situation - as I have mentioned [earlier](https://github.com/prominic/Moonshine-IDE/issues/520#issuecomment-499771848) that I have tested creating new File/FileLocation with incorrect path and they retains the incorrect value.

[2019-06-12 05:52] rat-moonshine commented on #582
I would like to support this idea. At this moment respective project-types' build-plugin classes holds static command references for the above menu options, i.e. when 'Build & Run' may hold 'run' command for Gradle build-plugin class, for Grails build-plugin it may have static reference to 'clean run' etc. These referencing will going to be change as menu-options changed dynamically (between proje

[2019-06-12 05:59] rat-moonshine commented on #580
Since the trailing-space selection issue fixed in #576 , I could not able to reproduce this again. Can you please check if this still fails elsewhere (?)

[2019-06-12 07:22] rat-moonshine commented on #503
@JoelProminic  I made some changes on above. This should work in expected manner now, please check.

[2019-06-12 07:27] piotrzarzycki21 commented on #520
Did you debug code according to my instruction ?

[2019-06-12 07:35] rat-moonshine commented on #520
Yes, and I know this is how it's suppose to happen in Paths sections. Now, if you tell me what is your implementation problem in whole picture (it'll be helpful if you guide me with some process-steps where you're facing problem to complete your task).

[2019-06-12 07:41] piotrzarzycki21 commented on #574
If there is no proposition so far I'm changing organize imports to CTRL+SHIFT+I.

[2019-06-12 08:33] rat-moonshine commented on #520
Yes, I did and I know that this is how it's suppose to happen.

Okay, let me give you more explanation on why this is happening in your case.

A created `FileLocation` can be use anywhere for file-browsing. To make the browsing work the `File` object inside it requires to be a valid `File` object. (even you can get exception thrown when accessing `nativePath` if the File object is invalid)

Now we

[2019-06-12 10:18] piotrzarzycki21 commented on #520
Now it much more clear. In my case when I wanted to actually display File name which eventually is a class name I need to have some different type of setting renderer. Renderer which won't involve displaying path, but name of the file only.

[2019-06-12 10:28] rat-moonshine commented on #520
You can customize to display the UI value to a pathRenderer to whatever you want I guess. But make sure you saves the path to configuration file as a relative path to the project (as other path values does).

[2019-06-12 10:46] piotrzarzycki21 commented on #520
Well our way of working is to do exactly what you are saying in many places. However I need display different things than PathRenderer do right now, so instead of baking another condition and part of the logic I prefer create dedicated renderer for that. I think I can close this issue. I make changes probably tomorrow.

[2019-06-12 10:46] #520 closed

[2019-06-12 14:55] JoelProminic commented on #580
Testing on macOS with the latest build, I still get the 1034 error for Edit > Go To Definition, regardless of whether I have selected the word or not.

[2019-06-12 15:07] JoelProminic commented on #503
I confirmed that I can check out an SVN project again, when the copy still exists on my filesystem and when I have removed it.

[2019-06-12 15:56] piotrzarzycki21 commented on #567
I think we are good here. If I'm correct @rat-moonshine setup that listener. If there is any new work here lets raise new issue.

[2019-06-12 15:56] #567 closed

[2019-06-12 19:53] piotrzarzycki21 opened #583 "Building Flex application doesn't work"
I just tried build Flex application and I'm getting following error:

[code]

It happened because we are using wrong bat file mxmlc_moonshine.bat instead fcsh_moonshine.bat.

[2019-06-12 19:54] piotrzarzycki21 commented on #583
@rat-moonshine I assigned it to you, cause I won't have capacity to work on that tomorrow. I need to focus on different things. Please look into that first thing in the morning.

[2019-06-13 05:15] rat-moonshine commented on #583
Yeh, I remember I had to make some changes to support #516 (build process) some time back. I don't remember if I noticed this problem, though. I'll check this.

[2019-06-13 09:15] rat-moonshine commented on #583
This should be working now. Please, give a test.

[2019-06-13 09:17] rat-moonshine commented on #503
@JoelProminic reported that few of the Grails projects from Git failed to activate Git-menu-options in Moonshine, after being checked-out. I need to investigate this.

[2019-06-13 10:44] rat-moonshine commented on #503
The above problem should fix now. Please, check.

[2019-06-13 17:23] JoelProminic commented on #583
After discussing this in today's chat, @rat-moonshine made some further updates.  I retested them with each of the related projects:

Project | Window Build
--------|-------------
ActionScript Web | Works
ActionScript AIR | Works
Library Project (Flex) | Works
Library Project (Actionscript) | Works
Library Project (Mobile) | Works
Flex Browser Project | Works
Flex Desktop Project | Works
Flex Mobi

[2019-06-13 22:31] JoelProminic commented on #570
The behavior of the Run Custom Command prompt seems pretty good now.  The only remaining problem I have at the moment is that the secondary description field does not fit well in the interface.  As you can see in this screenshot, it got out of sync with the field value.

![image](https://user-images.githubusercontent.com/24532731/59471618-21853400-8e01-11e9-80f7-93ac2d293b23.png)

Since I intend t

[2019-06-13 22:34] JoelProminic commented on #570
For Grails project, I also occasionally need to run Gradle commands.  For example, I need to run ```gradle install``` in order to install this project to the local repository:  https://github.com/prominic/grails4-primefaces.git (If you try this, not that Grails 4.0.0 is required).  I also occasionally find that I need to run "gradle clean" on a Grails project to fully clean it.

To support this, p

[2019-06-14 00:37] joshtynjala commented on #205
FYI: vscode-as3mxml v0.21.0 will support code intelligence in SDK files.

[2019-06-14 05:48] rat-moonshine commented on #570
@joshtynjala I have an query related to language-server(s) start to Java/Groovy projects.

As some requirement came in where we may want some functionalities/fields shared by JavaProjectVO to GrailsProjectVO, I was testing if we can extends the latter with former. Do you think that approach could create any possible problem in future?

Also, while testing the changes, I noticed some exception thro

[2019-06-14 07:08] piotrzarzycki21 commented on #570
If that part is not needed, but rather wish it should be leave it as is, cause we will do significant refactoring.

[2019-06-14 07:25] rat-moonshine commented on #570
Can you give some more hint on which areas' of refactoring you're pointing to here?

It seems like we'll require to have Gradle build options etc. to be available to Grails project vo also. My thought was to instead of having duplicated fields here or there, if we can access the goodness of Java project inside Grails so any changes can apply to both the places.

[2019-06-14 07:32] piotrzarzycki21 commented on #570
I'm talking about refactoring CreateProject and All VO related to projects to be more robust, so do not bother about duplication. If we come up with good plan we should get rid of such concerns in the future. We will see.

[2019-06-14 08:33] rat-moonshine commented on #570
Okay. But maybe it'd be better to have less wasted codes until a restructure is happen. I'll see what I can do about it.

[2019-06-14 15:27] joshtynjala commented on #570
We definitely don't want both language servers to start for one project. If we changed GrailsProjectVO to extend JavaProjectVO, we'd need to change that code to ensure that only one language server starts. Instead of separate ifs, we'd need if and else if there.

There are many places where we check which type of ProjectVO is being used. If we made this change, they'd all need to be double-checked

[2019-06-14 22:33] JoelProminic opened #584 "Flex and Feather Download Fail on Flash"
A Prominic coworker tried to use the Moonshine SDK Installer today, and he got errors on Flex, Feathers, and OpenJDK:

    Installing Adobe Flash Player playerglobal.swc from: https://fpdownload.macromedia.com/get/flashplayer/updaters/32//playerglobal32_0.swc
    Validating download: /Users/<user>/Downloads/MoonshineSDKs/Flex_SDK/Flex_4.16.1_AIR_32.0/frameworks/libs/player/32.0/playerglobal.swc

[2019-06-14 22:43] JoelProminic opened #585 "SDKs Do Not Configure Automatically From Installer with non-Sandbox Build"
While testing #584 on macOS 10.13.6 with the non-Sandbox build, I found that the SDK paths were not populated automaticallly after running Moonshine SDK Installer.
1. Install the latest non-Sandbox macOS build
1. Remove/Rename ~/Desktop/MoonshineSDKs
1. Remove project settings:  ~/Library/Application Support/com.moonshine-ide
1. Open Moonshine - Getting Started prompt appears
1. Install all SDKs w

[2019-06-14 22:44] JoelProminic commented on #584
Here is my full import log:
[2019_06_14__MoomshineSDKInstaller_Joel.log](https://github.com/prominic/Moonshine-IDE/files/3292423/2019_06_14__MoomshineSDKInstaller_Joel.log)

[2019-06-15 10:18] piotrzarzycki21 commented on #584
This is probably due to MD5 changes on Adobe sight. I will look into that.

[2019-06-15 10:40] piotrzarzycki21 commented on #584
@rat-moonshine I just removed Flex SDK from `c:\MoonshineSDKs\Flex_SDK\` manually and removed from lists in the Moonshine settings. - Getting started still indicates for me that I have Flex installed. - I did this exercises in order to test download of Flex SDK.

[2019-06-15 10:44] piotrzarzycki21 commented on #584
Along with removing Flex I have removed as well Feathers and this is being indicated correctly on Getting Started:
![feathers](https://user-images.githubusercontent.com/24554795/59550456-44cbf280-8f6b-11e9-91f3-35d4015e966a.png)

[2019-06-15 10:51] piotrzarzycki21 commented on #584
Ok sorry for the noise it seems to flex is being used from FLEX_HOME that's why I'm seeing it is installed.

[2019-06-15 11:00] piotrzarzycki21 commented on #584
Downloading SDK should work.

[2019-06-17 05:46] rat-moonshine commented on #585
The paths are suppose to automatically updated to the running Moonshine, and this is how we tested the system. I'll need to check if this procedure is failing for non-sandbox particularly, as we may have not tested this with the particular build.

[2019-06-17 06:43] rat-moonshine commented on #584
I tested Moonshine SDK Installer downloads with v2.3.0 on Windows and macOS El Capitan. I confirm I able to download Feathers and OpenJDK (from their respective locations) without any problem. It is possible that some Macromedia/Adobe download severs/links may not accessible time to time. I would like to recommend to try this once again.

As a second download, I downloaded Apache Flex SDK which al

[2019-06-17 07:17] piotrzarzycki21 commented on #584
It was MD5 problem not inaccessibility of links. If it's working I'm closing this.

[2019-06-17 07:17] #584 closed

[2019-06-17 07:36] piotrzarzycki21 commented on #577
I would like to briefly change license for upcoming release. Following question arise:

1. What should I put in [LICENSE.MD](https://github.com/prominic/Moonshine-IDE/blob/master/LICENSE.MD) file ?
2. In license we have mention MongoDB what should be done with that if any ?

[2019-06-17 07:41] rat-moonshine commented on #584
I don't think MD5 changes often, we could have access problem to the online MD5 checker though.

Also, it'd be helpful if we keep the issue open for the reporter's final tests, and then we move to close it.

[2019-06-17 07:47] piotrzarzycki21 commented on #584
MD5 changes occasionally by Adobe and it is independent from us. Once it's changed I need to make updates on Apache Flex project sight. It think it's enough that already 3 people tested it (me, you and [one Apache Flex user](http://apache-flex-users.2333346.n4.nabble.com/SDK-Installer-failure-on-Mac-Windows-td17794.html)) - I don't expect that something will be different on Joel's sight.

[2019-06-17 08:28] rat-moonshine commented on #584
Okay, thanks for explaining this @piotrzarzycki21 .

[2019-06-17 12:20] rat-moonshine commented on #585
This issue is now handled. Please, install both Moonshine and Moonshine-SDK-Installer applications to test.

[2019-06-17 12:48] piotrzarzycki21 commented on #465
I have update settings for Java project and I'm displaying class name instead path.

[2019-06-17 12:48] #465 closed

[2019-06-17 12:50] piotrzarzycki21 commented on #574
Can we close that one or is it still need to be tested ?

[2019-06-17 12:51] piotrzarzycki21 commented on #574
Can we close that one or is it still need to be tested ?

[2019-06-17 12:53] piotrzarzycki21 commented on #568
@rat-moonshine  Are you working on that still ?

[2019-06-17 15:16] rat-moonshine commented on #574
The main area for this issue reported has been resolved. I think Joel also confirmed that having Ctrl+Shift+I for Organize Imports is Okay. Thus, let's close this.

[2019-06-17 15:16] #574 closed

[2019-06-17 18:19] JoelProminic commented on #574
Yeah, I don't have any immediate concerns for CTRL+Shift+I - I was waiting to see if we found any other conflicts during testing.

Otherwise, the updates seem good.

[2019-06-17 23:08] JoelProminic commented on #584
I retested this on my laptop on macOS 10.13.6, and the Flex and Feathers SDK downloads did not fail.

[2019-06-17 23:09] JoelProminic commented on #585
We found some more problems during the meeting this morning, but @rat-moonshine pushed a fix.  This works for me on macOS 10.13.6.

However, the fix involved moving the status file to ~/Downloads/MoonshineSDKs, so that it would be reachable by all Moonshine versions.   We need to retest this on macOS App Store and Windows.

[2019-06-18 09:02] rat-moonshine commented on #585
Tested on Windows, so far I didn't noticed any problem with recent changes.

[2019-06-19 04:32] piotrzarzycki21 commented on #580
I have pushed some fix in that area - it is possible that this was fixed. Try to test if find time.

[2019-06-19 16:21] #585 closed

[2019-06-19 17:05] JoelProminic commented on #580
I retried the original test procedure, and I still get this same error (three times) when I try Edit > Go To Definition:

    : Error #1034
    : TypeError: Error #1034
    : 	at flash.events::EventDispatcher/dispatchEvent()
    : 	at actionScripts.utils::KeyboardShortcutManager/dispatch()
    : 	at actionScripts.utils::KeyboardShortcutManager/stopEvent()
    : 	at actionScripts.ui.menu::MenuPlugi

[2019-06-19 22:02] joshtynjala commented on #492
No solution yet, but just an update to say that I can still reproduce this issue too.

I have determined that it happens when the language server takes a long time to respond. The `NativeProcess.standardInput` buffer is filled to capacity as too many new requests are queued while it waits for the previous response.

[2019-06-20 16:33] JoelProminic commented on #503
While I was working on building moonshine-dependencies.xml for Prominic projects, I noticed that the Dependency entries in the Browse interface were not sorted like I expected.  (I gave specifications for the Manage Repositories list, and the base level of Browse All above, but I see I didn't write anything for the dependencies themselves).  They seem to currently be sorted by repository URL, but

[2019-06-20 16:42] JoelProminic opened #586 ""Checkout/Clone All" Option for Project Dependencies"
While working on the moonshine-dependencies.xml (#503) for Prominic projects, I have been thinking about how we could further streamline the process by giving users the option to checkout/clone all listed dependencies.  This would generally be used for individual projects, rather than organization-wide project lists.  All projects would be checked out/cloned to the same parent directory

However,

[2019-06-20 16:45] JoelProminic commented on #573
Now the user can use the "Run Gradle Command" prompt from #570 to run a "gradle clean" from Moonshine.   This should work to clear the problem, but I still want to investigate what causes this to trigger in the first place.

[2019-06-20 22:13] joshtynjala opened #587 ""Esc exits" in plugin descriptions"
For example, `AntBuildPlugin` has the following description:

[code]

(many other plugins have it too)

Pressing the <kbd>Esc</kbd> key doesn't actually exit the settings. Either it should exit the settings, or this text should be removed from the description.

[2019-06-21 06:54] rat-moonshine commented on #503
Please, check.

[2019-06-21 07:45] rat-moonshine commented on #586
We have Clone/Checkout option in two places - Manage Repositories and Browse Repositories. I think you probably wants 'Clone/Checkout All' option in Manage Repositories only (?) as having the option in Browse Repositories means you may need to display full SVN tree in the selection-view that proposed.

If we run the selected list in a queued manner then asking with auth-window may not be a problem

[2019-06-21 07:48] rat-moonshine commented on #587
What is the expected behavior we would want against Settings windows - do we want to have the tab removed on Esc keys or close by buttons?

[2019-06-21 10:18] rat-moonshine commented on #581
Breakpoint hit area should be more flexible now. Report if any accessibility issue noticed.

[2019-06-21 14:40] JoelProminic commented on #586
To be clear, I mean to use this feature for the entries in a selected moonshine-dependencies.xml  only.  Running this from Manage Repositories or Browse All would potentially check out multiple SVN trunks.

Adding an "auto-checkout" entry to moonshine-dependencies.xml is an interesting idea - this could highlight the essentials dependencies.

[2019-06-21 15:45] JoelProminic commented on #587
I think that " Esc exists." should be removed from these messages - either way, I don't think this is the right place for this message.

I don't have a really strong opinion on whether Esc should close (Cancel) the settings page.   However, I don't want this behavior for Esc on the editor pages (I am used to vi shortcuts, so I have a habit of tapping the Esc key).

Unless someone really wants the

[2019-06-21 16:36] rat-moonshine opened #588 "Brainstorming: Customizable shortcut-keys system"
\-- will update soon --

[2019-06-21 16:40] JoelProminic commented on #581
I tested this, and it seemed to work mostly like I expect.

I noticed that when I have added a breakpoint, the highlighted area after the number is not clickable.

![image](https://user-images.githubusercontent.com/24532731/59937931-4db03e80-9419-11e9-91f0-7fbb6ef7006b.png)

@rat-moonshine clarified that this area was what was causing the original problem - when it is not highlighted, this looks l

[2019-06-24 07:36] rat-moonshine commented on #503
@JoelProminic reported following problems in his last tests:

Also,

Initially I also able to reproduce the above two problems in my tests, when I tested by older downloaded XML. @JoelProminic can you try the whole steps in fresh download steps (as some sharedObject maybe crippled), I also did some fix for the following problem, please check:

![image](https://user-images.githubusercontent.com/243

[2019-06-24 08:52] rat-moonshine commented on #587
All the 'Esc exits.' reference have removed in Moonshine.

[2019-06-24 08:52] #587 closed

[2019-06-24 08:55] rat-moonshine commented on #581
I think this is not about a very close-click to the line number, but also when you clicked somewhere even away from the line-number; Please, check the issue description here:
![image](https://user-images.githubusercontent.com/24370870/59244563-9bb38e00-8c32-11e9-8c4b-1c3b2fb5d513.png)

As the current fix behave more gentle manner now, I'm closing this unless we'll see any problem to this.

[2019-06-24 08:55] #581 closed

[2019-06-24 16:09] JoelProminic commented on #148
As I use the Project Deletion action more, I find I am dissatisfied with the logic.  Generally what happens for me is:
1. I delete a project
2. Moonshine gives me a prompt to show all of the files that will be deleted
3. I choose to delete all
4. The project is deleted, but old files still remain (i.e. README.md, .svn, etc)

I don't like the combination of the confirmation prompt and the restricte

[2019-06-24 21:01] piotrzarzycki21 commented on #57
I'm closing this one, cause it mostly working when we type namespace. If you think differently reopen.

[2019-06-24 21:01] #57 closed

[2019-06-25 06:15] rat-moonshine commented on #148
I would like to oppose this thought. I personally many a time create small test projects to test different things, and when done I deletes them; This happens. I likes the IDE do this deletion for me as I feel very lazy or uninterested to open explorer, find the project and delete the folder manually. Saying that, I would prefer to have the IDE provide me option to delete the project.

On 'Remove t

[2019-06-25 06:40] rat-moonshine opened #589 "(Copy)Paste doesn't work when code-completion list is open"
I noticed following bug while working on editor:

1. Create an ActionScript project
2. Create a static class and any static field inside it:
[code]
3. Copy (Ctrl/CMD+C) '`AUTHENTICATED`' string
4. Move back to the project's application file, try to import `MyStaticClass` by pressing Ctrl/CMD+Space
5. Select `MyStaticClass` from the code-completion list and hit Enter, this should import the class r

[2019-06-25 16:59] JoelProminic opened #590 "Grails: Syntax Highlighting for Supporting Files"
These Grails file types do not have syntax highlighting currently
- .gsp - see grails-app/views.  HTML syntax highlighting should be sufficient here.
- .gradle - See build.gradle and settings.gradle.  Groovy/Java syntax hightlighting may be sufficient here
- .yml - grails-app/conf/application.yml
- .properties - See grails-app/i18n.  .properties files are also common for Java projects.

[2019-06-25 17:02] JoelProminic opened #591 "[Grails] Language Server Slow to Respond for Large Project"
I worked with a Prominic coworker to test Moonshine with a larger Grails project.  Unfortunately, the language server was not useable, because it took minutes for it to start working after I opened an editor.

The project will be released soon on GitHub.  I'll let you know when it is available so that you can test on that same project.  If I find another public project that can reproduce the behav

[2019-06-25 17:26] joshtynjala commented on #591
Was it during the time that the `gradle eclipse` command was running in the console? I've noticed that this command seems to take a long time sometimes (minutes, like you saw). The language server cannot actually be started until this is done because it creates the *.classpath* file needed by the language server to know which classpaths to set up for code intelligence. However, once the `gradle ec

[2019-06-25 18:43] JoelProminic commented on #591
"gradle eclipse" finished in 27 seconds for this project on my machine, so I don't think this is the limiting factor.

When I open a class file, it takes several minutes for the tooltips to be available, but they do show up eventually.  If I open another file, there is a long delay again.

Sorry for the lack of a project to reproduce this issue.  I was hoping this would be available sooner, but I

[2019-06-25 21:37] joshtynjala commented on #590
I added *.gsp* and *.gradle* to the existing syntax plugins. The others will probably need new plugins. Anyone can do that (no need to touch language servers or anything), so I removed myself as assignee.

[2019-06-26 16:30] JoelProminic commented on #580
@rat-moonshine, please review this to see if you can fix it for tomorrow.  If we can't fix it easily, we can bump it to the next release.

[2019-06-26 16:45] JoelProminic opened #592 ".grailsproj Does Not Need to Match Directory Name"
I noticed that Moonshine triggers an error if the .grailsproj does not match the name of the Grails project.  For example:
1. Add this repository: https://github.com/prominic/grails4-primefaces.git
1. Clone the project, but rename the project directory to "grails4-primefaces_rename"
1. The project opens, but this error triggers on the console.

    : Error reading XML file: /Users/-user-/Documents

[2019-06-26 17:17] JoelProminic opened #593 "Managing Grails and Gradle Version"
When I go through the [multiproject support demo](https://guides.grails.org/grails-multi-project-build/guide/index.html) (#569), I get this error:

    shellError while updating Gradle classpath
    FAILURE: Build failed with an exception.

    * Where:
    Build file '/Users/joelanderson/Documents/Flex/temp_workspace/grails-multi-project-build/initial/multiproject/build.gradle' line: 35

    * Wh

[2019-06-26 17:21] JoelProminic commented on #569
While going through the demo, I had some issues with using the correct Gradle version for the Grails version.  I can work around this by manually downloading an older verion of Gradle (3.5) and configuring it in Moonshine.  I created #593 to see if we could do this in a better way.

I still need to load the rest of the demo in Moonshine and make sure all of the commands and dependencies work.

[2019-06-26 17:54] JoelProminic commented on #569
After completing the demo, I get this when running "app:bootRun" using "Run Gradle Application" on the "app" project.

    : Grails build directory: /Users/joelanderson/Documents/Flex/temp_workspace/grails-multi-project-build/initial/multiproject/app
    : Command: $GRADLE_HOME/bin/gradle app:bootRun
    : Cannot resolve reloading agent JAR: Could not resolve all dependencies for configuration ':a

[2019-06-26 18:32] JoelProminic commented on #568
This is working fine in my tests.

[2019-06-26 18:35] JoelProminic commented on #570
The interface requested for this issue has been working well, so I'll close this issue.

The "Run Gradle Commands" interface also works well, but note that Grails may require a different version of Gradle than the one installed by Moonshine.  See #593 for more details.

[2019-06-26 18:35] #570 closed

[2019-06-26 22:23] #568 closed

[2019-06-26 22:39] JoelProminic commented on #503
Note that @rat-moonshine and I found some remaining issues with the refresh issue after his last coment.  It seemed that this triggered when the directory name of the cloned project did not match the original Git URL.

I see I am behind on reporting the testing status:

Update/Bug | Status
-----------|-------
Missing Git menu options |  Working
Match sorting of moonshine-dependencies.xml | Sorted

[2019-06-26 22:39] #503 closed

[2019-06-26 22:44] JoelProminic commented on #554
Basic Grails support is working in Moonshine.   I am going to close this issue, and create separate, more-specific issues to track any other issues I find.

[2019-06-26 22:44] #554 closed

[2019-06-26 22:59] JoelProminic commented on #569
Revisiting this later in the day, I realized that I needed to run "bootRun" instead of "app:bootRun" in this case.  This built all of the dependencies properly, and the demo worked as expected.

However, the language server is still having trouble with the cross-project references.  These results can be reproduced using the complete example:
1. Clone the example repository outside of Moonshine:  g

[2019-06-27 06:07] piotrzarzycki21 opened #594 "Add Apache Royale nightly build download to Getting Started"
@rat-moonshine this should be first priority adding Nightly Build for next release. Another user come to Moonshine and first thing which he did he download 0.9.4 SDK which is definitely outdated and had problem with building newest examples.

[2019-06-27 06:24] rat-moonshine commented on #594
Yeah, this likely a very problematic thing when stable release does not work. I'll talk to @JoelProminic whether we want to create a new entry for nightly build download (in MSDKI) or replace the existing one (anyway, the existing stable one does not meet our purpose now).

[2019-06-27 06:26] rat-moonshine commented on #594
I think it'd be good to move the issue to https://github.com/prominic/Moonshine-SDK-Installer/issues @piotrzarzycki21 .

[2019-06-27 07:07] piotrzarzycki21 commented on #594
I have added issue there. Closing this one.

[2019-06-27 07:07] #594 closed

[2019-06-27 11:45] rat-moonshine commented on #592
I did some updates at Moonshine side, I also found a static name+extension reference in [GrailsProjectCompilationUnitFactory.java](https://github.com/prominic/Moonshine-IDE/blob/master/language-server-wrappers/moonshine-groovy/src/main/java/moonshine/groovyls/GrailsProjectCompilationUnitFactory.java#L75) which was throwing the error during language-server start.

I don't know things requisite to J

[2019-06-27 15:56] JoelProminic commented on #592
The .grailsproj updates seem fine. I tested:
- .grailsproj with a different name
- .grailsproj with the same name
- no .grails4proj (triggered import dialog)

I notice that double-clicking the .grails4proj file does not open the project in Moonshine, though.

[2019-06-27 16:06] rat-moonshine commented on #592
I pushed an update for above. But this requires to build and install to test it's working.

[2019-06-27 19:51] JoelProminic commented on #547
Here is another way to handle the local JAR dependencies for Gradle.  I confirmed that this also worked in Moonshine.

[code]

[2019-06-27 21:40] JoelProminic opened #595 "Report moonshine-dependenciex.xml for Cloned/Checked Out Projects"
If a user clones or checks out a project that contains a moonshine-dependencies.xml file, I would like to to notify them after the operation completes.

The current behavior is:
1. Clone https://github.com/prominic/git-meta.git
2. The operation completes, and reports that the clone was succesful
3. The user has to know to return to the Repository Manager and open the "Prominic.NET Projects on GitH

[2019-06-28 04:31] rat-moonshine commented on #592
As the above requirements seems met, I'm closing this issue unless we want to do anymore amendments/fix.

[2019-06-28 04:31] #592 closed

[2019-06-28 10:10] rat-moonshine commented on #580
I confirm I able to produce the error on macOS run. This should be fixed now, please, check.

[2019-06-28 10:10] #580 closed

[2019-06-28 16:17] JoelProminic commented on #580
Both "Go To Definition" and "Go To Type Definition" work for me now on macOS.

[2019-06-28 17:25] JoelProminic opened #596 "CFBundleDocumentTypes Warning from App Store"
We got this warning while uploading Moonshine to the App Store today:

This seems to be the relevant section:  https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html#//apple_ref/doc/uid/20001431-101685

[2019-06-28 17:26] JoelProminic commented on #596
I think this indicates that "LSHandlerRank" is missing.

I confirmed we do not have this in info.plist currently:

        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>as</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <arra

[2019-07-01 15:51] rat-moonshine opened #597 "Royale references to Useful Links"
We need to add known useful (and not-outdated) links of Royale/Jewel references to Useful Links in Moonshine. Following are few links which I noticed during my involvement, this can be updated per necessary:

- Royale website (https://royale.apache.org/)
- Tour de Jewel (https://royale.apache.org/tourdejewel/)
- [Royale API Docs](http://apacheroyaleci.westus2.cloudapp.azure.com:8080/job/Royale_ASD

[2019-07-02 17:15] joshtynjala commented on #579
I can reproduce this error when opening a Java Gradle project. Not sure what's causing it, though. It seems that the language server is creating a compiler error/problem, but it's failing because it can't properly figure out the line number.

I see that my project reports this problem in build.gradle:

Failed to load native library 'native-platform.dll' for Windows 10 amd64.
The system cannot find

[2019-07-11 05:20] rat-moonshine opened #598 "Closing Royale project sometime do not closes all its opened editors"
Closing any Royale project from the sidebar (by right-click context-menu and 'Close') removes the project from sidebar but sometime not closing all its opened editors. The behavior seems unpredictable, we may need to investigate this as we able to create a clear reproducible steps.

However, this works fine for the Flex project types.

[2019-07-15 03:15] feather812002 opened #599 "[Grails] Hot key support for groovy file /gsp file/html file"
I can success import a grails priject into Moonshine-IDE.
But I found it is difficult when I try coding with Moonshine-IDE.
I no found any hot key work with Moonshine-IDE.
For example ,when I want comment one line code .
I hit the "Command+ /" in the keybord , but nothing happen .
This just a simple hot key ,it work with any IDE .
I don't know why it not support in Moonshine-IDE.

Other important

[2019-07-15 05:58] mprabhu33 opened #600 "Not able to COMPILE Flex mobile project"
MoonShineIDE version: 2.4.0, Build 1387
Apache Flex SDK: 4.13.0
Adobe AIR SDK: 32.0.0.116

When compile flex mobile project using Moonshine IDE(Project -> Build & Run)
Getting below error in the console
Compiling ServiceManagement
: Error #3214
: ArgumentError: Error #3214
: 	at Error$/throwError()
: 	at flash.desktop::NativeProcessStartupInfo/set executable()
: 	at actionScripts.plugins.swflaunch

[2019-07-15 08:06] piotrzarzycki21 commented on #600
@mprabhu33 Did you compile hello world project or this is your's one ?

[2019-07-15 08:28] piotrzarzycki21 commented on #600
Sorry I see you were compiling your project. Do you use some ANE ?

[2019-07-15 08:29] piotrzarzycki21 commented on #600
@rat-moonshine Do you see anything suspicious in this stacktrace ?

[2019-07-15 09:40] rat-moonshine commented on #600
This looks like error thrown while setting `executable` to NativeProcess while processing project's Native Extension(s).

@mprabhu33 , we need more information at your side to address the problem.

1. Go to `File -> Settings -> Default SDK`, and check if you have any Java path set (something like this):
![image](https://user-images.githubusercontent.com/24370870/61206708-dff1ec80-a710-11e9-9a19-76

[2019-07-15 10:08] rat-moonshine commented on #599
Hi, thanks for reporting.

We are aware that many shortcut-keys that are not yet present in Moonshine, but we're working on integrating most basic needs to the editor/IDE. Some issues already raised on needful shortcut-keys which you can find here (in Issue list). We also have a plan to expand the possibility of customizing shortcut-keys in future (#588 ). For now, you can find the most of the sho

[2019-07-15 10:22] feather812002 commented on #599
okay ,it look like I am not starting the  language-server  correct.
But ,if the moon-ide must need the starting a language-server to Grails project, the correct way should report a alert message tell user how to starting the language-server.

I am a newbie for Moonide.
I think any user work with moon-ide first time  should get the correct alert message,
It can guidness me how to starting the  lang

[2019-07-15 19:58] JoelProminic commented on #599
We also have specific issue for block commenting:  #575

For the language server problems, this sounds like he same behavior as #591.  This is stuck until we can provide Josh with a public Grails project that he can use to reproduce the error.  Hopefully the phone interface app will be released soon.

[2019-07-16 06:25] mprabhu33 commented on #600
Able to compile our project now.
Thanks to @piotrzarzycki21 and @rat-moonshine .

We are using ANE in our project.

Set the JDK path under File -> Settings -> Default SDK.
![JDKPath](https://user-images.githubusercontent.com/29938922/61270445-53523780-a7bf-11e9-90b5-7ab798eb4658.PNG)

[2019-07-16 06:25] #600 closed

[2019-07-16 06:28] rat-moonshine commented on #600
Glad that worked for you @mprabhu33 . Let me know if you have any further trouble. Thanks!

[2019-07-17 09:58] rat-moonshine commented on #596
Build script updated to generate `LSHandlerRank` tag against file-type-associations accordingly:

Type/Extension | LSHandlerRank-value
--------------------- | ------------
as3proj | Default
veditorproj | Owner
javaproj | Owner
grailsproj | Owner
as, css, txt, mxml, xml, js, htm, html, awd | Alternate

Tested on macOS, double-clicking on any of the supported project-configuration file opens the pro

[2019-07-18 15:14] joshtynjala opened #601 "Hover: parse LSP result as Markdown"
Possible Markdown parsing implementations in ActionScript:

https://github.com/cstrahan/Showdown.as
https://github.com/bbeaumont/Actiondown
https://github.com/Corsaair/markdownlib

They all seem to be BSD licensed.

[2019-07-23 06:43] rat-moonshine opened #602 "Flex to Royale easy-conversion on premium support"
From Yishay on Flex to Royale conversion through Moonshine premium plugin-support:

[2019-07-23 07:02] rat-moonshine opened #603 "[Haxe] Code-completion issue on Windows"
@joshtynjala , I'm adding a screen-recording to explain the problem I encountered on Windows. Also, after a variable declaration `var abcd:` hitting Ctrl+Space do not opens the code-completion list until something typed.

![GIF1](https://user-images.githubusercontent.com/24370870/61689940-cfabc400-ad45-11e9-9374-e27adf2bc4d2.gif)

[2019-07-23 07:02] chrisvelevitch opened #604 "Spinner still spinning after unzipping SDK"
When the SDK installer finishing unzipping the Flex SDK (as per the message), the spinner is still spinning and it isn't clear what the installer is doing. When I quit and restart the  installer, the installer shows the SDK as installed (see attached screenshot).

![msinstaller](https://user-images.githubusercontent.com/2127487/61689764-63878b00-ad5a-11e9-8aa3-0ef38ef49224.jpeg)

[2019-07-23 07:10] rat-moonshine commented on #604
@chrisvelevitch thanks for reporting. I'll look into the installation process if something have changed recently with checksum/MD5 check to download/installation.

However, the Flex installation process could take longer doing many different steps of installation, and each steps will show their individual progress(bar) to completion. To give a more detail, a large portion of these installation don

[2019-07-23 07:26] rat-moonshine opened #605 "[Haxe] Build & Run Error: http-server install failed"
I have following versions of `Haxe` and `Node.js` installed in my Windows system, along with other programs from my past-investigation to Haxe.

[code]
In Moonshine, I set the paths to _Settings_:
![image](https://user-images.githubusercontent.com/24370870/61691091-6da08e00-ad48-11e9-8d8d-13f740cdbeb0.png)

I have created a new Haxe project with supplied template. Executing 'Build & Run' thrown me

[2019-07-23 12:24] rat-moonshine commented on #604
I couldn't able to get a test complete on my macOS but that could related to some network problem to my system. I shall do more tests later on this. However, while testing on Windows I encountered problem while validating PlayerGlobal.swc. This is something different than the steps @chrisvelevitch encountered, though. @piotrzarzycki21 do you think this could be an issue of updated MD5 to playerglo

[2019-07-23 13:52] piotrzarzycki21 commented on #604
It looks like MD5 issue!

[2019-07-23 14:20] chrisvelevitch commented on #604
If these are the exact steps in the exact order, then there shouldn't be a delay between displaying the `Finished unzipping` message and displaying the `Preparing build script run` message. Is there a bug in displaying the messages of each step after the `Finished unzipping` step message?

I feel it is important to provide constant feedback of each step so it looks like something is happening and

[2019-07-23 14:26] piotrzarzycki21 commented on #604
@rat-moonshine Please try with original Installer and let me know. After first look MD5 files looks good.

[2019-07-23 15:08] joshtynjala commented on #605
It looks like a rename on the file system is failing. Probably because it is open in another process. Is it possible that you have another instance of the http-server npm module running on your computer? Maybe in a different project or IDE?

If not, could you try restarting your computer to see if it still happens?

[2019-07-23 15:36] rat-moonshine commented on #605
Is it possible but I'm not sure if any earlier action triggers the npm instance running. I re-tested this after a machine restart. This time I successfully able to run to my default browser.

I see there is a need to terminate the npm-instance (?) before running a new one.

I tried to run 'Build & Run' by not terminating the instance from bottom-right corner intentionally, console sends me message

[2019-07-23 17:11] rat-moonshine commented on #604
Oh I completely agree with you that constant notification is very much helpful. Unfortunately, the (file) copying progress after an unzipping is difficult to track at this moment, and also became sometime unresponsive.

Looking into your screenshot it seems the process were in file-copying stage after an unzip; However, as you confident that Adobe AIR, playerglobal etc. also downloaded without a h

[2019-07-24 03:19] chrisvelevitch commented on #604
When you exit the installer and restart it, the previous session(s) log(s) are lost.

In my case, this log contains:-
[code]
and the variables `$[shouldUnzip}` and `${isWindows}` are not expanded (at least not in the log).

[2019-07-24 05:18] rat-moonshine commented on #604
@piotrzarzycki21 the problem seems identical when downloading version 32.0 with original installer:

[code]
Can you confirm you checked MD5 to 32.0 and not 31.0 (downloading 31.0 didn't shown any problem).

[2019-07-24 06:01] piotrzarzycki21 commented on #604
It was super weird! Yesterday I have checked Flex website repository and MD5 hash for 32 version of player was correct, so I responded to this issue that everything is ok. After your today's report I have checked link to [sdk-installer-config-4.0.xml](http://flex.apache.org/installer/sdk-installer-config-4.0.xml) directly on the website and it contains old MD5 hash. It looks like someone updated i

[2019-07-24 06:13] rat-moonshine commented on #604
Yeah, that seems to fix the problem. Thanks, Piotr.

@chrisvelevitch your error log seems identical with mine which turned out a MD5 problem. This is now corrected. So far I able to test this on Windows only, macOS test is pending. If you want to give a test first, and you do not have this problem on your macOS https://github.com/prominic/Moonshine-SDK-Installer/issues/15, then you can head for a

[2019-07-24 07:49] chrisvelevitch commented on #604
I tried again on macOS 10.13.6 and it successfully installed.

[2019-07-31 16:14] #605 closed

[2019-08-05 21:41] JoelProminic opened #606 "Match Mixed Indent of Previous Line"
I was working with a Java Maven project and the latest Bamboo build of Monshine today, and I noticed that Moonshine did not always automatically match the indent of the previous line when adding a new line.  After some investigation I found that when the previous line was indented with tabs, it worked, but when indented with spaces, it didn't work.

![image](https://user-images.githubusercontent.c

[2019-08-05 22:15] JoelProminic opened #607 "Java Method Does Not Complete Properly"
I noticed this behavior today when testing with the latest Moonshine build from Bamboo on macOS. I had not seen this before, but I'm not sure if I missed it in my test or if it is a new bug.
1. Create a new Java Maven project
2. Open the main Java class
3. Put the cursor on a new line in the main method, and type "System.out.println".  A completion prompt should show up.  Select the "println(Strin

[2019-08-08 16:08] #607 closed

[2019-08-08 16:31] joshtynjala opened #608 "Missing a menu item that can actually open a project"
When I search the menus for a way to open a project that I created in Moonshine, I cannot find anything that seems to work.

In the *File* menu, if I click *Open/Import Project*, and I choose a folder that contains an *.as3proj* file, nothing happens. No project opens in Moonshine. There is no error message displayed. It's the same when I choose *Open/Import Project* from the *Project* menu. This

[2019-08-08 16:34] joshtynjala opened #609 "Remember more items in File menu -> Recent Projects"
I have several projects that I frequently open in Moonshine. Sometimes, they disappear from the recent projects list, and I need to track down the *.as3proj* file (or *.javaproj*, etc.) on my hard drive.

I suspect that it's limited to 6 because we don't want too many appearing on the Home screen. That makes sense. However, in the Recent Projects menu, it would be nice to have a longer history ava

[2019-08-08 21:32] JoelProminic commented on #607
I confirmed that this is fixed in the latest version of Moonshine.   I also tried it with a real project (where I first noticed the error), and I found it worked well there as well.

[2019-08-13 16:53] joshtynjala opened #610 "Add "Close Others" to context menu on tabs"
Similar to "Close All", except that the tab where the context menu was triggered remains open, and all of the others close.

[2019-08-13 20:42] joshtynjala opened #611 "Restore Problems view after Moonshine is closed and reopened"
Similar to views in the sidebar, views in the tabs with the bottom console should be restored. For example, the Problems view. It's annoying to manually open it every time I use Moonshine.

[2019-08-13 20:42] joshtynjala commented on #611
Closed in commit 8751f1e0b7a4380250b35c8b2509490ff30e5baf

[2019-08-13 20:42] #611 closed

[2019-08-14 19:55] #430 closed

[2019-08-16 10:00] rat-moonshine opened #612 "Ability to navigate through opened editors by key-combination-press"
While working on more and more on Moonshine these days, I found a keen need of having a functionality to change the tab by key-combination, other than setting my hand on mouse and move to the tab to active again.

I would like to have standard key-combination to change between last-active tab and moving through all the opened tabs. I like how this handles in Visual Studio Code.

While pressing `Ct

[2019-08-16 11:09] rat-moonshine commented on #609
I don't see we have any limitation to show up-to 6 projects/files to the recent list in Home menu. I suspect if this limit you to show only 6, then there possibly some other problem. The recent list in Home is suppose to show scroll if there are many items.

The same applied for the `File -> Recent` items, too. There not suppose to be any item cap.

![image](https://user-images.githubusercontent.c

[2019-08-16 11:16] rat-moonshine commented on #608
If the folder contains a known project file (i.e. .as3proj, .javaproj etc.) then this suppose to work; This is how it's designed from beginning. If Moonshine see there is no project file exists to the location you selected - then Moonshine suppose to alert you if you want to create a new project to that directory with containing (possible)source-files.

If the above is not working for you, then I

[2019-08-16 16:34] joshtynjala commented on #608
Going into settings and clicking the "Reset All Settings (Hard)" button seems to have fixed this issue for me. I can now choose a folder, and it will open the project.

[2019-08-18 17:14] Nisaba opened #613 "Git / Manage Repositories doesn't work"
Hi,

When I click on Git / Repositories, it displays Settings / Subversion screen.
(maybe a bug)

So, I can't add a new Git repository.

Thank you for your help

[2019-08-18 17:16] Nisaba commented on #613
Please note I use 2.4.0 version

[2019-08-19 13:41] piotrzarzycki21 commented on #613
@Nisaba are you saying that you don't see following options in menu ?
![moon](https://user-images.githubusercontent.com/24554795/63270087-bf7cfb00-c297-11e9-90b2-794ed1cf38a2.png)

[2019-08-19 14:17] Nisaba commented on #613
Yes, I can't reach this screen.
Git / Manage Repositories goes to Settings / Subversion screen

[2019-08-19 14:20] piotrzarzycki21 commented on #613
Can you show me Help -> About ? - it looks like you have older version of Moonshine, which is pretty weird.

[2019-08-19 14:25] Nisaba commented on #613
![image](https://user-images.githubusercontent.com/34550856/63273121-e3870f00-c28c-11e9-96aa-77a785769356.png)

![image](https://user-images.githubusercontent.com/34550856/63273246-21843300-c28d-11e9-8d2c-706ae0a6304c.png)

[2019-08-19 14:30] piotrzarzycki21 commented on #613
This is a bug. Now I understand. One workaround is to just download SVN using menu **Help** -> **Getting Started** tab - it will setup path in that settings and allows you to use Git.

[2019-08-19 14:56] Nisaba opened #614 "Git authentication doesn't work"
I set "Need Authentication" option.

But it doesn't take the user name I set. It takes my Window login instead.
See pictures.

![image](https://user-images.githubusercontent.com/34550856/63275613-5e522900-c291-11e9-8ec2-3d0c97ccb7a4.png)

![image](https://user-images.githubusercontent.com/34550856/63275632-64e0a080-c291-11e9-8be4-f20493ade636.png)

[2019-08-19 14:57] piotrzarzycki21 commented on #614
Could you try non SSH solution ?

[2019-08-19 15:07] Nisaba commented on #614
The git repository is hosted on a redmine server so the repository can't be reached by https

SSH access works well on Visual Studio

[2019-08-19 15:09] piotrzarzycki21 commented on #614
Thanks. We will investigate that stuff probably next week due to vacation time.

[2019-08-19 15:10] Nisaba commented on #614
OK, thank you very much

[2019-08-28 16:17] #205 closed

[2019-08-28 19:17] JoelProminic opened #615 "Hightlighting Issues for <script> Tag"
I noticed this behavior today on macOS:
1. Create a new Royale project
1. Open src/resources/jewel-index-template.html
1. Paste the script examples below in the <head>
1. The attribute values in the first and last script tags do not highlight properly.

![image](https://user-images.githubusercontent.com/24532731/63885688-867f0d80-c99e-11e9-84d0-0e2ea92d1be2.png)

[code]

[2019-08-28 21:13] joshtynjala commented on #145
This issue will be fixed in the upcoming vscode-as3mxml v0.22.

[2019-09-04 06:17] rat-moonshine commented on #613
I have updated the code to open correct sections in Settings when Git or SVN path is not available, or does-not exists after clicking on 'Manage Repositories'. Generally you suppose to get hit by the following screen during startup unless you chose to 'Do not show again' option previously.

![image](https://user-images.githubusercontent.com/34550856/63273246-21843300-c28d-11e9-8d2c-706ae0a6304c.pn

[2019-09-04 09:05] rat-moonshine opened #616 "Royale-js fail compilation when output path has a space"
Under project's `Settings -> Run -> JavaScript Output Path` - if the path contains any space, project compilation fails.

[2019-09-04 09:08] #616 closed

[2019-09-06 08:49] rat-moonshine commented on #614
@Nisaba Thank you for reporting. Few quick questions:

1. Is "cbern" any user-name that you have previously used for 'any' Git repository?
2. Go to `Run -> Credential Manager -> Windows Credentials` - can you check if you have any Git credential saved previously, and if the user-name mentioned under the entry matches "cbern"
3. Try running `git config user.name` on command-line - what output you s

[2019-09-06 12:54] Nisaba commented on #614
Hi,
It takes cbern but it's my windows account that has no deal with my Git repository.
I want it to use my git user nisaba as the screenchot shows but it has no effect.
I don't want it to use my windows account.

git config user.name -> nisaba

But there are 2 git installs in my system :
- C:\Program Files\Git  (the default one I think)
- D:\MoonshineSDKs\Git\git-2.20.1

Thanks

[2019-09-11 05:59] piotrzarzycki21 commented on #614
@rat-moonshine moving discuss here from priv. You don't need windows to test that. Try access one of our repository trough ssh - did it work? You should be able to reproduce that issue. OS doesn't matter - you can use Mac.

[2019-09-11 06:17] rat-moonshine commented on #614
Yes, I'm investigating on mac only. Some more questions I probably ask to Nisaba again, I'll return to that shortly. OS does matter as in cases messages are different between the OS, and triggering auth window is also different between the OS'.

[2019-09-11 09:56] rat-moonshine commented on #614
Okay. Here's a few things after I going through the current codes.

Git requires to enter credentials in mostly two areas - 1. when cloning a private repository, 2. `git push`. In Moonshine, asking credentials happens in two ways - 1. on Windows git opens-up its native authentication window (this is automatic), 2. on macOS we provides an authentication window to enter credentials.

@Nisaba I'm not

[2019-09-11 10:29] rat-moonshine opened #617 "Git: Prompt for authentication when cloning a private repository"
The problem discovered during #614 , where no-authentcation handling in macOS run. On Windows the authentication prompt is automatic and managed by the Git-native process. We need ensure authentication prompt properly prompts to the user in case of cloning a private repository in both Windows and OSX.

We also noticed that the user-name provides in the 'Add/Edit Repository' window mainly using dur

[2019-09-11 10:34] rat-moonshine commented on #617
Things to note, in case of cloning repository with `ssh` protocol, this involve more than cloning from `http/s` with credentials.

When cloning from http/s the command looks like this:
`git clone https://{user}:{pass}@{host}/{repo}`

When cloning from `ssh` protocol, it involves `sshpass` executable:
`sshpass -p {pass} git clone ssh://{user}@{host}:{port}/{repo}`

[2019-09-11 18:10] Nisaba commented on #614
Hi,
The error comes with - git-clone

as previously said, here is the result of command-line:
git config user.name
-> nisaba

[2019-09-17 18:47] joshtynjala commented on #591
In the SwitchBoard app that you shared with me, I imported the *interface-source* folder as a project in Moonshine.

From the Project menu, I clicked "Open/Import Project". Then, I chose the *interface-source* folder. After this, Moonshine ran the `gradle eclipse` command, which took 3 minutes 59 seconds to initialize the project. However, when I reopened the project a second time by choosing it f

[2019-09-17 18:56] joshtynjala opened #618 "If completion list is open, typing Ctrl+Z inserts the z character instead of triggering Undo menu item"

[2019-09-19 05:37] rat-moonshine opened #619 "Re-structuring of Git process"
In the initial age of Git functionality integration we had a plugin-class (`GitHubPlugin`) along with a command management class (for the _plugin_) which communicates with Worker/NativeProcess to run functional commands and listens/acts/notify upon them, [GitProcessManager](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/plugins/git/GitProcessMan

[2019-09-20 09:30] piotrzarzycki21 opened #620 "Testing for release 2.4.1"
We need to test following items before start release process:
- ~~Getting Started: Added Apache Royale Nightly build. (@piotrzarzycki21 )~~ It's not implemented yet -> https://github.com/prominic/Moonshine-SDK-Installer/issues/12
- [x] Added USB device debugging on mobile for Adobe AIR. (@rat-moonshine )
- [x] Added Go To Implementation for interfaces. (@piotrzarzycki21 )
- [ ] Added Ctrl+Click on

[2019-09-20 10:30] rat-moonshine commented on #620
Thank you, for creating the issue @piotrzarzycki21 . This will work as a reminder for me.

[2019-09-24 14:12] piotrzarzycki21 commented on #620
@rat-moonshine can you provide me nightly version of Moonshine SDK installer 3.3.1 somehow ?

[2019-09-24 14:27] piotrzarzycki21 commented on #620
@rat-moonshine can you please look into that this week ?

[2019-09-24 14:28] piotrzarzycki21 commented on #620
Outlive view is working fine, but I would definitely have some UI improvements to the next releases.

[2019-09-24 15:28] rat-moonshine commented on #620
Sent you download link to email.

[2019-09-25 15:05] piotrzarzycki21 commented on #474
@joshtynjala Can you please show at least screenshot what do you mean by overloads ? I would like to check this one.

[2019-09-25 15:17] joshtynjala commented on #474
Some languages allow you to define multiple methods with the same name, but different parameters.

For example, you can do this in Java:

[code]

If you call `doSomething`, you should see the new buttons in the signature help popup to let you cycle through each of methods.

ActionScript does not support method overloads.

[2019-09-25 15:22] piotrzarzycki21 commented on #474
Silly me. Looking into that I was only thinking about AS3, forgot that Moonshine supports Java as well. :) I'm sorry about that! Thanks!

[2019-09-30 17:30] joshtynjala opened #621 "Resizing console on macOS leaves empty whitespace"
While the resize handle can be dragged, the height of the console does not change. Instead a white area is revealed (or the console is cut off on the bottom, if resized too small).

<img width="1440" alt="Screen Shot 2019-09-30 at 10 28 35 AM" src="https://user-images.githubusercontent.com/141885/65901527-3adccc80-e36d-11e9-97c2-ed622e476732.png">

[2019-09-30 17:33] joshtynjala commented on #591
I cannot reproduce on macOS 10.14.6 either. The `gradle eclipse` command took 1 minute 18 seconds the first time, and only 1 second the second time. Similarly, there was no delay on completion.

[2019-09-30 20:03] JoelProminic commented on #591
Sorry @joshtynjala, when I created this issue I expected to have a public example project available within a week or so.   This project is still stuck as a private project on GitHub.

However, I retested this project from GitHub (this copy has been modified from the original copy I tested), and I see that the reported behavior now longer triggers.   The Language Server started for me in 55 seconds

[2019-09-30 20:03] #591 closed

[2019-10-03 06:31] rat-moonshine opened #622 "Creating multiple class-files at a time in certain framework approach"
(The details needs to be written more broadly)

The basic idea is if we can reduce the time-spending on different classes creation during a framework specific file generation, i.e. PureMVC - where generating a view generally consists of multiple different classes, i.e. MXML, interface, mediator, proxy etc.

Since the kind of approach are framework specific, I'm not sure at this moment how we want

[2019-10-03 07:55] piotrzarzycki21 commented on #620
@rat-moonshine Any chance to look into that before you go on vacation ?

[2019-10-03 08:48] rat-moonshine commented on #620
Yes, this been pending at my end. I'm working on testing USB debugging at least by today and tomorrow.

[2019-10-04 11:30] rat-moonshine commented on #620
On a quick update to device-debug testing - I spent sometime trying to debug example mobile project to my Android device, from my macOS. For some reason, Moonshine failed to determine any connected device. However, I confirm if I ran the related command on Terminal I can see connected device.

I suspect the conditions to determine available connected device(s) somehow outdated and I will probably

[2019-10-04 16:41] rat-moonshine commented on #620
Joel pointed to a good point here - https://github.com/prominic/Moonshine-IDE/issues/479#issuecomment-474089329 whether we need to have an entitlement to access USB in sandbox. I will need to try by that.

[2019-10-05 16:00] zhangfeibao opened #623 "ArgumentError: Error #3214"
- [x] Review the documentation: https://github.com/prominic/Moonshine-IDE
- [ ] Search for existing issues: https://github.com/prominic/Moonshine-IDE/issues
- [ ] Use the latest stable version at: http://moonshine-ide.com
- [ ] Let us know how to reproduce the issue. Include a code sample, or share a project that reproduces the issue

## Environment

## Description

## Steps to Reproduce

## Expec

[2019-10-07 12:39] piotrzarzycki21 commented on #623
Could you please try development version of Moonshine and let us know whether you have same issue. [Mac](https://moonshine-ide.com/downloads/releases/dev/macos/) and [Windows](https://moonshine-ide.com/downloads/releases/dev/windows/)

[2019-10-09 06:27] rat-moonshine commented on #10
I able to have application installed to USB-device after having new entitlement added:

[code]

@JoelProminic , we shall be needing this in production entitlement plist file for the purpose.

However, I encountered with many a problem during my tests to this issue, which may not directly related but affect to the functionality of the issue. I'm trying to brief them here, @joshtynjala .

**Test-Env

[2019-10-09 06:28] rat-moonshine commented on #620
I have updated my test results to the issue.

[2019-10-09 13:11] cottage14 opened #624 "Sample Royale Jewel project does not compile with Royale 0.9.6"
- [ ] Review the documentation: https://github.com/prominic/Moonshine-IDE
- [ ] Search for existing issues: https://github.com/prominic/Moonshine-IDE/issues
- [ ] Use the latest stable version at: http://moonshine-ide.com
- [ ] Let us know how to reproduce the issue. Include a code sample, or share a project that reproduces the issue

## Environment
 I downloaded and installed Moonshine 2.4 on a l

[2019-10-09 13:18] piotrzarzycki21 commented on #624
@cottage14 are you using Windows or Mac ?

[2019-10-09 13:37] cottage14 commented on #624
Sorry: Windows

On Wed, Oct 9, 2019 at 10:18 AM Piotr Zarzycki <notifications@github.com>
wrote:

--
Andrew Wetmore

http://cottage14.blogspot.com/
http://portfolio.cottage14.com
http://annapolisndp.ca

[2019-10-09 13:41] piotrzarzycki21 commented on #624
I didn't reproduce your issue on released version, but I discovered something more in Royale. First of all could you please download Nightly build of Moonshine and try build project using -> [dev](https://moonshine-ide.com/downloads/releases/dev/windows/) - Uninstall previous version. Create this hello world from scratch as well.

In case of Royale I downloaded JS only version and I couldn't build

[2019-10-09 15:34] JoelProminic commented on #10
If we add an entitlement to the App Store version, then we'll need to worry about justifying it for the App Store review.   Do we need the entitlement if the user uses the non-sandbox build instead?  It looks like this was our solution for #479

[2019-10-09 15:38] rat-moonshine commented on #10
Since this an IDE so we might justify the necessity of the entitlement for the USB-debugging.

The non-sandbox version uses different entitlement (with sandbox off), so we can partially have the entitlement available for the non-sandbox version, but I think that would limitise the feature availability between the versions. Perhaps, we can try to justify ours reason at least once.

[2019-10-09 20:22] cottage14 commented on #624
I have been deleting and re-creating the project several times, with no
success when I try to compile and run the basic Jewel or basic Basic
project. The current error I see on "build and run as JavaScript" is

: Compiling instandAuthor
: The system cannot find the path specified.

Do you have any idea what path the system is trying to find?

<https://www.avast.com/sig-email?utm_medium=email&utm_s

[2019-10-10 07:59] piotrzarzycki21 commented on #623
@zhangfeibao did you try suggested nightly build ?

[2019-10-15 16:38] rat-moonshine opened #625 "Closing editor with keyboard shortcut throws exception"
Tested on macOS with CMD+W.

Having any editor opened and using shortcut-keys to close the editor (i.e. CMD+W) does close the editor but throws an exception to console:

[code]

[2019-10-15 22:23] joshtynjala commented on #10
FYI, this week, I'm working on addressing the issues brought up with device installation and debugging.

[2019-10-16 02:32] doug777 opened #626 "Compiling mx Modules"
- [ ] Review the documentation: https://github.com/prominic/Moonshine-IDE
- [ ] Search for existing issues: https://github.com/prominic/Moonshine-IDE/issues
- [ ] Use the latest stable version at: http://moonshine-ide.com
- [ ] Let us know how to reproduce the issue. Include a code sample, or share a project that reproduces the issue

## Environment
Win10 Pro v1903

## Description
I have recently

[2019-10-16 21:32] joshtynjala opened #627 "AIR mobile debugging: Choose between USB and Wi-Fi"
Currently uses USB, but AIR supports connecting the debugger to mobile devices over wi-fi too.

[2019-10-16 22:08] joshtynjala commented on #10
Alright, with my latest changes, debugging on mobile devices should be more reliable. I have confirmed that it's possible the debug more than once in a single session, without restarting Moonshine. Tried with both Android and iOS.

[2019-10-17 01:46] doug777 commented on #626
If I compile each module separately and place the swfs into the correct directory structure, when I debug, the project builds correctly but when it starts to load the first module I get an error -

Illegal override of FlexModuleFactory in mx.core.FlexModuleFactory

This class contains a function allowDomain() which perhaps is the problem as it is commented - this function is overridden by the comp

[2019-10-17 08:47] piotrzarzycki21 commented on #626
I'm not sure how to help you @doug777 . I can definitely encourage you to try [dev version](https://moonshine-ide.com/downloads/releases/dev/windows/) of Moonshine and see how it's working.

[2019-10-18 08:50] doug777 commented on #626
I've got the latest dev version now but there's no difference.

I have found a way to use FB3 to compile main app and all the modules and then use AIR32's adt to create the AIR package. When I run the air file it creates, it works correctly and there is no FlexModuleFactory error.

But I desperately need to debug in Moonshine.

I think it's likely that the error is caused by the Moonshine compiler

[2019-10-18 09:12] piotrzarzycki21 commented on #626
@joshtynjala do you have any idea what we may miss in debugger?

[2019-10-18 12:12] rat-moonshine commented on #10
I spent sometime today on testing by downloading latest build version from Bamboo. Following were my tests results between sandbox and non-sandbox respectively.

Both the builds I tested with stock mobile example, providing self-signed certificate for signing, using Android device with macOS. I confirm device is detectable to macOS by running following command in Terminal:

`adt -devices -platform

[2019-10-18 16:07] joshtynjala commented on #626
As far as I know, there's no way to launch a debug session in Moonshine without also compiling first, so I don't think it will be possible to debug Doug's app in Moonshine, even if he can use Flex Builder 3 to compile it.

With that in mind, the first issue that we would need to resolve is how to properly compile Flex modules in Moonshine. I'm not super familiar with how Moonshine calls the Flex S

[2019-10-18 16:17] joshtynjala commented on #10
I guess that's what I get for testing on Windows only! 😉

[2019-10-19 07:16] doug777 commented on #626
Yes I'm sure Josh is correct, but if you add the compiled modules to the bin-debug folder or the bin-release folder, they remain untouched by the compiler which only overwrites MyApp.mxml and it should work, but it causes the FlexModuleFactory error both in Debug AND Run. So it's definitely not the debugger. It is the compiler that has a problem.

*** I do not need this since I can do it manually,

[2019-10-21 18:08] joshtynjala commented on #10
The exceptions thrown when choosing Build & Run should now be resolved.

I cannot reproduce the issue where the signing options. On both Windows and macOS, I can successfully activate Build & Debug using both Android and iOS devices. Confirmed that it displays console output and stops at breakpoints.

[2019-10-22 05:51] rat-moonshine commented on #10
I tried by downloading latest sandbox and non-sandbox builds from the Bamboo. This time I didn't seen any error, unfortunately I only returned by following messages to console, either the build I'm using:

[code]

It looks like password is not injecting to the native-process properly.

@piotrzarzycki21 Can you able to spend some time testing this on your macOS and with Android or iOS device? With

[2019-10-22 08:19] piotrzarzycki21 commented on #10
@rat-moonshine I won't be able to test that. Please if it's possible proceed based on your tests.

[2019-10-22 15:03] joshtynjala commented on #10
It's very strange to me that adt is asking for your password because I can see `-storepass moonshine` in the adt command from your output.

Hmm... maybe it's because there are spaces in the path to the certificate:

/Users/devsena/Documents/Adobe Flash Builder 4.7/ProminicGITBranch/Moonshine-IDE/ide/MoonshineDESKTOPevolved/build/MoonshineSelfSignedCertificate.p12

I'll try to escape the paths pass

[2019-10-22 16:32] joshtynjala commented on #10
I was able to reproduce the issue with spaces in the certificate path. I just pushed a fix, and it works on both Windows and macOS.

I added a new class named `CommandLineUtil` with a method named `joinOptions()`. It takes a `Vector.<String>` and returns a single `String` with all options joined. If any of the individual options contain space characters, they are escaped appropriately for the curr

[2019-10-23 06:07] rat-moonshine commented on #10
Thank you, @joshtynjala , for adding that utility class; should be helpful in different areas.

I tested by newer builds, but I came by following problem with a fresh mobile project test:

[code]

I see you choose to merge device-packaging codes into [MXMLCPlugin.as](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/plugins/as3project/mxmlc/MXMLCPl

[2019-10-23 14:42] joshtynjala commented on #10
The debugger process now handles installation and launch, so maybe the debug plugin can dispatch a new event when it is fully connected, and we can use that event to hide the busy notification instead of whatever we're using now.

[2019-10-24 16:29] rat-moonshine opened #628 "Local environment setup process fails on Windows"
Moonshine run some process to setup local environments (to Moonshine) against external SDKs before using them (or run any native-process associated to them). To do this, Moonshine writes a batch file on Windows and executes.

I noticed today that the batch execution fails on Windows, when any 'set $PATH=' command has a path with space. A path like this followed by (batch) execution failure:

`set

[2019-10-24 16:29] rat-moonshine commented on #628
The paths are now double-quoted to fix the problem:

`set FLEX_HOME="c:\Program Files\Adobe\..."`

[2019-10-24 16:29] #628 closed

[2019-10-30 19:13] joshtynjala opened #629 "Haxe: debugger for HashLink"
https://github.com/vshaxe/hashlink-debugger

[2019-10-30 19:13] joshtynjala opened #630 "Haxe: debugger for hxcpp"
- OpenFL and Feathers UI projects (windows/mac/linux target)

https://github.com/vshaxe/hxcpp-debugger

[2019-10-30 19:15] joshtynjala opened #631 "Java: debugger"
https://github.com/Microsoft/java-debug

[2019-11-05 15:42] verymandeep opened #632 "overriding URL"
When I try to override the URL to use http instead of the local disk, override doesn't seem to work, am I misunderstanding something ?
(hopefully I'm asking this question in the right place as I never asked a question on GitHub)
![moonshine url question]
(https://user-images.githubusercontent.com/57406671/68222413-f9b58900-ffb8-11e9-87e4-2abea4108bfb.png)

[2019-11-05 16:15] piotrzarzycki21 commented on #632
Just for the reference [discussion](http://apache-royale-users.20374.n8.nabble.com/moonshine-td2935.html) on Royale dev list.

[2019-11-05 18:12] JoelProminic opened #633 "Open Files Do Not Update After SVN Update"
I have been using Moonshine for a Java SVN project recently, and I ran into this bug after working on another workstation:
1. Open an SVN project in Moonshine
2. Open a file
3. Update the same file in another copy of the SVN project and commit
4. In Moonshine use Subversion > Update.  The console shows the update
5. BUG:  The updates do not show in the open tab
6. Make an edit in the tab and save

[2019-11-07 17:30] JoelProminic commented on #593
Luis had this same problem yesterday, and we had to figure out how to fix it again.   We'll need to find a solution for this if we want Grails applications to be easy to use.

[2019-11-07 17:35] JoelProminic opened #634 "Gradle Console Does Not Scroll to Bottom When Finished"
I have seen a problem with Grails and Java Gradle applications where the console does not scroll fully to the end of the output when a Gradle or Grails command finishes.  As a result, the user may be confused into thinking that the command is not yet done.

With the most recent build, of Moonshine, I haven't been able to reproduce this consistently.   I'll update this issue if I notice a pattern.

[2019-11-08 07:51] #632 closed

[2019-11-08 08:18] piotrzarzycki21 commented on #632
Hi @verymandeep ,
I have fixed this issue. We will soon release version 2.4.1, but if you don't won't to wait you can try out nightly build. I'm not sure what OS you are using so here are the links [Windows](https://moonshine-ide.com/downloads/releases/dev/windows/) and [Mac](http://moonshine-ide.com/downloads/releases/dev/macos/)

[2019-11-08 18:19] JoelProminic commented on #299
I did some tests on macOS with this feature while reviewing the Changelog for the 2.4.1/2.5.0 release.

I found that Edit > Go To Implementation was not enabled at all for Java Gradle projects.  Which project types are supported currently?

I created an example Flex Desktop project to test this.  However, the popup window does not show any entries in my test.  Here is my project:

[2019_11_08__Tes

[2019-11-08 18:46] joshtynjala commented on #299
Place the cursor on the name of an interface instead. It should show a list of classes that implement the interface.

I could potentially add support for interface methods with this command too, but it is not possible at this time. It would need to be implemented in a future update to the AS3 & MXML language server.

I enabled this command for AS3 & MXML projects because I know that it is supporte

[2019-11-08 20:20] JoelProminic commented on #299
Okay, I see now.  It seems to be working as described, so I will close the issue again.

[2019-11-08 20:20] #299 closed

[2019-11-08 20:53] JoelProminic opened #635 "Hang on New Grails Project"
I am unable to create a Grails project in the Moonshine 2.5.0 development build on macOS.
1. Open Moonshine
1. File > New > Grails Project
1. BUG:  The interface hangs.  I do not see the New Project prompt, even after I wait a few minutes.

I got this error with both the default Grails and Gradle SDKs from ~/Downloads/MoonshineSDKs and with external SDKs that I was using for a different test.

[2019-11-08 21:05] JoelProminic commented on #474
I have been using this for a Java Gradle project, and it works well.  Eventually, we may want to add some parameter guidance after one of the signatures has been selected - for example, Eclipse shows placeholders for the parameters that are overwritten as we type.   This works for now, though.

However, I see this does not work for Java or Groovy files in an existing Grails project (new Grails pro

[2019-11-08 21:31] JoelProminic commented on #603
I see some language features enabled for Haxe on macOS, but I get an empty list when trying to  complete a local variable name:

![image](https://user-images.githubusercontent.com/24532731/68512027-d438b180-023c-11ea-852e-a99a9fc3a80c.png)

[2019-11-08 21:42] JoelProminic commented on #613
Testing on macOS with the latest 2.5.0 development build, I still can't open Git > Manage Respositories without setting a path for SVN.
1. Open Moonshine
1. Moonshine > Settings
1. Open Subversion tab, clear the value, and save
1. Check the Git tab in the Settings, and confirm that Git Binary is still set
1. Git > Manage Repositories (note that this this is enabled in my test)
1. BUG:  the user is

[2019-11-08 21:57] JoelProminic commented on #613
On Windows, I see this behavior:
1. Open Moonshine
1. Moonshine > Settings
1. Open Subversion tab, clear the value, and save
1. Check the Git tab in the Settings, and confirm that Git Binary is still set
1. Git > Manage Repositories (note that this this is enabled in my test)
1. BUG:  The Git settings page opens, and I can see the Git Binary is still set

I can repeat the same issue for Subversion

[2019-11-08 22:23] JoelProminic commented on #603
I tried on Windows as well, and it seems to be searching the wrong list of symbols:
![image](https://user-images.githubusercontent.com/24532731/68514683-06014680-0244-11ea-8103-72fcbfeaf0f3.png)

![image](https://user-images.githubusercontent.com/24532731/68514699-16192600-0244-11ea-8406-83ad6f6a40fe.png)

[2019-11-08 22:53] JoelProminic opened #636 ""URL to Launch" Errors"
I tested the Custom URL to Launch updates for the 2.5.0 release, and this worked fine.  However, I got unexpected behavior for the "URL To Launch" field.  I tested on macOS.
1. Create a new Flex Browser or Royale Jewel project
1. Create test/test.html (see example below)
1. Open Project > Settings, Run,.
1. Change "URL to Launch" to test/test.html
1. Project > Build & Run ("as Javascript" for Roya

[2019-11-11 11:46] rat-moonshine commented on #613
This part of the behaviour is suppose to be fixed now. However, an Windows' test is pending.

This is true that XCode or Command Line path uses against both Git and SVN. Thus, having XCode permission once given, that should be re-use later on when needed. I made some changes therefore to match the following order (NOTE: this will not work until a fresh permission given for XCode, as the XCode path

[2019-11-12 10:37] #636 closed

[2019-11-12 10:53] piotrzarzycki21 commented on #636
@JoelProminic I just pushed more fixes to this area. It turns out that url to launch option wasn't used in Flex applications at all. There were used custom build path to html wrapper which is created for new project. Current logic looks like that:

1) Custom html have precedence and if exists it will be used first regardless type of the project
2) If custom html doesn't exists launch url will be u

[2019-11-12 16:06] joshtynjala commented on #474
I tested in a Groovy project, and `System.getenv()` correctly shows two overloads.

[2019-11-12 23:23] JoelProminic commented on #636
Project Type | URL To Launch | Custom URL | Result
-------------|---------------|------------|-------
Flex Browser | Default on Creation | Default (Empty) | bin-debug/<Project>.html
Flex Browser | Cleared (value was reset) | Empty | bin-debug/<Project>.html
Flex Browser | Custom(test.html) | Empty | test.html
Flex Browser | Empty | Custom (moonshine-ide.com) | moonshine-ide.com
Flex Browser | Cust

[2019-11-13 10:06] piotrzarzycki21 commented on #636
Yeah for sure, but the question is whether it is enough good so we could finally move to release ?

[2019-11-13 11:07] piotrzarzycki21 commented on #635
@JoelProminic I didn't have any kind of problems with creating Grails project on Windows and my Mac. @rat-moonshine can you give a quick test with that on your machine as well.

I was using installed version of Grails with SDK Installer.

[2019-11-13 11:47] rat-moonshine commented on #635
I confirm Joel's problem using the latest non-sandbox build on macOS. Clicking on 'Create New Grails Project' from the home-screen hangs the process for a minute for me. Cursor turns busy.

I remember for some project template(s) we had such problem in past. Later, after some changes applied to template handling during project creation the problem resolved.

[2019-11-13 11:59] piotrzarzycki21 commented on #635
I used non sandbox version as well - no problems at all. It looks like you will have to try debug it on your end since you are able to reproduce it...

[2019-11-13 16:08] piotrzarzycki21 commented on #635
@JoelProminic What is the path where you are trying to save project ? Can you change it to something else and try.

[2019-11-13 16:41] JoelProminic commented on #635
@piotrzarzycki21, I don't even get the chance to choose a target directory for the project.  Moonshine hangs immediately after clicking File > New > Grails Project

[2019-11-13 17:09] rat-moonshine commented on #635
@piotrzarzycki21 Can you take a look to #402 if you can retrieve some memory for the problem you found and your applied fix - if they are identical here, too? (Although, I understand you are not encountering the problem but if you can at least find the pattern)

[2019-11-13 17:39] piotrzarzycki21 commented on #597
New nightly build link: http://apacheroyaleci2.westus2.cloudapp.azure.com:8080/job/royale-asjs_jsonly/194/

[2019-11-13 17:40] piotrzarzycki21 commented on #597
API ASDoc: http://apacheroyaleci2.westus2.cloudapp.azure.com:8080/job/Royale_ASDoc_Example/lastSuccessfulBuild/artifact/examples/royale/ASDoc/bin/js-release/index.html

[2019-11-13 18:02] rat-moonshine commented on #597
Links have updated.

[2019-11-13 18:07] #597 closed

[2019-11-13 18:37] JoelProminic commented on #635
Some more information from my last test:
1. I closed all other projects
1. I clicked File > New > Grails Project
1. Moonshine hung for about 7 minutes, then displayed the dialog
1. I clicked on the project name and started to change it.
1. Moonshine hung again for 3-5 minutes
1. I was able to change the project name and create the project.  These steps seemed normal to me.

[2019-11-13 18:39] piotrzarzycki21 commented on #635
Were you able to see what was the path where project was trying to be saved ?

[2019-11-13 18:53] piotrzarzycki21 commented on #635
@JoelProminic I just pushed potential fix for this issue. Take a look with next bamboo build.

[2019-11-13 20:47] JoelProminic commented on #635
I confirmed that this fixed the problem on macOS, with the App Store version.  I also tested on Windows and confirmed I did not see a problem there.

[2019-11-13 20:47] #635 closed

[2019-11-13 22:50] JoelProminic commented on #597
I checked the links, and they seem to be correct now.

[2019-11-14 22:44] JoelProminic commented on #613
Now on Windows I see this behavior:
1. Open Moonshine
1. Moonshine > Settings
1. Open Subversion tab, clear the value, and save
1. Check the Git tab in the Settings, and confirm that Git Binary is still set
1. Git > Manage Repositories (note that this this is enabled in my test)
1. BUG:  Nothing happens.  I waited a minute to check if Moonshine was just slow, but the Manage Repositories interface

[2019-11-14 22:58] JoelProminic commented on #474
I tested this with the latest build on Windows with classes in src/main/groovy, src/main/java, and grails-app/controllers, and I found that in all cases, the overloads were not displayed.

![image](https://user-images.githubusercontent.com/24532731/68903191-f8463800-06ff-11ea-8acb-b13e61745d5d.png)
![image](https://user-images.githubusercontent.com/24532731/68903199-fc725580-06ff-11ea-87fa-3c796f4

[2019-11-14 23:09] JoelProminic commented on #10
@rat-moonshine reported that he has tested this with Android, but he did not have a way to test with iOS.  Unfortunately, I can't easily test iOS either.

I don't like doing it this way, but I'm going to close the issue for the 2.5.0 release, and we can reopen it if we find iOS issues later :( .

[2019-11-14 23:09] #10 closed

[2019-11-14 23:10] joshtynjala commented on #474
@JoelProminic Your screenshots appear to display the completion list. Overloads are shown in signature help after you type `(`.

[2019-11-14 23:20] JoelProminic commented on #474
Okay, I see this interface, but it did not seem to open consistently for me.  Is there a way to scroll through the options without using the mouse?   The arrow keys moved the cursor position instead.
![image](https://user-images.githubusercontent.com/24532731/68904127-c387b000-0702-11ea-8033-9f92a843bd2e.png)

I get this instead in a Java Gradle project, which is what I am used to with Eclipse:
![

[2019-11-14 23:35] JoelProminic commented on #596
I confirmed that these settings are in place for both the non-Sandbox and AppStore versions.

I think this issue was left open so that we could test the behavior for opening the different file types.  I'll see if I can do some quick tests.

[2019-11-14 23:45] JoelProminic commented on #596
I tested with the non-Sandbox build to avoid sandbox errors.

Type | Behavior
-----|---------
as3proj | Opens in Moonshien by default
veditorproj | Not the default but appears in the list (I think I set another application as the default previously)
javaproj | Opens in Moonshine by default
grailsproj | Opens in Moonshine by default
as, css, txt, mxml, xml, js, htm, html, awd (test some examples) |

[2019-11-14 23:45] #596 closed

[2019-11-15 00:02] joshtynjala commented on #145
Since I've updated to v0.23.2, this issue should now be resolved.

[2019-11-15 00:02] #145 closed

[2019-11-15 00:04] joshtynjala commented on #603
I'll check out this one after the 2.5.0 release when I merge in my latest Haxe changes.

[2019-11-15 09:00] rat-moonshine commented on #613
The above problem should be fixed now. Please, check.

[2019-11-15 17:06] JoelProminic commented on #613
I confirmed that I can open Manage Repositories for Git and Subversion even if the other is not installed now.

I also did a quick test to make sure that I can do a git clone or svn checkout while the other application is not configured.  This also worked fine.

[2019-11-15 17:06] #613 closed

[2019-11-18 05:46] rat-moonshine opened #637 "Git: Basic Merge functionality"
I would like to have an option to _merge_ branches right from Moonshine menu-options - which now I require to do by going to the Terminal or use any 3rd party software.

The _merge_ functionality need not to be detailed (at least in first phase of development), but provide option to choose which branch to merge, run merge command and display its output to the console.

[2019-11-20 18:44] luisalcantara opened #638 "Pull language documentation into IDE"
This largely drawn from the available feature in IntelliJ, so I've included a picture of my set up as reference:
![Screen Shot 2019-11-20 at 12 41 00 PM](https://user-images.githubusercontent.com/30535958/69267595-1d6cf780-0b93-11ea-82d1-98cdc422509e.png)

As you can see IntelliJ has pulled in the GroovyDoc for the method 'toString' in a side panel. I personally have this tied to a hover event on

[2019-11-20 18:59] joshtynjala commented on #638
I'm not sure if the Groovy parser/compiler resolves GroovyDoc comments, but if it does, I can include that in the hover response. If it doesn't, I'll need to find another way to resolve that data.

[2019-11-20 19:07] luisalcantara commented on #638
Justin

[2019-11-20 19:08] luisalcantara commented on #638
Sorry didn't mean to close the issue, just a misclick

[2019-11-22 18:14] JoelProminic commented on #638
I see that Moonshine already displays the JavaDoc in a Java Maven project.  However, the documents show up in tooltips only, and the tooltips are too large to be convenient for some classes (for example, the String class document seems to not even fit on my screen).  Unfortunately, the tooltips clear when I try to get a screenshot, so I don't have an example for this at the moment.

If we have an

[2019-11-22 18:21] joshtynjala commented on #638
Ideally, in addition to what you suggest about also allowing documentation to be displayed in a sidebar, I'd like to see Moonshine's hover tooltip enhanced to be more user-friendly. The tooltip should have a maximum height with the ability to hover over it with your mouse and scroll, if necessary.

[2019-11-22 18:23] luisalcantara commented on #638
I believe Eclipse also had the ability to send focus to a tool tip on a keybind, allowing the user to scroll as necessary. Might work until the sidebar becomes a part of the interface

[2019-11-23 11:25] piotrzarzycki21 commented on #638
I did that tooltip a long time ago. I believe I could work in future on improvement this one along with sidebar interface.

[2019-11-25 16:06] joshtynjala commented on #638
That would be great, Piotr!

[2019-11-26 16:31] piotrzarzycki21 opened #639 "Navigate to method/classes crashes on CTRL + Click"
In Moonshine update [1475](https://moonshine-ide.com/downloads/releases/dev/windows/build_details_windows.json) navigating to method or components trough ctrl+click stopped working.

![crash_ctrl_click](https://user-images.githubusercontent.com/24554795/69651521-7eec0500-1070-11ea-9bcc-8bf96631e44c.gif)

**Stacktrace from installed version:**
[code]

**Screenshot from debug mode using Intellij:**

[2019-11-26 16:31] piotrzarzycki21 commented on #639
@joshtynjala I assigned to you this one cause I'm not sure if it's cause by your latest updates. If not let me know maybe I will start figuring out what is happening.

[2019-11-26 16:37] joshtynjala commented on #639
Yeah, it's probably my changes. Looking into it!

[2019-11-26 16:56] #639 closed

[2019-11-28 05:05] rat-moonshine opened #640 "Improvise Java language-server start time for faster start-up of Moonshine"
Usually, Moonshine starts faster (than other many IDEs). However, the time of 'everything' opened-up and usable may vary based on number of projects opened previously.

Currently, Moonshine starts language-servers against each projects during startup. Having Moonshine usable (non-freeze) may take longer if the projects are type of Gradle, Grails etc. and they are many in numbers. Justin suggested

[2019-11-28 05:40] rat-moonshine opened #641 "Git: Break functionality on Windows"
With my newly setup Windows using standalone installation of Git, Moonshine reported following error and stop executing Git functionality:

![image](https://user-images.githubusercontent.com/24370870/69779910-a3aabe80-11cf-11ea-85fe-31962e508f91.png)

[2019-12-03 05:39] rat-moonshine commented on #641
On further testing, the problem seems isolated to Git _commit_ and _status_ executions; Other functionalities seems working fine with provided path.

[2019-12-04 20:55] joshtynjala opened #642 "Debugger: evaluate watch expressions"

[2019-12-05 18:46] #603 closed

[2019-12-05 21:06] joshtynjala opened #643 "Haxe/Royale: Debugger for Chrome"

[2019-12-06 07:52] piotrzarzycki21 commented on #492
Hi @joshtynjala . This error occurs to me in following scenario.
1) Launch Moonshine and some project (in my case it was Royale one)
2) Open some file
3) Switch off Moonshine and launch again
4) Once previously opened file launch quickly roll over on any code to see tooltips

Results in debugger version (Moonshine source code launched from IDE):
[code]

[2019-12-06 16:43] joshtynjala commented on #492
Thanks, Piotr.

This one can be safely ignored. It's a non-critical part of the language server protocol that I haven't implemented yet:

However, I will investigate this one:

[trace] Error #2044: Unhandled IOErrorEvent:. text=Error #3218: Error while writing data to NativeProcess.standardInput.

[2019-12-11 09:48] rat-moonshine commented on #641
The changes seems to be working fine now in both Windows and macOS.

[2019-12-13 10:00] piotrzarzycki21 commented on #643
@joshtynjala I have downloaded newest nightly build of Moonshine and tried to build our project with Royale [392](http://apacheroyaleci2.westus2.cloudapp.azure.com:8080/job/royale-asjs_jsonly/392/) build. I'm getting following error:

[code]

Is it related to your latest changes in that area ? I don't get such error when I'm building our application using Maven.

[2019-12-13 14:47] piotrzarzycki21 commented on #643
I just tried build project on my Mac and there wasn't such problems. I was using non sandbox nightly build of Moonshine.

[2019-12-13 17:10] joshtynjala commented on #643
@piotrzarzycki21 Building your project seems to be failing during the creation of source maps for one of your .mxml files. One of my changes to Moonshine was to add `--source-map=true` to the compiler options so that debugging in Chrome can use the original .mxml and .as files. It appears that the source map feature in the Royale compiler has a bug.

Do you think that you can try to figure out whi

[2019-12-14 18:11] piotrzarzycki21 commented on #643
We have 100 hundred mxml files in our project, so it will be difficult, but I will try ;)

[2019-12-16 13:44] piotrzarzycki21 commented on #643
@joshtynjala I was ended up with one mxml file in the project which causes issue. It is main file of the application. The weird thing is that I cannot reproduce issue in a simple hello world app with the same code. I will send you our project by email - it will contains one file and some other rather not so important. Project requires sources of puremvc so archive contains those as well.

If you c

[2019-12-19 18:23] piotrzarzycki21 opened #644 "Resources has not been copied to js-release folder for Royale build"

[2019-12-20 14:44] piotrzarzycki21 commented on #644
Here is the scenarios which need to be tested. All using newest [Nightly build](http://apacheroyaleci2.westus2.cloudapp.azure.com:8080/job/royale-asjs_jsonly/lastSuccessfulBuild/artifact/out/) of Royale. Open project where you have set some path to Resources in right click on project **Settings** -> **Paths** -> add some resources

Each build should end with following line in the console:
[code]
Y

[2019-12-20 16:25] #644 closed

[2019-12-20 22:45] JoelProminic opened #645 "Java Gradle: "Build class contains duplicate entry""
I've been getting "Build class contains duplicate entry" errors for Gradle projects (since 2.4.0, at least).  I normally see it on projects that were converted from Eclipse, but I can reproduce it like this (macOS 10.10.5, Moonshine 2.5.0):
1. Create a new Java Gradle project
1. Language server starts with no errors
1. Project > Clean
1. Project > Refresh Gradle Classpath
1. I get this error on th

[2019-12-28 10:36] feather812002 opened #646 "Notes/Domino support needs to be added to this section of Moonshine IDE for native support"
Hi,guys.
 It look like let the Moonshine IDE support the Notes/Domino program develop is good idea.
 As we know , the IBM Designer software only support windows version until now , if we work on the MacOS, we can't work with NSF database . but at now , the ODP+Moonshine give us other choice for this .
  Domino On Disk provide a manve plugin , it can work with Moonshine IDE with local oprate .
  Do

[2019-12-30 08:55] piotrzarzycki21 commented on #643
I know that probably your next step is to improve Royale debugger but wanted to point to observation:
1) When I do menu **Project** -> **Build & Run as JavaScript** - application is running and trying to launch debugger - which shouldn't happen - This menu should do building only.
2) When I'm trying to run debugger I get:
[code]

[2019-12-30 18:18] JoelProminic opened #647 "Java Path Spaces Error for Java Maven Project"
I found another case where SDK spaces are not handled properly in Windows Moonshine (2.5.0, and the latest nightly build).   I already had Java installed on this Windows machine, so Moonshine used the path from the environment variable:

    C:\Program Files\Java\jdk1.8.0_161

1. Create a new Java Maven Project
2. Wait for the Language server to finish starting.  Note that this works fine
3. Proje

[2019-12-30 19:41] joshtynjala commented on #643
For consistency, "Build & Run as JavaScript" runs the debug adapter in non-debug mode. It ensures that Chrome is launched the same way for Run and Debug. It's potentially confusing if it launched Chrome to debug, but another (default) browser to Run.

Does "Build & Debug as JavaScript" work for you? The error you've shared would seem to indicate that both run and debug will fail because it is comp

[2019-12-30 20:27] piotrzarzycki21 commented on #643
Both options fail to me with the same error. How are you generating that adapter? I see JS project there with some package.json etc. - Are you building that and get in the results this JS file which is missing?

[2020-01-02 15:09] piotrzarzycki21 commented on #620
@rat-moonshine @JoelProminic I think we can close that ?

[2020-01-02 15:18] rat-moonshine commented on #620
What is this - "Added Ctrl+Click on Flex SDK items parent classes" ?

[2020-01-02 15:23] piotrzarzycki21 commented on #620
When you extend some class you would like to have CTRL+Click available to see what is the source code of parent class. If you go to such class it can extends another one, so CTRL+Click should work on that as well.

`class A extends B {}` <- I'm clicking on B (CTRL+Click)

`class B extends C {} `< I jumped here from A, so now I wanted to go farther by doing CTRL + Click on C

[2020-01-02 15:28] rat-moonshine commented on #620
The Ctrl/CMD+Click on an object definition is something suppose to provided by the language-server. Isn't this happening now (?) If not, then perhaps we need to raise an issue requesting Josh to look into.

[2020-01-02 15:31] piotrzarzycki21 commented on #620
This was your task to test ;)

[2020-01-02 15:35] piotrzarzycki21 opened #648 "Generating Apache Royale API report"
Apache Royale allow user who would like to use [Emulation Components](https://github.com/apache/royale-asjs/wiki/emulation-components) generates [report](https://github.com/apache/royale-asjs/wiki/Generating-an-API-Report) to show list of API in Flex application. As part of this issue I would like to add ability to create such report using Moonshine IDE.

[2020-01-02 15:38] rat-moonshine commented on #620
I never worked to language-server side. If you have a clear idea how this can be implemented, please place here. If this involves more server-side support that demands more specific expertise of Josh, I'd suggest to open a separate issue and request Josh than waiting for me to heads into and try understanding the design flow.

[2020-01-02 15:40] piotrzarzycki21 commented on #620
This issue was raised in order to track testing - Did you test feature ? Is it working ? If it doesn't work - just make a note here and mark your task as done.

[2020-01-02 15:52] piotrzarzycki21 commented on #648
API generation may take a lot of time depends on how large Flex application is. @rat-moonshine you did Search in our application using Workers - What classes or places I should revise to use similar technique for API report generation logic ?

[2020-01-02 16:12] piotrzarzycki21 commented on #648
In order to create report I need following items:
1. Path to Apache Royale SDK
2. Paths to all libraries which are being used by Flex project
3. Path to main application file
4. Path to place where report will be saved

UI should contains all those items. To make it simple for now I would like to:
1. Report to Moonshine consoles only Success/Fail of report generation
2. Presents busy indicator on

[2020-01-02 16:59] rat-moonshine commented on #648
I shall detail on Worker project that we're using in Moonshine later, Piotr.

On some immediate thoughts over the proposal you explained (above), I have few immediate.

I think from 1-3 you should get detail from the corresponding project only, by looking into its using SDK path, its "Paths" section etc.

I would like imagine the functionality more interactive than forcing the user to leave Moonsh

[2020-01-02 17:09] piotrzarzycki21 commented on #648
Like I said results of generated API may be HUGE. Imagine that you have 1000 MXML files in your project, each can contains let's say 200 API calls to Flex - Generate such report may take hours - Imagine how much information it will be. - I really don't want to deal with UI hangs, filtering and so on. Maybe in next versions when we really see value in this feature. Anyway thanks for your suggestion

[2020-01-02 17:19] piotrzarzycki21 commented on #648
If I open Flex project I may run into two options:
1. Project has in their settings sets Flex SDK
2. Main Moonshine settings may have setup Flex SDK

I need Apache Royale SDK to generate report, so I have to get it from somewhere, either user point path to it or I will find some in the list of SDKs - Which I'm assuming we probably store somewhere. Unless I did understand your suggestion wrong and

[2020-01-02 17:36] piotrzarzycki21 commented on #648
And you are partially right with that, cause I need also Flex SDK - I forgot that I need flex-config.xml for this report.

[2020-01-02 18:56] yishayw commented on #648
@piotrzarzycki21 , I think your suggestions make good sense. I would add a few things:

a) The first [1] stage is to compile the flex application, so it makes sense to me that the first stage would be to have a running **Flex** project in Royale and to insure that it compiles.

b) We need to store STDERR and STDOUT somewhere for debugging purposes, as the report generator itself may have bugs. Not

[2020-01-03 04:48] rat-moonshine commented on #648
If .as3proj file do not have any reference to the using SDK - then yes, it's suppose to use Moonshine's default SDK from its sdk-list. However, if the project has setting to use any custom SDK then you can find its path to the .as3proj file:
`<option customSDK="/Users/$user/Downloads/MoonshineSDKs/Royale_SDK/apache-royale-0.9.7-bin-js/royale-asjs"/>`

Does the standard process may takes hours to g

[2020-01-03 07:25] yishayw commented on #648
Yes.

[2020-01-03 08:51] piotrzarzycki21 commented on #648
I will probably notify user somehow, cause for now we don't have good support for module in Moonshine. User need to open each module as a separate project.

[2020-01-03 08:54] piotrzarzycki21 commented on #648
I don't understand what's actually that ? We have never used such commands in console trough Moonshine. Could you show me example, so I could run on Hello world to see what more I'm getting on console. Remember that we need to be OS agnostic at some point - all stuff need to run on Mac as well.

[2020-01-03 08:55] piotrzarzycki21 commented on #648
Good point, but I'm not sure how would I force user to build first his app. The only thing I believe would be display some information when user will open project and run API report generator.

[2020-01-03 15:10] piotrzarzycki21 commented on #648
I have analyzed Worker stuff and I think I will use `WorkerListOfNativeProcess` - cause all my job is run some native process, so it should be perfect. If you suggest write something else let me know.

[2020-01-03 15:49] rat-moonshine commented on #648
As you may have understood, the `WorkerEvent.RUN_LIST_OF_NATIVEPROCESS` is suppose to queue commands to execute in sub-queue manner; i.e,

[code]
..and so on.

If you needs to watch through existing usage, you can look through two places for now:
- [GitProcessManager](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/plugins/git/GitProcessManager.a

[2020-01-06 11:42] piotrzarzycki21 commented on #648
I bit of an update. I have reached point where report is being generated with errors mentioned on Dev list of course. I need to handle errors and pormpt user with required fields. - Once I handle that it should be ready for tests. I will make it available with my local build.
![report](https://user-images.githubusercontent.com/24554795/71816128-e9d22800-3081-11ea-9cf9-ef1f9cbf4111.png)

[2020-01-06 11:43] yishayw commented on #648
Great news, we might have it ready for Euronext at this rate.

[2020-01-06 11:44] piotrzarzycki21 commented on #648
If I find time today evening for work yes we may have. Today is a holiday in Poland ;) - Too much holidays lately.

[2020-01-06 16:45] joshtynjala commented on #643
I downloaded a pre-built version of the chrome-debug-adapter, but I see that it included a .gitignore file that resulted in some files not being added to the Moonshine-IDE repo. That should now be resolved.

[2020-01-06 17:40] piotrzarzycki21 commented on #643
Thanks @joshtynjala ! I think something is failing on Bamboo. I asked @rat-moonshine to look into that - hopefully he will report here if it's connected to your commit.

[2020-01-06 18:17] piotrzarzycki21 commented on #648
Ok I have added some error notification - if you don't have one of the required item you will get red info text near that. Currently once you click "Run" whole configuration will close and all the progress is happen trough the console - I may change that in future and display only errors there. @yishayw I will send you link for download trough email. Try on some Flex app.

[2020-01-06 18:19] piotrzarzycki21 commented on #648
Instruction:
1) Open Flex project in Moonshine
2) Make sure that is building
3) Choose **Project** -> **Apache Royale API Report**
4) Configure report and click **Run**

[2020-01-06 18:22] piotrzarzycki21 commented on #648
You may need to uninstall previous version of Moonshine to get mine installed.

[2020-01-07 04:57] rat-moonshine commented on #643
I see macOS build completed successfully, so you should have that in nightly area.

On Windows I see some error which probably requires some investigation. Here's the quick details to the error, if you found it rings any bell:

[code]

[2020-01-07 16:41] joshtynjala commented on #643
We had a similar issue previously: #379. Based on the comments there it may be that the full paths of some of the new files are too long.

That being said, I'm on Windows 10 (64-bit), and I have Flex SDK 4.16.1 with AIR 28. I am able to run _ide/MoonshineDESKTOPevolved/build/build.xml_ successfully.

[2020-01-07 17:15] JoelProminic opened #649 "Build & Run Opens Debug Mode for Flex Browser Project"
I noticed errors with Flex Browser projects using the latest non-Sandbox macOS build from Bamboo:
1. Create a new Flex Browser project
1. Project > Build & Run.
1. BUG:  Debug tab opens
1. Close the Debug tab
1. Project > Clean Project
1. Project > Build & Run
1. BUG:  Debug tab opens again
1. BUG:  The application does not open in a browser, and I see this error on the console:
1. Project > Build

[2020-01-07 17:17] JoelProminic commented on #648
I installed the macOS build provided by @rat-moonshine, and tested with a simple project to see how it worked:
1. Create a new Flex Browser project
1. Project > Build & Run.  BUG:  the debug panel opened automatically - see #649
1. Project > Apache Royale API Report
1. Submit the form with the the default settings (see below)
1. I got a "Duplicate class definition" error:

![image](https://user-im

[2020-01-07 17:18] piotrzarzycki21 commented on #648
This is actually something which we expected. Did you get report generated in bin-debug ?

[2020-01-07 17:26] JoelProminic commented on #648
Yes, I see bin-debug/royaleapireport.report:

    spark.components.Application:minHeight,1
    spark.components.Application:minWidth,1
    spark.components.Application:mxmlContentFactory,2
    spark.components.Label:fontSize,1
    spark.components.Label:fontWeight,1
    spark.components.Label:horizontalCenter,1
    spark.components.Label:text,1
    spark.components.Label:textAlign,1
    spark.comp

[2020-01-07 17:26] joshtynjala commented on #643
I tried moving my repo on my local file system from here:

[code]

to here:

[code]

Unfortunately, that didn't seem to make a difference. I got an error copying the folder within Windows explorer, so the path should be long enough (using robocopy from the command line copied successfully, since it seems to be able to handle longer paths).

I tried in both PowerShell and cmd, just to be sure.

[2020-01-07 17:28] piotrzarzycki21 commented on #648
It's working than on Mac - great! I'm thinking now about displaying prompt to the user when he launch report with longer information the purpose of report etc. I will post message here so I could get help with phrases. Prompt should be dismiss-able.

[2020-01-07 17:38] joshtynjala commented on #643
I just tried a 32-bit JVM, instead of 64-bit, and that worked correctly on my system too.

openjdk 1.8.0_232

Which version of Java and which version of Windows is the build server using?

[2020-01-07 17:45] piotrzarzycki21 commented on #648
This is custom name for the report - Do you guys think that I should change it to royaleapireport.txt ?

[2020-01-07 17:49] piotrzarzycki21 commented on #648
Below my proposition for prompt to the user. @yishayw do you think about adding something more ?

[2020-01-07 17:51] JoelProminic commented on #648
It opened with the default editor in Moonshine, so it shouldn't really matter on the Moonshine side as long as we can guide the user to find the generated report.

Otherwise, it will depend on what format is expected when the user submits this report for review.   It looks to me like the output is in CSV format, so we could set the extension to .csv to make it easier to open with a spreadsheet too

[2020-01-07 17:52] joshtynjala commented on #643
I made the folder name even longer, and now, I can reproduce, even with JDK 11 64-bit.

this-is-a-very-long-folder-name-to-test-if-the-build-will-fail-this-is-a-very-long-folder-name-to-test-if-the-build-will-fail

Unfortunately, I'm not sure if this can be easily fixed.

---

Is there any chance that this path could be shortened on the build server? If it were in D:\Moonshine, for instance, that

[2020-01-07 18:21] piotrzarzycki21 commented on #648
Great suggestion with making that file as `csv` - I will go with that.

[2020-01-07 19:53] joshtynjala commented on #645
I am not able to reproduce this issue.

My output:

[code]

Windows 10

[2020-01-07 19:58] joshtynjala commented on #645
Can you share the contents of _.classpath_ before and after the error occurs? You may need to "refresh" the file tree to see it after it gets created.

[2020-01-07 20:13] #608 closed

[2020-01-07 20:24] JoelProminic commented on #645
I have been seeing this error regularly on macOS 10.10.5.

Here is the initial classpath:

    <?xml version="1.0" encoding="UTF-8"?>
    <classpath>
            <classpathentry kind="src" output="bin/main" path="src/main/java">
                    <attributes>
                            <attribute name="gradle_scope" value="main"/>
                            <attribute name="gradle_used_by_scop

[2020-01-07 21:45] joshtynjala commented on #645
I think that this is a conflict with the Java language server. The language server automatically creates a _.classpath_ file (and various other Eclipse project files), so maybe there's some kind of race condition or something.

I warned about this conflict before. I don't think that our Moonshine should be running the **gradle eclipse** command for Java projects at all. The language server should

[2020-01-07 22:10] JoelProminic commented on #645
We added the "gradle eclipse" logic because otherwise the language server was not supporting external dependencies.  The original problem is described here:  https://github.com/prominic/Moonshine-IDE/issues/547#issuecomment-490290118

Unfortunately I can not easily retest this now, because Moonshine is running "gradle eclipse" automatically before it starts the language server.

Now that I am thin

[2020-01-07 22:15] joshtynjala commented on #474
The blank signature issue in the screenshot is now fixed.

[2020-01-07 22:15] #474 closed

[2020-01-07 22:32] joshtynjala commented on #645
Thanks for that. I looked at your sample projects in https://github.com/prominic/Moonshine-IDE/issues/547#issuecomment-490290118, and it looks like the dependencies resolve correctly when I open them VSCode, which shouldn't be using **gradle eclipse** at all. With that in mind, we know that it should be possible to do the same in Moonshine because it is the same language server in both. I'll inves

[2020-01-07 23:01] joshtynjala commented on #645
I tried removing the **gradle eclipse** command before launching the Java language server. Even without it, I can see that all dependencies are getting picked up correctly when you open a Java project in Moonshine. However, if you modify _build.gradle_ while the project is open inside Moonshine, this change is not detected by the language server, so it gets out of sync. I suspect that this behavio

[2020-01-08 04:52] rat-moonshine commented on #643
The Windows build machine is running an Windows 7 and default Java 1.8.0_171 x64. I'm afraid how easier it could be to update the Windows version (depending on various aspects).

If moving the Moonshine's build to D:\MS-MGW-JOB1\Moonshine\.. is something should work with existing installations, then that might be considerable; However, @JoelProminic should advise on this better as this could have

[2020-01-08 09:04] rat-moonshine commented on #619
So far I have completed the re-structure of the existing `GitProcessManager` class; This also affect the existing `GitHubPlugin` class to an extent if not all.

Now the Git-functionalities are structured in a more modular approach, extending a base class for every of them. All the functional areas in Git now broken into smaller [Command](https://github.com/prominic/Moonshine-IDE/tree/features/issu

[2020-01-08 11:15] rat-moonshine commented on #649
I confirm the behaviour of open-up Debug tab everytime I perform 'Build & Run' in case of desktop projects, too.

[code]
For browser-Flash project Moonshine generates the corresponding wrapper HTML/JS file to the project's "bin-debug" folder on project creation. In my tests I able to have the example project run properly on Safari (which has Flash plugin installed) and in Chrome (showing enable Fl

[2020-01-08 11:22] rat-moonshine commented on #641
Although check-diff listing is working now, functionality is still broken in 'master' while submitting the commit files.

[2020-01-08 17:42] #645 closed

[2020-01-08 21:56] joshtynjala commented on #640
Commit 94d784ae39a9ffe8852aaa1985884902f471cb33 should improve the startup time for Java projects because Moonshine no longer runs **gradle eclipse** before launching the Java language server.

[2020-01-08 22:07] joshtynjala commented on #552
Closing because the Java language server provides its own Gradle dependency, with no option to use ad different one, and that's the correct behavior.

[2020-01-08 22:07] #552 closed

[2020-01-08 22:09] joshtynjala commented on #579
I can no longer reproduce this issue. Closing.

[2020-01-08 23:23] #201 closed

[2020-01-08 23:23] joshtynjala commented on #201
This doesn't seem to reproduce anymore, so I'm closing it.

[2020-01-08 23:24] JoelProminic commented on #579
I don't remember seeing this error recently.  I'll reopen this if I see the error again.

[2020-01-08 23:47] JoelProminic commented on #643
Unfortunately, `D:\bamboo-agent-home\` is the only part of the path I have control over. `\xml-data\build-dir\MS-MGW-JOB1\Moonshine\` is added by Bamboo.

I can look into extending the maximum path on the build server tomorrow.

[2020-01-09 04:48] rat-moonshine commented on #649
The second part of this issue probably still valid, so I'm reopening this to look into further.

[2020-01-09 06:23] rat-moonshine commented on #649
The fix from Josh seems to fixed the second part (non population of deleted HTML wrapper) of this problem as well. I have tested on Windows and macOS-debug and confirm Moonshine does re-creates missing/deleted wrapper HTML files on next compilation. Since the Ant build script failing at this moment, I could not able to test from a packaged installation for now.

I'll reopen this if wrapper generat

[2020-01-09 06:23] #649 closed

[2020-01-09 22:13] JoelProminic commented on #645
I tested adding different dependency types to build.gradle, and confirmed that the language server automatically updated with the new available classes.   I'll report any cases I find where a dependency is not automatically recognized.

[2020-01-09 23:28] JoelProminic commented on #643
As @rat-moonshine reported, this is a Windows 7 server.  The option to bypass the maximum path length was first available in [Windows 10, version 1607](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN#enable-long-paths-in-windows-10-version-1607-and-later).

Do you know which file exceeded the maximum length?  I checked the filesystem on Bamboo, and I didn't

[2020-01-09 23:47] joshtynjala commented on #643
I don't know which file it is exactly, but it's somewhere in _ide/MoonshineSharedCore/src/elements/chrome-debug-adapter_. Either in _out_ or _node_modules_. Those two folders were initially missing when I first committed the chrome-debug-adapter because it included an unexpected _.gitignore_ file, and the build started failing after I fixed that issue.

[2020-01-10 08:09] piotrzarzycki21 commented on #643
It means that it's still failing even that you change this name ?

[2020-01-10 22:55] JoelProminic commented on #643
My fix yesterday fixed the errors from the Ant script.   However, Bamboo didn't like the process I used to change it, so I had to spend most of the afternoon fighting with it :(.

I finally have it fixed now.  The build number has reset, but I confirmed that the files were updated on moonshine-ide.com.

[2020-01-10 23:39] joshtynjala commented on #643
Sorry for the trouble! Looking forward to hearing if the new Chrome debugger is working well for everyone.

[2020-01-13 13:02] #620 closed

[2020-01-13 13:04] piotrzarzycki21 commented on #619
@rat-moonshine This is still on branch ?

[2020-01-13 13:53] piotrzarzycki21 commented on #643
@joshtynjala Today I have spent some time on try debugger. It's working nicely in Hello World type of app, but with our Royale application it doesn't work. I think it would be worth handle that case. Here is how it looks like.
I'm building application with custom url which is being setup in right click on project **Settings** -> **Run** -> **Custom URL to Launch**. I don't wont to reveal here exac

[2020-01-13 15:22] rat-moonshine commented on #619
Yes. We're undergoing with tests now, Piotr.

[2020-01-13 15:32] joshtynjala commented on #643
I think that the Chrome debug adapter supports a way to map URLs in source maps to a different location, so I may be able to support a custom server. I'll see what I can do.

[2020-01-13 15:34] piotrzarzycki21 commented on #643
If you will be able to do that - I think we have enough good stuff to make another release. :)

[2020-01-14 18:38] joshtynjala commented on #643
@piotrzarzycki21 With my latest changes, when running **Build and Debug** on a Royale JS project, Moonshine will now check if a value is specified in **Custom URL to Launch**. If there is a custom URL, Moonshine won't start its own localhost:3000 server, and it will simply launch your URL in Chrome.

I also tried some custom values for the **JavaScript Output Path** that were outside of the projec

[2020-01-15 14:58] piotrzarzycki21 commented on #643
I have tried your changes today, but it's failed - cause our application has "resources" folder which needs to be copied after/during compilation. I will work on fixing that part and than try to test again.

[2020-01-15 17:02] piotrzarzycki21 commented on #643
@joshtynjala I have fixed problem with copying resources. Unfortunately when I'm running debugger with my custom url it doesn't work. I do see that buttons in UI are active, application running, but it doesn't stop on breakpoints.
Debugger is working for simple hello world without custom url.

[2020-01-15 17:39] JoelProminic commented on #569
I should retest this after Josh's changes for #645.

[2020-01-15 17:52] joshtynjala commented on #643
Can you try a simple hello world with a custom URL? You'll need to use your XAMPP server or a different server, of course.

[2020-01-15 17:55] JoelProminic commented on #49
We should retest this to see if it is still a problem with the non-Sandbox build.

[2020-01-15 18:49] piotrzarzycki21 commented on #643
@joshtynjala I'm not sure what was wrong, but it's working now ! :) We are good and have debugger for our app! Thank you!

[2020-01-17 02:34] JustinProminic opened #650 "High priority - sort file names alphabetically in the Project list"
@JoelProminic @rat-moonshine  @piotrzarzycki21  I thought we had talked about this a while ago.

I know we have pressing cool features to add to Moonshine, but we really need to cover this basic problem asap.

This screen shot demonstrates how difficult it is to deal with files when they are not sorted alphabetically in the project navigator at each branch in the tree:

![image](https://user-image

[2020-01-17 04:36] rat-moonshine commented on #650
I believe we had sorting functionality added to the tree-view. I couldn't found the relevant issue against that but found #176 which strengthen my believe.

I'll see what have changed in between times.

[2020-01-17 06:29] rat-moonshine commented on #650
@JustinProminic I see the sorting functionality to side-bar is still present to opened projects. This includes project's folder, and folder contents.

Since the view you've provided is showing a Java project, I checkout 'Connection Quality' from SVN to see if something is acting differently. I tested files sorted alphabetically for the project type as well. Can you provide the name of the project/

[2020-01-17 07:03] piotrzarzycki21 commented on #650
Did you make those tests on released version of Moonshine? I have a filling that Justin is using that version to open this project.

[2020-01-17 08:45] rat-moonshine commented on #650
Yes, I tested by last-stable release and didn't able to reproduce the scenario. Please report, if you see any oddity at your side.

[2020-01-17 11:42] joetaras opened #651 "Build on Moonshine 2.5.0 goes in error for MySql"
I've installed the Moonshine 2.5.0 IDE for Windows.

So, after this simple installation, I've added the Apache Flex SDK and the installation is OK.

After that, I've tried to create a simple Flex Desktop Project and I've tried to build it, but I've got this error:

But I've not involved any MySql connection with my new project.

This is the autogenerated code of `NewFlexDesktopProject.mxml`:

[2020-01-17 11:52] piotrzarzycki21 commented on #651
Hi @joetaras ,
I have to admit this is pretty weird. Could you try out Nightly build of Moonshine and let us know if it's failing same way there ?
Thanks!

[2020-01-17 13:14] joetaras commented on #651
Dear,
I've tried with Nightly version but I've got the same error.

[2020-01-17 16:03] rat-moonshine commented on #651
@joetaras Can you share full console-output from the time you click on "Projects -> Build & Run"?

Next things you also wants to do,
1. Check if you have any custom-SDK set to your project - and the path is correctly pointing to the Flex SDK you want
2. Check the default-SDK path to Moonshine (`Moonshine -> Settings -> Default SDK`) and the path is correctly pointing to the Flex SDK you want
3. Ch

[2020-01-17 16:17] joetaras commented on #651
Dear,
now I go to home. On Monday I'll send you all information (the complete console message).

1. It's OK (under C:\MoonshineSDKs\Flex_SDK\Flex_4.16.1_AIR_32.0); 2. It's OK (under C:\MoonshineSDKs\Flex_SDK\Flex_4.16.1_AIR_32.0); 3. No other under Moonshine, under Programs/Adobe yes (the 4.16.1 AIR30 SDK)

[2020-01-17 16:19] rat-moonshine commented on #651
Thank you, for the quick update @joetaras . We shall wait for your report on Monday.

[2020-01-20 11:06] joetaras commented on #651
My dear,
I'm come back :)

I've disinstalled my MySql and now, I can compile my project, but the Run don't start.

My console log is:

I suppose the original message instead of localizated message are:

Caricamento del file di configurazione - Loading of configuration file

[2020-01-20 16:40] piotrzarzycki21 commented on #648
@rat-moonshine FYI: I have changed the way how NativeProcess is being cleaned up from events (`.removeEventListener(ProgressEvent.STANDARD_OUTPUT_DATA, shellData);`). We have been doing `customProcess.exit();` and immediately remove from process all events - Which end up quite often that some stuff wasn't reported to the console.
Now instead of removing event listeners immediately I'm doing that o

[2020-01-20 22:30] JoelProminic commented on #648
I tried this with today's build, and I still see that the form remains greyed out after I run the report on a new Flex Browser project:

![image](https://user-images.githubusercontent.com/24532731/72761542-f25a5080-3ba1-11ea-9485-6e38035d55f0.png)

The UI is still responsive, though, and I can open the CSV or close the form tab.

[2020-01-21 14:20] piotrzarzycki21 commented on #648
I have run into two issues. You were using official released SDK and with that SDK I was able to reproduce above issue. It happens cause we have [following code](https://github.com/prominic/Moonshine-IDE/blob/aa6581a6264ddc2f8716d0455998d669abbdf845/ide/MoonshineWorker/src/actionScripts/utils/WorkerListOfNativeProcess.as#L194) - which prevents us from notifying subscriber when whole process has be

[2020-01-21 14:23] piotrzarzycki21 commented on #648
The second issue happen when I'm using Nightly build of Royale. I'm getting weird error:

[code]

Initially I thought that for some reason `mxmlc` is not being recognizable, but it looks like there is problem with `/bin/bash` path. Does anyone understand that ?

[2020-01-21 14:31] piotrzarzycki21 commented on #648
I'm going remove that code and see what will happen. I will revert it back if you warn me with good reason for that.

[2020-01-21 15:46] rat-moonshine commented on #648
The idea behind managing `isErrorClose` to terminate the chain of processes if stdERROR triggers (you can inspect where this field set to _true_). stdERROR has its own type of [notification](https://github.com/prominic/Moonshine-IDE/blob/aa6581a6264ddc2f8716d0455998d669abbdf845/ide/MoonshineWorker/src/actionScripts/utils/WorkerListOfNativeProcess.as#L145) sends to the application in that case. Kee

[2020-01-21 15:59] rat-moonshine commented on #648
I updated my earlier comment with some hint with scenario where it can affect if you remove the condition and let notify both shell-error and shell-exit events, in case of Git plugin.

[2020-01-21 16:03] piotrzarzycki21 commented on #648
I don't understand your updates. Can you provide scenario. Where should I click, what to do in the UI to test your particular concerns ?

[2020-01-21 16:09] rat-moonshine commented on #648
The general rule to the above NativeProcess/Worker implementation was to execute chain of command unless any error triggers. You should listen for both shell-exit and shell-error separately, rather than depending all for the shell-exit.

Shell-error triggers **before** shell-exit, thus you should notified that your command broke somewhere and it **suppose** to be end of chain of processes. For tha

[2020-01-21 16:14] piotrzarzycki21 commented on #648
I understand now, but still I need scenario. Now I'm certain that we should rely on Exit event,  but instead stop anything just clean up queue. When native process exiting UI should be notified - doing that in your way we are missing some errors - @JoelProminic's case is good example.

[2020-01-21 16:19] JoelProminic commented on #648
I think I have seen this before.  Note that the interpreter is reported as "/bin/sh^M".   It looks like this was edited on Windows, and a carriage return was added to the end of the line.  I think that if you update mxmlc with an editor like VIM, you should be able to see and remove the extra character.

[2020-01-21 16:19] rat-moonshine commented on #648
I'm unable to understand, unfortunately.

If any error hits it will notify with shell-error with its details (if any). Why you're not listening to shell-error event and prevent Joel's scenario? Or, if you consider to explain briefly why shell-exit notification is non-adequate but shell-exit in your case.

[2020-01-21 16:25] piotrzarzycki21 commented on #648
It's not that is not enough. I did listen on shell error, but your code instead of notifying that something has finished didn't notify anything. Apart of that it stopped immediately Native process and prevents from displaying more information about error.  It was:
1) exit native process
2) Remove event listeners

After that there were some messages to report, but event listeners were removed, so I

[2020-01-21 16:36] piotrzarzycki21 commented on #648
Actually your doing queue clean up - When error occurs you do [stopShell](https://github.com/prominic/Moonshine-IDE/blob/3a0b6c055960da4e12f61b7fbf9110930468f53a/ide/MoonshineWorker/src/actionScripts/utils/WorkerListOfNativeProcess.as#L192) and [clean up](https://github.com/prominic/Moonshine-IDE/blob/3a0b6c055960da4e12f61b7fbf9110930468f53a/ide/MoonshineWorker/src/actionScripts/utils/WorkerListOf

[2020-01-21 17:00] rat-moonshine commented on #648
That is a good first step to clean-up any running NativeProcess. However, if you remove this [condition](https://github.com/prominic/Moonshine-IDE/commit/3a0b6c055960da4e12f61b7fbf9110930468f53a#diff-6532db8b82b9b9b9ca7e36745a573477L194), then `flush()` will get called, which will execute next queued commands.

You can execute `queue.removeAll()` in _shell-error_ method, but again since `flush()`

[2020-01-21 17:08] piotrzarzycki21 commented on #648
If I call queue.removeAll before exit - in case of error - flush won't affect anything, cause there will not be anything to execute. However I'm a bit confused by what you are saying about event `RUN_LIST_OF_NATIVEPROCESS_ENDED` - I thought you are expecting that event if error occurs and we have stopped completely processing queue.
It doesn't make sense to me create EXIT event, cause I'm not inte

[2020-01-21 23:37] joshtynjala commented on #609
This seems to have started working properly after I deleted my Moonshine settings a while back. So I guess they got corrupted somehow. Closing.

[2020-01-21 23:37] #609 closed

[2020-01-21 23:50] JustinProminic opened #652 "Authentication failure on SVN hangs checkout process when renaming the project during checkout"
- [ ] Review the documentation: https://github.com/prominic/Moonshine-IDE
- [ ] Search for existing issues: https://github.com/prominic/Moonshine-IDE/issues
- [ ] Use the latest stable version at: http://moonshine-ide.com
- [ ] Let us know how to reproduce the issue. Include a code sample, or share a project that reproduces the issue

## Environment
MacOS App Store Version 2.5.0.   MacOS release 1

[2020-01-21 23:56] JustinProminic commented on #652
It appears this bug is triggered by renaming the project during checkout:

![image](https://user-images.githubusercontent.com/30169573/72853554-59960480-3c77-11ea-94f1-118f8a03854c.png)

[2020-01-22 00:02] JustinProminic commented on #652
Joel tested this with me 'live' and he is running Mac OS Yosemite and the App Store build of Moonshine and could not reproduce this issue.  So it may be a Mojave related bug.

[2020-01-22 00:04] JustinProminic commented on #650
Hi @rat-moonshine , I am 100% confident that this problem occurs.   Joel and I just tested it with the PrimeFaces Portal Java project, and can again reproduce it.  This is on MacOS Mojave.

If you look, the subfolders are sorted incorrectly as well:

![image](https://user-images.githubusercontent.com/30169573/72853938-74b54400-3c78-11ea-9474-23d53d07ca70.png)

[2020-01-22 00:07] JustinProminic opened #653 "Add EASY AND FOOLPROOF support for Royale nightly builds"
We have apparently reported and closed this one before.

We must fix this ASAP so people can EASILY use the nightly build of Royale with Moonshine.

Here is the SDK Installer issue, again:

https://github.com/prominic/Moonshine-SDK-Installer/issues/12

[2020-01-22 00:24] JustinProminic commented on #455
We should look at how Eclipse, IntelliJ, and Visual Studio Code handle the problem of supporting a variety of language and project types.

I think we might want to consider removing the image from the Home Screen and focus on a very nice layout broken down into something like:

ActionScript / AIR / Flex / Flash / Feathers (AS3) / Royale
Java / Groovy / Grails
Notes / Domino / XPages / OSGI
Visual

[2020-01-22 00:31] JustinProminic commented on #646
Hi @feather812002  @dpastov  @JoelProminic please comment on this issue with the status of your tests about Domino On Disk Project (Dmytro and Bing) and the DXLImporter (Bing and Joel) so we can figure out where Notes/Domino support is at for Moonshine.

[2020-01-22 00:31] JustinProminic commented on #646
@feather812002 @dpastov @JoelProminic I care most about testing Domino On Disk Project and DXLImporter on MacOS Mojave and HCL Notes Client 11.  You can find R11 in the Downloads link under your https://Prominic.NET/MyAccount if you need it.

[2020-01-22 00:34] JustinProminic commented on #646
* ODP->NSF Generation of complete On Disk Project into an NSF built entirely with MacOS (Mojave is my release currently) and Moonshine... with NO dependence for Domino Designer to be installed.  Only the HCL Notes Client 11 for MacOS should need to be installed.

* DXLImporter -> Same system requirements above, but instead of building an On Disk Project, it should use Maven or something to inject

[2020-01-22 01:20] JustinProminic opened #654 "Add at least basic "vi" keyboard mapping support to Moonshine IDE"
Joel knows the specifics of the 12 or so most critical ones.

[2020-01-22 01:59] joshtynjala commented on #455
Whenever I need to differentiate between the two versions of Feathers UI, I generally add "for Haxe/OpenFL" or "for AS3/Starling" at the end.

Ideally, going forward, "Feathers UI" almost always refers to the "Haxe/OpenFL" version. That's the terminology that we should use in the Haxe section of the layout.

The "AS3/Starling" version of Feathers should be considered deprecated with little to no n

[2020-01-22 04:56] rat-moonshine commented on #648
`RUN_LIST_OF_NATIVEPROCESS_ENDED` simply fires when NativeProcess runs through _all_ the queued executions, and **not** hit by any stdERROR.

For error-notifications, they send by shell-error handler method. If you are interested in end-of-queue then yes, `RUN_LIST_OF_NATIVEPROCESS_ENDED` is something what you wants to listen.

Here, the problem is, NativeProcess is a very tricky execution between

[2020-01-22 05:08] rat-moonshine commented on #536
Did you planned to include some other character references, @JoelProminic (?)

[2020-01-22 05:24] rat-moonshine commented on #652
While looked into the codes, I confirm we have listeners added to react accordingly when a bad-authentication or, user cancel the authentication window.

I did a quick test on El Capitan, using iTunes version of Moonshine, following were my output:

1. Bad authentication, the authentication-window suppose to return as long user do a bad auth
![image](https://user-images.githubusercontent.com/24370

[2020-01-22 05:45] rat-moonshine commented on #650
I tried to find the project under 'pni/trunk' but couldn't locate any folder named with 'primefaces' (if that is how the folder suppose to be named). Can you please point me to the location, Justin (?)

[2020-01-22 06:50] rat-moonshine commented on #650
Okay, I did a checkout of the project after receiving the path from Justin. During my tests I also pasted my random files/folders into the directory using context-menu 'Paste'. The sorting appears correct to me, however:

![image](https://user-images.githubusercontent.com/24370870/72870747-0a9bae00-3d0f-11ea-91b2-c2be990d2041.png)

Using El Capitan, I'm wondering if this something special in case

[2020-01-22 08:55] piotrzarzycki21 commented on #654
What actually is "vi" ? I'm not familiar with that.

[2020-01-22 08:57] piotrzarzycki21 commented on #653
@rat-moonshine We should continue our discussion. We have had some plan on that we need to agree on something - Let's allocate some time when priorities on the meeting will be revealed.

[2020-01-22 10:22] feather812002 commented on #646
- ODP work fine with HCL Notes 11 on MacOS Mojave.
   Windows not work . more detail you can check my email with the author of ODP.
- Moonshine support with ODP , it almost can done a demo , it can create a new visula project    from Domino template,but it still need some works , I will try to done a moon-shine ide demo in this week ,you can createa a new domino project with moonshine and compile

[2020-01-22 10:25] piotrzarzycki21 commented on #646
Did you have to change anything in Moonshine to support all of that ?

[2020-01-22 10:26] feather812002 commented on #646
Yes, it must need change the Moonshine ,
If I done the demo , I will commit it to a branch , then you can free review it.

[2020-01-22 10:29] piotrzarzycki21 commented on #646
I look forward to that.

[2020-01-22 11:50] rat-moonshine commented on #653
Can you remind me once on the plan/discussion those we had on this and we needs to decide on (?)

[2020-01-22 11:55] piotrzarzycki21 commented on #653
Comments in https://github.com/prominic/Moonshine-SDK-Installer/issues/12#issuecomment-506221807 - and this -> https://github.com/prominic/Moonshine-IDE/issues/594#issuecomment-506209773 - We should expand our discussion.

[2020-01-22 11:59] rat-moonshine commented on #653
Ah, thanks. I vaguely remember now the parts we still needs to decide on, mostly usability cases, i.e. radio vs dropdown etc.

[2020-01-22 12:01] piotrzarzycki21 commented on #653
Exactly. That is why we need to meet - maybe a call tomorrow, figure out some plan. Write it down so you could eventually discuss with Joel.

[2020-01-22 12:47] piotrzarzycki21 commented on #648
I have spent another hours on getting that work and nothing helps. I did try your suggestion using [MacVim](https://github.com/macvim-dev/macvim/releases) - I hope it's ok. - It didn't help. I though I will try to run this trough command line and I was able reproduce that issue:

### Option 1:

[code]

### Option 2:

Since my terminal was opened in folder with mxmlc file I thought I don't need ful

[2020-01-22 15:09] JoelProminic commented on #536
Probably, but I definitely don't remember what they were after 9 months :/ .

[2020-01-22 16:19] JoelProminic commented on #648
I use MacVim, but it did not show the carriage returns like I remembered, sorry.

I downloaded the nightly build myself to try, and I was able to strip the carriage returns like this:

    cp $ROYALE_HOME/bin/mxmlc $ROYALE_HOME/bin/mxmlc.bak
    tr -d '\r' < $ROYALE_HOME/bin/mxmlc.bak > $ROYALE_HOME/bin/mxmlc

For your second option prefix the local executable file with "./" (i.e `./mxmlc -api-rep

[2020-01-22 16:41] rat-moonshine commented on #536
Ah! I just noticed it is a very old issue, sorry. I can understand it may not possible to remember now )

[2020-01-22 17:59] JoelProminic commented on #523
Adding the logo to the splash screen is not necessary.  I am closing this issue.

[2020-01-22 17:59] #523 closed

[2020-01-22 19:51] JustinProminic commented on #654
@JoelProminic please list all of the "vi" sequences you need so that Moonshine has enough of what you use regularly in Eclipse that it is "good enough" from a "vi" emulation perspective.  This is something we do need to get done so that you have everything you regularly need in Moonshine to move Flex.nsf related development primarily to it.

[2020-01-22 21:17] JoelProminic commented on #654
Aw, am I the only one on this project that uses vi (or a derivative like vim, gVim, or macVim)?  That makes me a little sad...

If you want to get a quick introduction to Vim, you can go through the interactive tutorial.
- macOS:  run "vimtutor" from a terminal
- Windows:  Install GVim (default instal link on https://www.vim.org/download.php ).  Run the "Vim tutor" application from the Vim folder

[2020-01-22 21:31] JoelProminic commented on #654
I hoped that I could find a Vim implementation that could be plugged in to our editor, like how Vrapper works with Eclipse:  http://vrapper.sourceforge.net/documentation/?topic=introduction

I haven't found anything yet for Actionscript/Flex/AIR, though - searching gives instructions for how to setup Vim to code in those languages :P .

[2020-01-22 22:00] yishayw commented on #654
I use vim all the time. It's one of the main reasons I stuck with eclipse for so long, because vrapper is so good, much better than the vscode equivalent. It could be nice to have this. On the other hand replicating vrapper looks like a ton of work.

[2020-01-23 01:46] JustinProminic commented on #654
@joshtynjala do you have any magic insight on doing this?  I know you are swamped preparing Haxe / Feathers, and we don't want to distract you from that since I still wish very heavily for a Haxe version of Moonshine with a Feathers UI!

But we also have to shore up some of the power user items.   We need someone to work on this that really understand the most efficient way to do it.  Suggestions?

[2020-01-23 05:52] rat-moonshine commented on #619
This issue now merged into 'master' and ready for further tests.

[2020-01-23 05:55] rat-moonshine commented on #653
I'm starts looking into the https://github.com/prominic/Moonshine-SDK-Installer/issues/12 issue.

[2020-01-23 05:59] rat-moonshine commented on #653
@piotrzarzycki21 just wants to confirm, if we download from a location like this (below) without any need to bother about what is the build-number, should be Okay?

"http://apacheroyaleci2.westus2.cloudapp.azure.com:8080/job/royale-asjs_jsonly/lastSuccessfulBuild/artifact/out/apache-royale-0.9.7-bin-js.zip"

http://apacheroyaleci2.westus2.cloudapp.azure.com:8080/job/royale-asjs_jsonly/

[2020-01-23 06:46] yishayw commented on #654
I think this can be generalized to a need for some extension framework. If we could somehow interface with VSCode extensions from moonshine that would solve this and a lot of other problems. Coc.nvim seems [1] to be doing something like that, but I don't understand it or VSCode well enough to describe how.

[1] http://blog.jamesnewton.com/

[2020-01-23 06:50] rat-moonshine commented on #648
I have adjusted some git-manager codes based on recent [changes](https://github.com/prominic/Moonshine-IDE/commit/3a0b6c055960da4e12f61b7fbf9110930468f53a#diff-6532db8b82b9b9b9ca7e36745a573477L194) in worker/native-process class. So far, all seems to work fine.

[2020-01-23 07:34] JustinProminic commented on #654
Good find.  If only we knew someone who was an expert on VSCode as well as Moonshine.   :)  @joshtynjala

[2020-01-23 07:57] joetaras opened #655 "Mooneshine 2.5.0 (and Naughtly version) can't run"
Hi,
I've tried to build & run my simple desktop project, but the Run task don't start.

The compiler build correctly (I suppose) my project but after this, the Run can't start.

I attach my screenshot:

![image](https://user-images.githubusercontent.com/5994358/72966102-548f9d00-3dbe-11ea-9bd5-1699d75b635e.png)

[2020-01-23 08:26] piotrzarzycki21 commented on #653
Yes that's enough for now. Can you elaborate what will be UI changes ?

[2020-01-23 09:28] rat-moonshine commented on #619
I found a similar problem like #652 if not exact, while testing merge state on Windows.

On Windows, the authentication window to a repository opens by the native Git process itself. I noticed today it triggers only twice. If for some reason user input bad-auth twice or cancelled twice, the window never appear again until a new call.

In that situation when the auth-window do not appears anymore o

[2020-01-23 09:32] rat-moonshine opened #656 "Git: macOS version of Moonshine fail to determine a private repository"
Unlike Windows, on macOS when try cloning a private repository, Moonshine fail to determine if the repository really exists by throwing following message:

[code]

On Windows git-API somehow able to determine private repo followed by authentication window. We at least somehow need to determine the existence of private repository on macOS and do any needful therefore.

[2020-01-23 09:40] piotrzarzycki21 commented on #655
Hi @joetaras ,
I'm sorry for your inconvenience. I just pushed some changes to the build process which hopefully improves it a bit. It will also display a more messages to the console which may help recognize what actually is happen on your sight. Please try newest nightly build.

[2020-01-23 09:45] rat-moonshine commented on #653
As of now, I want to go by introducing a small dropdown accompanying build variants those we'll feed by the XML. The dropdown can contain of any number of variants as we may require.

For software that accompany only variant (i.e. stable) will not appear this option, though.

[2020-01-23 10:09] joetaras commented on #655
Dear, don't worry. I write here to help the project growth.

The run don't start, this is the new screenshot:

![image](https://user-images.githubusercontent.com/5994358/72975246-c1139780-3dd0-11ea-8993-7ac0a5c34588.png)

[2020-01-23 13:46] feather812002 commented on #646
I already done  a moonshine ide demo can create the domino project type, but the dxl to visual editor gui still need some time.
   It look like this :

   1.create a new visual project
![图片](https://user-images.githubusercontent.com/8543391/72989219-d5837e80-3e28-11ea-9c06-985793b9e228.png)

  2.select the template type is :Domino NSF Database Visual Editor.
![图片](https://user-images.githubusercon

[2020-01-23 13:49] piotrzarzycki21 commented on #646
Can someone check whether @feather812002 is added to Moonshine and VisualEditor repositories ? @rat-moonshine ?

[2020-01-23 14:21] piotrzarzycki21 commented on #655
@joetaras What is happen if you choose menu **Debug** -> **Build & Debug** ?

[2020-01-23 14:21] piotrzarzycki21 commented on #655
Thank you so much! We do need you!

[2020-01-23 14:32] joetaras commented on #655
Hi @piotrzarzycki21 with Debug menu, the result won't change.

The Console screenshot:

![image](https://user-images.githubusercontent.com/5994358/72993358-8a9c4380-3df5-11ea-9c56-54230f0cdc56.png)

[2020-01-23 14:33] piotrzarzycki21 commented on #655
Ok next - question - What is happening when you double click in your system on NewFlexDesktopProject.swf ?

[2020-01-23 14:36] joetaras commented on #655
Double click from my O.S.:
![image](https://user-images.githubusercontent.com/5994358/72993635-01394100-3df6-11ea-9dce-f4613bcd6a79.png)

Double click from Moonshine IDE:
![image](https://user-images.githubusercontent.com/5994358/72993678-16ae6b00-3df6-11ea-819b-46e375f14826.png)

And when I click Yes happens nothing

[2020-01-23 15:33] rat-moonshine commented on #646
Wow, this looks great! Nice Bing!

[2020-01-23 15:35] rat-moonshine commented on #646
I just added you as a collaborator @feather812002 . You can try again.

[2020-01-23 16:12] joshtynjala commented on #654
I know how to quit vi when I accidentally open it, but that's the extent of my vi knowledge, and I have no desire to learn more.

I don't think that we would be able to use any existing extensions from other editors/IDEs directly with Moonshine. Our implementations of the language server protocol and debug adapter protocol do not mean that we support full VSCode extensions.

In other words, a vi m

[2020-01-23 16:20] piotrzarzycki21 commented on #643
I have added ability to on/off -source-map to Build Options for Royale projects.

[2020-01-23 16:22] feather812002 commented on #646
Thank you , it a demo , and I really not work on the Flex so much time .
So ,maybe it still need soem update and review .
Thanks you and other member of team before work ,
So that I can done this demo quickly.

[2020-01-23 17:48] yishayw commented on #654
What caught my eye in this blog [1] was this bullet point

_Extension system similar to VSCode
Allows implementing tooling such as Code Actions, Code Lens, and more
Some coc.nvim extensions are even passthroughs to VSCode extensions_

I scanned their documentation but couldn't find an explanation on how these 'passthroughs' are implemented. I know that they are using node as a run-time, so maybe t

[2020-01-23 18:31] joshtynjala commented on #654
VSCode is built on Electron, which embeds Node.js. VSCode extensions are Node.js modules. However, I don't believe that they can run on standalone Node.js (or standalone Electron). Node.js has a number of built-in modules, like "fs", "child_process", etc. VSCode adds its own custom native module named "vscode" that isn't available in Node.js. VSCode extensions use the APIs from this module extensi

[2020-01-23 20:59] JoelProminic commented on #656
For macOS High Sierra and Git 2.20.1, I got this error:

    : Cloning into 'Store-Manager.git'...
    : fatal: could not read Username for 'https://github.com': Device not configured

If I try to connect manually from the command line, I see:

    $ git --version
    git version 2.20.1
    $ git clone https://github.com/prominic/Store-Manager.git
    Cloning into 'Store-Manager'...
    Username f

[2020-01-23 21:13] JoelProminic commented on #650
I can reproduce this with my laptop running macOS High Sierra, with the latest nightly AppStore build of Moonshine.  (Unfortunately, I can't attach an image right now).  Interestingly, I see that the sorting is exactly the same as what @JustinProminic showed in his screenshot.

[2020-01-23 23:52] JoelProminic commented on #646
We'll need to create a convenient template database that we can use with Moonshine.  At minimum, this should include:
- A simple form with one label and one field
- A simple view that can list the documents created from the above form
- A Hello World Java agent.

We should create fresh design elements so that they don't have any legacy structures from old Domino versions or Prominic-specific infor

[2020-01-24 00:02] JoelProminic commented on #646
We'll also need to be able to check and configure the environment for On Disk Project, according to @feather812002's requirements above:
- Java, Maven:  Already checked
- Notes Client - Check if this exists, and configure the path. For the App Store build, we won't be able to check the filesystem automatically, so the user needs to be able to configure the path manually.
- Domino Update Site - I t

[2020-01-24 00:25] JustinProminic commented on #646
@jesse-gallagher we could still really use your help getting On Disk Project on Windows working in Moonshine.  Thank you!

[2020-01-24 00:55] jesse-gallagher commented on #646
Is this the remaining blocker? https://github.com/OpenNTF/org.openntf.nsfodp/issues/160

The current 3.0.0-SNAPSHOT builds of NSF ODP use a different mechanism to shuttle the JSON around, so it may work currently.

If it doesn't work, or if anything else is blocking you, let me know and I'll sort it out.

[2020-01-24 07:50] feather812002 commented on #646
![图片](https://user-images.githubusercontent.com/8543391/73052819-0616f700-3ec1-11ea-8ed0-071784f19202.png)
Hi,I still get some trouble when I try to commit this local branch to remote .
please help me check it , thanks.

[2020-01-24 08:19] feather812002 commented on #646
Yeah,I think you can create a template nsf dabase , and export it as notes dxl format , then send it to me ,I can add it into the moonshine domino project template .

[2020-01-24 08:46] piotrzarzycki21 commented on #646
Are you using same credentials for GitHub login what I'm seeing in the screenshot ?

[2020-01-24 10:47] rat-moonshine commented on #656
For note, following was my test results using El Capitan and Git 2.8.4 (Apple Git-73) (it seems High Sierra has a very higher version), on Terminal:

[code]

[2020-01-24 10:53] rat-moonshine commented on #656
We probably need to track an issue (separately) to avail possibility to enter PIN/token when prompt, for two-factor authentication specifically. At present we have only prompt for login username and password on macOS.

[2020-01-24 10:54] rat-moonshine commented on #650
I'm hoping to able to reproduce this myself when upgrade to Mojave.

[2020-01-24 11:20] jesse-gallagher commented on #646
There are two other issues in NSF ODP that I think you'll run into:

- https://github.com/OpenNTF/org.openntf.nsfodp/issues/20 This one relates to a couple observed problems when compiling an ODP that uses non-"raw" DXL files. Since you'll want to edit forms/views/etc. using their nicely-formatted DXL versions, it's possible that you'll run into trouble (though I think forms and views should be fi

[2020-01-24 13:15] piotrzarzycki21 commented on #648
@JoelProminic This issue is fixed. Josh fix it in SDK. I would also recommend to download .tar.gz instead zip when you are on Mac to test that.

[2020-01-24 13:19] piotrzarzycki21 commented on #648
Yesterday evening I wanted to test fix mentioned above. I did download Nightly Moonshine on mac cause I made some fixes in different area. I run API report and got [this](https://github.com/prominic/Moonshine-IDE/issues/648#issuecomment-576449166) issue. I have started investigate code, but everything was working as it should be. After some time I have found that `MoonshienWorker.swf` is out of da

[2020-01-24 13:20] piotrzarzycki21 commented on #648
Plan for the next improvements:
1) Remember latest API report setup. Currently when we change in report configuration view something - it's restored to previous setup when report is being launched again.
2) Store command used to run report in file

[2020-01-24 15:22] feather812002 commented on #646
Hi,Jesse ,
See you again ,when I run the ODP on window in today ,I get follow error:
[code]

[2020-01-24 15:27] feather812002 commented on #646
![图片](https://user-images.githubusercontent.com/8543391/73080524-eb647280-3f00-11ea-81b4-9fa9354afd8f.png)

I sure  my this git account and username like above picture.

[2020-01-24 15:41] rat-moonshine commented on #646
It could be that your local git config using the email but authentication-id that you used to login once to Git repo is 'binglipusmic'. You can check the email value on Git website after you logged-in with 'binglipusmic' also.

We can add your 'binglipusmic' id to the repo if you think this is alright to use with Prominic tasks.

[2020-01-24 16:03] JoelProminic commented on #656
Here is the documentation for [authenticating from Git command line with two-factor authentication](https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line).  On the user side, this works the same as entering a normal userame and password (but you use the token instead of a password).

[2020-01-24 16:16] feather812002 commented on #646
Yeah , I get it ,it something wrong my side ,
 I will check and fix it , thank you .

[2020-01-26 07:57] yishayw commented on #654
Thanks for the explanation @joshtynjala. I don't think it's consistent with the blog writer's statement that some extensions are 'passthroughs'. For what it's worth, I emailed him, asking for references to that statement so we'll see what that brings.

[2020-01-27 06:48] rat-moonshine commented on #653
This issue now addressed into https://github.com/prominic/Moonshine-SDK-Installer/issues/12 and ready for testing.

[2020-01-27 15:02] piotrzarzycki21 commented on #653
In Moonshine Getting Started width of DropDown list should be improved so I could see full text:
![width](https://user-images.githubusercontent.com/24554795/73185450-5dfe6980-411e-11ea-8f07-c91a650c9d49.png)

[2020-01-27 15:13] piotrzarzycki21 commented on #653
Issue in Getting Started:
.I don't have any version of Apache Royale SDK in `c:\MoonshineSDKs\`. When I open Moonshine and Getting Started, next filter By Software I see:
![sdk](https://user-images.githubusercontent.com/24554795/73185958-4f648200-411f-11ea-9a6a-3344a7f6b403.png)

I do have setup in menu File -> Settings -> Default SDK -> Apache Royale 0.9.7 - Nightly from different location than `

[2020-01-27 15:17] piotrzarzycki21 commented on #653
Other than that minor stuff - I was able nicely download Nightly build!

[2020-01-27 15:20] rat-moonshine commented on #653
I shall investigate the scenario. Good to hear the download works for you.

[2020-01-27 16:37] piotrzarzycki21 commented on #647
I have finally nailed it down! It looks like on Windows when we setup `JAVA_HOME` with quotes it causes an error when Maven is using it. This causes issue:

`set JAVA_HOME="C:\Program Files\Java\jdk8u202-b08"`
without
`set JAVA_HOME=C:\Program Files\Java\jdk8u202-b08`

Everything is working fine. I'm going to commit my changes so please if you will have any problems with something related to Java

[2020-01-27 16:38] #647 closed

[2020-01-27 16:43] piotrzarzycki21 commented on #647
@rat-moonshine Be careful with my changes - if anything will be broken related to Java - let me know. I will test also Java project once nightly build will be ready.

[2020-01-27 17:49] piotrzarzycki21 commented on #647
It looks like Java Maven project is working fine.

[2020-01-27 18:47] joshtynjala commented on #643
I made source-map enabled by default in new projects, since most people will want that.

[2020-01-28 05:23] rat-moonshine commented on #653
I believe that is the case, where initial state of availability affects to initial view of UI. Maybe, we need a more tricker handling for supporting the states between standalone and Moonshine-IDE run.

[2020-01-28 07:34] yishayw commented on #654
He referred me to coc-css [1] which uses css-languageservice [2]. But if I understand this correctly this is simply a client talking to a language server which is not what we're looking for.

[1] https://github.com/neoclide/coc-css
[2] https://github.com/Microsoft/vscode-css-languageservice

[2020-01-28 14:38] piotrzarzycki21 commented on #653
I haven't seen any errors.

[2020-01-28 15:20] piotrzarzycki21 commented on #646
@feather812002 I have added comment in your code - were you able to address it ?

[2020-01-28 17:15] JoelProminic opened #657 "Moonshine Builds Multiple Projects with Build & Run"
I noticed this behavior today:
1. Create/Open a Flex Desktop project
2. Create/Open a Royale project
3. Try to Build & Run the Royale project
4. Both projects build and launch.

If I have multiple Flex projects open, I get a prompt to choose one, while the Royale build runs in the background

![image](https://user-images.githubusercontent.com/24532731/73287816-78d4ea80-41bf-11ea-959a-a21a59719ff3.

[2020-01-28 18:26] feather812002 commented on #646
How can I address it ?
Maybe you can add some specail string like :       //PIOTR:

[2020-01-28 18:35] piotrzarzycki21 commented on #646
I'm not sure what do you mean by that string. In order to see when I add any comments you need to watch repository. Add that to watch and you will be getting email notification about stuff.

[2020-01-28 18:38] piotrzarzycki21 commented on #646
This is the comment. I see that you have added another commit without proper issue number. Please change that as I have instructed you in my email. https://github.com/prominic/Moonshine-IDE/commit/cccbd5212a05728753c85f899f0d498d9ca76578#comments

[2020-01-29 04:42] rat-moonshine commented on #657
Following as I tested on Windows:

1. Create/Open a Flex Desktop project
2. Create/Open a Royale project
3. Try to Build & Run the Royale project
4. Both projects starts building same time resulting mixed output to console
5. Royale project thrown some configuration load error however it managed to open the application to browser
6. Desktop compilation lost and never opened anything

[2020-01-29 10:57] rat-moonshine commented on #657
It appeared that "Build & Run" broadcasting `ActionScriptBuildEvent.BUILD_AND_RUN` which listens into both MXMLCPlugin (responsible for Flex/ActionScript projects) and MXMLCJavaScriptPlugin (responsible for Royale projects) which triggers compilation in both the plugin classes. I believe we didn't had this problem before as we had separate menu-options for Royale projects, but they combined as one

[2020-01-29 11:06] rat-moonshine commented on #657
It seems we probably have a widespread problem in **Debug** menu too, as the menu-item [throws same event](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/impls/IFlexCoreBridgeImp.as#L361) (`ActionScriptBuildEvent.BUILD_AND_DEBUG`) for Flex/ActionScript, Royale and Haxe projects.

I tested having both Royale and ActionScript project opened it sta

[2020-01-29 14:40] piotrzarzycki21 commented on #648
- I have added busy indicator along with text "Generating API report is in progress..." - @JoelProminic does the spelling look ok ?
- Whole progress of generation is being outputted to file. Only when report has been finished we have message in console

I believe there will be a lot of comments how to improve report - let's catch them as part of separate issues.

[2020-01-29 14:44] piotrzarzycki21 opened #658 "Preserved previously used configuration settings in Royale API report"
When we open API report configuration and close - all custom settings for specific project are not preserved.

[2020-01-29 14:47] piotrzarzycki21 commented on #657
I'm confused - this is separate issue towards what we have in this one ?

[2020-01-29 14:48] piotrzarzycki21 commented on #619
If we are good with that please close that issue.

[2020-01-29 16:43] rat-moonshine commented on #657
The reasoning are same for both `Projects -> Build & Run` and `Debug -> Debug & Run`. We can choose to track the latter in a separate issue if that fits better.

[2020-01-29 18:54] JoelProminic commented on #648
Some remaining issues that we discussed today
- The Royale SDK selection logic gave inconsistent results for me.  Should it choose the stable or nightly build?
- The busy indicator did not display when I ran the report from the latest nightly build
- We need to give the user guidance on where they can find the generated report and log.  Even if this is in your external instructions for analyzine a

[2020-01-29 22:02] JoelProminic commented on #650
Here is a test project that you can use to repeat this problem on macOS High Sierra or later:
[2020_01_29__TestSidebarSort.zip](https://github.com/prominic/Moonshine-IDE/files/4130913/2020_01_29__TestSidebarSort.zip)
![image](https://user-images.githubusercontent.com/24532731/73401424-be251500-42b0-11ea-890f-fed43b1316f4.png)

[2020-01-30 00:12] JoelProminic opened #659 "Royale Debugger Error - Missing async-limiter Module"
I noticed today that I am getting errors for the Royale Debugger on macOS Yosemite (hopefully I will be upgrading soon):

    : Project Build Successfully.
    : Command: /usr/local/bin/node /Applications/Moonshine.app/Contents/Resources/elements/http-server/bin/http-server /Users/joelanderson/Documents/Flex/temp_workspace/TestNightly0128/bin/js-debug -p 3000
    : Process error: internal/modules/

[2020-01-30 07:36] rat-moonshine commented on #657
I have some plan and I'm starts working on this @piotrzarzycki21 , unless you've already started to this.

[2020-01-30 07:37] piotrzarzycki21 commented on #657
If you don't have more important things go on. I will carefully review your commits.

[2020-01-30 07:39] rat-moonshine commented on #657
You do review anyway ;) I'll prioratize my stuff.

[2020-01-30 08:31] JustinProminic commented on #650
Hi @rat-moonshine please prioritize getting your MacOS upgraded to Mojave so you can reproduce this issue.  It is vital we get this resolved ASAP. @piotrzarzycki21 please also upgrade your MacOS.

Be sure to use a Time Machine backup of your complete install to a USB disk before you attempt to upgrade, in case you have to roll-back for some reason.

[2020-01-30 11:09] piotrzarzycki21 commented on #650
I was able to reproduce that issue on Mac OS Mojave. It looks like there are differences in terms of how sorting is working on Mac vs Windows in ArrayCollection - in relation with TreeView. I think behavior on Mac is actually more correct than on windows.

We are providing set of projects in ArrayCollection, along with folders which in Tree are treat as a children. We are applying sorting on Array

[2020-01-30 12:36] rat-moonshine commented on #650
@JustinProminic I'm on my plan to upgrade my OS (it is something I particularly waiting for a long time), the new HDD will reach to me by coming Monday.

It is possible that Windows and macOS returns item-ordering differently. Furthermore, since we hadn't notice this issue in earlier version of macOS, it is also possible that the trend has changed with more recent version of the macOS. Although, i

[2020-01-30 15:26] piotrzarzycki21 commented on #650
Currently bamboo build seems to do not get my changes. It's probably failing. If it gets proper rebuild fix should be in place.

[2020-01-30 15:27] piotrzarzycki21 commented on #648
It looks like I didn't understand you on a call. What do you mean by that ? Do you get different output in console ?

[2020-01-30 15:56] rat-moonshine commented on #650
I see your commit successfully build as Build#1557. Latest build should be Build#1559 in a few minutes, so your changes already in last known successfully build.

[2020-01-30 16:12] piotrzarzycki21 commented on #650
Sorry for the noise. I just tried build on Mac and fix seems to working, but not fully. When previously opened project opens you will see unsorted folders, but open and close one of the node get's children sort. I need to improve that.

[2020-01-30 16:19] rat-moonshine commented on #650
Try to change ordering [here](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineSharedCore/src/components/views/project/TreeView.mxml#L1116). Of course, projects those already have a saved tree-cookies might came as they are; I would suggest to spend not much on that; Let's standardise the fix for the projects opens from now on.

I was thinking by the same fix, I see you already t

[2020-01-30 16:28] piotrzarzycki21 commented on #650
It's the same when I'm opening node, so I don't won't to increase amount of using sort logic.
I just committed some fix which should improve all of that. I agree it's enough time spend on this. I look froward when Joel will test that.

[2020-01-30 16:29] piotrzarzycki21 commented on #650
Build with fix should be: ac67953fee8909bad95dbcc42f10e981aa660540

[2020-01-30 16:30] piotrzarzycki21 commented on #648
This one has been addressed.

[2020-01-30 16:31] piotrzarzycki21 commented on #648
I have displayed path to log and api report in the console.

[2020-01-30 17:21] JoelProminic commented on #650
When I first reopened the test project, I found that the .java files were sorted properly, but the directories still had the old sort.  This persisted after I closed and reopened the project and Moonshine.  It seems that the sort was saved along with the expanded directories for the project.

If I refresh the src directory, I can force the sort to update as well.  When I open a fresh project, the

[2020-01-30 17:32] JoelProminic commented on #650
After some more testing, and suggestions from @rat-moonshine, I found this behavior:
1. Close Moonshine, delete the cookies, and reopen Moonshine.  This is needed so that you can do a fresh test of the test project
2. Open a project that has the sorting bug, and explore the tree.  The sorting for both directories and files is correct
3. Close and reopen the project
4. The expanded folders will reo

[2020-01-30 19:39] JoelProminic commented on #648
Here is the output I see on the console now, and bin-debug is automatically refreshed.:

    : Generating report has ended with some errors.
    : Log: /Users/joelanderson/Documents/Flex/temp_workspace/TestAPIReport_0129/bin-debug/TestAPIReport_0129_apireport.log
    : Report path: /Users/joelanderson/Documents/Flex/temp_workspace/TestAPIReport_0129/bin-debug/TestAPIReport_0129_apireport.csv

I'm

[2020-01-30 23:31] joshtynjala opened #660 "Add ActionScript mobile project type"
When you create an ActionScript project, you can choose between AIR, Web, and Visual Editor.

There doesn't seem to be an option for AIR mobile.

Someone in the Starling forums asked how to migrate a Starling project (and I assume that it's pure AS3), and I'm not sure what to tell them.

https://forum.starling-framework.org/d/22221-moonshine-ide-for-starling-ios-android

[2020-01-31 10:53] piotrzarzycki21 commented on #648
I have changed path to absolute path, because the relative path is actually not correct one. I mean if we were using relative path report was saved in the right location, but actually when you check whether that location exists after file creation like that new FileLocation("bin-debug") - you would got that is incorrect path. It ends up with scenario where when user clicked on Change:
![last](http

[2020-01-31 10:53] piotrzarzycki21 commented on #648
This has been fixed now.

[2020-01-31 11:28] piotrzarzycki21 commented on #648
Ok I got ya. In case which SDK choosing - having in mind in what state is currently Royale - I'm always recommend using Nightly.

In case of Royale I'm using [userSavedSDKs](https://github.com/prominic/Moonshine-IDE/blob/7a757a3b40e2689ea52849bfc3d81705dd1fa2ac/ide/MoonshineSharedCore/src/actionScripts/locator/IDEModel.as#L94) - I'm looping trough the list and pickup first Royale SDK if available

[2020-01-31 13:41] piotrzarzycki21 commented on #648
Please review this one and see if we can close the issue.

[2020-01-31 16:43] JoelProminic commented on #648
Ah, I see what you mean with the paths.  Showing the absolue path makes sense, in that case.

Apparently, I haven't been paying attention to this option in the form - I have just been leaving it as the default.  "Api" should be "API" in the label, and I think the full label would be better as "API Report Directory" instead of "Api report log build file".

The busy icon is showing now.  This looks

[2020-01-31 16:43] #648 closed

[2020-02-03 05:20] rat-moonshine commented on #657
Okay. We have added a new middle-manager for the special case/events like of JavaScript projects. I'm not very happy with this treatment, but should be less cluttered then other possible movements. This should do for now.

A new plugin events/listener now added which listens to certain event from menu-click, do necessary decision based on given logic/procedures, and re-dispatch appropriate events

[2020-02-03 07:52] piotrzarzycki21 commented on #650
I have spend lot's of time on that. On mac when I'm opening the project initially neasted children are not sorted. I cannot figure out how to force sorting initially. When you interact with Tree - open/close some tree node it gets sorted, cause there is force on that event. I will take another shot of looking into that today.

![last](https://user-images.githubusercontent.com/24554795/73634906-8e8

[2020-02-03 09:10] rat-moonshine commented on #650
I think we should not spend on initial sorting to the file-list; As this won't full-proof unless you do two things - 1) Having the full hierarchy of tree-list, 2) Sorting them - both the points could be time consuming if a project with large number of files.

I think sorting the children on node-open is the way to go. When a project loads to sidebar, loads in collapsed manner. So opening nodes wil

[2020-02-03 13:20] joetaras commented on #655
Hi dear, there are news about this issue?

[2020-02-03 14:32] piotrzarzycki21 commented on #650
Well there is scenario where project initially is not closed. If you open some old project and previously nodes were opened - those one won't be sorted. I bet Justin run into that scenario same as me. However maybe you are right that there is no sense spend on that more time. Let's see on a call if my solution is enough so far.

[2020-02-03 14:40] piotrzarzycki21 commented on #657
So this can be ready for testing ?

[2020-02-03 15:11] piotrzarzycki21 commented on #655
I'm looking into that again. I will add probably more logs, cause I wasn't able to figure out what is happening on your PC that you cannot run this app.

[2020-02-03 15:35] rat-moonshine commented on #650
Yes, I understand that old opened projects will keep opening as they were. That is what I mentioned earlier that let's make the rule solid for project opens from 'now-on' (previous opened project cookies can clear at any time).

[2020-02-03 15:35] rat-moonshine commented on #657
Yes, it is on 'master'.

[2020-02-03 16:41] JoelProminic commented on #650
We need to get the sorting working when reopening projects as well.  This is something that will regularly trigger during normal usage, and @JustinProminic  is going to immediately see the same behavior again if he does a test.

If this is going to require more time to fix, then we can consider continuing this in the next milestone.

[2020-02-03 17:05] rat-moonshine commented on #650
I want to re-stress on our discussion/explanation to make sure we are on same boat, @JoelProminic . Opening any project _will_ show items properly sorted, but from now on. So, if you upgrade to newer Moonshine build:

1. If you have an opened project in sidebar from a long time (ideally before the current fix applied), they will keep opening with their old saved tree-ordering, unless user do an op

[2020-02-03 20:43] JoelProminic commented on #650
I am still seeing this behavior on macOS High Sierra, with the latest nightly non-Sandbox build (1571)
1. Open a project from an older build of Moonshine - BUG:  the directories and files are not sorted correctly
2. Refresh the project
3. Expand the tree.  The directories and files are sorted properly
4. Close and reopen the project.  BUG:  The directories and files are not sorted properly

If we

[2020-02-04 04:52] rat-moonshine commented on #650
I have my Mojave installed and running well. I can look into the macOS specific issues more.

[2020-02-04 05:01] piotrzarzycki21 commented on #650
I'm going to look into that, but in about 4h - if you till that time figure out something let me know. Maybe fresh look allows resolve this once for all.

[2020-02-04 06:05] rat-moonshine commented on #650
Thanks @piotrzarzycki21 . I just able to give a look with Mojave and able to reproduce the problem as reported by @JoelProminic .

I looked into the details a bit. If I understood correctly, we were saving tree-data by opened folder-node wise. That means even we have the folder references, that doesn't mean we will also have their children sort references. So after expanding those folder-nodes, th

[2020-02-04 07:18] rat-moonshine commented on #652
I tried to give this re-test after upgraded to Mojave. Following are test results from my initial tests:

1. Downloaded latest iTunes sandbox version of Moonshine IDE
2. Made sure that I do not have any saved SVN authentication to keychain
3. Tried to checkout GBAuth through Repository Manager
4. Renamed the target download directory in Checkout window
![image](https://user-images.githubuserconten