[2017-08-26 17:04] piotrzarzycki21 opened #1 "Option "Build with Apache Ant" failing if path to build.xml file contains spaces"
**Description:**
If path to build.xml script contains spaces my build is failing.

Path Example: d:\Moonshine Project\Moonshine-IDE\ide\MoonshineDESKTOPevolved\build\

**Environment:**
Windows 10

**Analysis:**
NativeProcessStartupInfo cannot properly parse provided path to build.xml file. I see following code which is responsible for wrong conversion:

    processArgs.push("set FLEX_HOME="+SDKstr

[2017-08-29 05:15] JustinProminic commented on #1
I think its safe to remove UtilsCore.convertString(..) in AntBuildPlugin usage. If adding the double-quotes in the manner it needs to fix the path spacing problem, then you please make a pull request. Please, test across the platforms before a commit (Windows, OSX).

[2017-08-29 05:20] rat-moonshine commented on #1
I think its safe to remove UtilsCore.convertString(..) in AntBuildPlugin usage. If adding the double-quotes in the manner it needs to fix the path spacing problem, then you please make a pull request. Please, test across the platforms before a commit (Windows, OSX).

[2017-09-05 05:28] JustinProminic commented on #1
I updated from Git.

I tested with both type of projects which has space in it's path and not. But the Ant build failed for both of them. I created new ActionScript project with Moonshine and tried to build with Ant (Project > Build with Apache Ant).

Both reported similar errors in Moonshine console:

[code]

Please, check.

[2017-09-05 05:30] rat-moonshine commented on #1
I updated from Git.

I tested with both type of projects which has space in it's path and not. But the Ant build failed for both of them. I created new ActionScript project with Moonshine and tried to build with Ant (Project > Build with Apache Ant).

Both reported similar errors in Moonshine console:

[code]

Please, check.

[2017-09-05 06:52] piotrzarzycki21 commented on #1
I see in your log that changes itself working, cause build.xml has been successfully run. Couple of questions:

1) Can you run the same build from console ? Remember to setup in your system environment FLEX_HOME, same as I see in log.
2) Can you run the same build (no ANT) in Moonshine using that SDK ?

Please check and tell me whether the results are similar.

[2017-09-05 07:09] rat-moonshine commented on #1
1. I have FLEX_HOME setup in environment variable in Windows - when running through command-line the Ant build using the same; Following are two different reports one using project path having space and another none.

**Project path with space:**
[code]

**Project path without space:**
[code]

2. I'm not sure what you did meant to run same build but no ANT in Moonshine using same SDK - did you mea

[2017-09-06 18:56] piotrzarzycki21 commented on #1
@rat-moonshine,

Fix has been pushed for Windows. Project is building for me, but also I'm getting fail on ant target "compileWindowsSignedPackage".

Let me know about the results.

[2017-09-09 15:28] #1 closed

[2017-09-09 15:33] piotrzarzycki21 commented on #1
Today I did tests on Mac using version 1.5.1 and it seems that part responsible for building apps by ant script working fine either with paths with spaces or not.

Scripts for new Flex/AIR project built successfully swf, but failed with info:
": compileDMGProject: :      [java] Native signing not supported on mac " - If you are going to check that and it is something which can we avoid - That woul

[2017-09-10 19:29] piotrzarzycki21 opened #4 "[UI Builder - Flex] Integration MockupVisualEditor with Moonshine"
As part of this task [MockupVisualEditor](https://github.com/joshtynjala/MockupVisualEditor) need to be integrated with Moonshine IDE.

[2017-09-10 19:31] piotrzarzycki21 opened #5 "[UI Builder - Flex] Translation of XML provided by MockupVisualEditor to Flex MXML code"
XML produced by [MockupVisualEditor](https://github.com/joshtynjala/MockupVisualEditor) should be translated to Flex MXML code.

[2017-09-10 19:35] piotrzarzycki21 opened #6 "[UI Builder - Flex] Export Visual Editor project created in Moonshine to Flex (Adobe Air) project"
Once tasks #4 and #5 will be done need to be implement export option to Flex (Adobe Air) project created mockup.

[2017-09-10 19:50] piotrzarzycki21 opened #7 "[UI Builder - Flex] All options responsible for creating new file (AS3 Class etc.) should be disabled"
In new features where user is able to create Visual Editor project some of the options in menu is being disabled. Once we close the project and project tree is being empty options like File -> New -> AS3 Class and all others in that section should be disabled.

**Scenario:**
1) Create new Visual Editor Project
2) Close created project

**Current result:**
Options for creating new files in menu are

[2017-09-11 06:00] JustinProminic opened #8 "[Run Customization] Advance run customization options for mobile projects"
We talked about this in past for a couple of times. We need some optimization section to mobile project run.

At this moment Moonshine only supports running any mobile projects in an AIR Android simulator, despite if the project targeted for Android or iOS, and with a specific mobile screen size - Nexus One.

We need some customization option where a user can choose what type of simulator they wan

[2017-09-11 06:00] JustinProminic commented on #8
Modification starts in following section for these changes:
`[Project] > Settings > Run`

[2017-09-11 06:01] JustinProminic commented on #8
Following things are done so far:
- Saving customization option values to .as3proj
- Retrieving the saved values from file and populates in the UI
- UI state logic was done
- A list of few/initial mobile device generation for AIR simulator from configuration XML

To do for AIR simulator run:
- Extending the list of mobile devices for AIR simulator
- Binding values between saved customization optio

[2017-09-11 06:02] rat-moonshine commented on #8
Modification starts in following section for these changes:
`[Project] > Settings > Run`

[2017-09-11 06:03] rat-moonshine commented on #8
Following things are done so far:
- Saving customization option values to .as3proj
- Retrieving the saved values from file and populates in the UI
- UI state logic was done
- A list of few/initial mobile device generation for AIR simulator from configuration XML

To do for AIR simulator run:
- Extending the list of mobile devices for AIR simulator
- Binding values between saved customization optio

[2017-09-11 08:39] rat-moonshine opened #9 "Moonshine editor slowness"
**Environment:** Windows 7
**Found in version:** Any (Moonshine)

**Issue:** Editor demonstrates masking issue when a file opened having long texts (preferably with a vertical scroll). Also, typing in the editor may not be that fast as we use to see in other Windows native text editors; the slowness maybe of milliseconds but having comfort to type in a fast editor sometime matters.

**Description:

[2017-09-11 11:29] rat-moonshine commented on #8
Mobile simulator launch codes are now bind with new run customization option for mobile; one can found the options by right-clicking on project root in sidebar and `Settings > Run`.

[2017-09-12 10:59] rat-moonshine commented on #8
The mobile device list is now configurable. One can add, edit or remove devices from the list.

[2017-09-12 10:59] #8 closed

[2017-09-12 11:04] rat-moonshine opened #10 "[Run Customization] Advance run customization options for mobile projects - device debugging"
We need to investigate on USB device debugging in Moonshine.

Following is some of the related reads on the subject:
http://help.adobe.com/en_US/air/build/WS901d38e593cd1bac7b2281cc12cd6bced97-8000.html
http://blogs.adobe.com/airodynamics/2012/06/13/debugging-air-applications-over-usb-on-ios/

[2017-09-15 18:48] JoelProminic opened #11 "Away Builder Integration"
Original Request:

Away Builder is open source, and licensed under the Apache License 2.0:  https://github.com/awaytools/AwayBuilder/blob/master/awaybuilder-license.txt
http://away3d.com/awaybuilder/

Some clarification:

Response:

[2017-09-15 18:53] JoelProminic commented on #11
If we want to launch Away Builder as an external application, we may encounter issues with the Apple Sandbox.   We should make sure that we can make this work before we spend too much time with the rest of the design.

[2017-09-15 19:01] JoelProminic opened #12 ""Rate Our App" Reminder"
Original request:

Clarification:

[2017-09-18 05:53] rat-moonshine opened #13 "Links to all ANE suppliers, Feathers, Starling, and other helpful items"
Please in Moonshine add a JIRA issue to make an easy way for the users to find information on all aspects of modern Flash development.

This list should be ongoing and say "we welcome suggestions - email us at Support@Prominic.NET" or something.

Here is a first draft of what we need – please add your own resources. This should be some kind of Helpful Resources section.

Starling
Feathers
ANEs
Sta

[2017-09-18 05:55] rat-moonshine commented on #13
API Docs section has been renamed to Useful Link(s), containing all the links we've collected so far. Also, Useful Link(s) replaced with Useful Links.

[2017-09-18 05:56] rat-moonshine opened #14 "Preserve Moonshine panels' state"
Josh suggested some feature requests to Moonshine. Following are the points he mainly requested:
- Exapand/collapse console window
- Close/add left-side individual panels and they should get remembered when next time Moonshine starts

Following was his original requests:

[2017-09-18 06:00] rat-moonshine commented on #14
Following changes now made to the Moonshine:
- Restore sidebar panels' and console's sizing state when Moonshine restarts
- Sidebar will start with the last panels opened during previous Moonshine exit
- Console have a new collapse/expand feature (a conventional arrow icon) beside it's regular drag-bar

[2017-09-18 06:00] #14 closed

[2017-09-18 06:01] rat-moonshine opened #15 "Re-introduce auto-updater to non-App-Store version of Moonshine"
We want to re-introduce auto-updater feature to Windows and non-App-Store version of Moonshine in OSX.

[2017-09-18 06:01] rat-moonshine commented on #15
To determine between App Store and non-App-Store .pkg, a new configuration XML file added inside MoonshineSharedCore/src/elements folder holding a singular value at this moment for this purpose. The configuration value is now updating during Ant build time; tested good when installed.

[2017-09-18 06:02] rat-moonshine commented on #15
Auto-updater re-initiated in following cases:
- Development version
- Windows
- MacOS non-App-Store version

Updater config file location is: http://moonshine-ide.com/wp-content/uploads/updater.xml. One can modify it's value and test the auto-updater feature.

In MacOS, unlike .dmg, it doesn't start auto-install when .pkg file downloaded. I shall look into this again, if this continue giving probl

[2017-09-18 06:02] rat-moonshine commented on #15
MacOS version also works now well on re-installation part - in auto-updation.

[2017-09-18 06:02] #15 closed

[2017-09-18 06:06] rat-moonshine commented on #11
Piotr and I was discussing on an upcoming release by the end of this month (per our initial goal to release between 1/2 months). This issue may requires investigation and may not be go in this next upcoming release. I'm removing the 'nextrelease' tag for now, we can add this again later if we need to.

[2017-09-18 06:09] rat-moonshine commented on #10
- Basic UI state logic has prepared for USB device debugging
- Code started to preserve certificate values
- Code started to initial install and run (no debug) on Android device through USB

[2017-09-18 06:10] rat-moonshine commented on #10
Install on device through USB (Android) is working now. No debug.

[2017-09-18 10:57] rat-moonshine commented on #10
Until now:
- More structural changes to the subject
- Run after installation to device
- Packaging support with given resource paths and native extension
- Basic install & run codes on iOS (no debug)

[2017-09-18 19:46] piotrzarzycki21 commented on #4
Basic integration VisualEditor with Moonshine is done:
- We can create project: "Visual Editor Project (Flex)"
- Open existing "Visual Editor Project (Flex)"
- Switch between Visual/Code
- Some options in menu are disabled, but still issue #7 need to be fixed

If I found some additional issue during next stages work I will raise them.

[2017-09-18 19:46] #4 closed

[2017-09-19 03:04] doug777 opened #16 "FlexJS Invalid SDK error"
When trying to Build as JavaScript or Build and Run as JavaScript, result is as below

![ms sdk error](https://user-images.githubusercontent.com/32083838/30573968-79679962-9d29-11e7-91f9-fa14cd79c7a5.png)

The sdk is correctly selected however and mouse-over pop-ups and suggestion lists on typing all appear correctly. Project settings as below

![ms project settings](https://user-images.githubuser

[2017-09-19 03:34] doug777 opened #17 "Some Minor Issues"
After using Moonshine for a few days, a few things I've noticed.

1. If my project called Test is open and I then select Open/Import Flex Project and try to open project called Test2, it won't open and the bottom panel shows Project already open - ignoring request. If Test2 is already open however, then Test will open correctly.

2. Suggest set a timer (30 seconds is probably more than enough) on

[2017-09-19 05:30] rat-moonshine commented on #16
Looking into the last screenshot, it seems you have "Additional compiler options" sets as "+configname=air". Technically that suppose to be a compiler option for Adobe AIR project. I'm wondering if you have copied the options from some project else (?)

If its not a FlexJS MDL project, then you can remove almost all the compiler options! Try to remove unnecessary compiler options and give it a try

[2017-09-19 05:45] rat-moonshine commented on #17
Doug, thank you.

1. Can you ensure the 'Test2' project is not a sub-directory of 'Test' project. That is not a valid project structure to Moonshine, and it suppose to report you by the kind of message you described. Make sure your projects holds individual paths.

2. Can you give some more details on the problem? Maybe a screen recording would help, too.

3. Starts from (upcoming) 1.6.0 Moonshine

[2017-09-19 07:24] #13 closed

[2017-09-19 07:51] rat-moonshine commented on #17
We've added the application size preservation on next 1.6.0 release.

Thanks!

[2017-09-19 07:52] rat-moonshine commented on #14
Moonshine now holds last closed application window size during next start - previously it was preserving only the maximize state of application; As requested by Doug #3 (reference #17)

[2017-09-19 15:36] rat-moonshine commented on #10
- UI state preservation against USB devices (in "Run" section)
- Connected device detection prior to install to devices

[2017-09-19 15:54] rat-moonshine commented on #17
We able to reproduce the problem with further tests. Fix coming shortly. Thank you!

[2017-09-19 16:10] rat-moonshine opened #18 "New features list/slide when Moonshine updates"
It'd be nice if we can introduce a slide type of popup describing the new features, after Moonshine updates, during startup and only once.

[2017-09-20 07:39] rat-moonshine opened #19 "Hover: tooltip sometimes doesn't disappear"
Recently, Doug reported the issue (reference #17):

 I've created a screen recording demonstrating the problem at here: https://vimeo.com/234630627.

[2017-09-20 07:42] rat-moonshine commented on #17
#2 seems a legit issue and I'm opening a new issue tracker on this - https://github.com/prominic/Moonshine-IDE/issues/19. Since the other reported issues are solved, I'm closing this, and transferring to next release sprint.

[2017-09-20 07:42] #17 closed

[2017-09-20 08:25] piotrzarzycki21 opened #20 "Add CHANGELOG.md file to describe all changes for the release"
We should add to the project "CHANGELOG.md" file which will describe what has been changed in current release.

I propose add it to the main root directory - same place where the README.md is.

[2017-09-20 09:16] rat-moonshine commented on #11
Command-line option to open a file to Away Builder:

[code]

[2017-09-20 19:36] piotrzarzycki21 commented on #20
File has been added with basic shape for upcoming release 1.6.0

[2017-09-20 19:36] #20 closed

[2017-09-21 06:05] piotrzarzycki21 opened #21 "[UI Builder - Flex] Changes make in tab "Visual" of Visual Editor are not detected"
Changes made in Visual Editor are not detected by Moonshine. Once tab is being closed without perform saving changes are gone. There is no popup with questions notified about changes.

[2017-09-21 09:57] rat-moonshine commented on #11
- New project template option created for Away3D
- Opening new project creation dialog and dumping demo Away3D file
- New plugin file
- Away3D setup section in `Moonshine > Settings`

[2017-09-21 22:48] JoelProminic commented on #1
I confirmed that the Ant build works for AIR and Flex SWF projects with spaces in the path on Mac OS 10.10.3.

However, while testing this, I found that the Ant script for FlexJS, with or without spaces.  I will report this separately.

[2017-09-21 22:57] JoelProminic opened #22 "Ant Builds Are Failing for FlexJS Projects"
Testing with the latest build, I got errors when trying to build a FlexJS project from Ant:
1. Open Moonshine
2. Create a new FlexJS project
3. Make sure that you have selected a FlexJS SDK
4. Project > Build with Apache Ant

I get an error like this:
    : Ant build Running
    : Buildfile: /Users/joelanderson/Documents/Flex/temp_workspace/TestANTFlexJS/build/build.xml
    :      [echo] SDK : /Us

[2017-09-22 02:06] doug777 opened #23 "Tooltips and code suggestions not working with FlexJS nightlies for 0.9.0"
When I hover over a tag, following shows in stack trace panel

: Unknown tag:compiler.fxg-base-class

According to the problems panel this occurs at flex-config.xml (line 127)

Problems panel also shows - A fatal error occurred while checking for errors.

But this project is just Hello World from the sdk.examples and was working fine. I can still compile and run it with no issues.

Doug

[2017-09-22 02:09] doug777 opened #24 "Improvement to Find/Replace"
When using Find/Replace if you can't Replace All it would save a lot of time if after clicking Replace One, it automatically stepped onto Next. At present you have to continually click Next>One>Next>One and so on.

Doug

[2017-09-22 05:06] rat-moonshine commented on #22
I noticed the Ant build file is a copy from other project template. In a fact, there was nothing to build separately through an Ant build process in case of FlexJS projects. The "Build as JavaScript" or "Build & Run as JavaScript" does the requisite production job itself - by creating both debug and production output versions in the project's "bin" folder. Thus one can easily take the "bin/js-rele

[2017-09-22 05:08] rat-moonshine commented on #22
While testing the procedure, I noticed another problem though - the latest build somehow is trying to open the swf version of project even I chose "Build & Run as JavaScript". Checking.

[2017-09-22 05:18] rat-moonshine commented on #22
While testing with newer version of Moonshine (from Bamboo), I couldn't able to produce the problem anymore.

[2017-09-22 05:23] joshtynjala commented on #23
Moonshine currently isn't compatible with nightly builds of FlexJS because the nightly builds include this new fxg-base-class compiler option that didn't exist in 0.8.0.

A temporary workaround that has worked for users of VSCode (which shares the language server with Moonshine) has been to modify flex-config.xml to remove the line in question. This should also work with Moonshine.

[2017-09-22 06:41] rat-moonshine commented on #11
- Plugin file changed location to desktop project
- Moonshine opens the .awd file after new project been created
- Moonshine opens Away3D Builder without file parameter as well

[2017-09-22 09:23] rat-moonshine commented on #11
- Project now also opens from recent opened project lists well

[2017-09-22 09:25] piotrzarzycki21 commented on #11
@rat-moonshine ,

Quick question - it will be committed into some separate branch, or you will commit it to the master after release 1.6.0 ?

[2017-09-22 09:31] rat-moonshine commented on #11
Here's the complete list of the implementation:

- A new menu option introduced - `Others > Build an Away 3D model`, which shall opens the Away3D builder standalone
- A new template option introduced - `Away3D Project`; User shall go through usual create project dialog and create a project with a demo .awd file to his/her system (at this moment its an any awd file - this shall needs to update as a

[2017-09-22 09:32] rat-moonshine commented on #11
I'm working on a different branch. Once 1.6.0 released it shall be merged to master.

[2017-09-22 21:20] JoelProminic opened #25 "Moonshine Hangs After Restart (TODO: update title after cause determined)"
I have seen this behavior twice in the last couple of days:
1. Restart Moonshine
2. Moonshine opens
3. Moonshine expands to full screen (because of my settings)
4. After about 5-10 seconds Moonshine hangs and needs to be killed
5. This issue repeats until you clear the configuration (~/Library/Containers/com.moonshine-ide)

The hang happens before the console window expands, and the timing makes m

[2017-09-22 22:26] JoelProminic opened #26 "Moonshine Does Not Open FlexJS Application in Browser"
I noticed that Moonshine was able to compile a project as either an SWF or as Javascriptt, but did not open the generated index.html in the browser after the build had completed
1. Open Moonshine
2. Create a new FlexJS project
3. Set a FlexJS SDK in the project settings
4. Select Project > Build & Run
5. Moonshine reports "Project Build Successful" on the console, but it does not open the project

[2017-09-24 21:25] piotrzarzycki21 commented on #26
@JoelProminic ,

I couldn't reproduce that issue on my PC.

**FlexJS:**
However once someone create new FlexJS project and use first "Build & Run" end up with build were will be produced "swf" only application.

In that case we are trying to launch pure swf file.

On my PC swfs are associated to "[Flash Player projector](https://fpdownload.macromedia.com/pub/flashplayer/updaters/27/flashplayer_27_

[2017-09-25 05:51] rat-moonshine commented on #26
I able to reproduce this problem again. By again I means I have found this problem before - https://github.com/prominic/Moonshine-IDE/issues/22. But I couldn't able reproduce this again during my tests at that time.

Now when I tested again, I see older FlexJS apps opening good with their corresponding 'index.html' wrapper (after build done) but the new projects. Investigating.

[2017-09-25 06:46] piotrzarzycki21 commented on #26
@rat-moonshine I see following pattern. If you run Moonshine and do "Clean project" and "Build & Run" your project will open always using "swf" - even if you later run "Bild & Run as Javascript".

It is probably cause in both MXMLCPlugin and MXMLCJavaScriptPlugin we have in function "testMovie" line:
`if (!pvo.htmlPath) pvo.getHTMLPath;` .

It means that once you set htmlPath for the first time it

[2017-09-25 07:24] rat-moonshine commented on #26
@piotrzarzycki21 Yes, the problem was in getHTMLPath() method. I've committed requisite changes to fix this file opening problem in FlexJS.

Note, all the new projects will be affected by this new changes. Older projects may continue to load .swf instead of .html when run the application. This is because Moonshine reads last saved value from project's configuration file. To change this,

- Right-c

[2017-09-25 10:57] rat-moonshine commented on #25
After a trail of investigation, I found an weird behavior in OSX Moonshine.

Unlike Windows, if the console panel set it's height more than 267 pixels - Moonshine hangs. I still not able to detect where its failing and make the application unusable, but after setting the height it shows app freeze.

[2017-09-25 11:13] rat-moonshine commented on #22
@piotrzarzycki21 Can you help building a basic FlexJS Ant build file (the kind of Ant build script with supply with our project templates) to produce the "bin-release" folder?

I tried to modify an existing Ant build script to do that (project zip file attached, the Ant file you can find inside "build" folder), but not sure what I'm missing, or even the MXMLC jar file I pointed is right in case of

[2017-09-25 19:14] JoelProminic commented on #26
Testing with today's build, I found that the application opened in my browser automatically after a Javascript build, but not after an SWF build.   I tested with a Flex Browser project as well, and I found that Moonshine did not open the compiled SWF.

@rat-moonshine was able to reproduce this behavior on Mac OS, but not on Windows

@piotrzarzycki21, I see that SWF files are set to open with Firef

[2017-09-25 19:15] JoelProminic commented on #26
I also noticed this behavior when testing with today's build:
1. Create a new FlexJS project
2. Set the custom SDK to FlexJS 0.8.0
3. Project > Build & Run as Javascript
4. The project builds and opens properly in the browser:
5. Project > Build & Run
6. The project builds to /<path-to-project>/bin-debug/TestFlexJS_0925.swf
7. BUG:  The Javascript page opens instead:  file:///<path-to-project>/bin

[2017-09-25 19:54] JoelProminic commented on #22
The Ant scripts could also run the commands directly.  This works on Mac OS:
[code]

You might need to add "cmd" and "-c" options to get it to work on Windows.   Unfortunately, I have been having trouble getting an SDK to test on Windows.

[2017-09-25 21:48] piotrzarzycki21 commented on #22
@JoelProminic Thanks for the tip it was really helpful, cause when I tried to use mxmlc.jar it didn't recognize js:Application - not sure why.

@rat-moonshine I'm attaching build.xml file it should help build template for Ant build to JS only application. Replace your build.xml using mine.
[build_flexjs_js_only_ant.zip](https://github.com/prominic/Moonshine-IDE/files/1331055/build_flexjs_js_only_a

[2017-09-26 05:19] rat-moonshine commented on #26
After some changes "Build & Run" now tries to open the SWF, instead of `bin/js-debug/index.html`. However, the `navigateToURL` method seems failing in OSX sandbox when it's something different than a valid HTML type of file (i.e. index.html).

I see following pattern with the navigateToURL usage in OSX:
- The API able to open different types of file to browser (i.e. swf, html etc.) with the file t

[2017-09-26 05:22] rat-moonshine commented on #22
@piotrzarzycki21 Thanks Piotr, I'm taking this from here. I shall test the Ant file soon (one I done with my running tasks) and make other requisite changes for the task procedure.

Thank you @JoelProminic, too.

[2017-09-26 06:12] rat-moonshine commented on #25
I seen we had the concept to open the project SWF (in case with **Build & Run** for browser based projects) with their corresponding wrapper HTML file. We have the related wrapper HTML wrapper template file also, supplied within the project templates, for this purpose. I can vaguely remember we worked on this wrapper html concept to overcome this `navigateToURL` issue only (probably in OSX mainly)

[2017-09-26 06:17] rat-moonshine commented on #26
I seen we had the concept to open the project SWF (in case with **Build & Run** for browser based projects) with their corresponding wrapper HTML file. We have the related HTML wrapper template files also, supplied with the project templates, for this purpose. I can vaguely remember we worked on this wrapper html concept to overcome this `navigateToURL` issue only (probably in OSX mainly).

When p

[2017-09-26 07:47] rat-moonshine commented on #26
Moonshine again starts reusing HTML wrapper template files in case of browser (.swf) projects.

To streamline the procedures better, a new `html-template` folder introduced to the web project templates:
- Following the Flash Builder way, Moonshine will accompany web projects with new `html-template` folder
- `html-template` folder will hold HTML wrapper template files to be use in the project's `b

[2017-09-26 10:27] piotrzarzycki21 opened #27 "Add option "Reset Application" to Moonshine's settings"
In order to get back application to the state from the first clean installation we should add option "Reset Application" in the settings.

Reset:
- Once user choose option "Reset Application" we need to have clean information message what will happen
- Moonshine will be restarted

[2017-09-26 10:45] rat-moonshine commented on #25
It has been resolved with recent builds at Bamboo.

[2017-09-26 10:54] #25 closed

[2017-09-26 20:43] piotrzarzycki21 commented on #22
I just pushed fix where I've updated ANT template for FlexJS project which build project to JavaScript.
I tested it on Windows 10. It's need to be tested on Mac OSX - if someone could do it for me that would be good.

I will close the issue once we confirmed that ANT build is working on Mac OSX.

[2017-09-27 16:17] piotrzarzycki21 opened #28 "Add option to settings which allows change Java JDK path"
Add in the Moonshine's settings option which allows change path to Java JDK which being used by code completion.
- It allows change path in case when Moonshine was already configured with some version of JDK and we make an upgrade in the OS

[2017-09-27 20:09] joshtynjala commented on #28
It might also be helpful if Moonshine checked if the saved JDK path still exists on startup.

If the path no longer exists, Moonshine could possibly clear the old value from settings and behave as if it were a clean install and the path had never been set.

[2017-09-29 09:55] rat-moonshine commented on #26
Few things to investigate on - found after tests in OSX:
- SWF compiled with FlexJS SDK coming blank (without any content)
- Wrapper HTML files to run the SWF, do not opens properly in OSX Moz and Chrome

[2017-09-29 09:59] piotrzarzycki21 commented on #26
@rat-moonshine ,

That may be the problem with web browsers itself. Can you try to open build SWF by [Download the Flash Player projector](https://www.adobe.com/support/flashplayer/debug_downloads.html) and see whether it displays anything.

[2017-09-30 17:48] piotrzarzycki21 opened #29 "Build of new FlexJS project is failing when target player version has minor number"
If target player version has minor number in FlexJS frameworks/flex-config.xml new FlexJS project build is failing.

Example:
`<target-player>11.7</target-player>`

Moonshine during parse of target player using only major number. In that case in created project config will be version: `<target-player>11.0.0</taget-player>`

[2017-09-30 18:31] #29 closed

[2017-10-01 17:57] piotrzarzycki21 opened #30 "Add confirmation dialog on file/directory delete"
When user is trying to delete some file from the project - confirmation dialog should be displayed.

Proposition:

Title: Delete
Description: Delete file (directory) "Name of the file with extension"?
Buttons: Ok, Cancel

[2017-10-02 05:51] rat-moonshine commented on #26
I started testing HTML wrapper file behaviour in multiple OSX browsers, they are listed as below:
- Safari 11.0
- Chrome 61.0.*
- Mozilla 56.0
So far by my tests, Mozilla shown most problematic behaviour at this moment.

Moonshine uses default wrapper HTML that comes with Flash Builder web project. It uses same other elements (js, expressInstaller.swf etc.) files as well from the same bundle.

Whe

[2017-10-02 06:11] rat-moonshine commented on #26
Testing the 2nd problem - producing SWF with FlexJS SDK in OSX, always produce blank SWF. This visible in both browsers and in FP projector.

Moonshine uses following code with _NativeProcess_ to produce the SWF in case of FlexJS SDK:
`export FLEX_HOME=/Users/[user]/Downloads/MoonshineSDKs/FlexJS_SDK/FlexJS_0.7.0_AIR_23.0&&export FALCON_HOME=/Users/[user]/Downloads/MoonshineSDKs/FlexJS_SDK/FlexJS_

[2017-10-02 06:49] rat-moonshine commented on #22
I'm not sure where you @piotrzarzycki21 pushed the fixes to FlexJS Ant template, or how I suppose to test the fix. Rather I tried downloading the zip file you posted earlier and tried to build a FlexJS application.

This is the command I ran to build the Ant in command-line:
[code]
The output came somewhat confusing to me, though. I'm not sure which SDK its actually using (looking through the outp

[2017-10-02 09:01] rat-moonshine commented on #22
The updated Ant build file is using 'compiler-targets' during build process, which is available from 0.8+ FlexJS SDK. To support the Ant file against prior version of 0.8 we need some conditional codes to add/remove the 'compiler-targets' argument.

A new property been added to the Ant template file `IS_FLEXJS_AFTER_7` (BOOL) which set by Moonshine with appropriate value during Ant build run. The

[2017-10-02 09:20] rat-moonshine commented on #22
Tried to add conditional statement inside exec command in Ant build file, but it refused to add as exec command do not permits that.

Looking through the API (https://ant.apache.org/manual/Tasks/exec.html) didn't found any probable way to add such conditional statement under exec either.

I have added a basic conditional statement to the Ant build process now, which run the certain exec process, a

[2017-10-02 09:37] rat-moonshine commented on #22
- New notification added (upon success build) where to look for the produced files
- Auto-refresh of the `build` folder upon completion

[2017-10-02 10:41] #22 closed

[2017-10-02 11:32] rat-moonshine commented on #26
During tests, we've found that blank SWF caused by the SDK version less than 0.8.

"Build & Run" with FlexJS 0.8 produced SWF that shows it's contents well.

After some investigation @piotrzarzycki21 discovered that using `bin/mxmlc` instead of `js/bin/mxmlc` produce good SWF with 0.7, too.

I've modified requisite codes in Moonshine build process to use `bin/mxmlc` when the SDK is less than 0.8 (

[2017-10-02 14:06] piotrzarzycki21 commented on #26
Regarding: https://github.com/prominic/Moonshine-IDE/issues/26#issuecomment-333446261,

I believe that we don't have to much influence on web browser itself. It is user responsibility to click on activation link.

In case of Firefox I figure out that if you would like to launch application there - it need to be on the "server". Launching swf locally using wrapper won't work anymore. I put project

[2017-10-02 16:48] rat-moonshine opened #31 "Integrate Josh' ActionScript debugger to Moonshine"
Integrate Josh' debugger update codes from https://github.com/joshtynjala/Moonshine-IDE to production Moonshine repository.

[2017-10-02 16:49] rat-moonshine commented on #31
I able to manage the initial requirement to debugger line highlighting to Moonshine. Following things were managed until this period of time:
- New debugging line highlighting in place, which is different than the usual line selection in editor
- Debugger line highlighting stays to its position during editor scrolling (it kept vanishing or shown unexpected behavior over scrolling before)
- Line hi

[2017-10-02 16:49] rat-moonshine commented on #31
I've updated Moonshine debugger with following changes:
- Debugger highlighting now removes when debugger session is over (i.e. Stop, Play to end)
- Debugger highlighting removes from the last highlighted file when playhead jumps to a new class/file
- Debugger highlight footprints removes properly so it does not leave any UI trace while scrolling
- Some UI tweaks
- "Variables" sections icon modifi

[2017-10-02 17:01] JoelProminic commented on #26
Here is the relevant comment from the thread that Piotr linked:

    This may or may not be related to your issue, but I figured I'd mention it.

    Since Flash Player 23, local-with-file-system permissions have been
    restricted. These file system permissions used to be applied when you use
    the -use-network=false compiler option. Now, you're required to use
    local-with-networking permis

[2017-10-02 19:27] JoelProminic commented on #31
When I did some testing on this today, I noticed some issues with the highlighting.  If these issues are not easy to resolve, then we should consider moving them to a later release.

When I click in the left column to set a breakpoint, the text in that row is automatically selected:
![2017_10_02__debug_highlighting selected](https://user-images.githubusercontent.com/24532731/31095245-cc405c24-a77d

[2017-10-02 19:28] JoelProminic commented on #31
Each time I have the Debugger continue (i.e. Run, Skip Over), it collapses the Variable tree.

If this is not trivial to fix, then it can be moved to a later release.

[2017-10-03 09:42] piotrzarzycki21 commented on #26
@JoelProminic ,

We have had long discussion with @rat-moonshine about possible solution and didn't come up with anything which could simple resolve that.

Giving your options for consideration:

I did try it on Windows 10 and it didn't change anything as it on Mac.

Currently I'm not sure how can we implement such thing and I definitely share the same concerns that we will have problems with Appl

[2017-10-03 15:18] JustinProminic commented on #31
- Debug highlight color changes to soothing one increase text readability
- Debug highlight now showing over existing line selection

[2017-10-03 16:01] rat-moonshine commented on #31
- Debug highlight color changes to soothing one increase text readability
- Debug highlight now showing over existing line selection

[2017-10-03 20:56] piotrzarzycki21 commented on #31
@rat-moonshine ,

I just pushed fix for the issue where debugger jump on the top of the page with selection. I have made following rules:
1. Content will not scroll if debugger breakpoint is visible on the screen
2. Content will scroll to the half of the scrollable page if breakpoint is visible -

In case (2) I did add some offset for the scroller vertical possition - That offset do not have to be

[2017-10-03 23:33] JoelProminic commented on #26
I think we should report this as a known issue for this release, and delay any Moonshine solutions for a later release.  Here is a rough draft.

    While testing for this release, we noticed that most browsers were blocking
    the user from opening SWFs from their local filesystem.  The browsers will
    show a message like "To view this page ensure that Adobe Flash Player
    version 16.0.0 or

[2017-10-04 02:20] piotrzarzycki21 commented on #26
@JoelProminic ,

Should we put such section in our CHANGELOG file like "Known Issues" ?

Thank you for this draft!
Piotr

[2017-10-04 07:34] rat-moonshine commented on #31
Scrolling issue is now looks nice. Thanks @piotrzarzycki21 .

Following fixes also applied:
- In case of a file having breakpoints and not opened, when debug starts Moonshine auto-opens the file and properly highlights the first breakpoint instance also
- Clicking on line number do not auto-selects the line anymore

[2017-10-04 07:34] #31 closed

[2017-10-04 19:37] JoelProminic opened #32 "Editor Overlaps with Console Divider"
While testing today, I noticed this issue:
![2017_10_04__divider_display_issue](https://user-images.githubusercontent.com/24532731/31195930-818845a8-a911-11e7-8ec9-63c81b97fe87.jpg)

This only triggers when the window is maximized, and the opened file has enough lines that it can scroll down.

Some initial findings from @rat-moonshine

[2017-10-04 20:02] JoelProminic opened #33 "Debug > Stop Does Not Work"
I noticed that Debug > Stop does not work
1. Open a project in Moonshine
2. Debug > Build & Debug
3. Debug > Stop - BUG:  The application remains open and the debugging session doesn't close
4. Click the "Stop" button in the Debug panel - this works

I tested this with Mac OS 10.10.3 and both an AIR and SWF project.

[2017-10-04 20:03] JoelProminic opened #34 "Interrupting an Existing Debugging Session"
I also noticed that Moonshine gave an error if I tried to start a new debugging session while the old session was still open
1. Start a session with Debug > Build & Debug
2. Try to start a new session with Debug > Build & Debug
3. The existing session closes, and the application closes (AIR only)
4. BUG:  Moonshine reports the error below.  The debugger does not start
5. Run Debug > Build & Debug

[2017-10-04 20:20] JoelProminic commented on #31
@piotrzarzycki21

While testing today, I noticed that your rules worked properly for the main class of a project:

If I use Step Over, the window position shifts to that the highlighted line remains in the center of the window.

I noticed that in the main class, Moonshine would not shift the window position for the first 3-4 steps, but then it started shifting the position with every step.  For ot

[2017-10-05 05:00] rat-moonshine commented on #33
Addition: Debug > Resume, Debug > Step Over - none are working.

[2017-10-05 05:19] rat-moonshine commented on #34
Alert added against re-debugging request (when a debug session is already active). User can choose to terminate the running session and start a new one.

[2017-10-05 05:19] #34 closed

[2017-10-05 05:19] rat-moonshine commented on #33
Following menu options are now functional:
- Debug > Step Over
- Debug > Resume
- Debug > Stop

[2017-10-05 05:19] #33 closed

[2017-10-05 05:57] rat-moonshine commented on #9
I've removed the strange masking codes completely from the `TextEditor` class. With my initial tests I didn't noticed any masking problem anymore or any other (I vaguely remember in past this wasn't the case, though). The removal of the masking codes seems also contribute to this (#9) masking report and I not able to reproduce this again with my tests in Windows.

We shall need to keep an eye if a

[2017-10-05 05:59] rat-moonshine commented on #32
I've removed the masking codes from the `TextEditor` class, and that seems fixed the https://github.com/prominic/Moonshine-IDE/issues/9 issue. I couldn't able to notice any new masking issue so far with my tests, but we should keep an eye open on this.

[2017-10-05 11:01] rat-moonshine commented on #32
Its fixed now.

[2017-10-05 11:01] #32 closed

[2017-10-05 11:04] rat-moonshine commented on #9
I'm closing this issue for now. Please report if you found any problem with editor masking.

[2017-10-05 11:10] rat-moonshine commented on #9
I noticed that the issue reported was for editor slowness as well. I'm changing the title and re-open it for later investigation.

[2017-10-05 15:16] rat-moonshine opened #35 "Introduce option to select (custom) SDK in create project dialog"
Add an option to choose/select SDK in project creation dialog. Selected project will be shown as the custom SDK to the project. This selection should be optional.

[2017-10-05 22:35] JoelProminic opened #36 "Browsers Report Old Flash Version for SWF Builds"
This issue was extracted from https://github.com/prominic/Moonshine-IDE/issues/26

The SWF builds are giving "To view this page ensure that Adobe Flash Player version 16.0.0 or greater is installed." errors when they open in Firefox, Safari, and Chrome.    This seems to be caused because the browsers added additional restrictions for SWFs opened from the local filesystem.

We would like to avoid t

[2017-10-05 22:42] JoelProminic commented on #26
I added my writeup to CHANGELOG.md.

I also created https://github.com/prominic/Moonshine-IDE/issues/36 so that issue could be closed for the 1.6.0 release.

[2017-10-05 22:42] #26 closed

[2017-10-06 07:12] rat-moonshine commented on #35
To simply the newly downloaded SDK selection policy (through in-built Apache SDK Installer UI, in Windows) and since the UI is now using in multiple areas, "USE AS DEFAULT SDK IN MOONSHINE" button text replaced with "NEW SDK IS READY TO USE".

Clicking on the button will close the SDK installer UI and will reflect to the selected SDK value from where the UI was opened.

[2017-10-06 18:04] rat-moonshine commented on #35
Following problems those we found in downloading new SDK through in-built Apache SDK installer, and fixes.
- New Project dialog opens
- Clicked on "Download a new SDK" link - this opens the in-built SDK installer view
- [BUG] If chose to download any FlexJS SDK (instead of Flex SDK) (tested with FlexJS 0.8.0), upon completion the button shows wrong text instead of "NEW SDK IS READY TO USE" - **Fix

[2017-10-06 19:19] #35 closed

[2017-10-09 06:31] rat-moonshine commented on #24
Hi Doug,

'All' is the option particularly for this (replace all). Have you tried this out?

![image](https://user-images.githubusercontent.com/24370870/31326982-927e7ce8-ace9-11e7-82af-fae5dd5adbf5.png)

[2017-10-09 08:08] piotrzarzycki21 commented on #21
Fixed as part of activity in issue #5 .

[2017-10-09 08:08] #21 closed

[2017-10-09 09:45] piotrzarzycki21 opened #37 "Switch Moonshine sources to newest Apache Flex 4.16 and Adobe Air 27"
In order to provide best performance of Moonshine IDE we should switch our development to [Apache Flex 4.16](https://flex.apache.org/download-binaries.html) and [Adobe Air 27.0](https://www.adobe.com/devnet/air/air-sdk-download.html).

Installation of Apache Flex 4.16 with Adobe Air 27.0 can be perform using [Ant-based installer](https://cwiki.apache.org/confluence/display/FLEX/Installation+help#I

[2017-10-09 12:17] piotrzarzycki21 commented on #5
User is able to switch between tab Visual/Code.

[2017-10-09 12:17] #5 closed

[2017-10-09 12:25] piotrzarzycki21 opened #38 "[UI Builder - Flex] In Visual Editor project type some project's settings need to be hidden"
In Visual Editor project type following options in project's settings should be hidden:

1. Build options
2. Warnings and Errors
3. Run
4. Paths - partially

   - Resources folders
   - External libraries
   - Libraries
   - Native extensions

[2017-10-09 17:56] piotrzarzycki21 commented on #38
In settings of Visual Editor project I left only:
Output and Paths

[2017-10-10 11:43] JustinProminic commented on #11
Codes were taken to 'master' after fixing initial conflicts.

[2017-10-10 11:43] rat-moonshine commented on #11
Codes were taken to 'master' after fixing initial conflicts.

[2017-10-10 11:43] rat-moonshine commented on #10
Codes were taken to 'master' after fixing initial conflicts.

[2017-10-11 03:29] doug777 opened #39 "Wavy underlines do not scroll horizontally"
When moving pages from a Spark project into a FlexJS project, many tags and attributes are wavy underlined as expected. If you then horizontally scroll the page, the wavy underlines do not scroll with the rest of the page. Example image attached.

Doug
![moonshine horiz scroll problem](https://user-images.githubusercontent.com/32083838/31420995-63700bb2-ae77-11e7-84d9-8f6bdc65982e.png)

[2017-10-11 05:28] piotrzarzycki21 commented on #39
Hi @doug777 ,

Could you tell in which version of Moonshine you experienced that issue ?

Thanks,
Piotr

[2017-10-11 07:21] rat-moonshine commented on #11
We need project file from Walker to bundle within Moonshine as default template for Away3D project.

[2017-10-11 07:28] #24 closed

[2017-10-11 07:42] doug777 commented on #39
I'm using 1.5.1 in Win 10 Pro 64-bit and the project is using FlexJS 0.8.0 FP23.0 AIR23.0 en_US.

I have replied to emails from other issues I started, but looks like you have to sign in here and comment. Is that right?

Doug

[2017-10-11 07:46] doug777 commented on #16
Actually the problem is that when you remove all the text from any item in Settings, it appears as if it is removed, but when you return to Settings or close and reopen the program, the settings are still there. If you replace the string with an empty space, you can permanently delete it - except for the space.

[2017-10-11 07:57] doug777 opened #40 "Improvement to Find/Replace"
When changing a project from Flex to FlexJS, there are many occasions where lots of Find/Replace are required. In this case I need to change a bunch of = to : and space to comma. But I don't want to change every = or space in the whole page, just those within this block of text. So I have to use Replace One, but having done a replace I then have to click next before I can replace the next one. Thi

[2017-10-11 08:49] piotrzarzycki21 commented on #39
@doug777 ,

Could you check whether you experienced that issue with our fresh released 1.6.0 version.

I'm not sure what do you mean by "sign in here and comment".

[2017-10-11 08:51] doug777 commented on #39
Yes it's exactly the same in 1.6.0.

Doug

[2017-10-11 10:20] rat-moonshine commented on #30
Confirmation added against deleting file/folder in project tree.

[2017-10-11 10:20] #30 closed

[2017-10-11 10:23] rat-moonshine commented on #16
You mean if you removes them but not clicking the Save button?

[2017-10-11 11:03] rat-moonshine commented on #40
Following changes will be in next release:

![image](https://user-images.githubusercontent.com/24370870/31437074-a6623740-aea1-11e7-81b5-c89b7423caba.png)

Find: One step forward or backward search (based on radio value)
Replace/Find: One step replace and move for next instance
Replace: One step replace
Replace All: Replace all instances

[2017-10-11 11:06] rat-moonshine commented on #40
The above changes looks meets your needs @doug777 , please suggest.

[2017-10-12 00:26] doug777 commented on #16
Obviously you have to click Save otherwise you couldn't change it to a space. If you enter a string into any of the places where you can do this in Settings, you can change it to anything else you want, but you cannot return it to null. After you click Save, it looks as though the entry has been completely deleted until you close and reopen the program. You can set these strings to anything but yo

[2017-10-12 00:30] doug777 commented on #40
Yes agreed, this makes it work the way similar functions work in other programs.

Doug

[2017-10-12 05:10] rat-moonshine commented on #40
After some debate here, we chose to keep 3 options only (removing 'replace' option) to reduce confusion:

- Find (single step find instance)
- Replace/Find (single step replace and auto-find next instance)
- Replace All (all instance replace)

[2017-10-12 05:12] #40 closed

[2017-10-12 05:16] rat-moonshine commented on #16
I confirm the issue.

In some scenario, when there's no value against certain fields, Moonshine auto-generates default values to them to easy the process. But the issue @doug777 reported is also visible at some point that its not default value (Moonshine auto-generating) but re-populating exact same values even they've deleted in past. That needs to be investigated.

[2017-10-12 06:26] rat-moonshine commented on #16
Text items in Settings should properly saves now blank or no values.

Note: There are certain text properties in Settings may auto-populates even user chose to save them blank (i.e. in case of AIR project additional compiler argument repopulates `+configname=air`, etc.), to easy in process.

[2017-10-12 14:37] piotrzarzycki21 commented on #38
Reopening cause some setting during project creation should be disabled as well

[2017-10-12 14:54] piotrzarzycki21 commented on #38
Settings during creation has been cleaned up.

[2017-10-12 14:54] #38 closed

[2017-10-12 23:21] JoelProminic commented on #16
@doug777, was this project converted from an AIR project?

@rat-moonshine and I had a discussion today about how Moonshine detects the project type.  The steps below worked for me on a simple test project.

1. Delete the application descriptor file (i.e. src/<project>-app.xml)

2. Open <project>.as3proj

3. Find this line:
[code]

Clear the value and save:
[code]

This will resolve the SDK error.

[2017-10-12 23:35] JoelProminic commented on #39
I was able to reproduce the horizontal scroll issue like this:

1. Create a new FlexJS Project
2. Make sure that the project is using a FlexJS SDK
3. Add a long line of code with an error.  The line needs to be long enough that it will require a horizontal scroll.  I added an example below that will trigger both an error and a warning
4. Slide the horizontal scroll bar.  You should see that the wa

[2017-10-12 23:40] JoelProminic commented on #39
I noticed the update from @joshtynjala after I had written up my findings.

Testing with his updates, I found that the wavy underlines scrolled properly.  However, I still see the new overlap issue I reported.

If this is an independent problem, then we should move it to a separate issue.

[2017-10-12 23:47] JoelProminic opened #41 "Missing Application Descriptor for New AIR Project"
I noticed that new AIR projects are not created properly in the recent builds of Moonshine:
1. Open Moonshine
2. File > New > New Flex Desktop Project (MacOS, Windowos)
3. Give the project a name, and click Create
4. BUG:  the generated project does not have a application descriptor file (src/<project>-app.xml)
![2017_10_12__testinvalidair](https://user-images.githubusercontent.com/24532731/315242

[2017-10-13 00:58] doug777 commented on #16
It was originally <s:Application ... /> to run in a browser under Flash. Once you don't have "Additional compiler options" set as "+configname=air", the problem disappears. It kept reappearing only because the compiler option was never really reset to null although it appeared to be, see my comment from 2 days ago.

Doug

[2017-10-13 02:15] doug777 commented on #16
The settings in .as3proj all look correct now except that option testMovie="OpenDocument". Everything seems to be working correctly now so not sure whether I need to change this to "" or not or perhaps it makes no difference?

[2017-10-13 04:42] rat-moonshine commented on #39
I think the masking issue then a separate problem since @joshtynjala fix now moves wavy underlines properly. We should take the masking problem to a separate issue.

[2017-10-13 05:06] rat-moonshine opened #42 "Editor masking issue produced by horizontal scrolling"
As reported by @JoelProminic in #39 ,

[2017-10-13 05:07] rat-moonshine commented on #39
I've created a new issue on horizontal scroll masking here - #42 .

[2017-10-13 06:50] rat-moonshine opened #43 "IDE alerted twice while deleting a project"
Deleting an opened project from sidebar, alerts twice:

![image](https://user-images.githubusercontent.com/24370870/31533616-cab835a2-b010-11e7-9892-76b88d8fe7b4.png)
![image](https://user-images.githubusercontent.com/24370870/31533619-d2162b1a-b010-11e7-9ee1-a1e191d7c729.png)

[2017-10-13 08:29] rat-moonshine commented on #41
Fixed.

[2017-10-13 08:29] #41 closed

[2017-10-13 08:40] doug777 opened #44 "Auto namespace insertion out of place by 1 character"
If I choose to add a Text tag, Moonshine auto inserts a new namespace "ns2" into the Application tag.

This is great except that it places the new text one character to the left of where it should be.

Application tag before choosing Text tag

<js:Application xmlns:fx="http://ns.adobe.com/mxml/2009"
                xmlns:js="library://ns.apache.org/flexjs/basic"
                xmlns:ns="library:/

[2017-10-13 08:42] piotrzarzycki21 commented on #44
@rat-moonshine I think we could remove that namespace xmlns:ns="library://ns.apache.org/flexjs/html5" -> It has not been used at all.

[2017-10-13 10:30] rat-moonshine commented on #44
Okay. I probably copied that from some FlexJS template. I can remove that.

[2017-10-13 10:37] rat-moonshine commented on #44
@doug777 can you please help with some steps how you auto-inserts namespace 'ns2' in Moonshine?

[2017-10-13 11:03] piotrzarzycki21 commented on #6
@rat-moonshine , @JoelProminic where option for export should be placed.

My idea is to have it in Menu.
Project -> "Export Visual Editor Project":
This option open view similar to new project creation as you can see below - In current version of UI builder it will be Adobe Air Flex project.

![export_window_how_can_look](https://user-images.githubusercontent.com/24554795/31543468-76f749d4-b016-11

[2017-10-13 14:13] #39 closed

[2017-10-13 14:43] rat-moonshine commented on #42
I found a solution, but I need to ensure some more test cases.

[2017-10-13 15:49] JoelProminic commented on #44
@piotrzarzycki21, is the "library://ns.apache.org/flexjs/html5" namespace no longer commonly used in FlexJS?   If it is a namespace that users will generally want to use, then it would make sense to keep it in the template, even if it is not directly used by the template code.

That said, if the namespace auto-insertion works well, then the users could easily add it back anyway.

[2017-10-13 16:05] piotrzarzycki21 commented on #44
@JoelProminic ,

The most common namespace is "Basic" (library://ns.apache.org/flexjs/basic), which has been shared with package [HTML ](https://github.com/apache/royale-asjs/tree/develop/frameworks/projects/HTML/src/main/flex/org/apache/flex/html)- This package contains pure html components.

 Namespace/package "[HTML5](https://github.com/apache/royale-asjs/tree/develop/frameworks/projects/HTML5/

[2017-10-13 16:09] JoelProminic commented on #44
I was able to reproduce @doug777's problem like this:
1. Create a new FlexJS Project
2. Create a new line in the <js:Container and type "<Text"
3. "Text" appears in the auto-completion UI.  Hit Enter
4. Moonshine automatically adds the namespace:

![2017_10_13__namespaceautoinsertion](https://user-images.githubusercontent.com/24532731/31555520-f1c82ea4-b006-11e7-8087-85550656cfc4.jpg)

[2017-10-13 16:18] JoelProminic commented on #41
I retested this and confirmed the fix.

[2017-10-13 16:29] joshtynjala commented on #44
I think that this issue will be fixed the next time that I update Moonshine with the latest language-server code from vscode-nextgenas.

[2017-10-13 16:31] rat-moonshine opened #45 "Moonshine App Store Helper not opens through menu in OSX"
`File > Moonshine App Store Helper` does nothing in Moonshine, OSX.

[2017-10-13 16:47] JoelProminic commented on #43
I tested this on Mac OS and Windows, and it seems to be fixed.

[2017-10-13 16:47] #43 closed

[2017-10-13 17:02] piotrzarzycki21 commented on #41
@JoelProminic do we want to release 1.6.1 soon because of that issue ?

[2017-10-13 17:43] JoelProminic commented on #41
@piotrzarzycki21 Fortunately, this bug was added after the 1.6.0 release, so we should not need to rush 1.6.1.

[2017-10-15 16:43] piotrzarzycki21 opened #46 "Additional compiler option is disabled for other projects than Adobe Air"
I have noticed that all non Air projects (FlexJS, Flex Web browser) has disabled "Additional compiler options" in Settings.

**Scenario:**
1. Create new non Air project for example FlexJS
2. Right click on the project and choose "Settings"
3. Click "Build options"

"Additional compiler options" is disabled.

![image](https://user-images.githubusercontent.com/24554795/31586899-18fcdf10-b1d8-11e7-9e

[2017-10-16 09:23] #42 closed

[2017-10-16 10:12] rat-moonshine commented on #46
I see for some reasons I chose to disable compiler options in case of browser based projects. But I'm not exactly clear now why it was been disabled. Restoring it again, please keep an eye if this breaks anything (in case).

[2017-10-16 11:09] piotrzarzycki21 commented on #46
I think we will not have problems with web based projects, but not sure what's with Feathers projects.
I will close it after some tests.

Thanks!

[2017-10-16 15:56] JoelProminic commented on #42
I tested with:
- Maximized window
- Unmaximized window
- Changing the width of the editor window by dragging
- Testing with existing text that exceeded the scrollable threshold
- Adding new text to exceed the scrollable threshold

I did not see any problems.  Additionally, I confirmed that the error and warning lines are still working properly through these tests (see #39).

[2017-10-17 09:32] piotrzarzycki21 commented on #6
Export "Visual Editor Project" is finished:
- Export option is available in "Project" -> "Export Visual Editor Project"
- During export user will be able to choose path for new project without possibility to rename it - Thanks to that restriction I was able to avoid to much manipulation with files thus decrease amount of problems during export.

Feature need to be tested on Mac.

[2017-10-17 09:53] #46 closed

[2017-10-17 15:37] piotrzarzycki21 opened #47 "Null Pointer Exception in VSCodeDebugProtocolPlugin"
In debugging version of Moonshine (run from IDE) I'm getting NPE in VSCodeDebugProtocolPlugin with following stack trace:

`[Fault] exception, information=TypeError: Error #1009: Cannot access a property or method of a null object reference.
at actionScripts.plugins.vscodeDebug::VSCodeDebugProtocolPlugin/parseSource()[D:\flex_sdk\Projects\Prominic.NET\Moonshine Project\Moonshine-IDE\ide\MoonshineD

[2017-10-18 02:19] doug777 commented on #16
Sadly the Invalid SDK error has returned even though Additional compiler options are empty string. I changed something in the Application tag and the fault reappeared. I reset it back to exactly as it was before but the fault remains. Tried changing sdk, downloading latest nightly build and changing to that, but nothing works.

If I create a new js project and copy the code from the old project in

[2017-10-18 02:29] doug777 commented on #16
However I am totally unable to stop the Invalid SDK error occurring in a project using the latest nightly build and flexjs changed to royale in the namespace definitions and imports. Can anyone help with this?

[2017-10-18 03:50] doug777 commented on #16
Now changed royale back to flexjs and flex, but no change. Invalid sdk appears the instant I click Build as Javascript. So this old project has no mention of royale.

Created a new project and copied the entire code of the old project into the new project. It all works and compiles correctly.

So I'm now in the crazy situation where apart from the project name, I have two identical projects with i

[2017-10-18 04:11] piotrzarzycki21 commented on #16
Hi Doug,

We are slowly moving FlexJS to Royale - for now I recommend you to use FlexJS nightly - till Moonshine official support Royale. - I will create for that work soon issue.

As for your problem - is there any possibility to attach your project with problems here? Just wanted to confirm whether we have some problems in created project or not.

Thanks!

[2017-10-18 04:15] piotrzarzycki21 commented on #16
@doug777 ,

Another question - are you setup SDK in project settings or in global settings? Can you clear project settings and setup as main SDK global settings?

Let me know what's the result then.

Thanks!

[2017-10-18 04:19] doug777 commented on #16
This is the identical code in both projects - actually Alex's code -

<?xml version="1.0" encoding="utf-8"?>
<js:Application xmlns:fx="http://ns.adobe.com/mxml/2009"
                 xmlns:js="library://ns.apache.org/flexjs/basic"
                 xmlns:mdl="library://ns.apache.org/flexjs/mdl"
                 xmlns:local="*"
				 applicationComplete="sendIt()">

    <fx:Script>
		<![CDATA[
			imp

[2017-10-18 04:30] doug777 commented on #16
If I reset the project settings then in the as3proj file option testMovie changes to "OpenDocument" and option urlToLaunch changes to the path to index.html.

Clean project and try Build as Javascript again but still Invalid SDK.

The new project with the identical code now also fails with the same error.

Doug

[2017-10-18 04:34] doug777 commented on #16
Can't find a way to display the as3proj file in this list. It seems to have been converted to Other classes to be compiled into your SWF  null null

[2017-10-18 04:49] piotrzarzycki21 commented on #16
https://github.com/prominic/Moonshine-IDE/issues/16#issuecomment-337457412,

But in that case once you clean path to SDK in project settings, you have setup SDK in File -> Settings ?

Just wanted to confirm whether we are on the same page.

[2017-10-18 06:07] doug777 commented on #16
I haven't reset the SDK just selected Modify then Reset for FlexJS projects in the global settings.

Looking at this step-by-step it looks to me as though some global variable that is checked when you select Build as Javascript can get set to false, but is not changed when the fault is corrected.

For example all is working well and then I change the Application tag to look for Royale namespaces.

[2017-10-18 06:10] rat-moonshine commented on #16
Hi @doug777 , thank you for this detail reporting and helping us identified the problems, and we're sorry for the trouble you're in, too.

* I started by creating a new Flex browser project, and copied the FlexJS source (that you've provided) and also ensured the `.as3proj` file content is same as yours (except the file name)
* I changed the custom SDK to the project from Flex SDK to FlexJS 0.9.0

[2017-10-18 06:32] doug777 commented on #16
Thanks for your detailed explanation.

Despite these odd bugs, I like using Moonshine. Being built with Flex it feels kinda homely.

There's lots of rough edges, obviously, in something this complex with only volunteer development, but I think overall it's just great and I look forward to using it more and more every day.

Doug

[2017-10-18 07:16] rat-moonshine commented on #16
Based on @doug777 test cases, determination process between Flex and FlexJS project now moved from load-time to run-time.

@piotrzarzycki21 @JoelProminic please give some tests with latest build, if you shall have some time, based on Doug's test cases.

[2017-10-18 09:15] rat-moonshine commented on #47
I can able to reproduce the _null_ error @piotrzarzycki21 described; and also able to reproduced when it happens and when not.

@joshtynjala can you please take a look into this (?) Following is the detailed test case.

This same _null_ point exception I noticed when running Moonshine source or sample project's source, in `VSCodeDebugProtocolPlugin.as`:
![image](https://user-images.githubuserconte

[2017-10-18 11:56] rat-moonshine commented on #27
Some things yet to look into:
- Upon cleaning settings, bottom SDK notification yellow patch is not showing (display not updating)
- Needs to think about how to handle Template settings reset

[2017-10-18 17:57] rat-moonshine opened #48 "Flex browser project creates with wrong 'URL to Launch' value"
Upon creation of a new Flex browser project, it sets the projects `Settings > Run > URL to Launch` value wrongly to open `.swf` file instead of `.html`:

![image](https://user-images.githubusercontent.com/24370870/31734277-d5545ba4-b45b-11e7-9791-63b3cba835b1.png)

The project suppose to open the wrapper HTML file to compiled SWF, by default.

[2017-10-18 18:07] rat-moonshine commented on #16
In details, following are my test results with latest development build:

- Create a new Flex browser project and ensure it runs with a Flex SDK
- Tried to run **Build & Run** - it compiles the project as .swf and runs on browser (it runs the .swf file instead of .html - which is a bug reported here https://github.com/prominic/Moonshine-IDE/issues/48)
- Copied FlexJS source to the project
- Change

[2017-10-18 21:10] piotrzarzycki21 commented on #7
Tested and fixed last issues on Mac.

[2017-10-18 21:10] #7 closed

[2017-10-19 11:33] piotrzarzycki21 commented on #6
Finally after long fight I was able to test it on Mac.

[2017-10-19 11:33] #6 closed

[2017-10-19 12:19] piotrzarzycki21 opened #49 "Moonshine sources built through the Moonshine having problems with opening files on MacOS"
I wanted to use Moonshine to fix some issues on MacOS(#6, #7). I was able to setup, built and run Moonshine sources ("Build & Debug"). Unfortunately in any kind of places where I would like to change some path to folder/files object File() throws an event Event.CANCEL.

**Scenario:**

1. Run Moonshine and go to global "Settings" -> "Default SDK"
2. Click "Change" and try to "Browse" SDK

**Current

[2017-10-19 18:13] piotrzarzycki21 opened #50 "Add support for Apache Royale"
Add support for [Apache Royale](http://royale.apache.org/) with backward compatibility to FlexJS.

[2017-10-20 04:23] rat-moonshine commented on #49
Try changing the `<id>` value to anything than the default (`idToBeReplacedByANT`) one in application descriptor file and test.

[2017-10-20 05:26] rat-moonshine commented on #48
New project creation populates the `URL to Launch` path properly, now.

For Flex web project the default path sets to `bin-debug/[projectName].html`.
For FlexJS project the default path sets to `bin/js-debug/index.html`.

Clearing the field value (by going through `project > Settings > Run`) resets them back again.

[2017-10-20 05:26] #48 closed

[2017-10-20 07:38] piotrzarzycki21 commented on #49
@rat-moonshine unfortunately it didn't help.

[2017-10-20 08:11] rat-moonshine commented on #27
- Upon resetting, bottom SDK notification strap now showing properly
- After resetting startup prompt sequences re-initiated - SDK, Java etc.

[2017-10-20 09:15] doug777 opened #51 "Can't resolve chosen bead"
I create a Panel component, add js:beads and type IBe - drop down list appears and I choose IBeadModel.

After correcting the insertion position of the new namespace, hovering over IBeadModel shows this

![ns error](https://user-images.githubusercontent.com/32083838/31813602-94b31e96-b5b9-11e7-86d7-f9a5b7430dcf.png)

The code underneath the pop-up as follows

js:Panel xmlns:fx="http://ns.adobe.com

[2017-10-20 09:22] piotrzarzycki21 commented on #51
Hi @doug777 ,

You probably didn't make any mistake. I believe it is related to that issue #44 . If you experience such issue just correct namespace to <js: in mxml.
Additionally probably this suggestion is correct, cause IBeadModel is an interface, so you shouldn't use it in <js:beads.

[2017-10-20 09:28] doug777 commented on #51
Oh yes you're right. Changed it and it's working now. Thanks

Doug

[2017-10-20 09:32] #51 closed

[2017-10-20 10:03] rat-moonshine commented on #27
- In Windows, everything shall reset including saved SDK list
- In Mac, except the bundled SDKs (~/Downloads/MoonshineSDKs) all other SDK will be removed from the list
- Per existing logic in Mac, one SDK will always set to default if any bundled SDK is present - after `Clear` (Moonshine > Settings > Default SDK) or `Reset` (Moonshine > Settings > General) happen

[2017-10-20 10:19] rat-moonshine commented on #12
Some thoughts from Joel on this from last discussion:

[2017-10-20 10:29] piotrzarzycki21 commented on #12
Does "This is great" would also suggest some generic message ? If yes - one suggestion is to have at least one of those hash tags: #moonshineide #actionscript

[2017-10-20 10:41] rat-moonshine commented on #12
Regarding Facebook, Twitter involvement - I'm not yet sure how we want to do this - shall we open the Moonshine pages to browser or, we shall encourage to post a generic pre-populated message. For latter, I think we shall need the user to login to the social sites before posting them, though. Which probably shall involve ANE usage (?)

[2017-10-20 17:10] JoelProminic commented on #12
@piotrzarzycki21, the "mockup" I made was simply for showing a compact interface that could be included on the Home page.  The "This is great!" button would open an interface showing options for positive feedback (direct messages, Facebook, Twitter, etc), while the "I'm having some problems" button would open an interface for reporting bugs or making feature requests (Do we also want to allow send

[2017-10-23 15:31] joshtynjala opened #52 "Language Server: If socket is closed, JAR should simply exit on its own"
See comment from @piotrzarzycki21 here:

https://github.com/BowlerHatLLC/vscode-nextgenas/issues/143#issuecomment-338683148

While Moonshine is expected to terminate the process manually when it exits, it would be better if the process could also terminate itself if anything goes wrong.

[2017-10-23 16:14] JoelProminic commented on #27
I ran some tests for resetting the template data.

I added a comment line to each of the file templates, and then reset the settings.  My changes were cleared.

I added a new file template with "Create new".  After I reset the settings, this was cleared.  (NOTE:  I could not change the new file name, and I'm not sure how this would integrate with the current UI anyway.  We may need to revisit this

[2017-10-23 17:25] JoelProminic opened #53 "Ant Home is Reset When Starting Moonshine"
While testing #27, I noticed a problem with the behavior for the Ant Home setting.

1. Open Moonshine
2. Open Settings > Ant Build Setup
3. Change Ant Home to a different directory (in my case, I used ~/Downloads/MoonshineSDKs/ant-1.9.7).  (On a side note, the filechooser always opens to ~/Desktop for Ant Home)
4. Save the change
5. Restart Moonshine
6. Open Settings > Ant Build Setup
7. BUG:  the

[2017-10-23 22:47] piotrzarzycki21 commented on #9
I believe I have done enough improvements for now in that area. @JoelProminic , @rat-moonshine keep an eye on code completion and text editor whether there isn't any weird behavior after my changes. I have touched some sensitive places.

Let me know if you will see any slowness.

[2017-10-23 22:47] #9 closed

[2017-10-24 05:59] rat-moonshine commented on #53
I see the existing logic against setting Ant home path was if Ant SDK found inside the folder that creates by App Store Helper (`~/Downloads/MoonshineSDKs/Ant`), then automatically set the path with the same. This by dismissing any existing path as I see in the logic.

I'm going to make requisite changes per current expectation.

[2017-10-24 07:12] #53 closed

[2017-10-24 09:14] piotrzarzycki21 commented on #37
@rat-moonshine I will make some initial work and see whether Ant-based installer is working for me.

[2017-10-24 10:07] rat-moonshine commented on #45
Moonshine App Store Helper downloader prompt now properly shown through Mac menu even a default SDK has already set.

[2017-10-24 10:52] piotrzarzycki21 commented on #37
I did check Ant-based installer and was able to download Apache Flex 4.16 with Adobe Air 26 and Flash Player 26.0. Unfortunately the [installer config ](http://flex.apache.org/installer/sdk-installer-config-4.0.xml?ts=201710241134) is not updated with the newest version of Adobe Air. I will probably start thread on the Dev list how to update that file.
Still if we want we can for now jump at least

[2017-10-24 12:07] rat-moonshine commented on #37
Since the said AIR 26.0 downloads with Apache Flex 4.16 involves a trail of process, we probably wait till Apache or Adobe fix the downloading problem through Apache Flex SDK Installer. We want to simply the setup process for the users, can not push them through a complex process to setup/download requisite things - that was an often discussed target to Moonshine.

If Apache Flex SDK Installer can

[2017-10-24 12:13] rat-moonshine commented on #27
I think we could have a new issue reported on this, as an enhancement.

[2017-10-24 14:20] piotrzarzycki21 commented on #37
The problem is that Adobe is still haven't release Adobe Air 64bit version for Windows and it's been a year or so since they have it as an Beta version. We don't know how long we will be waiting.
I have just tried built installer with Adobe Air 64bit beta for windows, but have the same error as always during upacking Adobe Air.

@joshtynjala did you try [64bit beta](https://fpdownload.macromedia.c

[2017-10-24 14:38] joshtynjala commented on #37
I built one of my AIR apps with the 64-bit beta, and it seemed to work fine. I saw that some folks were able to build the Flex SDK Installer with the 64-bit beta and it fixed the issue with using too much memory. Unfortunately, I haven't heard any plans from Adobe to release a stable version yet.

For the Feathers SDK Manager, I was able to modify the AntOnAIR library to use PowerShell on Windows

[2017-10-24 14:55] piotrzarzycki21 commented on #37
@joshtynjala ,

I was able to built successfully installer and it is strange to me that it didn't help. PowerShell is really powerful cause you can run almost all things which are in the .NET framework through that layer. :)
Thanks for your link I will put my hands on fixing installer in that way we will see what happen.

Piotr

[2017-10-24 15:09] joshtynjala commented on #37
@piotrzarzycki21 If you try to handle the md5 verification with PowerShell, be sure to check that you're using APIs that existed in the default version of PowerShell that is installed in Windows 7. AIR still runs on Windows 7, so it's important that the installer works there. When I first implemented unzip with PowerShell, I accidentally used newer APIs that didn't exist on Windows 7, and I wasted

[2017-10-24 16:04] piotrzarzycki21 commented on #37
After copying your code and my first tests it looks promising, Adobe Air is unzipping nicely! I have some other failure but I hope I will pass through them.

MD5 checks do not fail, but will see once I test more.

Thanks a lot @joshtynjala - You have just fixed Apache Flex Installer! :)

[2017-10-24 16:15] joshtynjala commented on #37
@piotrzarzycki21 It's possible that the md5 tests don't have any issues. I remember that Alex mentioned that they might fail because they also require loading large files into memory, but the unzip issue happens first, so I don't think anyone has had a chance to test md5 until now.

[2017-10-24 19:58] joshtynjala opened #54 "Organize Imports command"

[2017-10-24 21:37] #44 closed

[2017-10-24 22:07] #52 closed

[2017-10-25 05:12] #45 closed

[2017-10-25 10:05] rat-moonshine commented on #12
Have added two new popup against the rating buttons (in Home screen).

Negative popup contains one bug report input and a button to request feature at GitHub. We shall need an agent for the bug input control, now.

For positive popup, I may need some idea on what contents we should have and how we want to portray them (maybe a mockup design would help).

[2017-10-25 10:47] rat-moonshine commented on #49
I see the exception also thrown in Moonshine console, as well:

[code]
Is it possible that it is because the API is running through a sandbox application (?)

[2017-10-25 11:27] rat-moonshine commented on #49
Disabling sandbox confirms the problem. Once I disabled and build a version, I able to use `browseForDirectory` API effectively (after running Moonshine source through Moonshine IDE). It seems sandbox application added some layer that blocks Flash's regular file browsing access.

Re-enabled sandbox again to Git source.

[2017-10-25 15:54] piotrzarzycki21 commented on #37
Here is where I end up today:
- Your code @joshtynjala nicely working and I have pushed it to the installer as part of [FLEX-35295](https://issues.apache.org/jira/browse/FLEX-35295)
- During work on that issue I have found another one in Flex SDK itself and fixed it [FLEX-35364](https://issues.apache.org/jira/browse/FLEX-35364). Script installer.xml which has been used by installer separately now

[2017-10-25 16:12] joshtynjala commented on #37
@piotrzarzycki21 That looks like my code from the PowerShell script. It seems to be failing to unzip something. Maybe it's incorrectly trying to unzip osmf.swc?

[2017-10-25 16:15] piotrzarzycki21 commented on #37
@joshtynjala Ahh yes! Ok let me dig into that.

[2017-10-26 05:26] rat-moonshine commented on #12
As we probably want to post to the social sites by help of a web page (and not directly from Moonshine), initial content added to the positive rating popup - includes an input field to type message, and two buttons for Facebook and Twitter posting. We shall need an web page now where Moonshine can send the request/message and therefore rest of the procedures done by the page itself.

This is the d

[2017-10-26 10:15] piotrzarzycki21 commented on #37
Installer has been fixed! - More information on [Dev list](http://apache-flex-development.2333347.n4.nabble.com/Flex-Installer-and-fix-for-downloading-an-Adobe-Air-tp64754p64769.html).
Currently it will be working only with Apache Flex Nightly build. I need to start discussion about releasing both Installer and Apache Flex, but that part I will leave as out of scope of that tasks. Once SDK will ge

[2017-10-27 06:54] piotrzarzycki21 commented on #28
I just added checks whether path to java still exists. If user had configured Moonshine with code completion and for some reason path to java changed - He will be prompted by standard popup:

![image](https://user-images.githubusercontent.com/24554795/32091387-3b8b2d78-baf4-11e7-95b7-de3ca410f266.png)

@rat-moonshine, @JoelProminic  Do you think that adding options to change Java path in "Settings

[2017-10-27 07:00] rat-moonshine commented on #28
IMO, setting Java path is a separate section of item than general. 'Reset to Default' does resets everything; if any user wants to change the Java path only, then using 'Reset to Default' could be an over-kill.

Perhaps we setup a new Plugin section inside "Moonshine > Settings" against Java path setup, and it's reset option. I also noticed recently that using debugger also requires the Java path

[2017-10-27 07:06] piotrzarzycki21 commented on #49
@rat-moonshine in the other words we will not able to do to much, rather disabling sandbox. I will close that one.

[2017-10-27 07:11] rat-moonshine commented on #49
I'll suggest keep the issue remain open now. We have some tests discussed with @JoelProminic which we need to check. In other word, this is a more critical problem than it may seem (at this moment). People often use/tests File API, file browsing etc. in their AIR projects. If this continue breaking those project when running in sandbox situation, that could well be a big problem.

We may need to d

[2017-10-27 07:18] piotrzarzycki21 commented on #12
@rat-moonshine as I understand that logic should be placed on our website http://moonshine-ide.com/ ?
Do you need some help with that ?

[2017-10-27 07:56] rat-moonshine commented on #12
If I understood correctly, the logic page should hold API integration to post to the social sites. Someone who is familiar with integrating social APIs to web pages, should be helpful, here.

[2017-10-27 13:26] rat-moonshine commented on #10
I shall details this later -
https://forums.adobe.com/thread/1409739
https://tracker.adobe.com/#/view/AIR-4198467

[2017-10-27 15:58] JoelProminic commented on #49
To clarify, my idea was to use the Access Manager interface (File > Access Manager) to allow access to the files used by the launched application.

So, if the user does this:
1. Build & Run application
2. Run an action that will open ~/Documents/TestFiles/test.txt
3. Application returns an exception

They could add an entry for ~/Documents/TestFiles in Access Manager, to allow access for their app

[2017-10-27 16:46] JoelProminic opened #55 "Sorting for Setting Menu Tabs"
The setting tabs are currently ordered in a seemingly arbitrary manner.

Application Settings:

    Templating
    Console
    Ant Build Setup
    Default SDK
    Subversion
    General
    Away3d

Project Settings:

    Output
    Build Options
    Paths
    Warnings and Errors
    Run

The should be sorted alphabetically instead.

Application Settings:

    Ant Build Setup
    Away3d
    Console

[2017-10-27 16:50] JoelProminic commented on #28
Another option would be to add it to the "Default SDK" tab, and change the name to be something like "SDKs".

I don't have a really strong opinion on this, but my preference would be to create a new "Java" plugin section.  Admittedly, this would be a bit overkill unless if we needed to add more settings related to the Java configuration.

[2017-10-30 06:23] rat-moonshine commented on #10
Here's a summary to the process changes on device installation through USB due to AIR/OSX behaviour.

NativeProcess and its Standard.OUTPUT event is unreliable and opposite in OSX, unlike in Windows. The event never fires if a given command do not returns anything to the command line. This is opposite in Windows where the event returns if a command end running no matter if its returns anything to

[2017-10-30 06:40] rat-moonshine commented on #49
Accessing File API in sandbox environment seems not the problem as we thought about first. I tired to run this piece of codes in Moonshine IDE and this ran well:

[code]
This shifts our focus to the _IFileBriegeImp_'s `browseForDirectory(..)` command now. I need to debug in Moonshine IDE to determine what is going on when the source ran - but unable to do so due this debug problem - https://github

[2017-10-30 06:46] rat-moonshine commented on #55
In regular applications, vertical list settings generally sorted in alphabetical order. So my vote for the alphabetical ordering, too.

[2017-10-30 06:49] rat-moonshine commented on #28
If we shall have a Java path selector option (somewhere in 'Default SDK' section), then we probably do not need any other 'Reset Java Path' option because the selector should do the job.

[2017-10-30 09:37] piotrzarzycki21 commented on #49
@rat-moonshine ,

Maybe try differently:
1) Create class MyClass with one method Test.
2) Create instance of that class in main Application file.
3) Put all the code which you would like to debug in Test method
4) In onButtonClicked run Test method

Debugger will work in that case.

[2017-10-30 09:42] piotrzarzycki21 commented on #10
@rat-moonshine ,

Just quick question, cause you have tried things with newest AIR and that Adobe ticket is closed. It means that they didn't fix the problem ?

[2017-10-30 10:11] piotrzarzycki21 commented on #28
@rat-moonshine , @JoelProminic ,

I was thinking about it more and come up to conclusion that we shouldn't put those setting "Java path" to "Default SDK"/"SDKs". This java path is require for code completion, "Default SDK" tab contains settings require for build project. If we won't setup Java path we will still be able to run our application without the problem.
Currently I'm all for having that

[2017-10-30 10:16] piotrzarzycki21 commented on #16
@rat-moonshine ,
One more user reported problem on Royale Dev list which may be related to that. I will got through your test cases today with development build and try to reproduce his issue in 1.6. We need make sure that issue is sorted out before release.

[2017-10-30 10:51] rat-moonshine commented on #55
Sorry @piotrzarzycki21 my bad - I started work on this before you self-assigned but only able to commit now due to bad network :P

[2017-10-30 10:53] piotrzarzycki21 commented on #16
@rat-moonshine ,

My results are exactly the same in each steps, but I had one additional issue. When I was doing here:

- Copied FlexJS source to the project
- Changed the SDK to build with FlexJS SDK

I had report in console all the time. `<js:Application` wasn't recognized. After close and reopen project everything was working and problems went away.

`: Unknown tag:compiler.targets
: Unknown t

[2017-10-30 10:55] rat-moonshine commented on #49
Yes, that could be an workaround. I can give a test by this soon, @piotrzarzycki21 . Thanks!

[2017-10-30 10:58] rat-moonshine commented on #10
I see the resolution to the issue is 'Fixed'. I don't know when they did closed it, but they anyway responding to this.

[2017-10-30 11:04] rat-moonshine commented on #28
Having Java to Moonshine is not only for code-completion. Java now uses in multiple sections -
- Code-completion
- Debugging
- Device installation through USB (https://github.com/prominic/Moonshine-IDE/issues/10)

Even the first and last feature could be ignored by an user, I think debugging is a basic development practice. But my point is, we're now using Java in multiple areas, for several stuff

[2017-10-30 11:04] piotrzarzycki21 commented on #55
haha :) No problem reassign to yourself I didn't start to work on that. I just thought that since I'm touching Java Path task I will fix this one, but please proceed. I'm right now on #16 :)

[2017-10-30 11:07] #55 closed

[2017-10-30 11:14] rat-moonshine commented on #16
I re-tried this current development version in Windows, and the steps you mentioned, worked good for me.

After copying FlexJS source to the application file, I able to run both 'Build & Run' and 'Build & Run as JavaScript'. I did require to change `Settings > Run > URL to Launch` between the tests to open correct HTML file, though.

[2017-10-30 11:18] piotrzarzycki21 commented on #16
@rat-moonshine I haven't say that build wasn't working. It just some code completion engine reported that tag was wrong, but compilation did work as we expected and as I said after reopen the project those warnings went away.

[2017-10-30 11:28] rat-moonshine commented on #16
Okay. Thanks for the clarification, @piotrzarzycki21 .

[2017-10-30 11:38] piotrzarzycki21 commented on #28
@rat-moonshine ,

That is more clear to me. I will put it into Default SDK and I believe we need to change that initial message as you suggest. Maybe we should omit that message where we have "Moonshine optionally supports code completion..." and just started from Java setup with some message: "Would you like to have full experience with Moonshine like Code-completion, Debugging etc. ...". Please

[2017-10-30 15:57] piotrzarzycki21 commented on #28
I have added option for reset Java JDK Path:
![image](https://user-images.githubusercontent.com/24554795/32180647-d0cd9358-bd92-11e7-8480-96217b89ab7a.png)

Once user click on reset gets question:
![image](https://user-images.githubusercontent.com/24554795/32180799-38a98b76-bd93-11e7-975a-367e72fefacf.png)

After confirm reset I'm going with existing flow where is displayed popup with question  "M

[2017-10-30 16:15] piotrzarzycki21 opened #56 "Click on "Change" in path type of settings doesn't open setup location"
If I setup in some settings path for example "Ant Home" and click on "Change" button it's being opened default location instead of selected.

![image](https://user-images.githubusercontent.com/24554795/32181922-d3a5c84a-bd95-11e7-8d7a-dad9685f4cc8.png)

[2017-10-30 16:52] JoelProminic commented on #55
The updates look good to me.

[2017-10-30 17:31] piotrzarzycki21 commented on #56
If in the settings there were set up some path to file/folder and user clicks on Change we will open that location.
If location doesn't exists parent of folder will be opened. I will test it tomorrow on Mac.

[2017-10-30 17:31] #56 closed

[2017-10-30 20:09] JoelProminic commented on #49
When I tested @rat-moonshine's code, I got:
[code]

I would suggest specifying a specific default directory for the filechooser so that it is (hopefully) clear which files are being accessed.

I would also suggest testing by opening (and reading from) files without using a filechooser.  If this is a file access/sandbox issue, then that will help isolate the problem further.

[2017-10-31 05:18] rat-moonshine commented on #49
Its possible that I was using the Moonshine IDE that I installed some time back by disabling sandbox for this tests. Because with today's tests, I received same error as of Joel.

To ensure that I was not using sandbox disabled version, I downloaded a new Moonshine development today and installed. Therefore when tried the same `browseForDirectory(...)` code, I received the error as above.

To test

[2017-10-31 05:30] rat-moonshine commented on #49
I tested further, and things becoming interesting.

In my previous `FileMode.READ/WRITE` tests, I was using user's Desktop directory. Since the desktop directory I already had added in Access Manager in my previous steps, I chose to keep the file that I want to read/write in a different location this time - which was not added to my Access Manager.

Doing that using read/write command thrown me fi

[2017-10-31 09:36] piotrzarzycki21 commented on #12
@rat-moonshine ,

I just tried to implement logic for "Share on Twitter" in the following way:
`var shareOnTwitterRequest:URLRequest = new URLRequest("https://twitter.com/intent/tweet");
var urlVariables:URLVariables = new URLVariables();
urlVariables.text = "text=" + txtMessage.text;

shareOnTwitterRequest.data = urlVariables;
navigateToURL(shareOnTwitterRequest, "_blank");`

Result is nice:
![im

[2017-10-31 09:38] rat-moonshine commented on #12
One question - above behavior works when you already have logged in to Twitter. Does it also works when you are not logged-in, AND does the URL remains the same way when you logged-in manually after opening Twitter page?

[2017-10-31 09:41] piotrzarzycki21 commented on #12
I'm getting following page when I'm not logged in:

![image](https://user-images.githubusercontent.com/24554795/32217348-0109de92-be28-11e7-9cad-f948eec7050d.png)

[2017-10-31 09:44] rat-moonshine commented on #12
This is great! Then only we've remain FB.

[2017-10-31 09:46] piotrzarzycki21 commented on #12
In case of FB @JoelProminic posted link to "Like" button and I think we need to have "Share" instead. I will look how to implement "Share" cause it could be similar to twitter. :)

[2017-10-31 10:30] rat-moonshine commented on #49
Testing further, I tried to run Moonshine source with the help of its ANE this time - from Moonshine IDE. I did some test changes to the source (so we can build and run with a given ANE (extracted)) and packaged it as a sandbox application.

After installing from new installer I ran Moonshine, and therefore run the Moonshine source from it. I made it sure that the new ran instance of Moonshine cho

[2017-10-31 11:47] piotrzarzycki21 commented on #12
With FB things are a bit more complicated. My code looks like that:

[code]

First thing is that we need to have some app created on FB - it could be some test app. The most important thing is that we need to get from that application "app_id".
In our app settings on FB we have to add "Facebook Login" product and specify url - Without specifying url we will not be able to share anything.

![image]

[2017-10-31 12:14] rat-moonshine commented on #49
From a basic standpoint, I tried to test the Native Extension integration by using a Mac ANE. I found this one - but its a very old managed one anyway - .

Upon running I received this output in Moonshine console, but no full-screen happened. I'm not sure what else we need to have in the project code, but it looks like its communicating:
[code]
Mine is El Capitan, the ANE looks like supported till

[2017-10-31 14:21] #28 closed

[2017-10-31 14:25] piotrzarzycki21 commented on #28
As we [discussed ](https://github.com/prominic/Moonshine-IDE/commit/b3a0c4ce78731be71ec638fc8dead2fdcec6ef53#commitcomment-25303707) Option has been changed to simple path setting where user can "Clear/Change" path to Java.

![image](https://user-images.githubusercontent.com/24554795/32228798-8b70012a-be4f-11e7-9a52-85553a333f91.png)

[2017-10-31 15:35] piotrzarzycki21 opened #57 "When user type couple of first letters of components name for closing tag code completion does not appear"
Code completion doesn't appear if user type couple of first letter for component in closing tag.

Gif which illustrate that problem:
![code_completion_closing_tags](https://user-images.githubusercontent.com/24554795/32232875-5866b01c-be59-11e7-84a6-bf3381745139.gif)

[2017-10-31 15:36] piotrzarzycki21 commented on #57
I will check first whether it is problem on the Moonshine sight.

[2017-10-31 16:16] piotrzarzycki21 commented on #57
I just checked and in described case above in the completion array which come from the language server I don't have at all components names. I see in that array only event names. I will assign this one to @joshtynjala for check.

![image](https://user-images.githubusercontent.com/24554795/32235222-2ad0aecc-be5f-11e7-8ea4-305c1c99c16b.png)

[2017-11-01 10:46] rat-moonshine opened #58 "Native Extension support"
Add support to project run with Native Extensions.

[2017-11-02 08:11] piotrzarzycki21 commented on #12
I have figure out also logic for "I'm having some problems"

[code]

I think following popup should not have "Request feature on Github" cause it will be doing exactly the same as Report, unless there were other plans for "Report" - Let me know in that case.
1) User is filling his description:
![image](https://user-images.githubusercontent.com/24554795/32315685-6c2edc8c-bfad-11e7-91f0-f3a0c15fe1f5

[2017-11-02 08:48] rat-moonshine commented on #12
In general, requesting a feature may not be a problem to report. Perhaps we want to modify the label 'I want to report an issue' to something else that makes sense both for requesting feature and reporting an issue. Since the 'Report' button now effectively taken the user to Git issues section, I think we can limit the submit button to one, too, by changing the label something that fit for both is

[2017-11-02 09:04] piotrzarzycki21 commented on #12
I just checked and if user is not logged in the link take to the login screen. Once user fill login/password it's landing into the issue tab with filled description field, so we are good here.

As for the button that's ok for me "I want to report an issue" or just "Report Issue" - It would be good if @JoelProminic could look into the label names. Once we decide commit the changes I will be ready w

[2017-11-02 11:45] piotrzarzycki21 opened #59 "Sets option -optimize=true in project settings doesn't work"
While my work on #50 I have run into issue where build of SWF only FlexJS/Royale application is failing if I don't have setup "-optimize=true" in project settings.

**Scenario 1:** User has in the FlexJS project settings unchecked option "Optimize".
- Choose "Project" -> "Build Project".

We are building compiler arguments by that [line ](https://github.com/prominic/Moonshine-IDE/blob/master/ide/M

[2017-11-02 11:50] piotrzarzycki21 commented on #59
I forgot to mention that I have temporary added this [line](https://github.com/prominic/Moonshine-IDE/blob/master/ide/MoonshineDESKTOPevolved/src/actionScripts/plugins/as3project/mxmlc/MXMLCPlugin.as#L568) for compilation FlexJS/Royale applications you have to commented out in order to reproduce the issue.

[2017-11-02 12:07] piotrzarzycki21 commented on #50
Initial support for Apache Royale has been added. If we open Apache Royale project Moonshine should be able to build it both SWF and JS version. Code completion is not working right now, but it will probably start once @joshtynjala finish BowlerHatLLC/vscode-nextgenas/issues/144

[2017-11-02 13:33] joshtynjala commented on #50
@piotrzarzycki21 Do you know if builds of the Royale compiler JARs are being deployed to the Apache Snapshots Maven repo?

[2017-11-02 13:42] piotrzarzycki21 commented on #50
@joshtynjala compiler and typedefs has been deployed, but with framework itself something is wrong.  I have an assumption it is caused by this [problems](http://apache-royale-development.20373.n8.nabble.com/Maven-Core-module-reporting-errors-td368.html). I didn't look into that yet, but I can if you need those jars in place to move forward.

[2017-11-02 13:58] joshtynjala commented on #50
@piotrzarzycki21 I don't need the framework, so that shouldn't be a problem.

[2017-11-03 05:13] rat-moonshine commented on #59
I think different people would have different view on this - which option should take preference over another - typed argument or option in Settings.

Even if we give one of them preference, that may confuse users at some time (when they might forgot that other way of setting 'optimize' also exists).

I suggest two options in this case:
- Remove 'optimize' option (checkbox) from Settings and inter

[2017-11-03 07:22] rat-moonshine commented on #58
ANE now supports in both Windows and Mac system Moonshine. An instruction/information message popup also added to `project > Settings > Paths > Native extension` section, to give a little idea on how Moonshine works with the extension files (since it involves file expanding procedure to user's system).

We can work on the message texts if requires.

[2017-11-03 08:05] piotrzarzycki21 commented on #59
I would go with the option 2 and in my opinion it is working the same in other IDEs.

[2017-11-03 08:30] piotrzarzycki21 commented on #27
@rat-moonshine can we raise the new issue for that one and close #27 ?

[2017-11-03 08:53] rat-moonshine commented on #27
That is how we agreed in fact in our last discussion with Joel. So yes, we can proceed that way, @piotrzarzycki21 .

[2017-11-03 08:55] rat-moonshine commented on #59
You can proceed if you want, else I shall if you are taken with other things.

[2017-11-03 08:59] piotrzarzycki21 commented on #59
Let me take this one and I will give other which I'm raising. It is UI issue, not so trivial probably. I believe you are more familiar in that area.

[2017-11-03 09:13] piotrzarzycki21 opened #60 "Section "RECENT" projects disappear after open console"
When I start Moonshine with closed console "Home" tab looks perfectly fine, but once I open console and make it a bit higher UI is being messed up. Note that it is not always reproducible if you have some projects on the list.

**Scenario:**
1) Open Moonshine with closed console
2) Open console and observe "RECENT" - If nothing happen, try to restart Moonshine with that console position.

Screensh

[2017-11-03 09:22] piotrzarzycki21 opened #61 "Buttons for creating new projects are too long"
In the Tab "Home" buttons for creating new projects are too long and user can start creating projects by clicking in the empty space.
Take a look into the following screenshot where I'm hovering in the middle of the "Home" page and I'm still able to see "hand" which indicates that I can create project.

![buttons_too_long](https://user-images.githubusercontent.com/24554795/32366986-c5d2c13a-c080-1

[2017-11-03 09:48] rat-moonshine commented on #61
List of options showing in the splash screen are based on List component. Categorically there are two lists - at left its project open/creation options, at right its file/project history list. Both sided of lists acquired 60:40% width ratio.

Since the option/buttons' text length could be anything, and we did not wanted to line break left side options, we did not restrict the lists with a fixed wi

[2017-11-03 10:17] piotrzarzycki21 commented on #61
I didn't look into the code of that lists, but width of the lists itself could be different than items in itemrenderers. In the other words they can react for clicking in the width which they take. Let me look into that having your thoughts in mind.

[2017-11-03 10:51] rat-moonshine commented on #61
I'm not clear - you suggesting a way that can make itemrenderes not to line break but its List container can have smaller width than than the renderers (?) I'd like to know the way of implementation, though.

[2017-11-03 10:58] piotrzarzycki21 commented on #61
No I'm not saying that the list container can have smaller size than the renderers. I'm saying that content of renderers can have smaller size than list. Just theoretically:
[code]

Does that make sense now ?

[2017-11-03 11:05] rat-moonshine commented on #61
Okay, I understood. Thank you for the explanation. I shall take a look.

[2017-11-03 11:23] #59 closed

[2017-11-04 06:10] rat-moonshine commented on #37
I see the installer is not available anymore by the link (given at Dev list). Furthermore, is it possible to get a Mac build somehow?

[2017-11-04 07:12] piotrzarzycki21 commented on #37
@rat-moonshine I have sent you by email link to Windows and Mac version. I built Mac version on my own. Unfortunately sometimes those link on dev doesn't work and I'm not sure why. Try nightly build of SDK in your tests.

[2017-11-06 06:40] piotrzarzycki21 opened #62 "Cannot change name of the created/existing template"
This issue has been extracted from #27, where @JoelProminic created new template and couldn't change the name. Following [comments](https://github.com/prominic/Moonshine-IDE/issues/27#issuecomment-338712556) describe the steps.

[2017-11-06 06:41] piotrzarzycki21 commented on #27
Issue mentioned by @JoelProminic has been extracted #62

[2017-11-06 06:41] #27 closed

[2017-11-06 20:00] piotrzarzycki21 commented on #37
@rat-moonshine I have started official process of release [Apache Flex Installer](http://apache-flex-development.2333347.n4.nabble.com/VOTE-Release-Apache-Flex-SDK-Installer-3-3-RC1-td64831.html) - you can try binary distributions.

[2017-11-08 11:42] piotrzarzycki21 commented on #12
@rat-moonshine I just committed the changes. Review once you get a chance.

[2017-11-08 12:08] piotrzarzycki21 opened #63 "First class import in MXML file has been inserted at the beginning of file"
When I'm trying to add import to some class it's being inserted at the beginning of file:

![import_wrong_position](https://user-images.githubusercontent.com/24554795/32548414-db6faf36-c485-11e7-810d-96f1f5557658.gif)

However if it is second import in that file insertion working fine:

![second_import_good_position](https://user-images.githubusercontent.com/24554795/32548431-e6566688-c485-11e7-81

[2017-11-08 12:18] piotrzarzycki21 commented on #60
@rat-moonshine In IDE (debug) mode when I have all settings cleaned up, no Recent projects etc. I'm getting following exceptions clicking on "Open Apache Flex/JS Project"

[code]

![image](https://user-images.githubusercontent.com/24554795/32548811-4bc06cc0-c487-11e7-9425-8c466803d443.png)

It is not happened on build version of application. Let me know if I need to reopen that bug.

[2017-11-08 12:22] rat-moonshine commented on #60
Please, reopen. I'm working on the fix.

[2017-11-08 12:27] #60 closed

[2017-11-08 14:02] piotrzarzycki21 opened #64 "[UI Builder] "Export Visual Editor Project" option is disabled when user open another project"
In following scenario "Export Visual Editor Project" option should be enabled:

[2017-11-08 14:03] piotrzarzycki21 opened #65 "[UI Builder] Visual Editor don't prompt the user for saving once add new items and close"
User should be prompted for saving files once add to new items and close visual editor project.

[2017-11-08 14:14] piotrzarzycki21 opened #66 "[UI Builder] Selection markers of visual editor item added to project are visible during the export"
In following scenario selection markers are still visible:

1) Create new Visual Editor project and add one item and select it
2) Go to "Project > Export Visual Editor Project"

![image](https://user-images.githubusercontent.com/24554795/32553494-69010db6-c497-11e7-80d9-030d7874cf1a.png)

[2017-11-08 19:39] joshtynjala commented on #63
I can also reproduce this issue in VSCode.

[2017-11-08 23:34] joshtynjala commented on #57
I can confirm that this issue exists in vscode-nextgenas. I have not yet determined a way to solve it.

Unfortunately, the MXML code model in the Royale/FlexJS compiler is not as mature as the ActionScript code model, and I haven't yet found a way to detect that we're in an incomplete close tag that should match up with a previous open tag without a close tag.

This will need to remain as a known

[2017-11-09 08:18] piotrzarzycki21 commented on #57
I think to avoid that issue would be implement in Moonshine auto closing tag mechanism. I remember that you have said this would be responsibility on IDE sight to make it happen.
I miss such thing and probably will take my hands on this one.

[2017-11-09 09:15] piotrzarzycki21 commented on #50
Just pushed couple of changes related to Apache Royale to conform with latest renaming work in SDK.
@joshtynjala code completion is working in Moonshine when I'm using last Apache Royale Nightly build!

[2017-11-09 15:29] joshtynjala commented on #57
I guess I just needed to sleep on it! In vscode-nextgenas, a closing tag will appear in the completion list now, if the last open tag is unclosed.

[2017-11-09 15:48] piotrzarzycki21 commented on #65
I have fixed scenario above, but it seems I will have to work more in Visual Editor to handle changes for individual properties. I will raise separate issue for that work.

[2017-11-09 15:55] piotrzarzycki21 commented on #57
Sweet. Speaking of that commit. Is there any way that I could build myself code completion and use it in Moonshine for tests such changes ? If I go through your build instruction do I produce valid codecompletion.jar for Moonshine ?

[2017-11-09 16:04] joshtynjala commented on #57
In *vscode-nextgenas_MoonshineModifications/src*, delete the *com* directory. Then, replace it with the latest source code from the language-server module in vscode-nextgenas.

https://github.com/BowlerHatLLC/vscode-nextgenas/tree/master/language-server/src/main/java

Inside *vscode-nextgenas_MoonshineModifications*, run the following command:

[code]

This should work most of the time. If I've up

[2017-11-09 23:18] piotrzarzycki21 commented on #37
@rat-moonshine I have pushed [Apache Flex Installer RC2](http://apache-flex-development.2333347.n4.nabble.com/VOTE-Release-Apache-Flex-SDK-Installer-3-3-RC2-td64858.html) - It would be great if you could try it on Windows. Install Apache Flex SDK 4.16.1 RC1 with Adobe Air 27. - This version of SDK is under nightly build.
Release process for new SDK is also started so I'm waiting for the voters. :)

[2017-11-10 10:02] #16 closed

[2017-11-10 11:25] piotrzarzycki21 commented on #57
@joshtynjala Where I can find repository "vscode-nextgenas_MoonshineModifications" ?

[2017-11-10 11:47] piotrzarzycki21 commented on #64
I need a bit more clarification from you @rat-moonshine . Currently if I go through your scenario and than open some file from Visual Editor project "Export Visual Editor Project" option turn back to Enabled.

What do you mean by saying ?

Do you mean clicking on the name of the project ?
That issue expose more general problem in Moonshine, where we actually don't know what project is currently ac

[2017-11-10 12:22] piotrzarzycki21 opened #67 "[UI Builder] Individual component properties are not saving"
In following scenario changes made in Visual Editor are not saving.

** Scenario: **
1) Create new Visual Editor Project
2) Add couple of components
3) Save
4) Change properties of added component, save and close file
** Result: **
Reopen saved file and observe that changed properties wasn't saved

[2017-11-10 16:10] piotrzarzycki21 commented on #67
I have added to Visual Editor mechanism where each component notify about changes of properties. Moonshine register for event "propertyEditorChanged".

One thing left - I need to figure out how to notify about changes in dataProviders for such components like list.

[2017-11-11 09:46] piotrzarzycki21 commented on #50
Moonshine after my latest commits now will be able to:
- Open Apache Royale project
- Build project
- Code Intelligence working

[2017-11-13 09:48] rat-moonshine commented on #64
I think sometime back we probably discussed on this to how to determine which project file is currently selected at a time. I think you also made some changes on this line, too. That should help to determine which project is 'active' - or am I looking into different direction (?)

What I did in my tests are mainly these:
- Opened VE project
- I see 'Export Visual Editor Project' option is enable
-

[2017-11-13 16:09] piotrzarzycki21 commented on #67
- I have implemented in Visual Editor mechanism for notifying if user change any property using "Visual" tab.
- Additionally Components DropDownList and List saving now their dataProvider(s) to file and they are translated to MXML

[2017-11-13 17:29] piotrzarzycki21 commented on #64
@rat-moonshine Yes I did changes and it makes active project property more alive. We are refreshing that property on couple of events for example: when new project is opened, or some of the project file is being opened (double click in Tree).  Although I think it is impossible to discover all scenarios which user can run into.
The fix which I will do to handle that problem for me is workaround.

W

[2017-11-14 05:45] rat-moonshine commented on #64
When there multiple projects are open, and you choose build option from the menu, it build the project that has the file selection. Although, there are certain cases when selection lost. At that time if multiple projects are opened and you choose build option, Moonshine alerts a popup with currently opened project list, from where you need to choose the project you want to build.

[2017-11-14 09:00] piotrzarzycki21 commented on #57
@joshtynjala I just built with your instruction codecompletion.jar with latest changes. I can confirm that I see closing tag.

![image](https://user-images.githubusercontent.com/24554795/32771307-960ee992-c922-11e7-83db-65880234fc85.png)

Thanks for the instruction!

[2017-11-14 09:47] piotrzarzycki21 commented on #64
Understand. I wasn't aware of that popup. Didn't get that, but it good to know. I just fixed issue by having "activeProject" property refreshed if user click on item in project TreeView.

[2017-11-14 09:47] #64 closed

[2017-11-14 14:38] piotrzarzycki21 opened #68 "Code Completion list improvements"
As part of that task I would like to give a bit more love to our code completion list.
- Add icons
- Change colors

If it was discussed before let me know.

[2017-11-15 00:49] JoelProminic commented on #12
Some updates for the "This is great!" interface:

Instead of:
"Perhaps you want to share some words on this?"
Use:
"If you would like to help spread the word, you can share a message on Facebook or Twitter using the buttons below."

Default Message:   "I had a nice experience using Moonshine IDE! #moonshineide #actionscript"

I brought this to @JustinProminic's attention for review, since he origi

[2017-11-15 05:02] #12 closed

[2017-11-15 17:33] piotrzarzycki21 commented on #68
I just finished first stage of improvement. Small screenshot of how code completion look like right now:

![image](https://user-images.githubusercontent.com/24554795/32849132-a0382872-ca2e-11e7-8a9b-aaa72e2501f8.png)

![image](https://user-images.githubusercontent.com/24554795/32849191-c335b52e-ca2e-11e7-8026-e68021e17a16.png)

1) Added type of item on mouse over and selected
2) Tooltip display so

[2017-11-15 22:22] JoelProminic commented on #48
Confirmed for FlexJS, Flex SWF, and ActionScript SWF projects

[2017-11-15 22:28] JoelProminic commented on #53
I tested this again in preparation for the 1.6.1 release.  I confirmed these cases:
- Setting path to different directory under ~/Downloads/MoonshineSDKs
- Setting path to other directory (~/SDKs/...)
- Resetting the value.

[2017-11-15 22:33] JoelProminic commented on #45
I checked this in the v1.6.1 release candidate.  The Moonshine App Store Helper prompt opened properly, and it did not duplicate the SDKs

[2017-11-15 22:49] JoelProminic commented on #58
Some updates to the text - we can discuss this if you feel I changed or removed something that makes the text inaccurate.:

Link:  "See how Moonshine supports native extensions"
I think we can skip "Important" unless this requires extra configuration or maintenance work by the users.

Popup body:

    To run the simulator with native extension support, Moonshine needs to expand the ANE files to us

[2017-11-15 22:56] JoelProminic commented on #61
I confirmed that dialogs only open when clicking on the text

However, the buttons animate when I mouse over or click in the area that was previously clickable.  This makes it seem like the button is there, but does not work.

Also, mousing over and clicking the icons to the left of the text animates the buttons, but the dialogs do not open.  I would expect clicking the icons to open the dialogs.

[2017-11-15 23:00] JoelProminic commented on #60
I never had a good way to reproduce the problem that Piotr reported - his test procedure did not trigger the bug for me.

However, I have not seen any problems with the RECENT section during my 1.6.1 release candidate tests, so this looks fine.

[2017-11-15 23:10] JoelProminic commented on #44
I ran some tests in the 1.6.1 release candidate, and this seems to work well:
- Adding a single namespace
- Adding multiple namespaces in a row (eventually this causes the current interface to scroll)
- Adding another namespace after reformatting the previous entries to be one per line (the new entry is added to the last namespace line)

[2017-11-15 23:17] JoelProminic commented on #50
@piotrzarzycki21, did you want to include this issue in the 1.6.1 issue list?   What is still left to do?

By the way, is there an easy way to install the nightly Apache Royale build?  I tried to use the Apache Flex SDK Installer, but it seemed like the nightly build was still FlexJS.

[2017-11-16 04:54] rat-moonshine commented on #68
This looks nice! Thank you for looking into this side @piotrzarzycki21 .

I guess you probably creating the circles at runtime. The label characters seems out of proper font/embedding (probably the font you are using do not have 'bold' associated with). It'd be nice if they'd look more proper, I guess.

I'm not clear with point on doing something with this (code-component list) scrollbar and add i

[2017-11-16 05:20] rat-moonshine commented on #58
Textual changes done.

[2017-11-16 05:20] #58 closed

[2017-11-16 05:24] rat-moonshine commented on #61
Unlike the recent project/files list at right-hand side (which uses a custom approach to render the list to overcome varied position/alignment problems), template list at the left-hand side still uses native component list. I don't think we have a good reason to replace them completely with another custom approach.

Thus, I made it sure the mouse-over effect restrict to the label only and has the

[2017-11-16 05:24] #61 closed

[2017-11-16 06:26] piotrzarzycki21 commented on #50
@JoelProminic yes it's included in 1.6.1 I don't see any harm with that. My tests went pretty well with this partial support. Once we release this version I would like to discuss farther how we handle new project creation and it will be all in case of support.
Nightly build and upcoming releases of Royale won't be available through the installer - You will be able to download it directly from the

[2017-11-16 06:53] piotrzarzycki21 commented on #68
Thanks! I'm glad that you like that approach. In case of fonts I did those screenshot from version building in debug mode etc. I think I have some mess with styles there. In case of release build it should look better.

I have added prefixes to the names:
![image](https://user-images.githubusercontent.com/24554795/32877630-b9a48ce6-caa2-11e7-87f3-d0f8b005b567.png)

As you can see all classes which

[2017-11-16 11:28] piotrzarzycki21 commented on #68
@joshtynjala I'm trying to display documentation in code hints, but I can't fully understand how it actually work in your extension. Is it all about pointing sources in -source-path ? If I'm using flex-js framework the -source-path should point there ?
In VSCode it seems to help, but in Moonshine not. Does your documentation parsing is based on -source-path ?

[2017-11-16 11:39] piotrzarzycki21 commented on #68
Ok I have found the problem "documentation" property wasn't parsed in LanguageServerForProject->parseCompletionItem at all.

[2017-11-16 12:19] piotrzarzycki21 commented on #68
I will display in code completion documentation, but if I figure out correctly in order to have documentation we need to have in the source-path - path to the sources of framework.
@joshtynjala you are building -source-path in Moonshine by assigning from project settings "Class paths" in `LanguageServerForProject -> DidChangeConfigurationParams`.

It means that the only option to display documenta

[2017-11-16 14:34] joshtynjala commented on #68
It's a new feature on the VSCode extension, so there wasn't anything to parse in Moonshine until recently.

Yes, SWCs can optionally contain documentation. We'll need to use that for an SDK's framework (or third party libraries distributed as SWC). However, the Royale/FlexJS compiler doesn't currently implement a parser.

[2017-11-17 11:37] rat-moonshine commented on #62
(Changes updated at https://github.com/prominic/Moonshine-IDE/tree/template_creation_changes_ref_62)

Following changes has been applied to the managing template section so far:

- Template file/project rename
- File/project name will have an incremental value (i.e. _MyFile(2).as_) if same named file already exists
- Creating a new project template now can add file/folders directly to any level or

[2017-11-17 15:11] piotrzarzycki21 commented on #68
I just finished simple documentation popup. I'm still thinking about omitting this title popup. Couple of screenshot and thoughts. Popup will be switched on users demand:

1) User can click on small icon and display documentation if exists:
![image](https://user-images.githubusercontent.com/24554795/32953859-c1586f42-cbb1-11e7-863a-bcb912931f8b.png)

2) Documentation popup with long comment:
![ima

[2017-11-17 22:07] JoelProminic opened #69 "[UI Builder] Export Fails With Duplicate Name - Can't Change Export Name"
I ran a quick test with the Visual Editor today, and I found that I could not export the Flex Desktop project.

1. Open Moonshine
2. Click Visual Editor Project (Flex) on the home page
3. Name the project "TestVisualEditorProject"
4. Create the project
5. Add a simple Window and a label
6. Save the project
7. Go to Project > Export Visual Editor Project to Flex
8. BUG?:  The project name is not ed

[2017-11-18 14:51] piotrzarzycki21 commented on #68
I have decided to remove those title and final doc popup look like that:
![image](https://user-images.githubusercontent.com/24554795/32981629-527e1b5e-cc78-11e7-808c-533bf00bd474.png)

[2017-11-19 05:53] doug777 opened #70 "Support for Nightly builds"
Re: Added partial support for Apache Royale. User is able to open, build
project and write code using Nightly build of Apache Royale.

I am converting old Flex browser project to JS.
Up to now I am working with Royale 0.8.0. Problems panel correctly shows errors for classes in 0.9.0 but not in 0.8.0, and other items I have yet to resolve.

Upgrade to 1.6.1 and download latest FlexJS Nightly with A

[2017-11-19 10:56] piotrzarzycki21 commented on #70
Hi @doug777 ,

I think you got an explanation and workaround for that issue from Josh #23. You will experience that whenever you download fresh nightly, so you have to proceed with workaround. This issue is a duplicate of #23.

Thanks,
Piotr

[2017-11-19 10:56] #70 closed

[2017-11-20 05:24] rat-moonshine opened #71 "Code-completion 'index out of bounds' and other problem"
I tested this opening an ActionScript project.

**How to reproduce**
- Declare an _Object_ type of variable
- After the variable pressing _dot_ syntax opens up the code-completion list
![image](https://user-images.githubusercontent.com/24370870/33003420-9afa259e-cde0-11e7-93ca-0962dc1bde7d.png)
- Pressing the "i" filters the list to "isPrototypeOf" item only
- [BUG] Pressing backspace do not resto

[2017-11-20 05:26] rat-moonshine commented on #68
I tested the new updates, and code-completion list looks nice! However, I couldn't found a proper item to test the documentation (popup) feature. Is there any certain item that you can suggest of @piotrzarzycki21 ?

[2017-11-20 06:51] rat-moonshine commented on #67
I couldn't found properties are actually saving against individual components, in my latest test.

I took date and checkbox component as an instance. Set a specific date to the date component and made the checkbox selected, and did a `File > Save`.

Restarted Moonshine, and opened the project, but I couldn't found any previously saved values to the each component.

I'm reopening this for further i

[2017-11-20 06:55] rat-moonshine commented on #66
With my latest tests, I able to reproduce this again.

- Open a Visual Editor project to the editor
- Select any component on the stage - should show its free-transform markers
- Right-click on the project's Settings - this will open the Settings tab and removes free-transform marks in the UI
- Keep that settings tab open, navigate back to the component editor again
- [BUG] Free-transform marker r

[2017-11-20 06:59] rat-moonshine commented on #65
I see the following scenario do not covers the fixes, with my current tests:

**When it do not works**
- Open a Visual Editor project
- Drag any component to the editor - IMPORTANT - do not deselect the component
- Close the editor tab
- [BUG] No editor change alert came

**When it works**
- Open a Visual Editor project
- Drag any component to the editor
- Deselect the component and select back
-

[2017-11-20 07:08] rat-moonshine opened #72 "[UI Builder] Project with existing source do not works"
- I kept a folder with a Visual Editor project's "MyPreviousVEProject/src" folder on my desktop
- Tried to create a new Visual Editor project with "project with existing source option"
- Select the MXML file reside in the said "src" folder as the main application file
- After a brief wait (unresponsiveness) Moonshine opened a Visual Editor project in the editor - but I couldn't found any content f

[2017-11-20 11:41] piotrzarzycki21 commented on #71
@rat-moonshine I have seen this one. I didn't raise issue cause I couldn't reproduce it in installed version, but maybe this issue is swallowed in some way.

[2017-11-20 11:44] piotrzarzycki21 commented on #68
I have created new class, add some test method and ASDoc there.

[2017-11-20 12:06] rat-moonshine commented on #62
- Removing project template and file deletion now synchronized
- "Reset" option now available in case of new project/file template creation

[2017-11-20 12:21] piotrzarzycki21 commented on #67
@rat-moonshine Look like CheckBox and Calendar components in Visual Editor had some issue in case of saving. I just fixed it and you can check. If it's fixed close the issue.

[2017-11-20 12:21] rat-moonshine commented on #71
I able to produce the item filtering problem in my Windows 1.6.1 installation, though. The error - that probably avail only in debug version run.

[2017-11-20 12:54] #65 closed

[2017-11-20 13:52] #66 closed

[2017-11-20 13:54] piotrzarzycki21 commented on #66
@rat-moonshine I just fixed above scenario, however the issue where I'm selecting again previously selected item is something separate. I will need to spend on that more time, but for sure not in 1.7.0 - If you find time raise separate issue for that work.
Solution for removing marker is based on deselect element, that's why when back to the previous tab you see it deselected.

[2017-11-21 05:23] rat-moonshine commented on #72
I still see the problem remain with my latest tests.

- Had an existing folder with source on my desktop - MyExistingProject/src/MyExistingProject.mxml
- Tried to create a new VE project with "Project with existing source" option
- I chose to give the project a different name this time
- After a brief wait a VE project opened to the editor
- I didn't found any saved content in newly opened editor

[2017-11-21 05:28] rat-moonshine commented on #66
Technically, I understand that deselecting is the answer to now showing the markers in other tabs. But this may be annoying when working through different tabs and it needs to select a component multiple time. However, the main bug reported here is fixed doing so, and we can investigate on the re-selection process with a different issue ticket.

[2017-11-21 05:38] rat-moonshine commented on #67
Properties are now saving properly against individual components, with my recent tests. We shall reopen this if we found any other problem, I'm closing this now.

[2017-11-21 05:38] #67 closed

[2017-11-21 06:39] piotrzarzycki21 commented on #72
@rat-moonshine just check and it's working for me. Quick question as I understand you are removing "*..veditorproj" and than going through your scenario ?

[2017-11-21 07:17] rat-moonshine commented on #72
Exactly. That is how I conceived it. A folder with only the application source file inside it.

[2017-11-21 07:21] piotrzarzycki21 commented on #72
Does your initial folder before your scenario look like that ?
![image](https://user-images.githubusercontent.com/24554795/33059554-fab6f89a-ce94-11e7-86cb-2bed68532d99.png)

[2017-11-21 07:40] rat-moonshine commented on #72
Initially when the project was in working state I had following file/folders inside it:
- src
- visualeditor-src
- *.veditorproj
I deletes both 'visualeditor-src' and the .veditorproj file. Thereafter I tried to create a new VE project in Moonshine with the option 'Project with existing source'.

[2017-11-21 10:22] piotrzarzycki21 commented on #72
I got ya! It won't work like that. UI builder won't have feature where we will be opening mxml file, parsing it and translate to the format of builder. Opening project from existing source in that case will work if those sources were previously UI builder type and have that folder "visualeditor-src'. I think we may handle this in two way:
- Display for the user information if that folder doesn't e

[2017-11-21 10:37] rat-moonshine commented on #62
- Removing file template from `Settings > Templating` now auto-close the file tab if already opened

[KNOWN ISSUE] If a file template is open at a time, and it's renamed from the `Settings > Templating`, deletion of file template do not close its tab effectively (due to renaming).

[2017-11-21 10:40] rat-moonshine commented on #72
I understand the involved complexities in this case. I vote for the 2nd option (to disable options from existing source) for this project type.

[2017-11-21 14:57] piotrzarzycki21 commented on #72
I will go with 2nd option. Thanks!

[2017-11-21 15:12] #72 closed

[2017-11-21 15:13] piotrzarzycki21 commented on #72
I have completely removed those settings in case of that project. Let me know if it's ok. I don't want to confuse user.

[2017-11-21 17:49] JoelProminic commented on #62
I noticed that new templates were not populated in the menus until Moonshine restarted:
# Start Mooonshine
# Open Moonshine > Settings > Templating
# Create a new file template
# Rename the file template
# Create a new project template
# Rename the project template.
# Save the settings
# Open File > New.   BUG:  Neither template appears in this list
# Open/Create a project
# Right click on the pro

[2017-11-21 17:50] JoelProminic commented on #62
Sorry, I accidentally clicked "Close and comment" :(

[2017-11-21 17:59] piotrzarzycki21 commented on #69
I just fixed logic for this one and now user will be able to change name of exported project. Take a look once you get a chance!

[2017-11-21 19:02] piotrzarzycki21 commented on #63
@joshtynjala I just built your latest released version 0.8.0 of extension and I can confirm that this issue is no longer reproducible.

[2017-11-21 20:02] piotrzarzycki21 opened #73 "Reopen previously opened project files"
It is quite inconvenient if I'm working on project where I have several opened files, close project, reopen it and all previously opened files has been closed.

As part of that feature I propose:
- Remember and reopen all files which we were working on

[2017-11-21 20:29] JoelProminic commented on #69
I was able to export the project, but the generated code did not match what I had created in the visual editor.

I created a simple application with a window and a single label:
![image](https://user-images.githubusercontent.com/24532731/33095150-3981aea2-cec8-11e7-9cdd-55661b949cca.png)

If I checked the code tab, I saw this:
[code]

However, the exported project was a blank window:

[code]

[2017-11-21 20:33] piotrzarzycki21 commented on #69
What was your steps ? - Exactly the same as in original description ?

[2017-11-21 20:37] piotrzarzycki21 commented on #69
And maybe a bit stupid question - Did you save the project before export ?

[2017-11-21 20:43] JoelProminic commented on #69
Yes, the process was basically the same, and I saved the project.
1. Open Moonshine
2. Click Visual Editor Project (Flex) on the home page
3. Name the project "TestVisualEditorProject"
4. Create the project
5. Add a simple window and a label, as shown in my above screenshot.
6. Save the project with CMD-S
7. Go to Project > Export Visual Editor Project to Flex
8. Change the name
9. Click Export
10

[2017-11-21 20:46] JoelProminic opened #74 "Project Directory Does Not Default to Last Used"
I have defined three project directories in Moonshine.

/Users/joelanderson/Library/Containers/com.moonshine-ide/Data/Documents
/Users/joelanderson/Documents/Flex/temp_workspace
/Users/joelanderson/Documents/Flex/workspace

![image](https://user-images.githubusercontent.com/24532731/33095789-76d0c9d0-ceca-11e7-8bdd-79401268abb2.png)

In previous versions, Moonshine would populate the project direc

[2017-11-21 20:50] piotrzarzycki21 opened #75 "Add auto closing quotes for MXML tag attributes"
In following scenario quotes of MXML tag attributes should auto close

![auto_closing_quotes_attributes](https://user-images.githubusercontent.com/24554795/33095925-9619e412-cf05-11e7-96d5-9ac2d2269231.gif)

[2017-11-21 20:52] JoelProminic opened #76 "New Project Name Field is Highlighed, But Does Not Have Focus"
This is a minor issue that has been bothering me for a while.  I have mentioned it previously to @rat-moonshine.

When I create a new project, the "Project name" text is highlighted automatically.   This makes me think that it is ready for me to type my own project name.
![image](https://user-images.githubusercontent.com/24532731/33096121-837557fe-cecb-11e7-82d7-6641d3ab7434.png)

However, when I

[2017-11-21 21:19] piotrzarzycki21 commented on #69
@JoelProminic I got it and I know why it was working for me. Once you create new Visual Editor project, add some component and save - in the mxml file won't be written anything. If you go to the "Code" it look like everything is ok, but when you go physically on drive to that file it's empty.

However once you add new component, go to the "Code" and Save - Export will properly work. I haven't noti

[2017-11-21 21:56] #69 closed

[2017-11-21 21:57] piotrzarzycki21 commented on #69
@JoelProminic I just fixed problem. The missing asterisk I would like to handle as separate issue.

[2017-11-22 14:00] piotrzarzycki21 commented on #50
I just added option where user will be able to create new Royale project by clicking either on "File" -> "New" or Home screen -> "Flex Browser Project (FlexJS)".

In project creator user gets drop down list with ability to choose type of project template.

[2017-11-22 14:20] #76 closed

[2017-11-22 14:24] piotrzarzycki21 commented on #74
@rat-moonshine will you be able take this one for the next release? I would like to jump to the auto closing feature.

[2017-11-22 15:25] rat-moonshine commented on #74
Yes, I can. I shall look into this once I done with #62 .

[2017-11-23 08:41] piotrzarzycki21 commented on #37
@rat-moonshine Flex SDK 4.16.1 has been released. I have to make an announcement, but we can move forward with this one. You have available Installer 3.3 - uninstall previous version on Windows.
We will need to upgraed "ApacheFlexSDKInstallerLib.swc" in our repositories - Can you make that upgrade ?

[2017-11-23 12:10] piotrzarzycki21 commented on #75
Main functionality is finished. It look like that currently:
![auto_closing_quotes_attributes](https://user-images.githubusercontent.com/24554795/33172132-27422a68-d04f-11e7-8c00-d04dbbd241b3.gif)

The only think which is missing is to set cursor between quotes. I cannot find so far the way to do this. @rat-moonshine any tip in that area ? I was going through the TextEditor and tried several thing

[2017-11-23 12:21] piotrzarzycki21 commented on #68
Closing this one @rat-moonshine reopen if you have some crucial comments.

[2017-11-23 12:50] piotrzarzycki21 opened #77 "Null Pointer Exception in class with method marked by COMPILE::JS"
I have created test application using newest nightly build of Apache Royale and latest codecompletion.jar (I did build myself - it is version 0.8.0).

When I'm opening following class and setting cursor somewhere in the code I'm getting NPE.
[code]

**NPE:**
[code]

[2017-11-23 16:10] piotrzarzycki21 commented on #75
I have found the solution. In order to put cursor between quotes I have used "setSelection" from TextEditorModel. I have found one more case where my auto completion not working - I will try to fix that, so work on that is still in progress.

[2017-11-23 16:58] joshtynjala commented on #77
Which SDK are you using? Royale or FlexJS?

[2017-11-23 17:03] piotrzarzycki21 commented on #77
I'm using Royale SDK.

[2017-11-23 17:10] piotrzarzycki21 commented on #77
Ahh You got me. Yes I've used master. Ok I will try and get back to you.

Thanks!

[2017-11-24 04:38] rat-moonshine commented on #37
If you can provide me the exact changes that you did in the SDK installer code (to fix AIR download issue), then I can incorporate and release the updated swc file. Please, let me know.

[2017-11-24 04:46] rat-moonshine commented on #75
This update looks good in my test. I confirm cursor manages to stay between the quotes. However, having the problem #71 seems much consistent now.

[2017-11-24 05:57] rat-moonshine commented on #37
I've installed SDK installer version 3.3 from Apache website, and tried on my El Capitan. I confirm, AIR download completes this time, but the installation failed anyway:
![screenshot1](https://user-images.githubusercontent.com/24370870/33197263-5eb0e76c-d10a-11e7-8709-ce0b4a0fb4e9.png)

Here's the full log details:

[2017-11-24 10:29] piotrzarzycki21 commented on #37
@rat-moonshine please take a look into the suggestion from Alex [here](http://apache-flex-development.2333347.n4.nabble.com/DISCUSS-Release-Apache-Flex-SDK-4-16-1-RC2-tp64936p64973.html).

[2017-11-24 10:57] piotrzarzycki21 commented on #75
I just fixed scenario which you have described. My case is different. Maybe I will describe how did I implement the logic for auto closing. In order to add auto closing for tag attributes I need to know that user currently placed cursor in some XML tag.
I'm checking whether selected line started with "<" and ends with ">", but doesn't start with "</>". - Unfortunately it's failing if I have follow

[2017-11-24 14:39] #75 closed

[2017-11-24 14:40] piotrzarzycki21 commented on #75
I think I have finished and cover all common scenario. If anyone find some case where quotes are not auto close reopen this one.

[2017-11-24 14:43] piotrzarzycki21 commented on #68
Reopen this one cause I see one small improvements which I need to add for code completion list. When user selecting some item on the list I would like to show signature of function/var etc. Currently it's showing on mouse over which is not so convenient.

[2017-11-24 22:09] piotrzarzycki21 commented on #68
I have added custom tooltip when user selects one of the option in code completion. It shows method signature which is giving more information to the selected item. If it will be to annoying I will hide that tooltip behind some shortcut.

[2017-11-25 22:18] piotrzarzycki21 commented on #77
@joshtynjala I just tried royale branch and unfortunately build is failing.

[code]

[2017-11-25 22:34] joshtynjala commented on #77
@piotrzarzycki21 Ah yes, here's another situation where it would be nice if Moonshine built codecompletion.jar with Maven instead of ant. The dependencies have changed in the royale branch, so that means that if you want to build codecompletion.jar from this branch, you'll also need to manually update the JARs used as dependencies.

It's probably easier to test if you can reproduce this same error

[2017-11-25 22:44] piotrzarzycki21 commented on #77
This part is being build by ant just for the consistency with the rest part of the builds in Moonshine ? If there is no technical contraindications I will spend some time to prepare pom which is building codecompletion.jar by Maven. Maybe it will not be used by Bamboo, but at least we could avoid such problems. I can take a look as a starting point in your poms.

[2017-11-25 22:53] joshtynjala commented on #77
The Ant build was created before I started contributing to Moonshine. My original build script for the language server used Ant and Ivy. Ivy can resolve dependencies for Ant from the same sources as Maven). As far as I know, that build script was never used. Instead, someone copied the dependency JARs into the repository, and they've been manually updated as needed.

[2017-11-26 00:15] piotrzarzycki21 commented on #68
I was using Moonshine more extensively and that additional tooltip with signature details is a bit annoying as I thought. I will hide it behind shortcut. On Windows it will be Ctrl + Q.

[2017-11-26 13:24] piotrzarzycki21 commented on #68
Following shortcuts will show custom tooltip on selected element with signature details and documentation popup if available:
Windows: Ctrl + Q
Mac: Shift + F1 - @rat-moonshine could you please test it on your Mac, I have weird behavior when I'm hitting this combination. I'm using my Mac through the remote control not directly with keyboard connected.
Once you use that shortcut you should see foll

[2017-11-26 13:34] piotrzarzycki21 commented on #77
@joshtynjala I just tried it with FlexJS package and I'm able to reproduce that issue. Scenario is following one:
1) Opening FlexJS project
2) Open class TestClass
3) Set cursor somewhere in the code

In the results I'm getting NPE mentioned in description.

[2017-11-26 16:06] joshtynjala commented on #77
Okay, thanks Piotr. I'll take a look soon.

[2017-11-26 18:14] piotrzarzycki21 opened #78 "Button "Open" in "Find Resources" window should be default (execute on "Enter")"
In window "Find Resources" button "Open" should be default. Once I choose file and hit "Enter" I should jump to the file without need of clicking on "Open".

[2017-11-27 11:05] #78 closed

[2017-11-27 13:53] piotrzarzycki21 opened #79 "Add hamburger menu to show tabs which couldn't fit into the window"

[2017-11-27 15:22] rat-moonshine commented on #62
Following things were covered until now:
- Project creation with custom template from File/New is now working
- Renaming a template while its opened in an editor, renames its tab title as well
- Renaming a template also renames the label in File/New (tested in Windows only)
- Custom template item is also now triggering from File/New after a rename event performs (tested in Windows only)
- Removing

[2017-11-27 21:47] joshtynjala commented on #71
In commit d5969750fcfed3dd48eca1bcaa4c37c28741f643, the original source Array used by the data provider is modified with filter() [here](https://github.com/prominic/Moonshine-IDE/commit/d5969750fcfed3dd48eca1bcaa4c37c28741f643#diff-d295e45fbdeabd29909dbfc75f73db32R148), and the items are lost. I have modified it to use an ArrayCollection with filterFunction instead so that the data provider is fil

[2017-11-27 22:14] joshtynjala commented on #63
Closed in commit 38a63e61d4dfe67e15d5e5ee87c2c5cb4b279cc7

[2017-11-27 22:14] #63 closed

[2017-11-27 22:23] joshtynjala commented on #57
Commit 38a63e61d4dfe67e15d5e5ee87c2c5cb4b279cc7 includes my fix for this. However, the closing tag seems to appear intermittently in the completion list. I confirmed that it's also intermittent in VSCode. I guess I may have solved it for a specific arrangement of XML tags, and it may not cover every possible situation.

I got as far as I could for now, I think. I may revisit this issue someday in

[2017-11-28 00:08] JoelProminic commented on #62
I noticed a couple unexpected behaviors with the file templates:
1. Make sure that there is at least one custom file template
2. Restart Moonshine
3.  Modify an old template
4.  Delete the old template.  The tab closes properly
5. Create a new File template
6. Enter some text in the template and save
7. While the template is still open, rename it - the tab name is updated as well
8. Open a project

[2017-11-28 09:54] piotrzarzycki21 commented on #71
@joshtynjala I can reproduce "index ouf of bounds" error every time. It occurs on several scenarios but I have tried to extract some scenarios. Here is one with gif recorded. It's all about playing with Enter, Backspace, Tab and `<`
**Scenario:**
1) Set cursor at the end of `<js:initialView>`
2) Hit Enter, Backspace and Tab
3) Type `<`, Backspace to delete typed sign
4) Hit Enter, Backspace and Ta

[2017-11-28 12:19] rat-moonshine commented on #62
All of the said bugs above, now handled. Some of them were working partially in Windows, now they works in Mac, too.

Also, while working on the above fixes, I noticed that file created through a custom template (File/New) was saving without an extension. Now, the files saving with extension properly. To handle the situation better, file template creation now has a new field 'Extension' to input t

[2017-11-28 19:07] JoelProminic commented on #76
I confirmed the update.  This feels much better to me, thanks!

[2017-11-28 20:16] piotrzarzycki21 opened #80 "Add option "Scroll from Source""

[2017-11-28 20:16] piotrzarzycki21 opened #81 "Quit from Moonshine should prompt user"
Moonshine should prompt user once if he choose to exit.

Title: "Confirm Exit"
Question: "Are you sure you want to exit Moonshine IDE?"
Checkbox: "Do not ask me again"

- If user check "Do not ask me again" popup should reappear once he reset settings
- Maybe it should be also configurable from general settings ?

[2017-11-28 20:16] piotrzarzycki21 opened #82 "Add option "Copy Path""

[2017-11-28 22:08] #47 closed

[2017-11-28 22:34] joshtynjala commented on #77
I can reproduce this issue. I think I can fix it in vscode-nextgenas.

[2017-11-29 07:08] rat-moonshine commented on #62
- Template file name+extension now validates through single input field

[BUG] While working on above changes, I noticed that renaming a project template, and therefore closing the opened project template through its context menu do not closed the project in sidebar. This has fixed now.

[2017-11-29 07:47] rat-moonshine commented on #62
New file creation dialog now shows the extension value for the file to be created.

[2017-11-29 08:35] rat-moonshine commented on #62
I couldn't able to reproduce this issue with my some time of tests. Please, report if you able to reproduce it and if possibly with some steps @JoelProminic :
![image](https://user-images.githubusercontent.com/24370870/33365432-32e072da-d50e-11e7-8235-858add996ca0.png)

Since the last remaining issue (file+extension validation handling through single field) is handled now, I'm closing this for the

[2017-11-29 08:53] #74 closed

[2017-11-29 09:10] rat-moonshine commented on #10
Hi @joshtynjala ,

I think this issue is more or less is good to open for you now. I had some trouble installing app to iOS device (through USB) but it could be my certificate issue; in Android it's installing well.

The installation process to device runs through following areas (I thought to detail them here if this helps you somehow) :
- In case of mobile project, user right-click on the projec

[2017-11-29 12:51] rat-moonshine opened #83 "Expand/collapse sidebar branches by double-click"
For quite some time in sidebar tree component, one thing annoying me - single-click expand/collapse branches in the tree. Although this looks handy by expanding/collapsing branches by single-click only, sometime, when working rapidly through the tree file systems, this became annoying when a selection click also expand/collapse a branch icon even when that was not intended to. The effect reasons a

[2017-11-29 12:54] rat-moonshine commented on #83
Expand/collapse of tree branches now limited to following events:
- Double-click on branch row item
- Single-click on tree disclosure (arrow) icon as it was always

[2017-11-29 12:54] #83 closed

[2017-11-29 16:24] JoelProminic commented on #74
I tested this logic for each of my workspaces, and a variety of project templates (including a custom template and the new Royale template).  It seemed to work properly.

I see that if I change the workspace but cancel before the project is created, the change is not saved.  This is the behavior I would expect.

[2017-11-29 19:47] piotrzarzycki21 commented on #79
I think I have finished that feature. Some screenshot with hamburger menu with tabs list which didn't fit into the available space.

![image](https://user-images.githubusercontent.com/24554795/33395533-211cc1e2-d546-11e7-9acf-84958e7a43b1.png)

It would be great if someone could take a look and play a bit with this one on my branch `features/add_hamburger_menu_for_tabs_79`. If everything will be o

[2017-11-29 19:55] piotrzarzycki21 commented on #79
More description:
1) Tabs which do not fit into the available space will be available under hamburger menu
2) If user open file/settings etc. new tab will be placed at the end and become selected as it was before,
3) If there is no available space for opened tab, the second tab counting from "Home" will be removed from main view and placed under hamburger menu.
4) If user clicks on any of tab in h

[2017-11-29 20:12] piotrzarzycki21 opened #84 "Option "New" -> "Visual Editor Flex File" should be disabled for other type of projects than Visual Editor"
In context menu in project tree option "New" -> "Visual Editor Flex File" should be disabled for other type of projects than Visual Editor.

I think this issue could be introduced by changes in #62. I did reset master to the committs before changes and it was working.

[2017-11-29 22:07] JoelProminic commented on #62
When I created a bunch of new file templates in a row, and then create some example files from the template, I noticed that the File > New menu started getting messed up.  For example:
1. Clear the Moonshine project data
2. Open Moonshine and complete any setup steps
3. Create a new project
4. Create a new file template and rename it - this template appears properly in the File > New and Right-cli

[2017-11-29 22:07] JoelProminic commented on #62
Also, the extension logic looks good to me now, but please change

"Please enter a valid file name with extension."

To:

"Please enter a valid file name including an extension."

[2017-11-30 06:34] rat-moonshine commented on #84
Context menus' enable/disable state against VE projects, now fixed.

While working on the above fix, I noticed following problem in case of VE project in `File/New` menu:

![untitled-1](https://user-images.githubusercontent.com/24370870/33417088-f7c6ffb2-d5c5-11e7-85e2-1bd3b2732f77.jpg)

I noticed `MenuUtils.menuItemsDisabledInVEProject` has a static Array which were using to enable menus in case

[2017-11-30 06:35] #84 closed

[2017-11-30 07:08] rat-moonshine opened #85 "Remove "Visual Editor Project" section in Moonshine/Settings"
I saw it's an empty section. If this section has nothing to configure through Moonshine/Settings, I would recommend to remove this for the time being from Settings. We can re-introduce the section in future if needs come.

[2017-11-30 10:23] #85 closed

[2017-11-30 10:27] piotrzarzycki21 commented on #84
@rat-moonshine I have changed mentioned property to menuItemsEnabledInVEProject. I hate that solution but couldn't come up with better one in current architecture of Menu. I was thinking even about rewrite completely Menu where we will have XML for configuration what is inside and what is not, but that would take too much time.

[2017-11-30 10:33] rat-moonshine commented on #62
Possibly the ordering, vanishing issues in File/New in MacOS now resolved, there were problems which have fixed now. Hopefully, the item messing issues inside File/New will not come again.

While working on the above, I noticed one problem scenario -
- I had opened 2 projects at same time - a VE project and a non-VE project
- When VE project is selected `File/New` items enable/disable state update

[2017-11-30 10:33] #62 closed

[2017-11-30 10:48] rat-moonshine commented on #11
Walker provided the following Away3D project zip for integration in Moonshine:
[Away3DExample.zip](https://github.com/prominic/Moonshine-IDE/files/1517418/Away3DExample.zip)

This zip is consists of many other files and this involves compilation of the project (which was out of scope in the previous requirement), Walker explained how this project is suppose to work:

@JoelProminic is able to give

[2017-11-30 13:19] #68 closed

[2017-11-30 13:31] rat-moonshine commented on #11
I've done integration of the template project for Away3D (thank you @JoelProminic for investigation on running inside Moonshine, this help to boost the integration faster).

However, even there identical codes between the template project and the demo project supplied by Joel, one runs and one not. Project created through the new template completes its compilation, but is throwing error while run

[2017-11-30 13:55] piotrzarzycki21 opened #86 "Reopen previous opened branches in project tree"
As part of that feature Moonshine will remember opened branches per project in project tree. Reopen all remembered branches in the next start of the project or IDE.

[2017-11-30 13:56] piotrzarzycki21 commented on #73
This feature is related to #79 and #86

[2017-11-30 16:14] joshtynjala commented on #10
@rat-moonshine Yes, I'll take a look!

[2017-12-01 09:20] rat-moonshine commented on #11
- Away3D project template now runs in AIR window as well
- File with extension .awd opens by Away3D Builder (if configured in Settings/Away3D section)

[2017-12-01 09:20] #11 closed

[2017-12-01 12:13] rat-moonshine commented on #79
I gave a test to this. I confirm adding tabs larger than display area got added inside the new menu. Selecting any file from the menu make the editor as current selection.

However, there was a feature auto-focusing an opened editor seems failed to work in this modification. When you have few tabs opened in the editor at a time, re-opening the file (from sidebar) auto-selects and focus the opened

[2017-12-01 12:19] piotrzarzycki21 commented on #79
Thank you for testing! I will try to look into that issue before Monday.

[2017-12-03 18:56] piotrzarzycki21 opened #87 "Lagging code completion list in Royale project"
I'm experiencing huge lag in usage of code completion list with Royale. Lag is enough big that I cannot smoothly work. I cannot figure out whether this is something broken with framework or in the plugin.
Issue occurs when I'm in "Script" section, or when new component is being added to MXML. However showing attribute lists for component doesn't have any problems. - It's working fast.

In general

[2017-12-04 10:27] piotrzarzycki21 commented on #79
@rat-moonshine mentioned issues has been fixed. You can try to test it.

[2017-12-04 10:58] rat-moonshine commented on #79
I gave a test to @piotrzarzycki21 's latest updates/fix to re-focus on opened editor after double-click on a file in sidebar. I found tab selection problem when maximize/restore the Moonshine window. Following is a test simulation:

![tabselectionproblem](https://user-images.githubusercontent.com/24370870/33549357-32148692-d910-11e7-8bb0-904b2b4e93b0.gif)

[2017-12-04 16:17] piotrzarzycki21 commented on #79
@rat-moonshine I was able to fix that issue. I see some room for improvements in case when tabs are added/removed, but I will leave it for different issue. If you won't experience any crucial tomorrow I will merge it to the master and we can start an release.

[2017-12-04 19:32] joshtynjala commented on #87
@piotrzarzycki21 Does the same issue occur with FlexJS?

[2017-12-04 21:29] joshtynjala commented on #71
@piotrzarzycki21 @rat-moonshine Even with the new instructions, I still cannot reproduce the "index out of bounds error".

This error isn't happen inside the language server, so it seems like a bug that you don't necessarily need me to work on. Especially since you guys seem to be able to reproduce it so easily and I cannot. I've removed myself as the assignee, so it's up for grabs.

[2017-12-04 21:32] piotrzarzycki21 commented on #71
@joshtynjala thanks for spent time on that. I will then try to investigate it.

[2017-12-04 22:18] joshtynjala commented on #87
@piotrzarzycki21 I just committed some major optimizations to TextLineRenderer. I was able to significantly reduce the level of garbage collection happening during typing. Previously, every time that the text changed, a new Flash Text Engine TextLine was created, and the old one was removed. Now, it attempts to reuse the existing TextLine, and I found some other things that could be reused instead

[2017-12-04 22:59] piotrzarzycki21 opened #88 "Tabs remains opened when project is being closed"
Scenario:
1) Open some project
2) Open file from project
3) Right click on the project and close it

Tabs remains opened.

Initially I thought that is problem introduced by my changes in #79 , but it also doesn't work on master. It's quite serious for me, so we should put energy to fix that.

[2017-12-04 23:09] piotrzarzycki21 commented on #87
@joshtynjala today I have tested code completion more and it was working ok. It was after changes from Harbs where he make separate namespace for HTML module. It is currently using `library://ns.apache.org/royale/html` instead `library://ns.apache.org/royale/basic`.

We can close safely issue if you are not going to make more changes.

Thanks!

[2017-12-04 23:12] joshtynjala commented on #87
Thanks for the update, @piotrzarzycki21. I don't have any further changes.

[2017-12-04 23:25] JoelProminic opened #89 "Embedded AwayBuilder in Moonshine"
I talked with Justin about #11 (Away Builder Integration), and this is not quite what he wanted.

Instead of calling AwayBuilder as a remote application, he would like to have AwayBuilder embedded in Moonshine for editing AWD files.

Let me know if there are licensing or other problems that would prevent us from implementing it like this.

This does not need to hold up the 1.7.0 release - this can

[2017-12-04 23:42] piotrzarzycki21 commented on #89
@JoelProminic I did quick look and I'm not sure whether I dig into the right source code, but Away3D seems to be under Apache License. -> [here](https://github.com/away3d/away3d-core-fp11). We should be safe here, but maybe we should add to our project additional file NOTICE.md where we mention all libraries which we are using, along with license. - Example in [Royale-compiler](https://github.com/

[2017-12-05 05:03] rat-moonshine commented on #89
Okay. We shall look into the embedding then.

[2017-12-05 05:28] rat-moonshine commented on #71
Thank you @joshtynjala for your investigation on this.

I pushed a fix (in TextLineRenderer), and also followed through the test cases uploaded by me and Piotr, I didn't found any problem so far. @piotrzarzycki21 please report, if you notice such null pointer exception again.

I'm closing this issue for the time being to push with 1.7.0.

[2017-12-05 05:28] #71 closed

[2017-12-05 05:49] rat-moonshine commented on #79
We need some margin where hamburger menu suppose to show - this following case noticed in window maximized state:
![image](https://user-images.githubusercontent.com/24370870/33591884-1d1c50b4-d9ae-11e7-853d-b3df6fc1610f.png)

[2017-12-05 05:56] rat-moonshine commented on #79
I gave some more test to the branch version of hamburger menu, and I didn't found any noticeable problem so far. I think if the above problem handled it's good to bundle with 1.7.0.

[2017-12-05 06:41] rat-moonshine commented on #89
When I looked into the Away3D's main repository (https://github.com/away3d), I couldn't found any reference project to the GUI application, though. I believe mostly are either the core engine source or example sources.

I also checked that they distributes the engine _.swc_ from there website as well - http://www.away3d.com/download/. But I believe this includes core engine classes only.

I moved

[2017-12-05 07:08] gachal opened #90 "the code can't not auto-completion"
the code can't not auto-completion

[2017-12-05 09:36] rat-moonshine commented on #90
Hi @gachal ,

Can you provide some more information, like, on what platform (Windows, Mac) you've tried, did you setup SDK through Moonshine/Settings, have Java detected/configured inside Moonshine/Settings/Default-SDK section, your SDK location, etc.?

Thanks!

[2017-12-05 09:57] piotrzarzycki21 commented on #71
@rat-moonshine this great! I will add to the change log information about fixing that issue. If users see something which we didn't discover we may have some feedback on that.

[2017-12-05 10:45] piotrzarzycki21 commented on #79
@rat-moonshine I have merged your changes which fixes issue #88 and after that I think will have more work here to do. We need to postpone that feature for the next release. Issue right now is, that when user close the project it will close all opened Tabs, but won't deal with editors which are part of hamburger menu. I need to implement some mechanism which deal with it and it will take more time

[2017-12-05 11:59] rat-moonshine opened #91 "Ability to select project's default application file"
Its possible that a project consists of different _application_ files at a time, and user wants to toggle between those files as the project's default _application_ file.

Moonshine needs ability to choose between those available files and select any one of them as the project's default application file. Therefore, the application needs to start with the default selected class file.

[2017-12-05 16:51] piotrzarzycki21 commented on #88
@rat-moonshine We are forcing to close all tabs, without asking if one of the tab has been actually edited. I think we should ask about that. Basically CloseEvent which is being sent from UtilsCore.closeAllRelativeEditors shouldn't have flag forceToClose = true. What do you think ?

[2017-12-05 18:45] piotrzarzycki21 commented on #79
Issue with overlapping tabs by hamburger menu and problem with closing after merge with master has been resolved.

[2017-12-05 18:45] #79 closed

[2017-12-05 22:16] JoelProminic commented on #50
I created a new Royale project from the template.

Then I tried to run Project > Build & Run with a JS-only Apache Royale SDK.  I got this error:

[code]

If the plan is to release both normal and JS-only versions of Royale, then we should add some logic that can detect whether the SDK is JS-only and give a clear error like:

    This SDK only supports JavaScript Builds.

I'm open to other solutio

[2017-12-05 22:22] piotrzarzycki21 commented on #50
@JoelProminic I will investigate whether I will be able to do this for the next release.

[2017-12-05 22:41] JoelProminic opened #92 "Layout Issue for "Define a SDK Path" Prompt"
While testing with the Apache Royale SDK, I noticed this problem:
1. Launch Moonshine
2. Open the Settings page
3. Go to the Default SDK tab
4. Click "Change" for the Default Apache Flex or FlexJS SDK prompt
5. Click the "+" button.
6. The field are overlapping:

![2017_12_05__add_sdk](https://user-images.githubusercontent.com/24532731/33634775-0a670702-d9db-11e7-8e10-8e704eb46329.jpg)

I noticed

[2017-12-05 22:46] JoelProminic opened #93 "Custom SDKs Cleared After Restarting Moonshine"
1. Launch Moonshine
2. Open the Settings page
3. Go to the Default SDK tab
4. Click "Change" for the Default Apache Flex or FlexJS SDK prompt
5. Click the "+" button.
6. Select an SDK (ignore layout issues reported in #92)
7. Save the changes
8. Restart Moonshine
9. Open the SDK list using the above steps.   BUG:  The SDK has been removed

I tested this on macOS with an Apache Royale SDK.

[2017-12-05 22:49] piotrzarzycki21 commented on #92
@JoelProminic what build did you use ? It was from bamboo or local build from master ?

[2017-12-05 22:52] JoelProminic commented on #92
I used a build from Bamboo (I still need to make that available for you ...).
I tested on Mac OS X.

[2017-12-05 22:55] piotrzarzycki21 commented on #92
I had an assumption earlier that this layout issue is only when I'm making an development build locally. Strangely loose some styles, but it looks like it is not necessary true.

[2017-12-05 23:00] piotrzarzycki21 commented on #93
I just tested it with development build on Windows and don't have that issue.

[2017-12-05 23:04] piotrzarzycki21 commented on #93
Although I had two users on the Royale mailing lists who experienced something like that. I recommend them to do reset hard and it helped. They have fresh install of Moonshine, completely new users.

[2017-12-05 23:06] piotrzarzycki21 commented on #93
I'm able to reproduce that problem on Mac OS Sierra.

[2017-12-06 02:36] doug777 opened #94 "Simple instance vars have blue wavy underline"
In all my projects, simple public and private vars in all mxml and as files have a blue wavy underline and appear in the problems pane with the line shown in the Location column and a blank entry under Problem column. Example:

![vars with blue wavy underline](https://user-images.githubusercontent.com/32083838/33641325-01687a38-da70-11e7-88c3-94ab294039c5.PNG)

Also the Location column numbers the

[2017-12-06 02:39] doug777 commented on #94
Forgot to mention this happens only since v1.6.1. I am using Win10 64 bit.

[2017-12-06 05:03] rat-moonshine commented on #93
I shall check this.

[2017-12-06 05:19] rat-moonshine commented on #88
Thank you for pointing to this @piotrzarzycki21 . I think I can do something about this. Reopening the issue for the time being.

[2017-12-06 05:42] rat-moonshine commented on #92
Since the introduction of new skin class for popup windows, it was requirement to add the class reference to the popup windows. I noticed some popup may overlooked into the process. I have added the reference now in css file, this should affect all the now/future popup as well.

[2017-12-06 05:42] #92 closed

[2017-12-06 05:43] rat-moonshine commented on #88
@JoelProminic  also pointed that the Settings window belongs to a particular project remain open when the project closed/deleted from the workspace. This requires to fix as well.

[2017-12-06 06:25] piotrzarzycki21 commented on #94
Hi @doug777 ,

I don't  have problem with blue lines in our under development version. It is possible that in version 1.7.0 it is resolved.

[2017-12-06 06:41] piotrzarzycki21 commented on #88
@rat-moonshine if you are going to fix both issue, especially the second one for 1.7.0 we should probably merge before that #79 - I think you may touch the code around Tabs with settings issue and there was a lot of changes in that area. If your plan is 1.7.0 let me know I will merge things first ASAP. I hope you will see that message before comit.

[2017-12-06 06:42] doug777 commented on #94
OK I guess this could be caused by or related to the modification of flex-config for the nightly builds.

Anyway I'm really looking forward to v1.7 and don't want to delay that!

Doug

[2017-12-06 06:45] piotrzarzycki21 commented on #94
IMO, I'm wondering what are you seeing in Problems view for that lines. Can you check and post here some screenshot ?

Thanks!

[2017-12-06 07:17] doug777 commented on #94
This is what it looks like.

![vars blue underline and problems pane](https://user-images.githubusercontent.com/32083838/33649357-8f40d2b0-da98-11e7-9046-f66898e779c9.PNG)

Doug

[2017-12-06 07:28] rat-moonshine commented on #88
We should fix both the said issues for 1.7.0 only.

[2017-12-06 07:38] piotrzarzycki21 commented on #88
Ok. Let me merge #79 to master. I will do this in about 1,5h from now on. If you commit anything I will try to handle conflicts.

[2017-12-06 09:45] piotrzarzycki21 commented on #88
@rat-moonshine #79 has been merged to master.

[2017-12-06 10:28] rat-moonshine commented on #88
- Unsaved Settings (belong to the project) and editors now alerts for save during project close
- Above case is true for template project, too

[2017-12-06 10:28] #88 closed

[2017-12-06 10:29] piotrzarzycki21 opened #95 ""Problems view" should allow copy to clipboard "Problem" and "Location" values of cells"
It will be very useful if "Problems view" allow copy to clipboard "Problem" and "Location" values of cells. We can resolve this by some small button in the each cell which can appear after rollover or row selection.

![image](https://user-images.githubusercontent.com/24554795/33657126-92f6dff0-da78-11e7-98cd-6bf9c2743eda.png)

[2017-12-06 11:12] rat-moonshine commented on #93
I confirm the problem. This probably in the area where SDK list prepares with bundled/present SDKs, this is valid only for Mac, so this problem can be seen only in Mac.

[2017-12-06 12:13] #93 closed

[2017-12-06 15:08] joshtynjala commented on #94
These are probably the "hints" for generating getters and setters from member variables (which is not yet exposed in Moonshine, but it's used by VSCode). They're returned as problems, but are meant to be hidden from the user. I'll take a look.

[2017-12-06 15:17] piotrzarzycki21 commented on #94
@joshtynjala does that mean that in theory we have marked those variables and can implement mechanism to generate getter and setter ? VSCode have that mechanism as part of the IDE ? You are just using it ?

[2017-12-06 15:43] piotrzarzycki21 commented on #86
Reopen cause I forgot to implement that reset settings clean up saved branches.

[2017-12-06 15:44] joshtynjala commented on #94
@piotrzarzycki21 VSCode has a feature called *code actions*. Other IDEs have something similar called *quick fixes*. Basically, it provides commands in context based on the current location of the cursor or the current selection. The generate getter/setter feature is implemented as a code action.

[2017-12-06 15:55] piotrzarzycki21 commented on #94
Thanks @joshtynjala ! I will get back to the discussion if I start to implement something like that in Moonshine.

[2017-12-06 15:59] JoelProminic commented on #93
I confirmed that this is resolved.

[2017-12-06 16:05] #86 closed

[2017-12-06 16:16] rat-moonshine opened #96 "Add option to close all opened editors"
Avail an option under Moonshine/File menu that close all the opened editors at a time. This should also cover notification on unsaved changes as well.

[2017-12-06 16:31] JoelProminic commented on #88
I tested with:
- Open project settings tab
- Open files
- Open files that showed up in the new tab menu
- Deleting projects
- Template projects (open files only)

This seems to be working properly.

[2017-12-06 16:35] JoelProminic commented on #92
The layout is fixed.

The coloring on the fields and browse button seems a little strange to me, but this does not need to hold up the release.

![2017_12_06__add_sdk_prompt](https://user-images.githubusercontent.com/24532731/33672942-22c0dc4c-da71-11e7-9f90-67824dbe4c1b.jpg)

[2017-12-06 17:45] JoelProminic opened #97 "[UI Builder] Save Confirmation"
This is related to some of the problems discussed in #69, but I created a separate issue so that this would be more on-topic.

I am seeing behavior like this with the visual editor:
1. Create a new Visual Editor project.
2. Add a label to the interface
3. Without saving, click Project > Export...
4. He exported project does not include the label.

If I save before step 3, it works properly, but th

[2017-12-06 17:50] JoelProminic commented on #97
The Moonshine 1.7.0 release has been submitted for review, but we can resubmit it if we want to include this fix.

[2017-12-06 17:58] piotrzarzycki21 commented on #97
@JoelProminic let me look into that tomorrow morning my time. We will loose some time, but I would like to have really good quality in case of that release.

[2017-12-06 18:11] JoelProminic opened #98 "[UI Builder] Base Window for Visual Editor"
When I create a new Visual Editor project, I see this as the initial editor window:
![2017_12_06__defaultvisualeditor](https://user-images.githubusercontent.com/24532731/33677464-79f31108-da7e-11e7-9d18-10a12a44b685.jpg)

Since the background is grey and there is no base window, this makes me think that I need to define my own base window:
![2017_12_06__custombasewindow](https://user-images.github

[2017-12-07 09:03] piotrzarzycki21 commented on #97
@JoelProminic I have fixed issue as you suggested. Unfortunately I have found one scenario in Visual Editor where Moonshine is not notified about changes for properties width/height. This is something where I have to spend more time and fix will be inside Visual Editor. I will raise separate issue. We can proceed with the release.

[2017-12-07 09:43] rat-moonshine commented on #97
In my opinion, this style is bit off current Moonshine popup alert style:
![image](https://user-images.githubusercontent.com/24370870/33708161-b16649e8-db5f-11e7-8545-88e094958ef4.png)

In the above popup, it is also not clear if user choose to not to show again (checkbox) - by default Moonshine will save or not-save a file next time?

If this above style is showing during "Build & Run" (when ther

[2017-12-07 10:21] piotrzarzycki21 commented on #97
After some conversation with Santanu we have decided that it would be better if I show popup "Save Resources" which will better reflect in case of saving many files.

[2017-12-07 10:45] #97 closed

[2017-12-07 10:47] piotrzarzycki21 commented on #97
@rat-moonshine I did apply following changes:
- I have used "Save Resources" popup instead "Save and Export"
- I have applied your suggestion with suffix "_exported" for exporting project

[2017-12-07 11:01] rat-moonshine opened #99 "Visual Editor exported Flex project not showing all files when exported"
I have multiple VE files in a Visual Editor project.

When I exported the project, its Flex project opens immediately after being exported. I noticed that only the main MXML file shown up in the opened Flex project:

![image](https://user-images.githubusercontent.com/24370870/33712031-fe351842-db6b-11e7-814e-3b22ab487ecc.png)

After a close and re-opening the Flex project - this time it shown all

[2017-12-07 11:41] piotrzarzycki21 opened #100 "[UI Builder] Visual editor do not notify about changes when properties panel editor is being closed"
In following scenario Visual Editor do not notify Moonshine about changes:
1) Open existing visual editor project where you have added some components
2) Select component and change height/width
3) Click outside properties panel editor

Moonshine didn't get notification about changes. Note that component itself gets new width/height.

![no_changes_from_ve](https://user-images.githubusercontent.com

[2017-12-07 18:11] JoelProminic opened #101 "[UI Builder] Additional Visual Editor File Opens in Text Editor"
I noticed this behavior during my testing today:
1. Create a new VisualEditor project
2. Right-click on src and add a new Visual Editor Flex File
3. This opens in the visual editor
4. Export the project
5. Create another Visual Editor Flex File
6. BUG:  this file opens with the text editor

@rat-moonshine found that this only triggers for Mac OS.

[2017-12-07 23:33] JoelProminic commented on #73
Some thoughts:

Another use case to consider is that the user may want a fresh start when they reopen the project.  I am bad about leaving tabs open in general, so having all of the files reopened when I opened the project could be annoying.

I am not opposed to this feature, but I think we would also want to provide one or more of these options:
- A way to quickly close lots of tabs (close all, c

[2017-12-08 07:25] rat-moonshine opened #102 "File/Close option throws exception"
While selecting option from File/Close menu, Moonshine throws following exception:

![image](https://user-images.githubusercontent.com/24370870/33755499-08da5d10-dc17-11e7-8d3f-cd216256dc28.png)

[2017-12-08 08:58] #96 closed

[2017-12-08 09:38] piotrzarzycki21 commented on #73
Fully agree that this feature should be configurable through the settings along with #86 . However I would rather not go with the prompting users about files reopening - this could be more annoying.

I think options for configuration those features should be in tab General.

[2017-12-08 09:45] piotrzarzycki21 opened #103 "Resources has not been copied to the build folder"
During build of Moonshine sources added resources folder has not being copied to the bin-debug folder.

Scenario:
- Setup Moonshine sources in the IDE
- Build using "Build & Debug"

[2017-12-08 09:46] piotrzarzycki21 commented on #103
@rat-moonshine if you could take a look into that in the first place. It is probably problem only on my Machine as we discussed earlier.

[2017-12-08 09:53] rat-moonshine commented on #103
Although straight test didn't produced me this problem in Windows, but as I've mentioned that there is a distant chance in certain cases when the files not getting copied, during compilation. I shall look into this. Thanks for reporting @piotrzarzycki21 .

[2017-12-08 10:12] rat-moonshine commented on #103
Measure taken against distance chance. In my tests, all looks good. @piotrzarzycki21 give a test, let me know if you're still having the issue.

[2017-12-08 10:19] piotrzarzycki21 commented on #103
I have pulled your changes, build development version and test it. Still have that issue. Maybe I will try to debug on my own since you cannot reproduce it.

[2017-12-08 10:21] rat-moonshine commented on #103
You tested while 'Build & Run' or debug?

[2017-12-08 10:22] piotrzarzycki21 commented on #103
I used Build & Debug

[2017-12-08 10:23] rat-moonshine commented on #103
Can you try once 'Build & Run' - if that works for you, then we can close the problem zone to debugging scenario.

[2017-12-08 10:26] rat-moonshine commented on #103
I think I able to produce the problem while 'Build & Debug'. I also see a new problem with stopping and restarting debug session -  I shall report that separately. I'm looking into 'Build & Debug' codes again.

[2017-12-08 10:27] piotrzarzycki21 commented on #103
@rat-moonshine I just tested and Build & Run is working properly.

[2017-12-08 11:07] rat-moonshine commented on #103
There were some reference exists from old debugger API, in MXMLCPlugin; which created a wrong impression of process (during debugging). This reference has been removed, and file copying process during debugging is also working now. Please, give a test @piotrzarzycki21 .

[2017-12-08 11:07] #103 closed

[2017-12-08 11:19] rat-moonshine opened #104 "Global string search/replace feature"
[This feature can be found in any standard IDE, i.e. IntelliJ, Flash Builder etc.]

Moonshine needs functionality where user can search through given project (or through all the opened projects on workspace at a time) files for a string value, and replace (optional) the value as well. At present Moonshine has the search/replace feature limited to individual file/editors.

While developing this, we

[2017-12-08 14:41] piotrzarzycki21 commented on #103
@rat-moonshine I can confirm that your fix is working.

[2017-12-08 16:27] JoelProminic commented on #102
Here is the behavior I see with File > Close:

1. Open a project
2. Open a file from the project
3. File > Close
4. The tab closes properly
5. Close all open tabs
6. File > Close
7. BUG:  A "New" tab opens
8. File > Close
9. BUG:  Nothing happens

[2017-12-09 09:58] piotrzarzycki21 commented on #87
@joshtynjala, @rat-moonshine we have to get back to that issue. I just started to play with 1.7.0 and initially I thought that code completion doesn't work completely. I have setup Moonshine sources in Moonshine and use Flex SDK 4.16.1.

1) Opened two projects MoonshineDESKTOPevolved and MoonshineShareCore. Java processes looks like that.
![image](https://user-images.githubusercontent.com/24554795

[2017-12-11 03:42] doug777 commented on #94
Confirm that the blue underline fault does not occur in v1.7.0.

But there is still the line number mismatch between the main pane where line numbers start at 1 and the Problems pane Location column where line numbering starts at 0.

In my opinion line number 0 in the Problems pane should refer to a problem where the line number cannot be determined and both 0 and 1 (i.e. undetermined and a real p

[2017-12-11 05:05] rat-moonshine commented on #86
When I tested this I found something a little odd:
- When reopened Moonshine I didn't seen the project panel opened automatically (actually that was what I expected by definition); even opening the project panel from top menu, it didn't had any last project references opened
- When I tried to reopen a previously opened project - it opened suddenly with all the folder leaf opened last time - which

[2017-12-11 07:16] rat-moonshine opened #105 "Project with existing source dialog opens with wrong project path"
- Create a new project somewhere in the system, i.e. `/User/Desktop`
- Have some source in some other folder location to create a new project with, i.e. `/User/Documents/MyNewProject`
- Click on 'Open Apache Flex/JS Project' link in splash screen (Moonshine)
- This will open a file browser dialog, navigate to `/User/Documents/MyNewProject` and select
- Moonshine alerts that no project exists in th

[2017-12-11 07:19] rat-moonshine commented on #105
This problem seems introduced after the fix of #93 , so it's possible that 1.7.0 port with this problem as well. Now fixed.

[2017-12-11 07:19] #105 closed

[2017-12-11 08:15] piotrzarzycki21 commented on #86
To me your expectations above is a different feature, but connected to that one. Please raise separate Issue and I will add it to my To Do list.

[2017-12-11 13:02] rat-moonshine opened #106 "Open all previously opened project/tree-state when Moonshine starts"
[This enhancement request is related to #86 ]

Since #86 is now working good, I suggest to start Moonshine with its sidebar open, containing all the last opened project and their tree state. This will be very handy revisiting the last worked projects.

[2017-12-11 13:11] piotrzarzycki21 commented on #106
This option should be also configurable through the settings.

[2017-12-11 16:46] JoelProminic commented on #105
I confirmed this is broken in the 1.7.0 App Store release.

Do you guys feel that this bug is significant enough to require an early 1.7.1 release?

The users can work around this by creating a new project and using the "Project with existing source" option.

Here is a more detailed test procedure:
1. Delete the .as3proj file from an old AIR project
2. Open Moonshine
3. From the Home screen, click

[2017-12-11 17:32] piotrzarzycki21 commented on #73
Feature is ready:
- Files is being reopened if we select in the settings appropriate options. They are available for review in General tab
- I have added context menu on the Tab with options: "Close" and "Close All"

[2017-12-11 21:48] JoelProminic commented on #73
The Close and Close All context menu buttons seem to work fine.  They are not available when all tabs except the Home tab are closed, so I can't even try to trigger #102.

The tab and branch restore logic seems to work well.   To test the robustness, I tried renaming a file that was open in the editor and a director that was expanded and reopened the project.  I found that the missing file and dir

[2017-12-12 04:45] rat-moonshine commented on #18
I found this some time back while an app updated on my desktop and started for the first time (after get updated), the new/updated feature list (we probably need something simple like this) :

![whatsnew](https://user-images.githubusercontent.com/24370870/33867847-59737f66-df25-11e7-9437-84fd8249f5c4.png)

[2017-12-12 08:29] rat-moonshine commented on #90
Since inactiveness the issue is closing now; we can revisit this if more data will available.

[2017-12-12 08:29] #90 closed

[2017-12-12 09:05] rat-moonshine commented on #91
User now can choose any arbitrary ActionScript file to select as the default application file to a project:
![untitled-1](https://user-images.githubusercontent.com/24370870/33875715-25bff680-df49-11e7-8b60-3e16eb687b64.jpg)

Following rules applies to having the context menu:
- Visual Editor project files won't have this option
- Any arbitrary _.as_ and _.mxml_ files are entitled for this option
-

[2017-12-12 09:08] #91 closed

[2017-12-12 09:48] rat-moonshine commented on #73
@JoelProminic for me it's more convenient to revisit the last worked projects immediately (after IDE starts) instead of re-opening each of them individually.

Although, having different options for opening files and project folders, I also don't have any hard opinion but also not sure about. We may want the labels should be something different, though.

If there were too many projects opened at a

[2017-12-12 10:05] piotrzarzycki21 commented on #105
@JoelProminic it look to me enough serious to have the 1.7.1 release. We will make appropriate preparations and start the process.

[2017-12-12 10:28] piotrzarzycki21 commented on #73
@JoelProminic current state of tabs and project branches are stored by flash SharedObject.
Project branches: I'm storing array of objects with "name": "location"
Project files: I'm storing "projectFiles"+porjectName: "file location"

As for the renaming whole project - If you think that it should work raise separate issue I will get back to that later. I would like to focus on #106

[2017-12-12 10:29] piotrzarzycki21 commented on #73
@JoelProminic as for the default state of both options. Yesterday I didn't have strong opinion either, but in the evening I have started to use development version of Moonshine and I'm more for making those option true as default. - It is very useful to me.

[2017-12-12 11:17] piotrzarzycki21 commented on #101
@JoelProminic , @rat-moonshine I cannot reproduce that problem on my Mac. Did we introduce some changes around context menu or something which could fix that issue ?

[2017-12-12 11:17] piotrzarzycki21 commented on #101
Another thing which come up to my mind is that I should try installed version. Can someone provide me link from bamboo for Mac ?

[2017-12-12 14:16] piotrzarzycki21 commented on #99
I have found cause of that issue and fix is not so trivial. I would like to describe it here. Once we export the project we need to refresh Project Tree and actually I'm doing that. Unfortunately the function which is responsible for refreshing simply do not pickup newly exported project for refresh.

It is important to assume that we are exporting our project to the same directory which is Visual

[2017-12-12 15:35] piotrzarzycki21 commented on #101
I have found scenario to reproduce the issue. Will work on a fix.

[2017-12-12 15:50] #101 closed

[2017-12-12 15:52] piotrzarzycki21 commented on #101
The scenario for tests. Once you go through the point 4 of scenario from description, do not change selection of the project in the tree. Right click on the second project and create file using context menu. - Without my fix you will end up with text file instead Visua Editor one.

[2017-12-12 16:08] piotrzarzycki21 commented on #99
Pull my current changes. The case is if your Visual Editor project and exported project are in the same directory, by the same I mean as you pointed in your case: c:/user/Desktop/. Than during refresh only first location is taken for the refresh. The [projectFolders](https://github.com/prominic/Moonshine-IDE/blob/cd07b85ad4f5867dbeeda65da635487e44bafea6/ide/MoonshineSharedCore/src/components/views

[2017-12-12 16:15] rat-moonshine commented on #99
Understood. What if you change this line slightly this way (at line#148):

`if ((dir.fileBridge.nativePath + dir.fileBridge.separator).indexOf(fw.nativePath + dir.fileBridge.separator) != -1)`

[2017-12-12 16:28] #99 closed

[2017-12-12 16:29] piotrzarzycki21 commented on #99
@rat-moonshine thanks it's working now!

[2017-12-12 17:32] JoelProminic commented on #91
I ran some tests with this.  These cases worked as described above
- MXML files
- AS files
- files in subdirectories
- Alternate file types (.txt and .xml)
- files in other directories

If I add another directory under Class paths, should I be able to set the default application file to be in the new directory?
1. Open/Create a project
2. Create a directory called src2
3. Create an MXML file in sr

[2017-12-12 23:00] JoelProminic commented on #103
This works for me.  I tested with:
- a "resources" directory in the project base directory
- a directory with deeper nesting
- a project that was outside of the project directory

[2017-12-12 23:19] JoelProminic commented on #73
@piotrzarzycki21, since rat-moonshine and I don't have a strong preference on this, go ahead and enable these options by default.

[2017-12-12 23:20] JoelProminic commented on #73
While testing #96, I noticed this behavior
1. Open/Create a project
2. Open Multiple files
3. File > Close All (or Right-click on tabs and select Close All)
4. Restart Moonshine
5. Reopen the project
6. All of the opened files are reopened.

This also triggers when closing and reopening the project
1. Open/Create a project
2. Open Multiple files
3. File > Close All (or Right-click on tabs and sele

[2017-12-12 23:22] JoelProminic commented on #86
The branch states were preserved properly in my tests.

[2017-12-12 23:28] JoelProminic commented on #99
I confirmed that the other visual editor files showed up in the new project without out a refresh.  I tested an extra file in src, and a file in a nested directory.

[2017-12-12 23:40] JoelProminic commented on #101
@piotrzarzycki21:  I see this bug was even more specific than I thought :).    I was not able to reproduce it after your update.

[2017-12-13 05:54] rat-moonshine commented on #37
This may not be the best place to report this, since @piotrzarzycki21 here, I'm bringing this issue with Apache Flex SDK Installer -
- Application window do not resize - do not maximize
- Long dropdown items cut-off the screen and I found no easy way to scroll them through (except enabling key focus somehow and using up/down arrow key)

![image](https://user-images.githubusercontent.com/24370870/3

[2017-12-13 06:41] rat-moonshine commented on #37
I'm still having download problem with AIR 27.0 in newer SDK installer:
![image](https://user-images.githubusercontent.com/24370870/33925066-a94fd2a8-dffe-11e7-8494-cab9b59752db.png)

I've installed JCE 8.0 following instruction the given Apache forum. I have Java 1.8.0_102 installed.

[2017-12-13 07:33] piotrzarzycki21 commented on #37
@rat-moonshine Can you send full logs ? I don't see installer version.

[2017-12-13 07:33] piotrzarzycki21 commented on #37
After install JCE do you have still problem with downloading SDK on Mac ?

[2017-12-13 07:38] piotrzarzycki21 commented on #37
As for the updating installer with new Adobe Air - in most cases Alex was doing that, but I will try to do this time.

[2017-12-13 08:43] #102 closed

[2017-12-13 08:46] rat-moonshine commented on #37
@piotrzarzycki21 I shall try to re-do the download process at sometime and send you the full log. The installer version is latest 3.3.2.

Testing and installing JCE 8.0 is done in Windows.

[2017-12-13 08:49] piotrzarzycki21 commented on #37
@rat-moonshine the latest installer version is 3.3.0, that's why you have this error 1000. Uninstall previous version of installer and try to install again SDK. I'm working on adding Adobe Air 28. I will let you one I finish.

[2017-12-13 09:02] rat-moonshine commented on #37
I see the downloading problem with newer version (3.3.0), too -

[2017-12-13 09:11] piotrzarzycki21 commented on #37
Yep that is expected, cause I didn't give you an info that I have finished work on that :)  Now I'm giving you. :) Try again.

[2017-12-13 10:09] rat-moonshine commented on #37
Installation worked this time, thanks!

Just curious, what you required to did (to fix this)? As I have seen the entry for downloading AIR 28.0 was already available to the interface!

[2017-12-13 10:12] piotrzarzycki21 commented on #37
We have on the website following [file](http://flex.apache.org/installer/sdk-installer-config-4.0.xml) - It's need to be updated once new SDK come out.

[2017-12-13 11:31] piotrzarzycki21 commented on #73
@JoelProminic Issues has been fixed.

[2017-12-13 16:05] JoelProminic commented on #102
The File > Close bug does not trigger for me now.

[2017-12-13 17:02] rat-moonshine commented on #102
It's becoming hard to find out where an `Event` type casting as `CloseTabEvent`. as the usage were numerous across multiple projects. Fixing in earlier method (where I able to pin-point it) didn't resolve this problem completely.

I noticed that `CloseTabEvent.EVENT_CLOSE_TAB` fires in dual ways:
- When dispatched through some classes conditionally as `CloseTabEvent.EVENT_CLOSE_TAB`
- When dispatc

[2017-12-13 17:16] #73 closed

[2017-12-13 17:18] piotrzarzycki21 commented on #73
Both options has been set to true as default.

[2017-12-13 18:18] JoelProminic commented on #73
This seemed to work for me after your last update.  I tried:
- clearing the application settings - the settings were set to the default, and the logic worked as expected
- Disabling the settings - the logic was disabled properly
- Reenabling the settings - the logic worked properly

[2017-12-13 18:19] JoelProminic commented on #102
This seems to work properly - I have not been able to trigger any of the reported issues with the latest build.

[2017-12-14 08:34] rat-moonshine commented on #37
Since Apache Flex 4.16.1 released, and SDK installer also working (after some hack), do you think it's good to port Moonshine to the latest SDKs (4.16.1, AIR 28.0) now @piotrzarzycki21 ?

[2017-12-14 09:31] piotrzarzycki21 commented on #37
Yes please proceed. W should upgrade if not to Air 28, at least to Air 27. Please report any issue here.

[2017-12-14 10:33] rat-moonshine commented on #37
So far, all looks great. I will give couple more tests after updating Bamboo build SDKs.

[2017-12-14 10:58] piotrzarzycki21 commented on #37
When I'm compiling in IDE I have following error with AIR 28:

`Error:(65, 0) [MoonshineSharedCore]: unable to open 'D:/flex_sdk/flex_4.16.1/frameworks/libs/air/crosspromotion.swc'`

I copied that file from previous version and it's working. I'm wondering whether this is not some issue with Air package.

[2017-12-14 17:51] Nisaba opened #107 "s:View tag not recognized in Flex Mobile Project"
I've created a new empty Flex Mobile Project with Moonshine 1.7.0.
But the main <s:View> tag in the source code editor is not recognized.

[2017-12-14 18:05] piotrzarzycki21 commented on #107
I can reproduce the problem. @rat-moonshine could you take a look into that? I'm in the middle of other task.

[2017-12-14 18:46] piotrzarzycki21 commented on #106
I have finished implementing that. Previously opened projects now reopening after startup, options for switching off this feature is available in settings.

In the future if users will complaining about some lag in open we may want to implement some spinner for loading projects.

[2017-12-15 04:51] rat-moonshine commented on #107
I confirm the issue but I don't have any immediate thought on this:
![image](https://user-images.githubusercontent.com/24370870/34027259-9aa981fc-e181-11e7-956f-191737ad42a1.png)
![image](https://user-images.githubusercontent.com/24370870/34027269-a758b742-e181-11e7-8600-a98d7492d5d6.png)

I also couldn't able to create new MXML component inside the class files. @joshtynjala can you please take a

[2017-12-15 05:07] rat-moonshine commented on #87
By every space key press CC list is open-up and it takes more than 1 second (to show). Until that happen editor also blocks all the activity of user (to the editor). Thus if I want to write something like this:

`public static const ABCD`

It halts me 2-3 times to write the full sentence. This behavior greatly disappoints the editor usability and may encourage users to less use the editor.

I sugg

[2017-12-15 08:32] piotrzarzycki21 opened #108 "Improve colors of code in code editor"

[2017-12-15 08:34] piotrzarzycki21 opened #109 "Add "dark" Theme to code editor"
Adding dark theme to code editor should be configurable from the settings. Suggestion where we should put that option most welcome.

[2017-12-15 08:40] rat-moonshine commented on #106
Can you point me to the codes where previously opened projects opened to the sidebar (based on `SaveFilePlugin.openPreviouslyOpenedProjects`)? I would like to tweak on its opening time.

[2017-12-15 08:41] rat-moonshine commented on #109
I think #108 is a related issue. We can manage one (issue) for this.

[2017-12-15 08:50] Nisaba opened #110 "Problem in Build & Run command"
The Build & Run command seems not working.
There is a text "Launching Project" in the bottom of the window but nothing appears.
For both Flex Desktop Project and Flex Mobile Project.

[2017-12-15 08:51] piotrzarzycki21 commented on #109
Yes I would like to change existing colors for code in case of white theme. - It is also an exercise whether we can do this. Then jump to the dark theme.

[2017-12-15 08:53] piotrzarzycki21 commented on #110
@Nisaba ,

What version of Moonshine do you use ? Version 1.7.1 is available, can you try and let us know.

[2017-12-15 08:54] Nisaba commented on #110
I've just downloaded the 1.7.1 version and the problem remains...

[2017-12-15 08:56] piotrzarzycki21 commented on #106
This is the place -> [ProjectPlugin](https://github.com/prominic/Moonshine-IDE/blob/19b319b89cbbd8060389c336c7856c39a0328ccf/ide/MoonshineSharedCore/src/actionScripts/plugin/project/ProjectPlugin.as#L334)

[2017-12-15 08:59] piotrzarzycki21 commented on #110
I just created Hello World Flex Desktop app and it's working. Are you sure that you do not have some Java process blocked ? Maybe some antivirus do not allow run things.
Are you building simple Hello World or some sophisticated project ?

[2017-12-15 09:02] Nisaba commented on #110
It's a simple Hello World.
I will check my configuration and keep you informed...

[2017-12-15 09:03] piotrzarzycki21 commented on #110
@Nisaba could you also provide an following information:
- What is your OS?
- Version of Flex SDK

[2017-12-15 09:06] Nisaba commented on #110
- Windows 10
- I've tried with FlexSDK 4.15 & 4.16

[2017-12-15 10:02] piotrzarzycki21 commented on #37
@rat-moonshine repository where you can find installer sources are [here](https://git-wip-us.apache.org/repos/asf/flex-utilities.git).  You can switch to tag "apache-flex-sdk-installer-3.3.0", folder [flex-installer](https://github.com/apache/flex-utilities/tree/apache-flex-sdk-installer-3.3.0/flex-installer). I'm not sure how you are preparing installer swc, but build first [ant_on_air](https://g

[2017-12-15 10:13] Nisaba commented on #110
Maybe I have a bad Java configuration ?
I think I will uninstall all my Java versions and install the good one.

Can you tell me what java version I should use ?

[2017-12-15 10:15] piotrzarzycki21 commented on #110
I'm using Java [jdk1.8.0_152](http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html) - Try this one.

[2017-12-15 11:12] #107 closed

[2017-12-15 11:18] piotrzarzycki21 commented on #107
@Nisaba ,

I just fixed issue and it will be available in the next version 1.8.0. As a workaround you can do following thing:
1) Open your mobile project and right click on it - choose: "Settings"
2) In tab "Build options" -> "Additional compiler options" add: +configname=airmobile
3) Restart Moonshine.

@rat-moonshine I was thinking about this issue and suddenly come up to my mind @joshtynjala po

[2017-12-15 11:27] rat-moonshine commented on #37
Thank you @piotrzarzycki21 . I shall look into this once I get some time. I'll get back to you if need something to clarify.

[2017-12-15 11:31] piotrzarzycki21 commented on #107
@rat-moonshine does Feathers mobile project need this ? Can you create project and check whether Code Completion is working, than add +configname=airmobile and see if it helps. I don't have Feathers SDK now and cannot download it due to internet connection problem.

[2017-12-15 11:37] rat-moonshine commented on #107
Ah.. so the additional argument does affect the code-completion engine! Moonshine adds this argument at the time of compilation, though - but anyway it won't get added if the value is already present in the project's settings.

I see @piotrzarzycki21 already added the argument to Flex mobile application template, I'm not sure about Feathers, I guess s:View, s:ViewNavigatorApplication etc. are part